$Config_HACK_modifyAnyContainerTitleSelector: false; // used by ap-physics

// The following are flags to improve code coverage.
// Leaving them as true does not hurt the baking process.
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;

$Config_hasCompositeAppendixes: false;

$Config_TocTitleWord: "Contents";

$Config_hasAbstract: true;
$Config_abstractTitle: null;

$Config_PartType_Unit_TitleContent   : (os-number: counter(unit), os-divider: ' ' );
$Config_PartType_Chapter_TitleContent   : (os-number: counter(chapter), os-divider: ' ' );
$Config_PartType_Appendix_TitleContent  : (os-number: counter(appendix, upper-alpha), os-divider: ' | ');


@if TEMPLATE() == "TEMPLATE1" {
$Config_PartType_Chapter_TitleContent   : (os-chapter-text: "Chapter", os-divider: ' ', os-number: counter(chapter));
$Config_PartType_Unit_TitleContent   : (os-number:"Unit " counter(unit), os-divider: ' ' );
$Config_PartType_Appendix_TitleContent  : (os-number: "Appendix " counter(appendix, upper-alpha), os-divider: ' ');
}

$Config_PartType_Section_TitleContent   : (os-number: counter(chapter) "." counter(section), os-divider: ' ' );

$Config_PartType_Table_CaptionContent   : (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: " "); //TODO: Make a counter for both chapter and appendix, and automate the switch between standard and upper alpha counting?
$Config_PartType_Table_CaptionContentAp : (os-title-label: "Table ", os-number: counter(appendix, upper-alpha)  counter(table), os-divider: " ");
$Config_PartType_Table_CaptionContentPr : (os-title-label: "Table ", os-number: counter(table), os-divider: " ");
$Config_PartType_Figure_CaptionContent  : (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Figure ", os-number: counter(appendix, upper-alpha) counter(figure), os-divider: " "); //TODO: Make a counter for both chapter and appendix, and automate the switch between standard and upper alpha counting?
$Config_PartType_Figure_CaptionContentPr: (os-title-label: "Figure ", os-number: counter(figure), os-divider: " ");

$Config_ContentExercise_TitleContent : (os-number : counter(exerciseMaybeInContent), os-title-label : "Exercise ");
$Config_ContentSolution_TitleContent : null; // It seems that this is null for all books
$Config_ContentExercise_TitleContentAp : (os-number : counter(exerciseMaybeInContent), os-title-label : "Exercise ");
$Config_ContentSolution_TitleContentAp : null; // It seems that this is null for all books


//global exercises numbering. There is a whitespace in the divider
$Config_exerciseTitleContent: (os-divider: ". ", os-number: counter(exercise));

$Config_addSolutionHeader: ();

$Config_SubtitleLabels: ();

//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',                                  labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: 'div[data-type="chapter"] [data-type="example"]',                  labelText: "Example " counter(chapter) "." counter(example)),
  (selector: 'div[data-type="chapter"] [data-type="equation"]:not(.unnumbered)',labelText: "Equation " counter(chapter) "." counter(equation)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered)',      labelText: "Table " counter(chapter) "." counter(table)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered)',    labelText: "Figure " counter(chapter) "." counter(figure)),
  (selector: '.appendix :not(table) > table:not(.unnumbered)',                  labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix :not(figure) > figure:not(.unnumbered)',                labelText: "Figure " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.appendix > table:not(.unnumbered)',                              labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix > figure:not(.unnumbered)',                             labelText: "Figure " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.preface :not(table) > table:not(.unnumbered)',                   labelText: "Table " counter(table)),
  (selector: '.preface :not(figure) > figure:not(.unnumbered)',                 labelText: "Figure " counter(figure))
);

@if release-flag-enabled(appendix-has-numbered-examples) {
  $Config_TargetLabels: append( $Config_TargetLabels,
    (selector: '.appendix [data-type="example"]', labelText: "Example " counter(appendix, upper-alpha) counter(example))
  );
}

// All of these should be allowed to be empty.
$Config_Notes: ();
$Config_UnnumberedElements: ();
$Config_FirstElements: ();
$Config_BookCompositePages: ();
$Config_ChapterCompositePages: ();
$Config_SectionCompositePages: ();
$Config_PartType_Chapter: ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();
$Config_PartType_Exercise: (moveTo: $AREA_NONE);
$Config_PartType_Example: ();
$Config_SetTableCaption: ();
$Config_SetFigureCaption: ();
$Config_CustomList: ();
$Config_TrashSelectedElements: ();
$Config_CustomFootnotes: ();

$Config_FootnoteTitle: ();
$Config_ExerciseNoteTitle: ();

// By default, books will not be assumed to have a composite chapter. Composite chapters include EOC composite chapters or composite chapters answer key, you must enable this for either to work.
$Config_hasCompositeChapter: false;

// Coverage optimizations
// Default to true, so that incorrect use of default options will show up on coverage tests
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;

// Everything enabled on captions by default. Better to have too much than nothing at all.
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: false);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);

//if the book has citations (references)
$Config_hasCitation: false;
$Config_hasEndNotes: false;
$Config_IFrameActivationLink: "Click to view content";

$Config_EOBSolutionsChapterSectionTitle: string(ChapNum);

$Config_Index_SymbolsSectionTitle: "Symbols";
$Config_Index_SymbolRegexp: \^\[\^a-zA-Z\];
$Config_Index_NotSymbolRegexp: \^\[a-zA-Z\];

$Config_Order_DocumentTitle: ();
$Config_Order_ChapterObjective: ();
$Config_Order_CompositePages: ();
$Config_Order_FigTableCaption: ();

//If the book has stimulus questions
$Config_hasStimuli: false;
