@function feature-enabled($feature_name) {
  @if not map-has-key($FEATURES, $feature_name) {
    @error "This feature has been removed or applied to all recipes";
  }
  @return map-get($FEATURES, $feature_name);
}

@function enable-for($list...) {
  $RECIPE_NAME: "NONE_SET" !default;
  @if $RECIPE_NAME == "NONE_SET" {
    @error "This recipe has no $RECIPE_NAME.";
  }
  @return if(index($list, $RECIPE_NAME), true, false);
}

$FEATURES: (

  sup-footnote-call: enable-for("principles-management", "accounting", "statistics", "ap-biology", "biology", "economics", "ap-physics", "physics", "intro-business", "business-ethics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  trash-empty-table-captions: enable-for("principles-management", "accounting", "statistics", "ap-biology", "biology", "economics", "ap-physics", "physics", "intro-business", "business-ethics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  exercise-container:  enable-for("principles-management", "accounting", "statistics", "ap-biology", "biology", "economics", "ap-physics", "physics", "intro-business", "business-ethics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  delete-link-in-equation-number: enable-for("principles-management", "accounting", "statistics", "ap-biology", "biology", "economics", "ap-physics", "physics", "intro-business", "business-ethics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  toc-numbered-pages: enable-for("principles-management", "accounting", "statistics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  add-os-table-class: enable-for("principles-management", "accounting", "statistics", "ap-biology", "biology", "economics", "ap-physics", "physics", "intro-business", "business-ethics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology"),

  numbering-continuously: enable-for("principles-management", "accounting", "dev-math", "u-physics"),

  appendix-has-numbered-examples: enable-for("principles-management", "accounting", "chemistry", "psychology", "sociology", "american-government", "history"),

  increment-section-counter-for-lo: enable-for("accounting"),

  trash-abstract-in-preface: enable-for("anatomy"),

  //toc-comp-page-linking: enable-for("intro-business")        // this needs to be reworked to work see https://github.com/Connexions/cnx-easybake/issues/97
);
