@function feature-enabled($feature_name) {
  @if not map-has-key($FEATURES, $feature_name) {
    @error "This feature has been removed or applied to all recipes";
  }
  @return map-get($FEATURES, $feature_name);
}

@function enable-for($list...) {
  $RECIPE_NAME: "NONE_SET" !default;
  @if $RECIPE_NAME == "NONE_SET" {
    @error "This recipe has no $RECIPE_NAME.";
  }
  @return if(index($list, $RECIPE_NAME), true, false);
}

$FEATURES: (
  sup-footnote-call: enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting"),
  trash-empty-table-captions: enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting"),
  exercise-container:  enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting"),
  delete-link-in-equation-number: enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting"),
  table-summaries-are-captions: enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting"),
  preface-has-captions: enable-for("principles-management", "statistics", "intro-business", "economics", "business-ethics", "u-physics", "physics", "hs-physics", "entrepreneurship", "biology", "ap-physics", "ap-biology", "accounting")
);
