@function feature-enabled($feature_name) {
  @if not map-has-key($FEATURES, $feature_name) {
    @error "This feature has been removed or applied to all recipes";
  }
  @return map-get($FEATURES, $feature_name);
}

@function enable-for($list...) {
  $RECIPE_NAME: "NONE_SET" !default;
  @if $RECIPE_NAME == "NONE_SET" {
    @error "This recipe has no $RECIPE_NAME.";
  }
  @return if(index($list, $RECIPE_NAME), true, false);
}

$FEATURES: (
  sup-footnote-call: enable-for("intro-business", "economics", "intro-business"),
  trash-empty-table-captions: enable-for("ap-physics", "economics", "intro-business"),
  exercise-container:  enable-for("ap-biology", "economics", "intro-business"),
  delete-link-in-equation-number: enable-for("ap-physics", "economics", "intro-business"),
  table-summaries-are-captions: enable-for("accounting", "business-ethics", "entrepreneurship", "intro-business", "principles-management", "economics"),
  preface-has-captions: enable-for("accounting", "business-ethics", "entrepreneurship", "intro-business", "principles-management", "economics")
);
