@function release-flag-enabled($flag_name) {
  @if not map-has-key($RELEASE_FLAGS, $flag_name) {
    @error "The flag `#{$flag_name}` has been removed or applied to all recipes";
  }
  @return map-get($RELEASE_FLAGS, $flag_name);
}

@function enable-for($list...) {
  $RECIPE_NAME: "NONE_SET" !default;
  @if $RECIPE_NAME == "NONE_SET" {
    @error "This recipe has no $RECIPE_NAME.";
  }
  @return if(index($list, $RECIPE_NAME), true, false);
}

$RELEASE_FLAGS: (
  toc-labeled-pages: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  chapter-page-class: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  toc-numbered-pages: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  appendix-has-numbered-examples: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  trash-abstract-in-preface: enable-for(
    "additive-manufacturing",
   "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  EOCsection-links: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  titles-in-examples: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  module-titled-notes: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  custom-lists: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
    ),

  groupChapOutlineIntroContent: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  tagSplash: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  toc-title-word: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

//this breaks the pipeline do not enable
  give-composites-ids: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  use-title-nodes: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  goodbye-warnings: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  toc-eoc-composite-chapter: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  table-move-fake-title: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  several-composite-chapters: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  subtitled-examples: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "pl-u-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  exercise-first-element: enable-for(
    "additive-manufacturing",
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  answer-key-h3: enable-for(
    "additive-manufacturing",
   "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship",
    "intro-business",
    "business-ethics",
    "economics",
    "biology",
    "college-physics",
    "ap-physics",
    "ap-biology",
    "hs-physics",
    "calculus",
    "precalculus",
    "ap-history",
    "college-success",
    "pl-u-physics",
    "precalculus-coreq",
    "pl-psychology",
    "world-history",
    "english-composition",
    "anthropology",
  ),

  move-footnotes: enable-for(
    "pl-u-physics",
    "business-ethics",
    "precalculus",
    "precalculus-coreq",
    "college-physics",
    "microbiology",
    "anthropology",
    "english-composition",
    "world-history",
  ),

  seperate-label-text: enable-for(
    "accounting",
  ),

  modify-column-container: enable-for(
    "anatomy",
    "ap-biology",
    "ap-physics",
    "biology",
    "chemistry",
    "college-physics",
    "hs-physics",
    "microbiology",
    "pl-u-physics",
    "u-physics",
    "anthropology",
    "english-composition",
    "world-history",
  ),

  //created for sociology - rms empty answer key so recipe can be used for 2e and 3e
  hack-rm-empty-answ-key: enable-for(
    "sociology",
  ),

  //toc-comp-page-linking: enable-for("intro-business")        // this needs to be reworked to work see https://github.com/Connexions/cnx-easybake/issues/97
);
