@function release-flag-enabled($flag_name) {
  @if not map-has-key($RELEASE_FLAGS, $flag_name) {
    @error "The flag `#{$flag_name}` has been removed or applied to all recipes";
  }
  @return map-get($RELEASE_FLAGS, $flag_name);
}

@function enable-for($list...) {
  $RECIPE_NAME: "NONE_SET" !default;
  @if $RECIPE_NAME == "NONE_SET" {
    @error "This recipe has no $RECIPE_NAME.";
  }
  @return if(index($list, $RECIPE_NAME), true, false);
}

$RELEASE_FLAGS: (
  toc-numbered-pages: enable-for(
    "principles-management",
    "accounting",
    "statistics",
    "dev-math",
    "chemistry",
    "astronomy",
    "u-physics",
    "psychology",
    "sociology",
    "american-government",
    "anatomy",
    "history",
    "microbiology",
    "entrepreneurship"),

<<<<<<< HEAD
  toc-numbered-pages: enable-for("principles-management", "accounting", "statistics", "dev-math", "chemistry", "astronomy", "u-physics", "psychology", "sociology", "american-government", "anatomy", "history", "microbiology", "entrepreneurship", "business-ethics", "intro-business"),

  appendix-has-numbered-examples: enable-for("principles-management", "accounting", "chemistry", "psychology", "sociology", "american-government", "history", "entrepreneurship", "business-ethics", "intro-business"),

  increment-section-counter-for-lo: enable-for("accounting", "entrepreneurship", "business-ethics", "intro-business"),

  trash-abstract-in-preface: enable-for("anatomy", "entrepreneurship", "business-ethics", "intro-business"),


  //this is enabled for all books for testing purposes, we will remove this if no bugs are found but we might need to disable some of the business books quickly.
  composite-eoc: enable-for("microbiology", "anatomy", "history", "psychology", "chemistry", "astronomy", "ap-biology", "biology", "ap-physics", "economics", "hs-physics", "physics", "statistics", "u-physics", "sociology", "dev-math", "american-government", "principles-management", "business-ethics", "intro-business", "accounting", "entrepreneurship"),
=======
  appendix-has-numbered-examples: enable-for(
    "principles-management",
    "accounting",
    "chemistry",
    "psychology",
    "sociology",
    "american-government",
    "history",
    "entrepreneurship"),

  increment-section-counter-for-lo: enable-for(
    "accounting",
    "entrepreneurship"),

  trash-abstract-in-preface: enable-for(
    "anatomy",
    "entrepreneurship"),
>>>>>>> dusty.doughnut

  //this is enabled for all books for testing purposes, we will remove this if no bugs are found but we might need to disable some of the business books quickly.
  composite-eoc: enable-for(
    "microbiology",
    "anatomy",
    "history",
    "psychology",
    "chemistry",
    "astronomy",
    "ap-biology",
    "biology",
    "ap-physics",
    "economics",
    "physics",
    "statistics",
    "u-physics",
    "sociology",
    "dev-math",
    "american-government",
    "principles-management",
    "business-ethics",
    "intro-business",
    "accounting",
    "entrepreneurship"),

  EOCsection-links: enable-for(),

  //toc-comp-page-linking: enable-for("intro-business")        // this needs to be reworked to work see https://github.com/Connexions/cnx-easybake/issues/97
);
