$Caption_Container:(
    _name: "CaptionContainer",
    _subselector: "",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$FigureNum_Container:(
    _name: "FigureNumContainer",
    _subselector: "",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-weight: enum('ValueSet:::NULLABLE'),
         color: enum('ValueSet:::NULLABLE'), //match header colors 
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$Figure_Container:(
    _name: "FigureContainer",
    _subselector: "",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-weight: enum('ValueSet:::NULLABLE'),
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$Pic_Padding:(
    _name: "PiccaptionContainer",
    _subselector: "",
     _properties:(
         padding-bottom: enum('ValueSet:::NOT_NULL'),
     )
);



