$FigureContainer:(
    _name: "FigureContainer",
    _subselector: "",
     _properties:(
    )
);

$Caption:(
    _name: "Caption",
    _subselector: "> .os-caption-container > .os-caption",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$FigureNum:(
    _name: "FigureNum",
    _subselector: "> .os-caption-container > .os-number",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-weight: enum('ValueSet:::NULLABLE'),
         color: enum('ValueSet:::NULLABLE'), 
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$Title:(
    _name: "FigureTitle",
    _subselector: "> .os-caption-container > .os-title-label",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-weight: enum('ValueSet:::NULLABLE'),
         color: enum('ValueSet:::NULLABLE'), 
         font-size: enum('ValueSet:::NOT_NULL'),
    )
);

$FigureCaption:(
    _name: "PicCaption",
    _subselector: "> figure > figure",
     _properties:(
         padding-bottom: enum('ValueSet:::NOT_NULL'),
     )
);
