@function list--marginLeft($element_type, $sub_selector,) {
    $name: null;
    $margin_left_value: null;

    @if $element_type == main {
        $name: "List--MarginLeft";
        $margin_left_value: h-spacing(3);
    } @else if $element_type == nested {
        $name: "List--Nested--MarginLeft";
        $margin_left_value: h-spacing(2);
    }

    @return (
        _name: "#{$name}",
        _subselector: "#{$sub_selector}",
        _properties:(
            margin-left: $margin_left_value,
        )
    );

}

@function list--marginLeftBottom($element_type, $sub_selector,) {
    $name: null;
    $margin_left_value: null;
    $margin_bottom_value: null;

    @if $element_type == main {
        $name: "List--MarginLeftBottom";
        $margin_left_value: h-spacing(3);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == nested {
        $name: "List--Nested--MarginLeftBottom";
        $margin_left_value: h-spacing(2);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == margin-left-increased {
        $name: "List--MarginLeftBottomIncreased";
        $margin_left_value: h-spacing(4);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == margin-bottom-removed {
        $name: "AnswerKey__List--MarginBottomLeft";
        $margin_left_value: h-spacing(3);
        $margin_bottom_value: 0;

    }

    @return (
        _name: "#{$name}",
        _subselector: "#{$sub_selector}",
        _properties:(
            margin-left: $margin_left_value,
            margin-bottom: $margin_bottom_value,
        )
    );

}

// General, Prefece, Modules, Summary, Appendices, Summary

$List--MarginLeftUnordered: list--marginLeft(main, " > ul");
$List--MarginLeftOrdered: list--marginLeft(main, " > ol");
$Section--List--MarginLeftUnordered: list--marginLeft(main, " > section > ul");
$Section--List--MarginLeftOrdered: list--marginLeft(main, " > section > ol");
$SubSection--List--MarginLeftUnordered: list--marginLeft(main, " > section > section > ul");
$SubSection--List--MarginLeftOrdered: list--marginLeft(main, " > section > section > ol");
$SubSubSection--List--MarginLeftOrdered: list--marginLeft(main, " > section > section > section > ol");
$SubSubSection--List--MarginLeftUnordered: list--marginLeft(main, " > section > section > section > ul");
$List--Nested--MarginLeftUnordered: list--marginLeft(nested, " > li > ul");
$List--Nested--MarginLeftOrdered: list--marginLeft(nested, " > li > ol");
$Summary__Section--List--MarginLeftUnordered: list--marginLeft(main, " section > ul");
$Summary__Section--List--MarginLeftOrdered: list--marginLeft(main, " section > ol");
$SubSection__Container__List--MarginLeftBottomUnordered: list--marginLeft(main, " > section > section > div > ul");  //added as a temporary solution for polish University Physics, before we start working on lists cleaning 

// Exercices notes need to have bottom margin under lists

//Exercises

$List--MarginLeftBottomOrdered: list--marginLeftBottom(main, " > ol");
$List--MarginLeftBottomUnordered: list--marginLeftBottom(main, " > ul");
$Section--List--MarginLeftBottomUnordered: list--marginLeftBottom(margin-left-increased, " section > ul");
$Section--List--MarginLeftBottomOrdered: list--marginLeftBottom(margin-left-increased, " section > ol");
$Container__List--MarginLeftBottomOrdered: list--marginLeftBottom(main, " > div > ol");
$Container__List--MarginLeftBottomUnordered: list--marginLeftBottom(main, " > div > ul");
$List--Nested--MarginLeftBottomOrdered: list--marginLeftBottom(nested, " > li > ol");

// Notes

$Note__List--MarginLeftBottomUnordered:list--marginLeftBottom(main, " ul");
$Note__List--MarginLeftBottomOrdered: list--marginLeftBottom(main, " ol");

//AnswerKey

$AnswerKey__List--MarginBottomLeftOrdered: list--marginLeftBottom(margin-bottom-removed, " > ol");
$AnswerKey__List--MarginBottomLeftUnordered: list--marginLeftBottom(margin-bottom-removed, " > ul" );

//Tables
$List--Unstyled: (
    _name: "List--Unstyled",
    _subselector: " > ul[data-bullet-style='none']",
    _properties: (
        list-style-type: none,
    )
);
// Lists in table cells need to have margin set withs table spacing functions
$Table__List--MarginLeftUnordered: (
    _name: "Table__List--MarginLeftUnordered",
    _subselector: " > ul",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);
