$References__Container: (
  _name: "Container",
  _subselector: "",
  _properties: (
      column-count: 2,
      column-gap: 2.4rem,
      column-width: auto,
  ),
);

$References__Section: empty_wrapper(Section, ' .references');

$References__Text: (
  _name: "Text",
  _subselector: ' > p',
  _properties: (
    text-indent: h-spacing(-3),
    padding-left: h-spacing(3),
  )
);
