@import '../_common-stuff';
$RECIPE_NAME: "anthropology";

/*==========================================================
  ANTHROPOLOGY PAGES
==========================================================*/

/*
  Key Terms

  Contains a title "Key Terms".

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Section Summary

  Contains a title "Section Summary".

  Markup: ./styleguide/book.composite.section-summary.xhtml-baked.html

  Style guide: book.composite.section-summary
*/
/*
  Critical Thinking

  Contains a title "Critical Thinking" and exercises collated to EOC.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
/*
  References

  Contains a title "References".

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/

$Config_ChapterCompositePages: (
  (className: "glossary",         clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "section-summary",  clusterBy: $CLUSTER_NONE, name: "Section Summary"),
  (className: "critical-thinking",     clusterBy: $CLUSTER_NONE, hasSolutions: false, name: "Critical Thinking Questions"),
  (className: "references",       clusterBy: $CLUSTER_NONE, name: "Bibliography"),
);

$Config_BookCompositePages: (
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/*==========================================================
  SOCIOLOGY CONFIG
==========================================================*/

/*
  Ethnographic Sketches

  Contains a title "Ethnographic Sketches" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.ethnographic-sketches.xhtml-baked.html

  Style guide: page.note.ethnographic-sketches
*/
/*
  Mini-Fieldwork Activity

  Contains a title "Mini-Fieldwork Activity" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.fieldwork-activity.xhtml-baked.html

  Style guide: page.note.fieldwork-activity
*/
/*
  Profiles in Anthropology 

  Contains a title "Profiles in Anthropology" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.profiles-anthropology.xhtml-baked.html

  Style guide: page.note.profiles-anthropology
*/
/*
  Podcast

  Contains a title "Podcast".

  Markup: ./styleguide/page.note.media-podcast.xhtml-baked.html

  Style guide: page.note.media-podcast
*/
/*
  Video

  Contains a title "Video".

  Markup: ./styleguide/page.note.media-video.xhtml-baked.html

  Style guide: page.note.media-video
*/

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE, hasSolutions: false, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

$Config_Notes: (
  (className: 'ethnographic-sketches',   labelText: "Ethnographic Sketches"),
  (className: 'fieldwork-activity',    labelText: "Mini-Fieldwork Activity"),
  (className: 'profiles-anthropology',   labelText: "Profiles in Anthropology"),
  (className: 'media-podcast', labelText: "Podcast"),
  (className: 'media-video', labelText: "Video"),
);

// This Config has been left for tutor exercises if they will have solutions which should be removed, neeed to be deleted otherwise
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
