@import '../../framework/import-config';
@import '../../themes/generic-theme/import-config';
@import './import-config';

@import '../../framework/import-mixins';

@import '../../framework/update-config';

@import '../../framework/import-style';
@import '../../themes/generic-theme/import-style';



/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */

//TODO: figure out a way to loop through note kinds and validate them


$notes:(
  (
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme,
  ),

);


@include note($notes);
