@import '../_common-stuff';
$RECIPE_NAME: "world-history";

/*==========================================================
  WORLD HISTORY PAGES
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  Should be collated at the end of a chapter.

  Contains a title "critical-thinking-questions"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "section-summary", clusterBy: $CLUSTER_SECTION, name: "Section Summary"),
  (className: "review-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Review Questions"),
  (className: "check-understanding", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Check Your Understanding"),
  (className: "reflection-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Reflection Questions"),
  (className: "visual-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Visual-Based Questions"),
  (className: "making-connections", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Making Connections"),
  (className: "thought-provokers", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Thought Provokers"),
  (className: "source-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Source Questions"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries (see pl-u-physics), but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  In Their Own Words note

  Contains a title "In Their Own Words" and the content of the note.

  Markup: ./styleguide/page.note.own-words.xhtml-baked.html

  Style guide: page.note.own-words
*/
/*
  Dueling Voices note

  Contains a title "Dueling Voices" and the content of the note.

  Markup: ./styleguide/page.note.dueling-voices.xhtml-baked.html

  Style guide: page.note.dueling-voices
*/
/*
  Beyond the Book note

  Contains a title "Beyond the Book" and the content of the note.

  Markup: ./styleguide/page.note.beyond-book.xhtml-baked.html

  Style guide: page.note.beyond-book
*/
/*
  The Past Meets the Present note

  Contains a title "The Past Meets the Present" and the content of the note.

  Markup: ./styleguide/page.note.past-present.xhtml-baked.html

  Style guide: page.note.past-present
*/

$Config_Notes: (
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'own-words', labelText: "In Their Own Words"),
  (className: 'dueling-voices', labelText: "Dueling Voices"),
  (className: 'beyond-book', labelText: "Beyond the Book"),
  (className: 'past-present', labelText: "The Past Meets the Present"),
);

/*==========================================================
  WORLD HISTORY TITLING CONTENT
==========================================================*/
$Config_SetTableCaption: (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);
$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');

/*==========================================================
  WORLD HISTORY CONFIG
==========================================================*/
$Config_abstractTitle: "Learning Objectives";
$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_hasCompositeChapter: true;
$Config_PartType_Solution: (moveTo: $AREA_TRASH);

$Config_ResetSectionCounter: true;

$Config_CustomList: (
  (selector: '.learning-objectives ul', name: "abstract", beforeLabel: counter(chapter) "." counter(section) ".", afterLabel: " "),
);
