@function generic-book-settings() {
  $BOOK_SETTINGS: (
    theme-name:generic-theme,
    book:generic-book,
  );
  @return $BOOK_SETTINGS;
}

@include settings-merge(get-function("generic-book-settings"));
