@import '../economics/_config';

$Config_TEAspecificLOHeaders : true;
$Config_TEAspecificAppendicesHeaders: true;
$Config_TEAspecificEOBHeaders: true;
$Config_TEAspecificReferencePage: false;

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Objectives');