@import '../economics/_config';

$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: false;
$Config_TEAspecificLOHeaders : true;
$Config_hasCompositeAppendixes: true;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Objectives');
$Config_PartType_Solution: (moveTo: $AREA_TRASH);