//numbered <figure> 
$numberedfigure:(
    _name:"numberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),//block
        margin-left: enum('ValueSet:::NOT_NULL'),//auto
        margin-right: enum('ValueSet:::NOT_NULL'),//auto
    )
);

//images w/o caption/figure number
$leftalign:(
    _name: "leftalignImage",
    _subselector: " > [data-alt = ""] > img",
     _properties:(
         float:enum('ValueSet:::NOT_NULL'),//left
     )
);

//unnumbered figure 
$unnumberedfigure:(
    _name:"unnumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),//block
        margin-left: enum('ValueSet:::NOT_NULL'),//auto
        margin-right: enum('ValueSet:::NOT_NULL'),//auto
    )
);