//numbered <figure> 
$NumberedFigureContainer:(
    _name:"NumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),
        margin-left: enum('ValueSet:::NOT_NULL'),
        margin-right: enum('ValueSet:::NOT_NULL'),
    )
);

//images w/o caption/figure number
$FigureNoCaptionContainer:(
    _name: "FigureNoCaption",
    _subselector: "",
     _properties:(
         float:enum('ValueSet:::NOT_NULL'),
     )
);

//unnumbered figure 
$UnnumberedFigureContainer:(
    _name:"UnnumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),
        margin-left: enum('ValueSet:::NOT_NULL'),
        margin-right: enum('ValueSet:::NOT_NULL'),
    )
);
