//numbered <figure> 
$NumberedFigure:(
    _name:"NumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),//block
        margin-left: enum('ValueSet:::NOT_NULL'),//auto
        margin-right: enum('ValueSet:::NOT_NULL'),//auto
    )
);

//images w/o caption/figure number
$LeftAlign:(
    _name: "LeftalignImage",
    _subselector: " span > img",
     _properties:(
         float:enum('ValueSet:::NOT_NULL'),//left
     )
);

//unnumbered figure 
$UnnumberedFigure:(
    _name:"UnnumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::NOT_NULL'),//block
        margin-left: enum('ValueSet:::NOT_NULL'),//auto
        margin-right: enum('ValueSet:::NOT_NULL'),//auto
    )
);