@import '../../locale/pl/common-stuff';
$RECIPE_NAME: "pl-psychology";

/*==========================================================
  POLISH PSYCHOLOGY PAGES
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking Questions"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
/*
  Personal Application Questions

  Should be collated at the end of a chapter.

  Contains a title "Personal Application Questions"

  Markup: ./styleguide/book.composite.personal-application.xhtml-baked.html

  Style guide: book.composite.personal-application
*/
/*
  References

  Should be collated at the end of a chapter.

  Contains a title "References"

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Kluczowe pojęcia"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Podsumowanie"),
  (className: "review-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Sprawdź wiedzę"),
  (className: "critical-thinking", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Ćwicz myślenie krytyczne"),
  (className: "personal-application", clusterBy: $CLUSTER_NONE, name: "Rozwijaj się"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_BookCompositePages: (
  (className: "references", clusterBy: $CLUSTER_CHAPTER, name: "Bibliografia"),
  (className: "index-name",   clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX_PARTIAL, indexType: 'name',    name: "Skorowidz nazwisk"),
  (className: "index-term",   clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX_PARTIAL, indexType: 'term',    name: "Skorowidz rzeczowy", defaultIndex: true),
  (className: "index-foreign",clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX_PARTIAL, indexType: 'foreign', name: "Skorowidz terminów obcojęzycznych"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Dig Deeper

  Contains a title "Dig Deeper" and the content of the note.

  Markup: ./styleguide/page.note.dig-deeper.xhtml-baked.html

  Style guide: page.note.dig-deeper
*/
/*
  Everyday Connection

  Contains a title "Everyday Connection" and the content of the note.

  Markup: ./styleguide/page.note.everyday-connection.xhtml-baked.html

  Style guide: page.note.everyday-connection
*/
/*
  What Do You Think?

  Contains a title "What Do You Think?" and the content of the note.

  Markup: ./styleguide/page.note.what-do-you-think.xhtml-baked.html

  Style guide: page.note.what-do-you-think
*/
/*
  Connect the Concepts

  Contains a title "Connect the Concepts" and the content of the note.

  Markup: ./styleguide/page.note.connect-the-concepts.xhtml-baked.html

  Style guide: page.note.connect-the-concepts
*/

$Config_Notes: (
  (className: 'link-to-learning', labelText: "Sięgnij po więcej"),
  (className: 'dig-deeper', labelText: "Poznaj szczegóły"),
  (className: 'everyday-connection', labelText: "Wokół nas"),
  (className: 'what-do-you-think', labelText: "Co o tym sądzisz?"),
  (className: 'connect-the-concepts', labelText: "Połącz wątki"),
);

/*==========================================================
  POLISH PSYCHOLOGY CONFIG
==========================================================*/

$Config_SetTableCaption: (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: false, hasTitle: false, hasTopTitle: false, hasTopCaption: true);

$Config_PartType_Chapter: (outlineTitle: 'Treść rozdziału');
$Config_abstractTitle: "Cel dydaktyczny";
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
