@import '../_common-stuff';
$RECIPE_NAME: "microbiology";

/*==========================================================
  COMPOUND Microbiology PAGES
==========================================================*/
/*
  Multiple Choice

  Should be collated at the end of a chapter.

  Contains a title "Multiple Choice"

  Markup: ./styleguide/book.composite.multiple-choice.xhtml-baked.html

  Style guide: book.composite.multiple-choice
*/
/*
  Matching

  Should be collated at the end of a chapter.

  Contains a title "Matching"

  Markup: ./styleguide/book.composite.matching.xhtml-baked.html

  Style guide: book.composite.matching
*/
/*
  True/False

  Should be collated at the end of a chapter.

  Contains a title "True/False"

  Markup: ./styleguide/book.composite.true-false.xhtml-baked.html

  Style guide: book.composite.true-false
*/
/*
  Fill in the Blank

  Should be collated at the end of a chapter.

  Contains a title "Fill in the Blank"

  Markup: ./styleguide/book.composite.fill-in-the-blank.xhtml-baked.html

  Style guide: book.composite.fill-in-the-blank
*/
/*
  Short Answer

  Should be collated at the end of a chapter.

  Contains a title "Short Answer"

  Markup: ./styleguide/book.composite.short-answer.xhtml-baked.html

  Style guide: book.composite.short-answer
*/
/*
  Critical Thinking

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
$_compoundExercises: (
  (className: "multiple-choice",      clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Multiple Choice"),
  (className: "true-false",      clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "True/False"),
  (className: "matching",      clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Matching"),
  (className: "fill-in-the-blank",      clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Fill in the Blank"),
  (className: "short-answer",     clusterBy: $CLUSTER_NONE, name: "Short Answer"),
  (className: "critical-thinking", clusterBy: $CLUSTER_NONE, name: "Critical Thinking"),
);

/*==========================================================
  MICROBIOLOGY PAGES
==========================================================*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/

$Config_ChapterCompositePages: (
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "review-questions", clusterBy: $CLUSTER_NONE, childPages: $_compoundExercises, hasSolutions: true, name: "Review Questions"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );
$Config_hasCompositeChapter: true;
$Config_BookCompositePages: (
  (className: "solution",    clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, name: "Answer Key"),
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Clinical Focus Opener

  Contains a title "Clinical Focus" and the content of the note.

  Markup: ./styleguide/page.note.clinical-focus-opener.xhtml-baked.html

  Style guide: page.note.clinical-focus-opener
*/
/*
  Clinical Focus

  Contains a title "Clinical Focus" and the content of the note.

  Markup: ./styleguide/page.note.clinical-focus.xhtml-baked.html

  Style guide: page.note.clinical-focus
*/
/*
  Check Your Understanding

  Contains a title "Check Your Understanding" and the content of the note.

  Markup: ./styleguide/page.note.check-your-understanding.xhtml-baked.html

  Style guide: page.note.check-your-understanding
*/
/*
  Micro Connections

  Contains a title "Micro Connections" and the content of the note.

  Markup: ./styleguide/page.note.micro-connection.xhtml-baked.html

  Style guide: page.note.micro-connection
*/
/*
  Link to Learning

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Eye on Ethics

  Contains a title "Eye on Ethics" and the content of the note.

  Markup: ./styleguide/page.note.eye-on-ethics.xhtml-baked.html

  Style guide: page.note.eye-on-ethics
*/
/*
  Disease Profile

  Contains a title "Disease Profile" and the content of the note.

  Markup: ./styleguide/page.note.disease-profile.xhtml-baked.html

  Style guide: page.note.disease-profile
*/
/*
  Case in Point

  Contains a title "Case in Point" and the content of the note.

  Markup: ./styleguide/page.note.case-in-point.xhtml-baked.html

  Style guide: page.note.case-in-point
*/

$Config_Notes: (
  (className: 'clinical-focus-opener', labelText: "Clinical Focus"),
  (className: 'clinical-focus', labelText: "Clinical Focus"),
  (className: 'check-your-understanding', labelText: "Check Your Understanding"),
  (className: 'micro-connection', labelText: "Micro Connections"),
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'eye-on-ethics', labelText: "Eye on Ethics"),
  (className: 'disease-profile', labelText: "Disease Profile"),
  (className: 'case-in-point', labelText: "Case in Point"),

);

/*==========================================================
  MICROBIOLOGY CONFIG
==========================================================*/

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
