@import '../_common-stuff';

/*==========================================================
  PHYSICS PAGES
==========================================================*/

/*
  Section Review

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.2-composite.summary
*/
/*
  Conceptual Questions

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.conceptual.xhtml-baked.html

  Style guide: book.2-composite.conceptual
*/
/*
  Problems and Exercises

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.problems.xhtml-baked.html

  Style guide: book.2-composite.problems
*/
$PhysicsPageKeyTerms           : (className: "glossary",              clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "dl > dt", name: "Glossary");
$PhysicsPageSummary            : (className: "section-summary",       clusterBy: $CLUSTER_SECTION, name: "Section Summary");
$PhysicsPageConceptualQuestions: (className: "conceptual-questions",  clusterBy: $CLUSTER_SECTION, name: "Conceptual Questions");
$PhysicsPageProblems           : (className: "problems-exercises",    clusterBy: $CLUSTER_SECTION, name: "Problems & Exercises");

$PhysicsPageIndex              : (className: "index",                 clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index");

$Config_ChapterCompositePages: (
  $PhysicsPageKeyTerms,
  $PhysicsPageSummary,
  $PhysicsPageConceptualQuestions,
  $PhysicsPageProblems
);

$Config_BookCompositePages: (
  $PhysicsPageIndex,
);
/*==========================================================
  PHYSICS TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
$Config_PartType_Chapter_TitleContent : (os-number: counter(chapter), os-divider: " ");
$Config_PartType_Appendix_TitleContent: (os-title-label: "Appendix ", os-number: counter(appendix, upper-alpha), os-divider: " ");
$Config_PartType_Section_TitleContent : (os-number: counter(chapter) "." counter(section), os-divider: " ");
$_exerciseTitleContent       : (os-number: counter(exercise));
$_exampleTitleContent        : (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example));
$_equationTitleContent       : (os-number: counter(chapter) "." counter(equation));
/*==========================================================
  PHYSICS CONFIG
==========================================================*/
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: false, hasTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: false);
//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header


/*
  Chapter Objectives

  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.chapter-objectives.xhtml-baked.html

  Style guide: page.note.chapter-objectives
*/


$Config_Notes: ( );

$Config_UnnumberedExercises: (); // There are no unnumbered exercises

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
// TODO: Is this a mistake; should we be numbering after the move?
$Config_PartType_Equation: (moveTo: $AREA_NONE, titleContent: $_equationTitleContent, numberAt: $NUMBER_BEFORE_MOVE, excludeNumberingInClassName: "section-summary");
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_TRASH);


// Coverage optimizations
$Config_Coverage_MayHaveSimlinks: false;
$Config_Coverage_MayHaveIframes: false;
$Config_Coverage_MayHaveMissingExercises: false;

$Config_hasCompositeChapter: false;