@import '../_common-stuff';

/*==========================================================
  PHYSICS PAGES
==========================================================*/

//Make pages (UpperCased because it is used by ap-physics)
$PageKeyTerms               : ( name: "Glossary", source: "glossary", isGlossary: true, sortBy: "dl > dt" );

/*
  Section Review

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.xhtml

  Style guide: book.2-composite.summary
*/
$PageSummary          : ( name: "Section Review", source: "section-summary", sectionSeparated: true );

/*
  Conceptual Questions

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.conceptual.xhtml-baked.xhtml

  Style guide: book.2-composite.conceptual
*/
$PageConceptualQuestions: ( name: "Conceptual Questions", source: "conceptual-questions", sectionSeparated: true );

/*
  Problems and Exercises

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.problems.xhtml-baked.xhtml

  Style guide: book.2-composite.problems
*/
$PageProblems               : ( name: "Problems & Exercises", source: "problems-exercises", sectionSeparated: true );

$PageIndex                  : ( name: "Index", source: "index", isIndex: true );

$Config_ChapterCompositePages      : (
  $PageKeyTerms, $PageSummary, $PageConceptualQuestions, $PageProblems
);

$Config_BookCompositePages: (
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
  $PageIndex,
);
/*==========================================================
  PHYSICS TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
$Config_ChapterTitleContent        : ( number: counter(chapter), );
$Config_AppendixTitleContent       : ( title-label: "Appendix ", number: counter(appendix, upper-alpha), );
$Config_SectionTitleContent        : ( number: counter(chapter) "." counter(section), );
$_exerciseTitleContent       : ( number: counter(exercise) );
$_exampleTitleContent        : ( title-label: "Example ", number: counter(chapter) "." counter(example) );
$_exampleSolutionTitleContent: ( title-label: "Solution ", number: counter(chapter) "." counter(example) );
$_equationNumber             : ( number: counter(chapter) "." counter(equation) );
/*==========================================================
  PHYSICS CONFIG
==========================================================*/
$Config_SetTableCaption            : ( type: table, defaultContainer: caption, hasCaption: false, hasTitle: true );
$Config_SetFigureCaption           : ( type: figure, defaultContainer: figcaption, hasCaption: true, hasTitle: false );
//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header


/*
  Chapter Objectives

  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.chapter-objectives.xhtml-baked.xhtml

  Style guide: page.note.chapter-objectives
*/


$Config_Notes: ( );

$Config_UnnumberedExercises: (); // There are no unnumbered exercises

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
// TODO: Is this a mistake; should we be numbering after the move?
$Config_PartType_Equation: (moveTo: $AREA_NONE, titleContent: $_equationNumber, numberAt: $NUMBER_BEFORE_MOVE, excludeNumberingInClassName: "section-summary");
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
