@import '../../mixins/_all';

//Import book config file
@import './_config';

//TODO: Improve performance by using more specific selectors in libraries when possible
//TODO: Separate object files
//TODO: Make sure mixins are "namespaced" to the file they are from
//TODO: Internationalization Solution ->
// Use maps to call strings ending in the language selected?
// $lang: "en";
// $chapter_en: "Chapter";
// $appendix_en: "Appendix";
// $chapter_de: "Kapitel";
// $appendix_de: "Anhang";
//TODO: Add warnings/flags for warnings/documentation when bundles are called in an unexpected order (dependencies for mixin calls?)

:pass(0) {
  //Some modifications to be done to the book before any collation
  @include modify_titlePreface();
  @include modify_spanWrapTitles();
  @include modify_simLinkTarget();

  //TODO @include modify_exercise($check-understanding); Need new mixin or update note mixin

  //the metadata has been moved to the content, remove it from the metadata
  @include modify_trash('[data-type="metadata"] > [data-type="description"]');
}
:pass(1) {
  // These have no dependencies so I do not know why they require having to be here
  // (as opposed to being right at the top of :pass(0) )
  // but the fact that the list is inside a note seems to be the culprit.
  // maybe the modify_note code runs first and makes a copy of the element `::before`
  // This list code runs? (even though the listMakeLabelVisible was listed above modify_note)
  @include modify_wrapExercises(); // no dependencies
  @include modify_wrapLists(); // no dependencies
  @include modify_wrapIframesWithAlternatives(); // no dependencies

  //Come up with mixins for common numbering schemes as per Phil's suggestion
  @include count_countChapters(chapter);
  @include number_numberChapters($chapterTitleContent);
  @include count_countAppendices(appendix);
  @include number_numberAppendices($appendixTitleContent);
  @include count_countSections(section);
  @include number_numberSections($sectionTitleContent);
  @include count_countExamples(example);
  @include number_numberExamples($exampleTitleContent, $exampleSolutionTitleContent);
  @include count_countEquations(equation);
  @include number_equations ($equationNumber, $sectionSummaryClass);

  @include count_countTerms(term);
  @include reference_refPageIDStringAs(pageID);
  @include modify_prepIndexTerms(term, pageID);

  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include compose_createChapterComposites($chapterCompositePages, sectionHeaderNode);
  //create a chapter outline
  @include compose_chapterOutline($objectivesTitleContent);
}
:pass(2) {

  //After: ???
  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include reference_refSectionHeaderStringAs(sectionHeaderString);
  @include compose_prepBookComposites($bookCompositePages, sectionHeaderNode, sectionHeaderString);
  //move the chapter outline to the introduction module
  @include compose_moveChapterOutline();

  //After: createChapterComposites
  @include count_countEOCExercises(exercise, '[data-type="composite-page"]');
  @include number_numberEOCExercises($exerciseTitleContent, $exerciseTitleContent);
}
:pass(3) {
  //After: createChapterComposites, numberEOCExercises
  @include count_countExercises(exerciseAll);


  //After: prepBookComposites
  @include reference_refChapterHeaderNodeAs(chapterHeaderNode);
  @include compose_prepChapterAreas($bookCompositePages, chapterHeaderNode);

}
:pass(4) {
  //After: prepBookComposites, prepChapterAreas
  @include compose_createBookComposites($bookCompositePages);
}
:pass(5) {
  //After: prepIndexTerms, createBookComposites
  @include modify_addIndexSymbolGroup("index", $symbolsSectionTitle);

  //After: composite page creation
  @include count_countChapters(chapter);
  @include count_countAppendices(appendix);
  @include count_countEOCExercises(exercise, '[data-type="composite-page"]');
  @include count_countExamples(example);
  @include link_setTargetLabels($targetLabels);
  @include link_setLinkLabels();

  @include reference_refBookMetadataNodeAs(bookMetadata);
  @include modify_compositeMetadata(bookMetadata);

  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include compose_titleEOCComposites($chapterCompositePages);
  @include compose_titleEOBComposites($bookCompositePages);

  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include modify_compositeAutoID();
  @include modify_chapterAutoID();

  @include count_countExercisesInContentButNotInExample(exerciseMaybeInContent);
  // This has to run before number_numberEOCExercises because its selector is more general than the EOC selector
  @include number_numberContentExercises($exerciseContentTitleContent, null);

  @include count_countTables(table);
  @include count_countFigures(figure);
  @include number_setCaptions($setTableCaption, $captionTableNumber, $captionTableNumberAp);
  @include number_setCaptions($setFigureCaption, $captionFigNumber, $captionFigNumberAp);
  @include modify_retitleHeaders();
}
:pass(6) {
  //No Answer Key, make sure that solutions that are still present in the content are discarded
  @include modify_trash('.os-eoc [data-type="solution"]');
  @include modify_trash('.os-index-link-separator:last-child');
  @include modify_retitleCompositeMetadata();
}
:pass(7) {
  //After: All metadata tasks are completed
  @include modify_suppressURI();

  @include toc_prepTOCElements();
}
:pass(8) {
  @include toc_putTOCElements();
}
:pass(9) {
  @include toc_navTOCUnwrap();
}
:pass(100) {
  @include utils_clearTrash();
}
