@import '../hs-physics/_config';

$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: false;
$Config_TEAspecificLOHeaders : true;
$Config_hasCompositeAppendixes: false;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Solution: (moveTo: $AREA_TRASH);