@mixin caption-number-style() {
  font-family: font-map(serif);
  font-size: size-scale(-2);
  caption-side: bottom;
  color: color-map(caption-number);
  border: none;
  font-weight: 700;
  display: inline;
}

@mixin caption-style() {
  font-family: font-map(serif);
  font-size: size-scale(-2);
  caption-side: bottom;
  color: color-map(caption);
  text-align: left;
  page-break-before: avoid;
  line-height: 1.6em;
  display: inline;
}

@mixin x-center-image() {
  display: block;
  margin: auto;
  width: 100%;
}
