// include these in framework level mixins 

@mixin page-break-titles($titleLocation) {
  h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  @if $titleLocation == #{$note} {
    @include page-break-note-title();
  }
  @else if $titleLocation == #{$eoc}{
    @include page-break-eoc-title();
  }
}

@mixin page-break-tables() {
  table {
    page-break-inside: auto;
    tr {
      page-break-inside: avoid;
    }
  }
}

// page-break-titles mixin includes //

@mixin page-break-note-title() {
  //before
  //body titles
  //subtitles
}

@mixin page-break-eoc-title() {
  //eoc module titles
}

//// TODO:
//columns in EOC need to break inside
//learning objectives should not break before or inside
// avoid break before and after toc-appendix.appendix
//EOB soultions/answerkey
//book preface break before and after, left and right
//avoid break in footnote

//set page breaks for general things like breaking after EOC and after Table of contents, if necessary


//Empty divs shouldn't be a problem, right?
//Should captions be in page-break-captions and then included in tables and figures or something else
