@mixin pageBreak($where, $how, $args...) {
  @if PLATFORM() == 'PDF' {
    @if $where == 'BEFORE' {
      page-break-before: $how $args;
    } @else if $where == 'AFTER' {
      page-break-after: $how $args;
    } @else if $where == 'INSIDE' {
      page-break-inside: $how $args;
    } @else {
      @error "Invalid pageBreak argument";
    }
  }
}