/*
  Typograpy Rules

  All the things you didn't want to know about typography, here just for you.

  This describes the font scale, rules for headings font sizes etc.

  Style guide: book.1-global.typography
*/


@function base-font-size() {
  @return $BASE_FONT_SIZE;
}

@function content-none() {
  @return "";
}

@function content-blank() {
  @return " ";
}

@function pow($base, $exp) {
  $value: 1;
  @for $i from 1 to abs($exp) {
    $value: $value * $base;
  }
  @if $exp > 0 {
    @return $value;
  } @else {
    @return 1 / $value;
  }
}

@function size-scale($level) {
  @return round(base-font-size() * pow(1.25, $level));
}

@function stix-fonts() {
  @return STIXGeneral, STIXSizeOneSym, STIXSize1;
}


$BASE_LINE_HEIGHT: size-scale(0) * 1.5;

//use $base-line-height: $BASE_LINE_HEIGHT;
//or function below?

@function base-line-height() {
  @return $BASE_LINE_HEIGHT;
}

@function line-height($level) {
    @return round(size-scale($level) * 1.5);
}
