$page-width: 6.5in;
$full-bleed-width: 8.75in;
$blank: ""; // For prince-text-replace in removing text.

$book-width: 6in;

$BOOK_PATH: '../books/#{$bookName}';
$THEME_PATH: '../themes/#{$themeName}';

$BOOK_IMAGES_PATH: '#{$BOOK_PATH}/images';
$THEME_IMAGES_PATH: '#{$THEME_PATH}/images';

$BASE_FONT_SIZE: 12px;
