

@mixin folioTypography_folio() {
  font-family: font-map(sans-serif);
  color: color-map(folio_colorMap);
  font-size: 10px; //cannot acheive with font-scale
}
@mixin folioChapterHeader_folio() {
  background-color: transparent;
  color: color-map(folioChapterHeader_colorMap);
  font-weight: bold;
}
