//eoc

div[data-type='chapter'] {
  dl.definition {
    copy-to: eoc-key-terms;
  }
  section.section-summary {
    move-to: eoc-section-summary;
  }
  section.conceptual-questions {
    move-to: eoc-conceptual-questions;
  }
  section.problems-exercises {
    move-to: eoc-exercises;
  }
  span[data-type='term'] {
    copy-to: eob-index;
  }
}


// Containers
div[data-type='chapter']::div {
  class: eoc-key-terms;
  content: pending(eoc-key-terms);
  sort-by: alphabetic;
}
div[data-type='chapter']::div {
  class: eoc-section-summary;
  content: pending(eoc-section-summary);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-conceptual-questions;
  content: pending(eoc-conceptual-questions);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-exercises;
  content: pending(eoc-exercises);
}
body::div {
  class: eob-index;
  content: pending(eob-index);
  group-by: first-letter;
  sort-by: alphabetic;
}
