//eoc

div[data-type='chapter'] {
  h1[data-type="document-title"] {
    node-set: chapterTitle;
  }
  div[data-type="glossary"] {
    move-to: trash;
  }
  dl.definition {
    move-to: eoc-key-terms;
   }
  &::after {
    class: solutions;
    content: nodes(chapterTitle) pending(chapterSolutions);
    move-to: eob-solutions;
   }
  &::before {
    container: h1;
    class: sectionGlossary;
    content: "Glossary";
    move-to: sectionGlossary;
  }
   &::after {
    class: eoc-glossary;
    content: pending(sectionGlossary) pending(eoc-key-terms);
    sort-by:  dt > dl;
    move-to: eoc-all;
   }
  div[data-type="page"] {
    > div[data-type="document-title"] {
      string-set: section-title content();
    }
    span[data-type="term"] {
      &::after {
        content: content();
        container: span;
        class: glossary-term;
        move-to: gloss-term;
      }
      &::after {
        content: string(section-title);
        container: a;
        attr-href: "#" attr(id);
        move-to: link;
      }
      &::after {
        content: pending(gloss-term) pending(link);
        class: glossary-item;
        move-to: eob-glossary;
      }
    }
    div[data-type="solution"] {
      move-to: chapterSolutions;
    }
  }
}
body {
  &::after {
     class: eob-solutions;
    content: pending(eob-solutions);
    container: div;
    move-to: eob-all;
  }
  &::after {
    class: eob-index;
    content: pending(eob-glossary);
    group-by: span, "span::first-letter";
    move-to: eob-all;
  }
  &::after {
    content: pending(eob-all);
    class: end-of-book;
    data-type: composite-page;
    container: div;
  }
  &::after {
    content: clear(trash);
  }
}


// .summary()  {
//   div[data-type='chapter'] {

//   }
// }