//eoc

div[data-type='chapter'] {
  h1[data-type="document-title"] {
    node-set: chapterTitle;
  }
  dl.definition {
    move-to: eoc-key-terms;
   }
  &::after {
    class: solutions;
    content: nodes(chapterTitle) pending(chapterSolutions);
    move-to: eob-solutions;
   }
   &::after {
    class: eoc-glossary;
    content: pending(eoc-key-terms);
    sort-by:  dt > dl;
    move-to: eoc-all;
   }
  span[data-type='term'] {
    copy-to: eob-index;
  }
  div[data-type="page"] {
    div[data-type="solution"] {
      move-to: chapterSolutions;
    }
  }
}
body{
  &::after {
     class: eob-solutions;
    content: pending(eob-solutions);
    container: div;
    move-to: eob-all;
  }
  &::after {
    class: eob-index;
    content: pending(eob-index);
    container: div;
    sort-by: span;
    move-to: eob-all;
  }
  &::after {
    content: pending(eob-all);
    class: end-of-book;
    data-type: composite-page;
    container: div;
  }
}


// .summary()  {
//   div[data-type='chapter'] {

//   }
// }