@pass-5-sol-move: 5; /*Assign exercise solutions to migrate to their own container*/
@pass-10-numbering: 10; /*Number chapters and static sections*/
@pass-15-sol-receive: 15; /*Actually create solution container and move solutions*/
@pass-20-numbering: 20; /*Number solutions/EOC content*/
@pass-25-index: 25; /*Create everything associated with the index*/
@pass-26-index-symbol: 26; /*Create separate section in index for symbols*/
@pass-30-title: 30; /*Title existing EOC/EOB containers*/
@pass-35-toc: 35; /*Create everything associated with the toc*/
@pass-40-toc-nav: 40; /*Create toc nav*/
@pass-50-metadata: 50; /*Add metadata to all locations*/
@pass-51-meta-title: 51; /*Add title to metatdata sections*/
@pass-52-meta-uri: 52; /**/
