@pass-20-numbering-eoc: 20; /*Number solutions/EOC content*/

@pass-25-solutions: 25; /*Assign exercise solutions to migrate to their own container*/

@pass-30-title: 30; /*Title existing EOC/EOB containers*/
@pass-40-numbering-figs-tabs: 40;
@pass-50-index: 50; /*Create everything associated with the index*/
@pass-51-index-symbol: 51; /*Create separate section in index for symbols*/
@pass-52-index-title: 52;

@pass-60-toc: 60; /*Create everything associated with the toc*/

@pass-65-toc-nav: 65; /*Create toc nav*/
@pass-66-nav-unwrap: 66; /*Unwrap span elements copied from doc-titles*/

@pass-75-metadata: 75; /*Add metadata to all locations*/
@pass-76-meta-title: 76; /*Add title to metatdata sections*/
@pass-77-meta-uri: 77; /**/
