
div[data-type='chapter'] {
  section.section-summary {
    move-to: eoc-section-summary;
  }
  &::after {
    class: eoc-section-summary;
    content: pending(eoc-section-summary);
    container: div;
    move-to: eoc-all;
  }
}