body {
  > div[data-type="page"], > div[data-type="composite-page"] {
    pass: @pass-60-toc;
    string-set: page-id attr(id);
    > [data-type='document-title'] {
      node-set: pageTitle;
      pass: @pass-60-toc;
    }
    &::after {
      pass: @pass-60-toc;
      content: nodes(pageTitle);
      attr-href: "#" string(page-id);
      container: a;
      move-to: page-link;
    }
    &::after {
      pass: @pass-60-toc;
      content: pending(page-link);
      move-to: eob-toc;
      container: li;
    }
  }
  > div[data-type='chapter'] {
    > h1[data-type='document-title'] {
      node-set: chapterTitle;
      pass: @pass-60-toc;
      string-set: chapTitle-id attr(id);
    }
    &::after {
      pass: @pass-60-toc;
      content: nodes(chapterTitle);
      attr-href: "#" string(chapTitle-id);
      container: a;
      move-to: eoc-toc;
    }
    > div[data-type="page"], > div[data-type="composite-page"] {
      pass: @pass-60-toc;
      string-set: page-id-chap attr(id);
      > [data-type='document-title']{
        pass: @pass-60-toc;
        node-set: PageTitle;
      }
      &::after {
        pass: @pass-60-toc;
        content: nodes(PageTitle);
        attr-href: "#" string(page-id-chap);
        container: a;
        move-to: page-link;
      }
      &::after {
        pass: @pass-60-toc;
        content: pending(page-link);
        move-to: eoc-toc-pages;
        container: li;
      }
    }
    &::after {
      pass: @pass-60-toc;
      content: pending(eoc-toc-pages);
      container: ol;
      class: chapter;
      move-to: eoc-toc;
    }
    &::after {
      pass: @pass-60-toc;
      content: pending(eoc-toc);
      container: li;
      move-to: eob-toc;
    }
  }
  > div[data-type="unit"] {
    > h1[data-type='document-title'] {
      pass: @pass-60-toc;
      copy-to: eou-toc;
    }
    > div[data-type='chapter'] {
      > h1[data-type='document-title'] {
        container: div;
        data-type: "toc-title";
        pass: @pass-60-toc;
        copy-to: eoc-toc;
      }
      > div[data-type="page"], div[data-type="composite-page"] {
        > [data-type='document-title'] {
          pass: @pass-60-toc;
          copy-to: page-title;
        }
        &::after {
          pass: @pass-60-toc;
          content: pending(page-title);
          move-to: eoc-toc-pages;
          container: li;
        }
      }
      &::after {
        pass: @pass-60-toc;
        content: pending(eoc-toc-pages);
        container: ol;
        class: chapter;
        move-to: eoc-toc;
      }
      &::after {
        pass: @pass-60-toc;
        content: pending(eoc-toc);
        container: li;
        move-to: eou-toc-chapters;
      }
    }
    &::after {
      pass: @pass-60-toc;
      content: pending(eou-toc-chapters);
      container: ol;
      class: unit;
      move-to: eou-toc;
    }
    &::after {
      pass: @pass-60-toc;
      content: pending(eou-toc);
      container: li;
      move-to: eob-toc;
    }
  }
}

nav#toc {
  pass: @pass-65-toc-nav;
  content: '';
  &::after {
    pass: @pass-65-toc-nav;
    content: pending(eob-toc);
    container: ol;
  }
}

nav#toc > ol {
  li {
    > a {
      pass: @pass-66-nav-unwrap;
      move-to:trash;
      string-set: toc-ref attr(href);
      > h1 > span,
      > div > span {
        pass: @pass-66-nav-unwrap;
        move-to: title-spans;
      }
      &::outside {
        pass: @pass-66-nav-unwrap;
        content: pending(title-spans);
        container: a;
        attr-href: string(toc-ref);
      }
    }
  }
}