@pass-20-numbering-eoc: 20; /*Number solutions/EOC content*/
@pass-25-solutions: 25; /*Assign exercise solutions to migrate to their own container*/
@pass-30-title: 30; /*Title existing EOC/EOB containers*/
@pass-40-numbering-figs-tabs: 40;
@pass-50-index: 50; /*Create everything associated with the index*/
@pass-51-index-symbol: 51; /*Create separate section in index for symbols*/
@pass-52-index-title: 52;
@pass-60-toc: 60; /*Create everything associated with the toc*/
@pass-65-toc-nav: 65; /*Create toc nav*/
@pass-66-nav-unwrap: 66; /*Unwrap span elements copied from doc-titles*/
@pass-75-metadata: 75; /*Add metadata to all locations*/
@pass-76-meta-title: 76; /*Add title to metatdata sections*/
@pass-77-meta-uri: 77; /**/



.metadata(@title) {
  pass: @pass-75-metadata;
  content: nodes(bookMetadata) content();
  [data-type="metadata"] {
    [data-type="document-title"] {
      pass: @pass-76-meta-title;
      content: @title;
    }
  }
}

.doc-title (@title) {
  &::before {
    container: span;
    pass: @pass-30-title;
    content: @title;
    move-to: titleSpan;
  }
  &::before {
    pass: @pass-30-title;
    container: div;
    data-type: document-title;
    content: pending(titleSpan);
  }
}

//glossary
//include within div[data-type='chapter']
.glossary(@title) {
  div[data-type="glossary"] {
    move-to: trash;
    dl.definition {
      move-to: eoc-glossary;
     }
  }
  &::before {
    container: span;
    content: @title;
    move-to: titleSpan;
  }
  &::before {
    container: div;
    class: sectionGlossary;
    data-type: document-title;
    content: pending(titleSpan);
    move-to: sectionGlossary;
  }
  &::after {
    class: "eoc glossary";
    data-type: composite-page;
    content: pending(sectionGlossary) pending(eoc-glossary);
    sort-by:  dl> dt;
   }
}

//.summary(summary, ~'.', h1, "Chapter Review");
//include within div[data-type='chapter']
.summary(@selectorName, @pre, @titleContainer,  @titleContent) {
  section@{pre}@{selectorName}{
    move-to: summary;
    > h1[data-type="title"] {
      move-to: trash;
    }
    &::after {
      class: summary;
      content: nodes(sectionTitle) pending(summary);
      move-to: eoc-summaries;
    }
  }
  &::before {
    container: span;
    content: @titleContent;
    move-to: titleSpan;
  }
  &::before {
    container: @titleContainer;
    class: summary-title;
    data-type: document-title;
    content: pending(titleSpan);
    move-to: summaryTitle;
  }
  &::after {
    class: "eoc summary";
    data-type: composite-page;
    content: pending(summaryTitle) pending(eoc-summaries);
  }
}

.composite (@title) {
    content: pending(eoc-@title);
    class: "eoc @{title}-container";
    container: div;
   data-type: composite-page;
}
