20
25
30
40
50
51
52
55
60
65
66
75
76
77



.metadata(@title):pass(75) {
  content: nodes(bookMetadata) content();
}

.metadata(@title) {
  content: nodes(bookMetadata) content();
  [data-type="metadata"] {
    [data-type="document-title"]:pass(76) {
      content: @title;
    }
  }
}

.doc-title (@title):pass(30) {
  &::before {
    container: span;
    class: "text";
    content: @title;
    move-to: titleSpan;
  }
  &::before {
    container: h2;
    data-type: document-title;
    content: pending(titleSpan);
  }
}

//glossary
//include within div[data-type='chapter']
.glossary(@title) {
  div[data-type="glossary"] {
    move-to: trash;
    dl.definition {
      move-to: eoc-glossary;
     }
  }
  &::before {
    container: span;
    content: @title;
    move-to: titleSpan;
  }
  &::before {
    container: h2;
    class: sectionGlossary;
    data-type: document-title;
    content: pending(titleSpan);
    move-to: sectionGlossary;
  }
  &::after {
    class: "eoc glossary";
    data-type: composite-page;
    content: pending(sectionGlossary) pending(eoc-glossary);
    sort-by:  dl> dt;
   }
}

//.summary(summary, ~'.', h1, "Chapter Review");
//include within div[data-type='chapter']
.summary(@selectorName, @pre, @titleContainer, @titleContent) {
  section@{pre}@{selectorName}{
    move-to: summary;
    > h1[data-type="title"] {
      move-to: trash;
    }
    &::after {
      class: summary;
      content: nodes(sectionTitle) pending(summary);
      move-to: eoc-summaries;
    }
  }
  &::before {
    container: span;
    content: @titleContent;
    move-to: titleSpan;
  }
  &::before {
    container: @titleContainer;
    class: summary-title;
    data-type: document-title;
    content: pending(titleSpan);
    move-to: summaryTitle;
  }
  &::after {
    class: "eoc summary";
    data-type: composite-page;
    content: pending(summaryTitle) pending(eoc-summaries);
  }
}

.composite-origin (@title) {
  move-to: @title;
  > h1[data-type="title"] {
    move-to: trash;
  }
}
.composite-destination (@title) {
  content: pending(@title);
  class: "eoc @{title}-container";
  container: div;
  data-type: composite-page;
}

.solutions-origin (@moveto):pass(25) {
  move-to: @moveto;
}
.solutions-destination (@class; @moveto; @location):pass(25) {
  container: div;
  data-type: composite-page;
  class: "@{location} @{class}-container";
  content: pending(@moveto);
}
