@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
@page {
  margin-right: 0in; }

.link-to-learning[data-type="note"] {
  text-align: left;
  border-bottom: 1.5pt solid #84AE52;
  font-family: IBM Plex Sans;
  font-weight: lighter;
  font-size: 9pt; }

.link-to-learning[data-type="note"] .os-title[data-type="title"] {
  text-transform: uppercase; }

.link-to-learning[data-type="note"] .os-note-body {
  padding-bottom: 1.5em; }

.everyday-life[data-type="note"] {
  padding: 1em;
  border: 1.5pt solid #388097;
  font-family: IBM Plex Sans;
  margin-bottom: 2rem; }

.everyday-life[data-type="note"] .os-title[data-type="title"] {
  text-transform: uppercase;
  font-family: Muli;
  border-bottom: 1pt dotted #388097; }

.everyday-life[data-type="note"] .os-subtitle {
  font-weight: bolder; }

[data-type="chapter"] div.introduction {
  display: flex;
  flex-direction: column;
  page-break-after: always; }

[data-type="chapter"] div.introduction .os-figure {
  margin-bottom: 3em; }

[data-type="chapter"] div.introduction h2.document-title {
  font-size: 12pt;
  text-transform: uppercase; }

[data-type="chapter"] div.introduction .testy-out {
  display: flex;
  flex-direction: row-reverse; }

[data-type="chapter"] div.introduction p {
  max-width: 6in; }

[data-type="chapter"] div.introduction div .os-chapter-outline {
  background-color: #388097; }

[data-type="composite-page"].os-eoc h2[data-type="document-title"] {
  font-family: IBM Plex Sans;
  text-transform: uppercase; }
