@import 'framework/framework';
@import 'design/example/design';

// Settings
@include add_settings((
  LearnTitle: (
    _selectors: (".page > .type-one"),
    container: (
      border-color: grey,
    ),
    title: (
      font-weight: bold,
    )
  ),
  LearnList: (
    _selectors: (".page > .type-two"),
    container: (
      border-color: green,
    )
  ),
));

// Uses
@include use('LearnTitle', 'LearningObjectiveTitle');
@include use('LearnList', 'LearningObjectiveList');