/*
  Typograpy Rules

  All the things you didn't want to know about typography, here just for you.

  This describes the font scale, rules for headings font sizes etc.

  Style guide: book.1-global.typography
*/
/*
  H1 styles (not chapter title):

  Uses: Preface, Appendix, End of Book Solutions, EOB titles, Index

  Style guide: book.2-titles-h1
*/
[data-type="page"].preface h1 {
  font: Liberation;
  font-size: 23px;
  color: #24739e;
  line-height: 35px;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].preface > section h2 {
  font: Liberation;
  font-size: 19px;
  color: #324456;
  line-height: 29px;
  bookmark-level: 2;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].preface > section h3 {
  font: Liberation;
  font-size: 15px;
  color: #324456;
  line-height: 23px;
  bookmark-level: 3;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].preface > section h4 {
  font: Liberation;
  font-size: 12px;
  color: #324456;
  line-height: 18px;
  bookmark-level: 4;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].preface > section h5 {
  font: Liberation;
  font-size: 10px;
  color: #000000;
  line-height: 15px;
  bookmark-level: 5;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
[data-type="composite-page"] img, [data-type="page"] img {
  display: block;
  margin: auto;
  max-width: 6.5in;
  width: 100%; }
[data-type="composite-page"] .os-figure,
[data-type="composite-page"] .preface .os-figure, [data-type="page"] .os-figure,
[data-type="page"] .preface .os-figure {
  display: block;
  margin: auto;
  max-width: 6.5in;
  width: 100%;
  margin-bottom: 19px; }
  [data-type="composite-page"] .os-figure:last-child,
  [data-type="composite-page"] .preface .os-figure:last-child, [data-type="page"] .os-figure:last-child,
  [data-type="page"] .preface .os-figure:last-child {
    margin-bottom: auto; }
  [data-type="composite-page"] .os-figure > figure,
  [data-type="composite-page"] .preface .os-figure > figure, [data-type="page"] .os-figure > figure,
  [data-type="page"] .preface .os-figure > figure {
    padding-bottom: 6px; }
    [data-type="composite-page"] .os-figure > figure img,
    [data-type="composite-page"] .preface .os-figure > figure img, [data-type="page"] .os-figure > figure img,
    [data-type="page"] .preface .os-figure > figure img {
      max-width: 6in; }
  [data-type="composite-page"] .os-figure > .os-caption-container,
  [data-type="composite-page"] .preface .os-figure > .os-caption-container, [data-type="page"] .os-figure > .os-caption-container,
  [data-type="page"] .preface .os-figure > .os-caption-container {
    font-family: Liberation;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px; }
    [data-type="composite-page"] .os-figure > .os-caption-container .os-title-label, [data-type="composite-page"] .os-figure > .os-caption-container .os-number, [data-type="composite-page"] .os-figure > .os-caption-container .os-title,
    [data-type="composite-page"] .preface .os-figure > .os-caption-container .os-title-label,
    [data-type="composite-page"] .preface .os-figure > .os-caption-container .os-number,
    [data-type="composite-page"] .preface .os-figure > .os-caption-container .os-title, [data-type="page"] .os-figure > .os-caption-container .os-title-label, [data-type="page"] .os-figure > .os-caption-container .os-number, [data-type="page"] .os-figure > .os-caption-container .os-title,
    [data-type="page"] .preface .os-figure > .os-caption-container .os-title-label,
    [data-type="page"] .preface .os-figure > .os-caption-container .os-number,
    [data-type="page"] .preface .os-figure > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    [data-type="composite-page"] .os-figure > .os-caption-container .os-number,
    [data-type="composite-page"] .preface .os-figure > .os-caption-container .os-number, [data-type="page"] .os-figure > .os-caption-container .os-number,
    [data-type="page"] .preface .os-figure > .os-caption-container .os-number {
      margin-right: 6px; }
    [data-type="composite-page"] .os-figure > .os-caption-container .os-caption,
    [data-type="composite-page"] .preface .os-figure > .os-caption-container .os-caption, [data-type="page"] .os-figure > .os-caption-container .os-caption,
    [data-type="page"] .preface .os-figure > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }

/* -------------------------
 * Styling for Appendix
 * ------------------------
 */
[data-type="page"].appendix h1 {
  font: Liberation;
  font-size: 23px;
  color: #24739e;
  line-height: 35px;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
  [data-type="page"].appendix h1 span.os-number {
    border: solid 1px #24739e;
    color: #24739e;
    padding: 4px 8px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline; }
[data-type="page"].appendix > section h2 {
  font: Liberation;
  font-size: 19px;
  color: #324456;
  line-height: 29px;
  bookmark-level: 2;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].appendix > section h3 {
  font: Liberation;
  font-size: 15px;
  color: #324456;
  line-height: 23px;
  bookmark-level: 3;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].appendix > section h4 {
  font: Liberation;
  font-size: 12px;
  color: #324456;
  line-height: 18px;
  bookmark-level: 4;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="page"].appendix > section h5 {
  font: Liberation;
  font-size: 10px;
  color: #000000;
  line-height: 15px;
  bookmark-level: 5;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

[data-type="page"].chapter-content-module .os-table {
  margin: 0 auto;
  padding: 0;
  border: none;
  page-break-inside: auto;
  display: table; }
  [data-type="page"].chapter-content-module .os-table table {
    border-collapse: collapse;
    prince-caption-page: all;
    line-height: auto;
    margin-bottom: 10px; }
  [data-type="page"].chapter-content-module .os-table thead {
    font-weight: 100; }
    [data-type="page"].chapter-content-module .os-table thead tr:first-of-type th {
      background-color: #0EC0DC;
      color: #324456;
      font: 12px; }
    [data-type="page"].chapter-content-module .os-table thead tr:not(first-child) {
      background-color: #24739e;
      color: #FFFFFF;
      border: 0; }
  [data-type="page"].chapter-content-module .os-table thead th {
    padding: 10px; }
  [data-type="page"].chapter-content-module .os-table thead tr:first-of-type th:first-child {
    border-top-left-radius: 3px; }
  [data-type="page"].chapter-content-module .os-table thead tr:first-of-type th:last-child {
    border-top-right-radius: 3px; }
  [data-type="page"].chapter-content-module .os-table tbody {
    border: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table tbody tr:last-child td {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table tbody tr td {
      padding: 10px;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      border-right: solid 1px rgba(0, 0, 0, 0.1);
      border-left: none; }
      [data-type="page"].chapter-content-module .os-table tbody tr td:first-child {
        border-left: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table tbody tr:last-child td {
      border-right: solid 1px solid 1px; }
  [data-type="page"].chapter-content-module .os-table tbody tr {
    page-break-inside: avoid; }
  [data-type="page"].chapter-content-module .os-table tfoot {
    display: table-row-group; }
  [data-type="page"].chapter-content-module .os-table > .os-caption-container {
    font-family: Liberation;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px;
    display: table-caption; }
    [data-type="page"].chapter-content-module .os-table > .os-caption-container .os-title-label, [data-type="page"].chapter-content-module .os-table > .os-caption-container .os-number, [data-type="page"].chapter-content-module .os-table > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    [data-type="page"].chapter-content-module .os-table > .os-caption-container .os-number {
      margin-right: 6px; }
    [data-type="page"].chapter-content-module .os-table > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }
  [data-type="page"].chapter-content-module .os-table .os-table-title {
    text-align: center;
    font-weight: bold;
    padding: 10px; }
  [data-type="page"].chapter-content-module .os-table table.unstyled tbody tr {
    page-break-inside: avoid; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy thead {
    font-weight: 100; }
    [data-type="page"].chapter-content-module .os-table table.text-heavy thead tr:first-of-type th {
      background-color: transparent;
      color: #242424;
      font: 12px; }
    [data-type="page"].chapter-content-module .os-table table.text-heavy thead tr:not(first-child) {
      background-color: transparent;
      color: #242424;
      border: 0; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy thead th {
    padding: 10px; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy thead tr:first-of-type th:first-child {
    border-top-left-radius: 0; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy thead tr:first-of-type th:last-child {
    border-top-right-radius: 0; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy tbody {
    border: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table table.text-heavy tbody tr:last-child td {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table table.text-heavy tbody tr td {
      padding: 10px;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      border-right: solid 1px rgba(0, 0, 0, 0.1);
      border-left: none; }
      [data-type="page"].chapter-content-module .os-table table.text-heavy tbody tr td:first-child {
        border-left: solid 1px rgba(0, 0, 0, 0.1); }
    [data-type="page"].chapter-content-module .os-table table.text-heavy tbody tr:last-child td {
      border-right: solid 1px solid 1px; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy tbody tr {
    page-break-inside: avoid; }
  [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container {
    font-family: Liberation;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px;
    display: table-caption; }
    [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container .os-title-label, [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container .os-number, [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container .os-number {
      margin-right: 6px; }
    [data-type="page"].chapter-content-module .os-table table.text-heavy > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }
[data-type="page"].chapter-content-module table td.text-align-right {
  text-align: right; }
[data-type="page"].chapter-content-module table td.text-align-center {
  text-align: center; }
[data-type="page"].chapter-content-module table td.text-align-justify {
  text-align: justify; }
[data-type="page"].chapter-content-module table td img {
  height: auto;
  width: 100%;
  position: inherit; }

[data-type="page"].chapter-content-module div.note div.table table thead tr:first-of-type th {
  white-space: nowrap; }
  [data-type="page"].chapter-content-module div.note div.table table thead tr:first-of-type th:not(:last-child) {
    text-align: left; }
  [data-type="page"].chapter-content-module div.note div.table table thead tr:first-of-type th:last-child {
    text-align: right; }

[data-type="composite-page"].os-reference-container h2[data-type="document-title"] {
  font: Liberation;
  font-size: 15px;
  color: #324456;
  line-height: 23px;
  bookmark-level: 3;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

/* ---------------------------------------------------
 * EOB
 * ---------------------------------------------------
 */
[data-type="composite-page"].os-eob h1[data-type="document-title"] {
  font: Liberation;
  font-size: 23px;
  color: #24739e;
  line-height: 35px;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
[data-type="composite-page"].os-eob h2[data-type="document-title"] {
  font: Liberation;
  font-size: 19px;
  color: #324456;
  line-height: 29px;
  bookmark-level: 2;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

[data-type="footnote-refs"] [data-type="footnote-refs-title"] {
  font: Liberation;
  font-size: 12px;
  color: #324456;
  line-height: 18px;
  bookmark-level: 4;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
[data-type="note"].exploring-business-careers {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-left: solid 1px #F2F2F2;
  border-right: solid 1px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  [data-type="note"].exploring-business-careers svg text {
    fill: #000000 !important; }
  [data-type="note"].exploring-business-careers a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].exploring-business-careers .os-note-body {
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].exploring-business-careers h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #000000;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    border-top: 3px solid #d34d32;
    border-bottom: solid 1px #F2F2F2;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
  [data-type="note"].exploring-business-careers .os-note-body {
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0; }
    [data-type="note"].exploring-business-careers .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }
    [data-type="note"].exploring-business-careers .os-note-body p:last-child {
      padding-bottom: 0; }

[data-type="note"].managing-change {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].managing-change svg text {
    fill: #000000 !important; }
  [data-type="note"].managing-change a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].managing-change .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].managing-change h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/managing-change.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].managing-change .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].managing-change .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].link-to-learning {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].link-to-learning svg text {
    fill: #000000 !important; }
  [data-type="note"].link-to-learning a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].link-to-learning .os-note-body {
    background: #F2F2F2;
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].link-to-learning h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #0EC0DC;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/link-to-learning.svg") #0EC0DC no-repeat right;
    background-size: contain; }
  [data-type="note"].link-to-learning .os-note-body {
    background: #F2F2F2;
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].link-to-learning .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].catching-spirit {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].catching-spirit svg text {
    fill: #000000 !important; }
  [data-type="note"].catching-spirit a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].catching-spirit .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].catching-spirit h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/catching-spirit.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].catching-spirit .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].catching-spirit .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].concept-check {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].concept-check svg text {
    fill: #000000 !important; }
  [data-type="note"].concept-check a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].concept-check .os-note-body {
    background: #D6D9DD;
    color: #000000;
    border: solid 1px #D6D9DD;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].concept-check h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #324456;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/concept-check.svg") #324456 no-repeat right;
    background-size: contain; }
  [data-type="note"].concept-check .os-note-body {
    background: #D6D9DD;
    color: #000000;
    border: solid 1px #D6D9DD;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].concept-check .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].expanding-around-globe {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].expanding-around-globe svg text {
    fill: #000000 !important; }
  [data-type="note"].expanding-around-globe a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].expanding-around-globe .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].expanding-around-globe h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/expanding-around-globe.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].expanding-around-globe .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].expanding-around-globe .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].ethics-in-practice {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].ethics-in-practice svg text {
    fill: #000000 !important; }
  [data-type="note"].ethics-in-practice a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].ethics-in-practice .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].ethics-in-practice h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/ethics-in-practice.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].ethics-in-practice .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].ethics-in-practice .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].customer-satisfaction {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].customer-satisfaction svg text {
    fill: #000000 !important; }
  [data-type="note"].customer-satisfaction a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].customer-satisfaction .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].customer-satisfaction h3[data-type="title"] {
    font-weight: normal;
    font-family: Liberation;
    page-break-after: avoid;
    font-family: Liberation;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/lisa/images/customer-satisfaction.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].customer-satisfaction .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].customer-satisfaction .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: Liberation;
      page-break-after: avoid;
      font-family: Liberation;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

/*# sourceMappingURL=intro-business-rex-web-new.css.map */
