/********************************************************************
 * This is a "flattened" version of the slots & skeletons for Astronomy.

 Book parts have been reorganized following the book structure (from top to bottom) for greater clarity.

 I kept the slot commented out in case they are needed to find a particular style.
 ********************************************************************/
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
/* -------------------------
 * Current Order:
 * ------------------------
 */
/* -------------------------
 * Generic Colors
 * ------------------------
 */
/* -------------------------
 * Features
 * ------------------------
 */
/* -------------------------
 * Elements
 * ------------------------
 */
/* -------------------------
 * Preface Titles
 * ------------------------
 */
/* -------------------------
 * Tables
 * ------------------------
 */
/* -------------------------
 * Text Heavy Tables
 * ------------------------
 */
/* -------------------------
 * TOC
 * ------------------------
 */
/* -------------------------
 * Intro Page
 * ------------------------
 */
/* -------------------------
 * Chapter Outline
 * ------------------------
 */
/* -------------------------
 * Learning objectives
 * ------------------------
 */
/* -------------------------
 * Page titles (H1)
 * ------------------------
 */
/* -------------------------
 * Module/page titles (H2)
 * ------------------------
 */
/* -------------------------
 * Subsection Titles (h3)
 * ------------------------
 */
/* -------------------------
 * Subsection Titles (h4)
 * ------------------------
 */
/* -------------------------
 * Subsection Titles (h5)
 * ------------------------
 */
/* -------------------------
 * Examples
 * ------------------------
 */
/* -------------------------
 * Notes
 * ------------------------
 */
/* -------------------------
 * EOC
 * ------------------------
 */
/* -------------------------
 * Glossary
 * ------------------------
 */
/* -------------------------
 * EOC Key Terms
 * ------------------------
 */
/* -------------------------
 * EOC Summary
 * ------------------------
 */
/* -------------------------
 * Assessments
 * ------------------------
 */
/* -------------------------
 * References
 * ------------------------
 */
/* -------------------------
 * Figure Attribution
 * ------------------------
 */
/* -------------------------
 * EOB Titles
 * ------------------------
 */
/* -------------------------
 * Solutions
 * ------------------------
 */
/* -------------------------
 * Captions
 * ------------------------
 */
/* -------------------------
 * Appendices
 * ------------------------
 */
/* -------------------------
 * Reference Titles
 * ------------------------
 */
/* -------------------------
 * Index
 * ------------------------
 */
/* -------------------------
 * Attributions
 * ------------------------
 */
.book > .chapter,
.book > .appendix,
.book > .colophon,
.book > .preface,
.book > .part > .chapter,
.book > .part > .appendix,
.book > .part > .colophon,
.book > .part > .preface {
  page-break-before: right !important;
  page-break-after: left !important; }

/* ------------------------
 * Conditionals
 * -----------------------
 */
cnx-pi {
  display: none; }

[data-type="metadata"] {
  display: none; }

body {
  color: #242424;
  font-size: 12px; }

.bold.centered-text {
  text-align: center;
  display: block; }
  .bold.centered-text strong {
    font-weight: 100; }

/* -------------------------
 * Book TOC
 * ------------------------
 */
.part > .toc,
.toc {
  counter-reset: toc-chapter-counter 0; }
  .part > .toc a,
  .toc a {
    color: #344456;
    text-align: left; }
    .part > .toc a::after,
    .toc a::after {
      content: target-counter(attr(href), page); }
  .part > .toc > .title,
  .toc > .title {
    text-align: left;
    text-transform: uppercase;
    color: #344456;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    background: url("../themes/theme1/images/TOC.svg") no-repeat left;
    background-size: 28px; }
  .part > .toc a.target-appendix,
  .toc a.target-appendix {
    font-weight: bold;
    color: #24739e;
    font-family: "Noto Sans", sans-serif; }
  .part > .toc .toc-index a.target-preface,
  .part > .toc .toc-preface a.target-preface,
  .toc .toc-index a.target-preface,
  .toc .toc-preface a.target-preface {
    font-weight: bold;
    color: #24739e;
    font-family: "Noto Sans", sans-serif; }
  .part > .toc .toc-index a.target-index,
  .part > .toc .toc-preface a.target-index,
  .toc .toc-index a.target-index,
  .toc .toc-preface a.target-index {
    font-weight: bold;
    color: #24739e;
    font-family: "Noto Sans", sans-serif; }
  .part > .toc .toc-index a.target-index,
  .part > .toc .toc-index a.target-preface,
  .part > .toc .toc-preface a.target-index,
  .part > .toc .toc-preface a.target-preface,
  .toc .toc-index a.target-index,
  .toc .toc-index a.target-preface,
  .toc .toc-preface a.target-index,
  .toc .toc-preface a.target-preface {
    margin-left: 29px; }
  .part > .toc .toc-chapter,
  .toc .toc-chapter {
    counter-increment: toc-chapter-counter; }
    .part > .toc .toc-chapter:nth-child(2n),
    .toc .toc-chapter:nth-child(2n) {
      background-color: #F9F9F9; }
    .part > .toc .toc-chapter::before,
    .toc .toc-chapter::before {
      display: inline-block;
      color: #24739e;
      border: 1px solid #0dc0dc;
      padding: 0;
      margin-top: -2px;
      font-weight: 700;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      float: left;
      content: counter(toc-chapter-counter,decimal); }
    .part > .toc .toc-chapter a.target-chapter,
    .toc .toc-chapter a.target-chapter {
      font-weight: bold;
      color: #24739e;
      font-family: "Noto Sans", sans-serif;
      width: 90%;
      display: inline-block; }
    .part > .toc .toc-chapter .cnx-gentext-chapter,
    .toc .toc-chapter .cnx-gentext-chapter {
      display: none; }
    .part > .toc .toc-chapter > ul,
    .toc .toc-chapter > ul {
      border-left: 4px solid #F4F4F4; }
      .part > .toc .toc-chapter > ul li,
      .toc .toc-chapter > ul li {
        margin-left: 0; }
      .part > .toc .toc-chapter > ul li a span.cnx-gentext-n,
      .toc .toc-chapter > ul li a span.cnx-gentext-n {
        font-weight: 700; }
      .part > .toc .toc-chapter > ul > li.toc-chapter:nth-child(2n+1),
      .toc .toc-chapter > ul > li.toc-chapter:nth-child(2n+1) {
        background-color: #F9F9F9; }
      .part > .toc .toc-chapter > ul > ul > li,
      .toc .toc-chapter > ul > ul > li {
        margin: 0;
        padding-bottom: 0; }
    .part > .toc .toc-chapter .cnx-gentext-chapter.cnx-gentext-t,
    .toc .toc-chapter .cnx-gentext-chapter.cnx-gentext-t {
      display: inline;
      float: left;
      max-width: 90%; }
    .part > .toc .toc-chapter > .target-chapter::before,
    .toc .toc-chapter > .target-chapter::before {
      display: none; }
  .part > .toc .toc-appendix,
  .toc .toc-appendix {
    counter-increment: toc-appendix-counter; }
    .part > .toc .toc-appendix::before,
    .toc .toc-appendix::before {
      content: counter(toc-appendix-counter,upper-latin);
      display: inline-block;
      color: #24739e;
      border: 1px solid #0dc0dc;
      padding: 0;
      margin-top: -2px;
      font-weight: 700;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      float: left; }
    .part > .toc .toc-appendix .cnx-gentext-autogenerated,
    .part > .toc .toc-appendix .cnx-gentext-n,
    .toc .toc-appendix .cnx-gentext-autogenerated,
    .toc .toc-appendix .cnx-gentext-n {
      display: none; }

.book > .toc > .title {
  border-bottom-width: 0;
  border-bottom-style: none; }

/* ------------------------
 * Preface
 * -----------------------
 */
div.preface h1 {
  font-family: "Roboto Condensed";
  text-transform: initial;
  color: #24739e;
  padding: 0;
  margin: 0;
  position: relative;
  bookmark-level: 1;
  page-break-after: avoid; }
div.preface > section h2 {
  font-family: "Roboto Condensed";
  color: #344456;
  bookmark-level: 2;
  page-break-after: avoid;
  margin-left: 0;
  padding-left: 0; }
div.preface > section h3 {
  font-family: "Noto Sans", sans-serif;
  color: #344456;
  font-weight: bold;
  bookmark-level: none;
  page-break-after: avoid; }
div.preface > section h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #344456; }
div.preface > section h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  margin-top: 0; }

/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] > div.titlepage {
  height: 100%;
  margin-top: 0;
  z-index: 1;
  position: relative;
  z-index: 1; }
  [data-type="chapter"] > div.titlepage div div > h1.title {
    padding: 0;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 8.5in;
    height: 3.5in;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    font-family: "Roboto Condensed";
    text-transform: capitalize; }
    [data-type="chapter"] > div.titlepage div div > h1.title::before {
      content: counter(chapter);
      font-family: "Noto Sans", sans-serif;
      top: auto;
      left: 0;
      bottom: 62px;
      background-color: #fff;
      border-radius: 50%;
      min-width: 0;
      min-height: 0;
      width: 45px;
      height: 45px;
      padding-top: 0;
      border: none;
      display: block;
      line-height: 45px;
      color: #344456;
      position: absolute;
      border: 1px solid #fff;
      text-align: center; }
    [data-type="chapter"] > div.titlepage div div > h1.title::after {
      content: '';
      display: block;
      width: 170px;
      height: 73px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate3d(-1in, 0, 0);
      background: url("ccap-business/business-books-intro-graphic.svg") 0 0 no-repeat;
      z-index: 2; }
    [data-type="chapter"] > div.titlepage div div > h1.title span.cnx-gentext-autogenerated,
    [data-type="chapter"] > div.titlepage div div > h1.title span.cnx-gentext-n {
      display: none; }
    [data-type="chapter"] > div.titlepage div div > h1.title span.cnx-gentext-t::before {
      display: none; }
    [data-type="chapter"] > div.titlepage div div > h1.title span.cnx-gentext-t {
      position: absolute;
      bottom: -0;
      left: 80px;
      width: 60%;
      height: 70px;
      white-space: normal; }
  [data-type="chapter"] > div.titlepage div,
  [data-type="chapter"] > div.titlepage div div {
    height: inherit; }

.part > .titlepage {
  display: none; }

/* -------------------------
 * Chapter intro: splash image
 * -------------------------
 */
[data-type="chapter"] > .introduction {
  position: relative; }
  [data-type="chapter"] > .introduction > .figure.splash {
    width: 8.75in;
    margin-left: 0;
    margin-top: -1.2in; }
    [data-type="chapter"] > .introduction > .figure.splash::before {
      background: transparent url("../themes/theme1/images/folio-bg.png") 0 0 repeat-x;
      background-size: 100% 122px;
      height: 122px;
      width: 8.75in;
      display: block;
      content: '';
      position: absolute;
      top: -4.7in;
      left: -1in;
      right: -1in; }
    [data-type="chapter"] > .introduction > .figure.splash div.caption {
      width: 6.5in; }
    [data-type="chapter"] > .introduction > .figure.splash div.mediaobject {
      width: 8.75in;
      border-left: none;
      height: 4.3in;
      position: relative;
      transform: translate3d(-1in, 0, 0); }
      [data-type="chapter"] > .introduction > .figure.splash div.mediaobject::before {
        display: none; }
      [data-type="chapter"] > .introduction > .figure.splash div.mediaobject::after {
        width: 100%;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: #24739e;
        border-top: 4px solid rgba(60, 39, 71, 0.5); }
      [data-type="chapter"] > .introduction > .figure.splash div.mediaobject img {
        width: 8.75in;
        height: 3.58in; }

/* -------------------------
 * Global styles for the introduction page
 * ------------------------
 */
.learning-outcomes h3 {
  font-family: "Noto Sans", sans-serif;
  color: #344456;
  font-weight: bold;
  bookmark-level: none;
  page-break-after: avoid; }

[data-type="chapter"] > .introduction > h2[data-type="document-title"] {
  font-family: "Roboto Condensed";
  color: #344456;
  bookmark-level: 2;
  page-break-after: avoid;
  margin-left: 0;
  padding-left: 0;
  display: inline-block !important;
  background: url("../themes/theme1/images/CH_intro.svg") no-repeat left;
  background-size: contain;
  background-size: contain; }
  [data-type="chapter"] > .introduction > h2[data-type="document-title"] span {
    padding: 1.5em; }

/* -------------------------
 * Module/page level Learning objectives
 * ------------------------
 */
[data-type="chapter"] [data-type="page"] .learning-objectives .title {
  color: #344456; }
[data-type="chapter"] [data-type="page"] .learning-objectives section {
  margin-left: 0;
  max-width: 30%;
  display: inline-block; }
  [data-type="chapter"] [data-type="page"] .learning-objectives section [data-type="title"] {
    color: #24739e; }

/* -------------------------
 * Module/page level titles
 * ------------------------
 */
[data-type="chapter"] [data-type="page"] > h2 {
  font-family: "Roboto Condensed";
  color: #344456;
  bookmark-level: 2;
  page-break-after: avoid;
  margin-left: 0;
  padding-left: 0; }
  [data-type="chapter"] [data-type="page"] > h2 .os-number {
    border: 2px solid #0dc0dc;
    vertical-align: middle; }
  [data-type="chapter"] [data-type="page"] > h2 span.os-text {
    top: 3px; }
[data-type="chapter"] [data-type="page"] section > h3 {
  font-family: "Noto Sans", sans-serif;
  color: #344456;
  font-weight: bold;
  bookmark-level: none;
  page-break-after: avoid; }
[data-type="chapter"] [data-type="page"] section section > h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #344456; }
[data-type="chapter"] [data-type="page"] section section section > h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  margin-top: 0; }

/* -------------------------
 * Business Table Styles
 * ------------------------
 */
[data-type="chapter"] .table {
  page-break-inside: auto; }

div.table {
  margin: 0 auto;
  padding: 0;
  border: none; }
  div.table table {
    width: 100%;
    border-collapse: separate;
    prince-caption-page: all; }
    div.table table thead {
      border-top: none;
      font-family: "Noto Sans", sans-serif; }
      div.table table thead th {
        border-bottom: none;
        vertical-align: initial;
        font-weight: 100; }
      div.table table thead > tr {
        border-left: 0;
        border-right: 0; }
      div.table table thead tr:first-of-type th {
        background-color: #0dc0dc;
        color: #344456;
        font-weight: bold; }
        div.table table thead tr:first-of-type th:first-child {
          border-top-left-radius: 5px; }
        div.table table thead tr:first-of-type th:last-child {
          border-top-right-radius: 5px; }
      div.table table thead tr:not(first-child) {
        background-color: #24739e;
        color: #fff;
        border: 0; }
    div.table table tbody {
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #344456; }
      div.table table tbody[valign=top] > tr > td {
        vertical-align: top; }
      div.table table tbody tr {
        page-break-inside: avoid; }
      div.table table tbody tr:last-child td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    div.table table td {
      border-color: "rgba(0,0,0,0,1)";
      font-family: "Noto Sans", sans-serif;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-left: none; }
      div.table table td.text-align-right {
        text-align: right; }
      div.table table td.text-align-center {
        text-align: center; }
      div.table table td.text-align-justify {
        text-align: justify; }
      div.table table td.header {
        background-color: #0dc0dc;
        color: #344456;
        font-weight: bold;
        text-align: center;
        vertical-align: initial; }
      div.table table td img {
        height: auto;
        width: 100%;
        position: inherit; }
    div.table table caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      display: table-caption;
      text-align: left;
      page-break-before: avoid;
      font-family: "Noto Sans", sans-serif;
      caption-side: bottom; }
      div.table table caption::before {
        font-family: "Noto Sans", sans-serif;
        border: none;
        padding-left: 0px;
        caption-side: bottom;
        font-weight: 700;
        color: #000; }
  div.table:not(.unstyled) table tbody tr td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  div.table:not(.unstyled) table tbody tr td:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  div.table.color th {
    text-align: center; }
  div.table.color tr {
    height: 1em !important; }
  div.table.color tr td:first-child {
    background-color: #EFD8B0;
    width: 2.5in;
    font-weight: bold; }
  div.table.unstyled table {
    border: none;
    margin: 0; }
    div.table.unstyled table tr {
      display: none; }
    div.table.unstyled table td {
      text-align: left;
      border-left: none;
      border-right: none; }
  div.table.column-header tbody td:first-child {
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: initial;
    background-color: #344456; }
  div.table.text-heavy table thead tr:first-of-type th {
    background: #fff;
    border-bottom: 1px solid #E5E5E5 !important;
    text-align: left; }
  div.table.text-heavy table thead > tr:first-child {
    height: 40px;
    vertical-align: top;
    color: #344456;
    font-weight: bold; }
  div.table.text-heavy table tbody {
    border: none; }
  div.table.text-heavy table tbody > tr > td.tablecell {
    border: none; }
  div.table.top-titled table thead tr:first-of-type th {
    background-color: #fff;
    font-weight: bold;
    color: #344456; }
  div.table.top-titled table thead tr:nth-child(even):not(last-child) th {
    background-color: #0dc0dc;
    color: #344456;
    font-weight: bold; }
    div.table.top-titled table thead tr:nth-child(even):not(last-child) th:first-child {
      border-top-left-radius: 5px; }
    div.table.top-titled table thead tr:nth-child(even):not(last-child) th:last-child {
      border-top-right-radius: 5px; }
  div.table.text-heavy.top-titled table thead tr:first-of-type th {
    background-color: #fff;
    font-weight: bold;
    color: #344456;
    text-align: center;
    border-bottom: none !important; }
  div.table.text-heavy.top-titled table thead tr:last-child {
    border-bottom: 1px solid grey; }
    div.table.text-heavy.top-titled table thead tr:last-child th {
      background-color: #fff;
      font-weight: bold;
      color: #344456;
      border-bottom: 1px solid #E5E5E5 !important; }

/* -------------------------
 * Tables within Notes
 * ------------------------
 */
div.note div.table table thead tr:first-of-type th {
  white-space: nowrap; }
  div.note div.table table thead tr:first-of-type th:not(:last-child) {
    text-align: left; }
  div.note div.table table thead tr:first-of-type th:last-child {
    text-align: right; }

/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  display: block;
  margin: auto;
  max-width: 6.5in; }

.figure,
.preface .figure {
  display: block;
  margin: auto;
  max-width: 6.5in;
  width: 100%;
  float: column-top; }
  .figure > .title,
  .preface .figure > .title {
    font-family: "Noto Sans", sans-serif;
    border: none;
    padding-left: 0px;
    caption-side: bottom;
    font-weight: 700;
    color: #000;
    display: inline; }
  .figure .caption,
  .preface .figure .caption {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: table-caption;
    text-align: left;
    page-break-before: avoid;
    font-family: "Noto Sans", sans-serif;
    caption-side: bottom;
    display: inline; }

/* -------------------------
 * Example Elements Styling and Numbering
 * -------------------------
 */
[data-type="chapter"] .example {
  border-top: 0;
  border-bottom: 0;
  display: table;
  position: relative;
  background-color: #ebe9e9;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="chapter"] .example h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="chapter"] .example > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
  [data-type="chapter"] .example > .title {
    display: none; }
    [data-type="chapter"] .example > .title span::before {
      background-color: #24739e;
      color: #fff;
      display: inline-block;
      height: 2em;
      line-height: 2em; }

/* -------------------------
 * Notes
 * ------------------------
 */
[data-type="chapter"] .note {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box; }
  [data-type="chapter"] .note a:link {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="chapter"] .note > div.title {
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-weight: bold;
    bookmark-level: none;
    page-break-after: avoid; }
  [data-type="chapter"] .note.link-to-learning {
    display: table;
    position: relative;
    background-color: #e6eaef;
    text-align: left;
    color: #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    box-sizing: border-box; }
    [data-type="chapter"] .note.link-to-learning h3[data-type="title"] {
      display: table-caption;
      font-style: normal;
      background-color: #0dc0dc;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-family: "Roboto Condensed";
      letter-spacing: 3px;
      text-transform: uppercase; }
    [data-type="chapter"] .note.link-to-learning > div.body::before {
      background: blue;
      display: block;
      content: '';
      background: url("../images/${icon}.svg") no-repeat 0;
      width: 110px;
      height: 62px;
      position: absolute;
      bottom: 2px;
      right: 15px; }
    [data-type="chapter"] .note.link-to-learning div.mediaobject {
      display: none; }
  [data-type="chapter"] .note .body {
    border: 0;
    color: #000; }
    [data-type="chapter"] .note .body > div.title {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      color: #344456; }
  [data-type="chapter"] .note a.xref {
    prince-text-replace: "Section" ""; }
  [data-type="chapter"] .note svg text {
    fill: #000 !important; }

.footnote {
  color: #6D6F71;
  line-height: 1.5em; }
  .footnote span {
    line-height: 1.5em;
    color: #6D6F71; }
  .footnote sup {
    color: #6D6F71; }
  .footnote > *, .footnote::footnote-marker {
    line-height: 1.5em;
    color: #6D6F71; }
  .footnote::footnote-call {
    content: counter(footnote);
    color: #6D6F71 !important; }

/* -------------------------
 * End of chapter customizations
 * ------------------------
 */
/* -------------------------
  * Key Terms
  * ------------------------
  */
[data-type="chapter"] .os-glossary-container {
  display: inline; }
  [data-type="chapter"] .os-glossary-container h2[data-type="document-title"] {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/key-terms.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    [data-type="chapter"] .os-glossary-container h2[data-type="document-title"] span {
      padding: 1.5em; }
  [data-type="chapter"] .os-glossary-container dl {
    display: inline; }
    [data-type="chapter"] .os-glossary-container dl dt {
      line-height: 1.6em; }
      [data-type="chapter"] .os-glossary-container dl dt::after {
        content: " "; }
    [data-type="chapter"] .os-glossary-container dl dd {
      line-height: 1.6em;
      text-indent: -27px;
      margin: 0; }
    [data-type="chapter"] .os-glossary-container dl p {
      margin: 0; }

.key-terms .listitem {
  list-style: none; }

.os-eoc {
  /* -------------------------
   * Summary
   * ------------------------
   */
  /* -------------------------
   * EOC Solutions
   * ------------------------
   */ }
  .os-eoc > h2[data-type="document-title"] {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/assessments.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    .os-eoc > h2[data-type="document-title"] span {
      padding: 1.5em; }
    .os-eoc > h2[data-type="document-title"] span {
      padding-left: 0;
      font-family: "Roboto Condensed"; }
  .os-eoc section .title a:link {
    color: #344456;
    text-decoration: none;
    border-bottom: none; }
  .os-eoc.key-terms > .title {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/assessments.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    .os-eoc.key-terms > .title span {
      padding: 1.5em; }
  .os-eoc.key-terms .listitem p {
    margin-bottom: 0; }
  .os-eoc.section-summary > .title, .os-eoc.summary > .title {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/Summary.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    .os-eoc.section-summary > .title span, .os-eoc.summary > .title span {
      padding: 1.5em; }
    .os-eoc.section-summary > .title span, .os-eoc.summary > .title span {
      padding-left: 0; }
  .os-eoc.section-summary > .section > .title, .os-eoc.summary > .section > .title {
    display: block; }
  .os-eoc.section-summary > .section .title > a, .os-eoc.summary > .section .title > a {
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    text-decoration: none; }
  .os-eoc.references > .title {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/references.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    .os-eoc.references > .title span {
      padding: 1.5em; }
  .os-eoc.figure-credits > .title {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0;
    display: inline-block !important;
    background: url("../themes/theme1/images/figurecredit.svg") no-repeat left;
    background-size: contain;
    background-size: contain; }
    .os-eoc.figure-credits > .title span {
      padding: 1.5em; }
  .os-eoc.cnx-solutions {
    display: none; }
  .os-eoc.suggested-resources > div.section > div.body p,
  .os-eoc.suggested-resources > div.section > div.body table > tr > td {
    text-indent: -1em; }

/* -------------------------
 * Styling for Appendix
 * ------------------------
 */
.appendix h1,
div.book > .appendix h1 {
  font-family: "Roboto Condensed";
  text-transform: initial;
  color: #24739e;
  padding: 0;
  margin: 0;
  position: relative;
  bookmark-level: 1;
  page-break-after: avoid; }
  .appendix h1 span.os-number,
  div.book > .appendix h1 span.os-number {
    border: 2px solid #24739e;
    color: #344456 !important;
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline; }
.appendix > section h2,
div.book > .appendix > section h2 {
  font-family: "Roboto Condensed";
  color: #344456;
  bookmark-level: 2;
  page-break-after: avoid;
  margin-left: 0;
  padding-left: 0; }
  .appendix > section h2:not(.labeled)::before,
  div.book > .appendix > section h2:not(.labeled)::before {
    content: "" !important; }
.appendix > section h3,
div.book > .appendix > section h3 {
  font-family: "Noto Sans", sans-serif;
  color: #344456;
  font-weight: bold;
  bookmark-level: none;
  page-break-after: avoid; }
.appendix > section h4,
div.book > .appendix > section h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #344456; }
.appendix > section h5,
div.book > .appendix > section h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  margin-top: 0; }

/* ---------------------------------------------------
 * EOB
 * ---------------------------------------------------
 */
.os-eob h1[data-type="document-title"] {
  font-family: "Roboto Condensed";
  text-transform: initial;
  color: #24739e;
  padding: 0;
  margin: 0;
  position: relative;
  bookmark-level: 1;
  page-break-after: avoid; }

/* -------------------------
 * Answer Key (EOB)
 * ------------------------
 */
div.colophon.end-of-book-solutions {
  prince-text-replace: "Answer:" ""; }
  div.colophon.end-of-book-solutions div.chapter-area:first-of-type h2.title {
    margin-top: 0;
    padding-top: 0; }
  div.colophon.end-of-book-solutions .chapter-area a.solution {
    color: #242424;
    font-weight: bold; }
  div.colophon.end-of-book-solutions .chapter-area > h2.title a.chapter {
    font-family: "Roboto Condensed";
    color: #344456;
    bookmark-level: 2;
    page-break-after: avoid;
    margin-left: 0;
    padding-left: 0; }
  div.colophon.end-of-book-solutions .chapter-area > h2.title a.chapter span {
    display: inline; }
  div.colophon.end-of-book-solutions .chapter-area .solution .title {
    display: inline; }
    div.colophon.end-of-book-solutions .chapter-area .solution .title::after {
      content: ". "; }
  div.colophon.end-of-book-solutions .chapter-area .solution .body {
    display: inline; }

/* ---------------------------------------------------
 * Citations
 * ---------------------------------------------------
 */
[data-type="chapter"] a.link.cite {
  border-bottom: 0px !important; }

[data-type="chapter"] a.link.cite::before {
  content: target-counter(attr(href), references);
  text-decoration: underline;
  font-weight: 100; }

div.end-of-book-references {
  margin-left: 0;
  text-indent: 0;
  text-align: left;
  display: inline; }
  div.end-of-book-references > .chapter-area {
    counter-reset: references; }
    div.end-of-book-references > .chapter-area > .title {
      display: none; }
    div.end-of-book-references > .chapter-area > .body > .section-area .title {
      color: #344456;
      font-weight: bold; }
      div.end-of-book-references > .chapter-area > .body > .section-area .title sup {
        display: none; }
    div.end-of-book-references > .chapter-area > .body > .section-area p {
      display: inline; }
    div.end-of-book-references > .chapter-area > .body > .section-area .note.reference {
      padding: 0;
      counter-increment: references; }
      div.end-of-book-references > .chapter-area > .body > .section-area .note.reference > .body::before {
        content: counter(references) "."; }

.index {
  page-break-before: right;
  page-break-after: left;
  page-break-inside: auto;
  column-count: 3;
  column-gap: 24px;
  column-width: auto; }
  .index > .title {
    font-family: "Roboto Condensed";
    text-transform: initial;
    color: #24739e;
    padding: 0;
    margin: 0;
    position: relative;
    bookmark-level: 1;
    page-break-after: avoid; }
  .index > .title h2 {
    padding: 0;
    font-size: inherit; }
  .index h3.letter {
    font-family: "Noto Sans", sans-serif;
    color: #344456; }
  .index h3.letter:first-of-type {
    margin-top: 0;
    padding-top: 0; }
  .index .index-term {
    line-height: 1.5em; }
  .index a {
    font-weight: normal; }

html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi; }

@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto; }
.landscape {
  page: landscape; }
  .landscape img {
    height: 5.2in;
    width: 9.4in; }

/* -------------------------
 * Global Styles
 * ------------------------
 */
.appendix:not(.toc-appendix) a:link,
.chapter.section a:link,
.preface:not(.toc-preface) a:link {
  color: #027eb5;
  text-decoration: none;
  border-bottom: #027eb5 solid 0.02em; }

.colophon a:link,
.index a:link {
  color: #027eb5;
  text-decoration: none; }

blockquote {
  color: inherit;
  font-size: inherit;
  line-height: 1.6em; }
  blockquote::after, blockquote::before {
    display: none; }

p {
  line-height: 1.6em; }

/* ---------------------------------------------------
 * Folio
 * ---------------------------------------------------
 */
div.book .chapter > div.titlepage > div > div h1.title span.cnx-gentext-t {
  string-set: cnx-header "${cnx-string-chapter} " counter(chapter,decimal) " " content(); }

.glossterm span {
  display: none; }

span.colored-text {
  color: #CC0000; }

.appendix.module a:link.target-section,
.chapter.cnx-eoc a:link.target-section,
.chapter.section.module a:link.target-section {
  background-image: url("ccap-astronomy/LO.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px auto;
  border-bottom: 0; }

.appendix.module a.xref,
.chapter.section.module a.xref,
.cnx-eoc a.xref {
  prince-text-replace: "Section" " "; }

div.toc li.toc-part {
  counter-increment: toc-part-num; }
  div.toc li.toc-part a.target-part {
    font-weight: bold;
    color: #344456;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    display: block; }
    div.toc li.toc-part a.target-part::before {
      content: "Unit " counter(toc-part-num) ": "; }

div.section.learning-outcomes {
  counter-reset: learning-outcome; }
  div.section.learning-outcomes div.titlepage {
    font-family: "Roboto Condensed";
    color: #344456;
    font-weight: bold; }
  div.section.learning-outcomes div.orderedlist ol {
    list-style-type: none; }
    div.section.learning-outcomes div.orderedlist ol li.listitem {
      counter-increment: learning-outcome; }
      div.section.learning-outcomes div.orderedlist ol li.listitem::before {
        content: counter(learning-outcome) ". ";
        font-weight: bold;
        position: absolute;
        left: 20px;
        display: inline-block;
        line-height: 1.6em; }
      div.section.learning-outcomes div.orderedlist ol li.listitem > p:first-child > span.bold:first-child {
        display: none; }

.listitem p {
  padding: 0;
  margin: 0; }

/* ---------------------------------------------------
 * Remove folio on chapter splash
 * ---------------------------------------------------
 */
.chapter {
  page: chapter;
  prince-page-group: start; }

@page chapter:nth(1) {
  @top-left-corner {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }
/* -------------------------
* Intro to Business Overrides
* ------------------------
*/
/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
[data-type="note"].catching-spirit {
  display: table;
  position: relative;
  background-color: #D3E3EB;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].catching-spirit h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].catching-spirit > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].managing-change {
  display: table;
  position: relative;
  background-color: #D3E3EB;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].managing-change h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].managing-change > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].expanding-around-globe {
  display: table;
  position: relative;
  background-color: #D3E3EB;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].expanding-around-globe h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].expanding-around-globe > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].customer-satisfaction {
  display: table;
  position: relative;
  background-color: #D3E3EB;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].customer-satisfaction h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].customer-satisfaction > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].ethics-in-practice {
  display: table;
  position: relative;
  background-color: #D3E3EB;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].ethics-in-practice h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #24739e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].ethics-in-practice > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].concept-check {
  display: table;
  position: relative;
  background-color: #D6D9DD;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].concept-check h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #344456;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].concept-check > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].link-to-learning {
  display: table;
  position: relative;
  background-color: #F2F2F2;
  text-align: left;
  color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  box-sizing: border-box; }
  [data-type="note"].link-to-learning h3[data-type="title"] {
    display: table-caption;
    font-style: normal;
    background-color: #0dc0dc;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 3px;
    text-transform: uppercase; }
  [data-type="note"].link-to-learning > div.body::before {
    background: blue;
    display: block;
    content: '';
    background: url("../images/${icon}.svg") no-repeat 0;
    width: 110px;
    height: 62px;
    position: absolute;
    bottom: 2px;
    right: 15px; }
[data-type="note"].exploring-business-careers {
  position: relative;
  border-left: solid 1px #eaeaea;
  border-right: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
  padding: 0;
  margin: 0;
  top: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%; }
  [data-type="note"].exploring-business-careers::before {
    content: "Exploring Business Careers";
    display: block;
    border-top: 5px solid #d34d32;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: solid 1px #eaeaea;
    font-family: "Roboto Condensed";
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    left: -1px;
    width: 6.125in;
    font-weight: bold; }
  [data-type="note"].exploring-business-careers .body {
    border: 0; }

/* -------------------------
 * Image Tables
 * ------------------------
 */
div.book > .chapter .table {
  max-width: 6in;
  margin: auto; }

div.mediaobject > img,
span.inlinemediaobject > img {
  max-width: 6in;
  width: 100%; }

/* -------------------------
 * Answer Key
 * ------------------------
 */
.end-of-book-solutions {
  display: none; }

/*# sourceMappingURL=intro-business.css.map */
