.concept-check[data-type="note"] {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.concept-check[data-type="note"] > h3[data-type="title"] {
  color: pink;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
