@import '../_common-stuff';
$RECIPE_NAME: "statistics";

/*==========================================================
  STATISTICS PAGES
==========================================================*/

/*
  Chapter Review page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.review.xhtml-baked.html

  Style guide: book.composite.review
*/
/*
Formula Review page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.formulareview.xhtml-baked.html

  Style guide: book.composite.formulareview
*/
/*
  Practice  page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.practice.xhtml-baked.html

  Style guide: book.2-composite.practice
*/
/*
  Bringing It Together: Exercises page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.BITExercises.xhtml-baked.html

  Style guide: book.composite.BITExercises
*/
/*
  Homework page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.homework.xhtml-baked.html

  Style guide: book.composite.homework
*/
/*
  Bringing It Together: Homework page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.BITHomework.xhtml-baked.html

  Style guide: book.composite.BITHomework
*/
/*
  References page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/
/*
  Solutions page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.solutions.xhtml-baked.html

  Style guide: book.composite.solutions
*/
$Config_ChapterCompositePages: (
  (className: "glossary",                 clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",    name: "Key Terms"),
  (className: "summary",                  clusterBy: $CLUSTER_SECTION,                               name: "Chapter Review"),
  (className: "formula-review",           clusterBy: $CLUSTER_SECTION,                               name: "Formula Review"),
  (className: "practice",                 clusterBy: $CLUSTER_SECTION, hasSolutions: true,           name: "Practice"),
  (className: "bring-together-exercises", clusterBy: $CLUSTER_NONE,    hasSolutions: true,           name: "Bringing It Together: Practice"),
  (className: "free-response",            clusterBy: $CLUSTER_SECTION, hasSolutions: true,           name: "Homework"),
  (className: "bring-together-homework",  clusterBy: $CLUSTER_NONE,    hasSolutions: true,           name: "Bringing It Together: Homework"),
  (className: "references",               clusterBy: $CLUSTER_SECTION,                               name: "References"),
  (className: "solutions",                clusterBy: $CLUSTER_NONE, compoundComposite: true, moveSolutionsTo: $AREA_EOC,  name: "Solutions"),
);

$Config_BookCompositePages: (
  (className: "index",                    clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX,    name: "Index"),
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
);
/*==========================================================
  STATISTICS TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
// Drat, the order of os-title-label, os-number, os-divider matters ;(

$_exampleTitleContent        : (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ");
$_labTitleContent           : (os-title-label: "Stats Lab ");
$_tryTitleContent            : (os-title-label: "Try It ", os-number: counter(chapter) "." counter(example)); // Try it notes are numbered based on the example preceeding them


/*==========================================================
  STATISTICS CONFIG
==========================================================*/
$Config_SetTableCaption            : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: false, hasTitle: true);
$Config_SetFigureCaption           : (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);
//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: append($Config_TargetLabels,
  (selector: 'div[data-type="chapter"] .try', labelText: "Try It")
);

/*
  Example

  Contains a title "Example". Titles are numbered. Exercises inside aren't numbered.

  Markup: ./styleguide/page.example.xhtml-baked.html

  Style guide: page.example
*/
/*
  Try It note

  Contains a title "Try It" and the content of the note. Titles are numbered. Exercises inside aren't numbered.

  Markup: ./styleguide/page.note.try.xhtml-baked.html

  Style guide: page.note.try
*/
/*
  Using the TI-83, 83+, 84, 84+ Calculator note

  Contains a title "Using the TI-83, 83+, 84, 84+ Calculator" and the content of the note.

  Markup: ./styleguide/page.note.calculator.xhtml-baked.html

  Style guide: page.note.calculator
*/
/*
  Stats Lab note

  Contains a title "Stats Lab" and the content of the note.

  Markup: ./styleguide/page.note.lab.xhtml-baked.html

  Style guide: page.note.lab
*/
/*
  Collaborative Exercise note

  Contains a title "Collaborative Exercise" and the content of the note.

  Markup: ./styleguide/page.note.collab.xhtml-baked.html

  Style guide: page.note.collab
*/
$Config_Notes: (
  (className: 'calculator', moveSolutionTo: $AREA_NONE,  labelText: "Using the TI-83, 83+, 84, 84+ Calculator"),
  (className: 'lab',        moveSolutionTo: $AREA_NONE,  counterName: lab,  titleContent: $_labTitleContent),
  (className: 'collab',     moveSolutionTo: $AREA_NONE,  labelText: "Collaborative Exercise", replaceHeader: true),
  (className: 'chapter-objectives', moveSolutionTo: $AREA_NONE,  labelText: "Chapter Objectives", replaceHeader: true),
  (className: 'try',        moveSolutionTo: $AREA_TRASH, counterName: Try, titleContent: $_tryTitleContent, replaceHeader: true), // try it notes are numbered based on the example preceeding them
);

$Config_UnnumberedElements: (
  (contextSelector: '.try',                   childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="example"]',  childSelector: '[data-type="exercise"]'),
);

/*
  Chapter Objectives

  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.chapter-objectives.xhtml-baked.html

  Style guide: page.note.chapter-objectives
*/
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Chapter:  ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();
$Config_abstractTitle: null;
// Coverage optimizations
$Config_Coverage_MayHaveSimlinks: false;
$Config_Coverage_MayHaveIframes: false;
$Config_Coverage_MayHaveMissingExercises: false;

$Config_hasCompositeChapter: false;
