requests
git+https://github.com/Connexions/cssselect2.git#egg=cssselect2
git+https://github.com/Connexions/cnx-easybake.git@css-coverage#egg=cnxeasybake
git+https://github.com/Connexions/cnx-epub.git#egg=cnxepub
