requests
pytest
PyICU==1.9.8
-e git+https://github.com/Connexions/cssselect2.git@master#egg=cssselect2
-e git+https://github.com/Connexions/cnx-easybake.git@master#egg=cnxeasybake
-e git+https://github.com/Connexions/cnx-epub.git@master#egg=cnxepub
