
/* Please add the following CSS */
.os-table .os-caption-container {
    font-size: 12px;
    padding: 0px;
    text-align: left;
}
.os-table, table.key-terms {
    display: table;
    width: 100%;
}
.os-table table {
    margin: .5em auto;
    width: 100%;
}
.os-table caption {
    color: #777;
    caption-side: bottom;
    text-align: left;
}

/* modification to titles below is necessary to override
.section-resource .resource-item .view-content span[data-type="title"] applied elsewhere
*/

/*testing only .node-type-resource .view-content */
.node-type-resource .view-content .os-table .os-title[data-type="title"] {
    font-size: 12px;
    color: #333;
    text-transform: none;
    display: inline;
    border-bottom: 0;
}



/* The following were originally found inside these selectors:
  .page-dashboard-courses.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body,
  .page-dashboard-binders.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body
  .page-dashboard-resources.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body {
*/


/* Please delete the following block
testing only: .field-name-field-subcontent-html-body, to be removed before sending to TEG
*/
.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[data-number-style="lower-alpha"] {
    list-style-type: none;
    counter-reset: listAlphaCounter;
}
.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[data-number-style="lower-alpha"] > li {
    counter-increment: listAlphaCounter;
}
.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[data-number-style="lower-alpha"] > li:before {
    content: counter(listAlphaCounter, upper-alpha) " ";
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
}
/* end of block to be deleted */



.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] {
    list-style-type: none;
    counter-reset: listAlphaCounter;
    /* add this line */ margin-left: 2em;
}

.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] > li {
    counter-increment: listAlphaCounter;
    /*for testing only*/ display: block;
    /* delete this line* display: flex;*/
}

.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] > li:before {
    content: counter(listAlphaCounter, upper-alpha);
    font-weight: bold;
    display: inline-block;
   /*delete this line  margin-right: 1em;*/
   /*add lines below */
    position: absolute;
    left: 4.5em;
}
/* Global change but makes the subscript look much better when not in Math - Apply only if desirable */
sub {
    bottom: -0.50em;
}