


/* This file contains the CSS needed by TEG in order to style the books properly */


/* Addresses the following:
   https://github.com/Connexions/cnx-recipes/issues/319 item 2
   https://github.com/Connexions/cnx-recipes/issues/316
   https://github.com/Connexions/cnx-recipes/issues/311
   https://github.com/Connexions/cnx-recipes/issues/286#issuecomment-324109223
*/

/* the gateway classes have been kept to allow for testing, they need to be modified before sending to TEG */


/* generic sub modification .5em is clearer than .25 */

sub {
    bottom: -0.50em;
}

.os-eoc [data-type="problem"] ol[type="a"] {
    list-style-type: none;
    counter-reset: listAlphaCounter;
    /* add this line */ margin-left: 2em;
}

.os-eoc [data-type="problem"] ol[type="a"] > li {
    counter-increment: listAlphaCounter;
    /* delete this line* display: flex;*/
}

.os-eoc [data-type="problem"] ol[type="a"] > li:before {
    content: counter(listAlphaCounter, upper-alpha);
    font-weight: bold;
    display: inline-block;
   /*delete this line  margin-right: 1em;*/
   /*add lines below */
    position: absolute;
    left: 4.5em;
}


/* From https://d321jvp1es5c6w.cloudfront.net/sites/default/files/advagg_css/css__eLbtrNEakHAskKz10Al4EufHPSCmdq498NdOgfiK4VY__yXbqdVARHRJIz4pZvlq7uymE8qzqs8sSqXkCJxQGWsc__On0w1NR6BEoIxcDCxVkkOlVx51e6UAVS1Er8SarNva0.css */

/* The following were found inside the `.node-type-resource` selector */
.os-figure {
    text-align: center;
}
.os-figure figure {
    display: table;
    width: 100%;
}
.os-figure figure figure {
    counter-increment: subfigure;
    display: table-cell;
    width: 50%;
    text-align: center;
}
.os-figure figure figure:after {
    content: "(" counter(subfigure, lower-alpha) ")";
    display: block;
    font-size: 11px;
    font-weight: 700;
}

.os-caption-container .os-title-label,
.os-caption-container .os-number {
    font-weight: 700;
}
.os-chapter-outline {
    margin-bottom: 14px;
}
[data-type="note"] {
    background: #eee;
    border: solid 2px #ddd;
    padding: 20px;
    margin: 0 0 20px;
}
[data-type="note"] [data-type="title"] {
    border-bottom: solid 2px #ddd;
    color: #777;
    font-size: 14px;
    margin-bottom: 14px;
    padding-bottom: 4px;
    text-transform: uppercase;
}
[data-type="note"] p:last-child {
    margin-bottom: 0;
}
[data-type="solution"] {
    border-top: solid 1px #888;
    margin-bottom: 20px;
    padding-top: 13px;
}
[data-type="solution"] [data-type="title"] {
    font-weight: 700;
}
[data-type="solution"] p {
    padding: 0 20px;
}
span[data-type="term"] {
    font-weight: 700;
}
.os-table {
    display: table;
    width: 100%;
}
.os-table table {
    margin: .5em auto;
    width: 100%;
}

.os-table caption {
    color: #777;
    caption-side: bottom;
    text-align: left;
}
/** found in .section-resource **/
.os-table .os-caption-container {
    font-size: 12px;
    padding: 0 !important;
    text-align: left;
    display: table-caption;
    caption-side: bottom;
}
.os-table .os-caption-container span {
    display: inline;
}
/** found in .section-resource .resource-item .view-content ***/
.os-table .os-caption-container [data-type="title"].os-title {
    font-size: 12px;
    color: black;
    text-transform: none;
    display: inline;
    border-bottom: 0;
}

/* The following were originally found inside these selectors:
  .page-dashboard-courses.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body,
  .page-dashboard-binders.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body
  .page-dashboard-resources.page-dashboard-resources-step-two .center-wrapper .panel-col-last .inside #subcontent-container li.views-row .views-field.views-field-field-subcontent-html-body {
*/

.os-eoc [data-type="problem"] table {
    margin: 0 auto;
}
.os-eoc [data-type="problem"] .os-number,
.os-eoc [data-type="problem"] .os-divider {
    float: left;
    margin-right: 4px;
}
.os-eoc [data-type="problem"] .os-caption-container .os-number {
    float: none;
}
.os-eoc [data-type="problem"] .os-number {
    font-weight: 700;
}
/** found in .field-name-field-subcontent-html-body **/
.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] {
    list-style-type: none;
    counter-reset: listAlphaCounter;
    padding: 0 0 0 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] > li {
    counter-increment: listAlphaCounter;
    /**remove me **/
    display: block;
}
.field-name-field-subcontent-html-body .os-eoc [data-type="problem"] ol[type="a"] > li::before {
    content: counter(listAlphaCounter, upper-alpha);
    font-weight: bold;
    display: inline-block;
    margin-right: 0em;
}
