$PagesWithBands: ();

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

//Settings

@include add_settings ((
    ChapterIntro: (
        _selectors: (".introduction"),
        'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
        'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
        'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
        'OutlineObjectiveLinkWithLO:::color':(_ref: 'colorMap:::linkColor'),
        'OutlineObjectiveLOButton:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lobullet.svg")) no-repeat bottom left,
        'ChapterOutlineObjectiveWithLOText:::color': (_ref: 'colorMap:::fontBodyColor'),
        'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
        'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
    )
));

//Notes
@include add_settings ((
    // BoxedNoteWithSubtitleShape
    YourTurn: (
        _selectors: (".your-turn"),
        'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
        'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
        'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
    ConceptsPractice: (
        _selectors: ('.concepts-practice'),
        "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
        "Title:::font-family": ( _ref: "typography:::titleFont" ),
        "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
        "Body:::font-family": ( _ref: "typography:::baseFont" ),
        "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
        "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
        "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    ),
    ThinkItThrough: (
        _selectors: ('.think-through'),
        "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
        "Title:::font-family": ( _ref: "typography:::titleFont" ),
        "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
        "Body:::font-family": ( _ref: "typography:::baseFont" ),
        "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
        "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
        "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    )
));

@include add_settings((
    EmphasizedColoredText: (
        _selectors: ('.colored-text'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::emphasizedTextColor'),
    )
));

@include use('BookRoot', 'common:::BookRoot');
@include use('EmphasizedColoredText', 'common:::ColoredText');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');

@include use('Figure','cardboard:::FigureShape');

//Settings

@include use('ChapterIntro', 'cardboard:::ChapterIntroShapeWithLO');

//Notes
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('YourTurn', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ThinkItThrough', 'cardboard:::BoxedNoteWithSubtitleShape');

@include use('NotesLists', 'cardboard:::NotesListsShape');

// Eob
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
