@mixin folio-typography() {
  font-family: $font-family-serif;
  color: $folio-color;
  font-size: 10px; //cannot acheive with font-scale
}
@mixin folio-chapter-header() {
  background-color: transparent;
  color: $folio-chapter-header-color;
  font-weight: bold;
}
