@import "mixins/variables";

@import "mixins/mixins";



@import 'parts/paged';
@import 'parts/notes';
cnx-pi {
  display: none;
}

[data-type="metadata"] {
  display: none;
}

body {
  color: color-map(bodyText_colorMap);
  font-size: base-font-size();
  font-family: font-map(sans-serif);
}

a:link {
  @include link-style(color-map(bodyLink_colorMap));
}

.bold.centered-text {
  text-align: center;
  display: block;

  strong {
    font-weight: 100;
  }
}
