@import "typography";
@import "folio";


cnx-pi {
  display: none;
}
[data-type="metadata"] {
  display: none;
}
body {
  color: $default-text;
  font-size: $base-font-size;
}
//global theme stuff
.bold.centered-text {
  text-align: center;
  display: block;

  strong {
    font-weight: 100;
  }
}
