@import '../../node_modules/normalize-scss/sass/normalize';

@if PLATFORM() == 'PDF' {
  @include normalize();
}

@import 'style/modules.scss';
@import 'style/notes.scss';
@import 'style/eoc.scss';
@import 'style/eob.scss';

@if PLATFORM() == 'PDF' {
  cnx-pi {
    display: none;
  }
  
  [data-type="metadata"] {
    display: none;
  }
  
  body {
    color: color-map(bodyText);
    font-size: base-font-size();
    font-family: font-map(sans-serif);
    line-height: base-line-height();
    //vs line-height: line-height(0); vs $base-line-height???
  }
}

/* TODO: These should be scoped in a Page */
a[href] {
  @include link-style(color-map(bodyLink));
}

.bold.centered-text {
  text-align: center;
  display: block;

  strong {
    font-weight: 100;
  }
}
