/* http://meyerweb.com/eric/tools/css/reset/
  v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.title {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Liberation Sans, sans-serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
  padding: 2em;
}
a {
  color: #A06A19;
  font-weight: bold;
  text-decoration: none;
}
p,
figure,
section,
ul,
li {
  margin-bottom: 1em;
}
ul,
ol {
  margin-left: 2em;
}
[data-type="keyword"],
[data-type="subject"],
.authors,
.publishers,
.permissions,
.copyright,
.metadata,
[data-type="metadata"],
[data-type="cnx.flag.introduction"],
[data-type="cnx.eoc"] {
  display: none;
}
body > [data-type="page"] [data-type="abstract"] {
  border: 0;
}
body > [data-type="page"] [data-type="abstract"]:before {
  content: "Abstract";
  margin-bottom: 0.5em;
}
body > [data-type="page"] [data-type="title"] {
  color: #0061AA;
  font-size: 1.5em;
}
[data-type="document-title"] {
  font-size: 3em;
  margin-bottom: 1em;
  color: #0061AA;
}
[data-type='chapter'] {
  margin-bottom: 3em;
}
[data-type='chapter'] [data-type='page'] {
  margin-bottom: 1em;
}
[data-type='chapter'] [data-type='page'] figcaption {
  display: caption;
  caption-side: bottom;
}
[data-type='chapter'] [data-type='page'] [data-type='document-title'] {
  background: #FAA61A;
  text-align: left;
  padding: 0 .2em;
  margin-bottom: 0.5em;
  font-size: 2em;
  line-height: 1.5;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
}
[data-type='chapter'] [data-type='page'] [data-type='title'] {
  font-size: 16px;
  font-weight: bold;
  color: #0061AA;
  margin-bottom: 0.5em;
}
[data-type='chapter'] table {
  margin: auto;
}
[data-type='chapter'] table thead tr:not(:first-child) {
  background: #0061AA;
  padding: 10px;
  color: white;
  border: solid 1px black;
}
[data-type='chapter'] table tbody td {
  padding: 10px;
  border: solid 1px black;
}
[data-type="glossary"] [data-type='glossary-title'] {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.eoc-glossary dl {
  margin-bottom: 0.5em;
}
.eoc-glossary dl dt {
  font-weight: bold;
  padding-right: ;
  display: inline;
}
.eoc-glossary dl dt,
.eoc-glossary dl dd {
  display: inline;
}
div[class^="eoc-"] h1 {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
div[class^="eoc-"] [data-type="document-title"] {
  font-weight: bold;
  padding-top: .5em;
  font-size: 1.2em;
  color: #0061AA;
}
.eoc-summary .summary h1 {
  display: none;
}
[data-type="abstract"] {
  border: solid 1px #0061AA;
  margin-bottom: 0.5em;
}
[data-type="abstract"]:before {
  content: "Table of Contents";
  padding: 0.5em 0;
  display: block;
  color: white;
  text-align: center;
  background: #0061AA;
}
[data-type="abstract"] ul {
  margin: 1em 3em;
}
[data-type="example"] {
  background: rgba(0, 97, 170, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}
[data-type="example"] [data-type="title"] {
  color: #FAA61A;
  display: block;
}
[data-type="example"] .body {
  background: #8FB733;
  border-top: solid 1px #FAA61A;
}
[data-type="example"] [data-type="note"] {
  text-align: right;
}
[data-type="note"] {
  background: #FBF2E2;
  padding: 1em;
  margin-bottom: 1em;
}
[data-type="note"] [data-type="title"] {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
[data-type="note"] span[data-type="title"] {
  display: block;
  border: none;
  font-size: 1em;
}
[data-type="note"] .body {
  background: #8FB733;
  border-top: solid 1px #FAA61A;
}
div[class^="eob-"] h1 {
  font-size: 2em;
  color: #0061AA;
}
span[data-type="term"] {
  font-weight: bold;
}
.eob-index .group-by {
  padding-bottom: 2em;
}
.eob-index .group-label {
  font-size: 1.5em;
  font-weight: bold;
  color: #0061AA;
}
.eob-index .glossary-term {
  padding-right: 10px;
}
