

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@blue: #0061AA;
@orange: #FAA61A;
@dark-orange: #A06A19; // backup color: #D89016;
@cream: #FBF2E2;
@green: #8FB733;
@light-green: #F1F6E6;
@chapter-outline: "Chapter Outline";
@spacing: .5em;
@title-size: 16px;
.title {
  border-bottom: 1px solid @orange;
  font-size: @title-size;
  color: @blue;
  margin-bottom: @spacing;
  line-height: 1.5em;
  font-weight: bold;
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Liberation Sans,sans-serif,STIXGeneral,STIXSizeOneSym,STIXSize1;
  padding: 2em;
}

a {
  color: @dark-orange;
  font-weight: bold;
  text-decoration: none;
}

p, figure, section, ul, li {
  margin-bottom: 1em;
}
ul, ol {
  margin-left: 2em;
}
[data-type="keyword"], [data-type="subject"], .authors, .publishers, .permissions, .copyright, .metadata, [data-type="metadata"], [data-type="cnx.flag.introduction"], [data-type="cnx.eoc"] {
  display: none;
}
body > [data-type="page"] {
  [data-type="abstract"] {
    border: 0;
    &:before {
      content: "Abstract";
      margin-bottom: @spacing;
    }
  }
  [data-type="title"] {
    color: @blue;
    font-size: 1.5em;
  }
}
[data-type="document-title"] {
  font-size: 3em;
  line-height: 0.1em;
  margin-bottom: 1em;
  color: @blue;
}
[data-type='chapter'] {
  margin-bottom: 3em;
  section.key-equations {

}
  [data-type='page'] {
    margin-bottom: 1em;
    figcaption {
      display: caption;
      caption-side: bottom;
    }
    [data-type='document-title'] {
      background: @orange;
      text-align: left;
      padding: 0 .2em;
      margin-bottom: @spacing;
      font-size: 2em;
      line-height: 1.5;
      font-weight: normal;
      text-transform: uppercase;
      color: #FFF;
    }
    [data-type='title'] {
      font-size: @title-size;
      font-weight: bold;
      color: @blue;
      margin-bottom: @spacing;
    }
  }
  table {
    thead{
      tr:not(:first-child) {
        padding: 10px;
        background: @blue;
        padding: 10px;
        color: white;
        border: solid 1px black;
      }
    }
  tbody td {
      padding: 10px;
      border: solid 1px black;
    }
    margin: auto;
  }
}
  [data-type="glossary"] {
      [data-type='glossary-title'] {
        .title;
      }
  }
    .eoc-glossary {
      dl {
        margin-bottom: @spacing;
        dt {
          font-weight: bold;
          padding-right: ;
          display: inline;
        }
        dt, dd {
          display: inline;
        }
      }
    }
    div[class^="eoc-"] {
      h1 {
        margin-bottom: @spacing;
        .title;
      }
      [data-type="document-title"] {
          font-weight: bold;
          padding-top: .5em;
          font-size: 1.2em;
          color: @blue;
        }
    }
    .eoc-summary {
      .summary {
        h1 {
          display: none;
        }
      }
    }
[data-type="abstract"] {
  border: solid 1px @blue;
  margin-bottom: @spacing;

  &:before {
    content: "Table of Contents";
    padding: @spacing 0;
    display: block;
    color: white;
    text-align: center;
    background: @blue;
  }
  ul {
    margin: 1em 3em;
  }
}
[data-type="note"],  {
  background: @cream;
  padding: 1em;
  margin-bottom: 1em;
  [data-type="title"]{
    color: @blue;
    border-bottom: 1px solid @orange;
  }
  .body {
    background: @green;
    border-top: solid 1px @orange;
  }
}

div[class^="eob-"]  {
  h1 {
   font-size: 2em;
   color: @blue;
  }
}
span[data-type="term"] {
  font-weight: bold;
}
.eob-index {
  .group-by {
    padding-bottom: 2em;
  }
  .group-label {
    font-size: 1.5em;
    font-weight: bold;
    color: @blue;
  }
  .glossary-term {
    padding-right: 10px;
  }
}


