/* http://meyerweb.com/eric/tools/css/reset/
  v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.title {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Liberation Sans, sans-serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
  padding: 2em;
}
a {
  color: #A06A19;
  font-weight: bold;
  text-decoration: none;
}
p,
figure,
section,
ul,
li {
  margin-bottom: 1em;
}
ul,
ol {
  margin-left: 2em;
}
[data-type="document-title"] {
  font-size: 4em;
  margin-bottom: 1em;
  color: #0061AA;
  text-align: center;
}
[data-type='chapter'] [data-type='page'] {
  margin-bottom: 1em;
}
[data-type='chapter'] [data-type='page'] [data-type='document-title'] {
  background: #FAA61A;
  text-align: left;
  padding: 0 .2em;
  margin-bottom: 0.5em;
  font-size: 2em;
  line-height: 1.5;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
}
[data-type='chapter'] [data-type='page'] [data-type='title'] {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
[data-type='chapter'] [data-type='page'] [data-type='glossary'] [data-type='glossary-title'] {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
[data-type='chapter'] [data-type='page'] [data-type='glossary'] dl {
  margin-bottom: 0.5em;
}
[data-type='chapter'] [data-type='page'] [data-type='glossary'] dl dt {
  font-weight: bold;
  padding-right: ;
}
[data-type='chapter'] [data-type='page'] [data-type='glossary'] dl dt,
[data-type='chapter'] [data-type='page'] [data-type='glossary'] dl dd {
  display: inline;
}
[data-type="abstract"] {
  border: solid 1px #0061AA;
  margin-bottom: 0.5em;
}
[data-type="abstract"]:before {
  content: "Table of Contents";
  padding: 0.5em 0;
  display: block;
  color: white;
  text-align: center;
  background: #0061AA;
}
[data-type="abstract"] ul {
  margin: 1em 3em;
}
[data-type="note"] {
  background: #FBF2E2;
  padding: 1em;
  margin-bottom: 1em;
}
[data-type="note"] [data-type="title"] {
  color: #0061AA;
  border-bottom: 1px solid #FAA61A;
}
[data-type="note"] .body {
  background: #8FB733;
  border-top: solid 1px #FAA61A;
}
.section-summary [data-type="title"] {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
[data-type="exercise"] {
  padding: 0;
}
[data-type="exercise"]:first-child {
  padding-top: 1em;
}
[data-element-type="conceptual-questions"],
[data-element-type="check-understanding"],
[data-element-type="check-understanding"] {
  background: #F1F6E6;
  padding: 1em;
}
[data-element-type="conceptual-questions"] [data-type="title"],
[data-element-type="check-understanding"] [data-type="title"],
[data-element-type="check-understanding"] [data-type="title"] {
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.problems-exercises:before {
  content: "Not End of Chapter Exercises (yet)";
  display: block;
  margin-bottom: 1em;
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.problems-exercises [data-type="title"] {
  font-weight: bold;
  border-bottom: none;
}
.eoc-exercises {
  counter-reset: eoc-exercises;
}
.eoc-exercises:before {
  content: "End of Chapter Exercises";
  display: block;
  margin-bottom: 1em;
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.eoc-exercises [data-type="title"] {
  font-size: 1.2em;
}
.eoc-exercises [data-element-type="problems-exercises"]:before {
  content: "";
  display: none;
}
.eoc-exercises [data-type="exercise"]:before {
  display: inline;
  font-weight: bold;
  content: "Exercise " counter(eoc-exercises);
  counter-increment: eoc-exercises;
}
.eoc-exercises [data-type="problem"] {
  display: inline;
}
.eob-solutions:before {
  content: "Answer Key";
  display: block;
  margin-bottom: 1em;
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.eob-glossary:before {
  content: "Glossary";
  display: block;
  margin-bottom: 1em;
  border-bottom: 1px solid #FAA61A;
  font-size: 16px;
  color: #0061AA;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}
.eob-glossary dl {
  margin-bottom: 0.5em;
}
.eob-glossary dl dt {
  font-weight: bold;
  padding-right: ;
}
.eob-glossary dl dt,
.eob-glossary dl dd {
  display: inline;
}
