div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter'] div[data-type="page"] div[data-type="solution"] {
  move-to: chapterSolutions;
}
body::after {
  class: eob-solutions;
  content: pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.practice-test {
  move-to: eoc-practice-test;
}
div[data-type='chapter']::after {
  content: pending(eoc-practice-test);
  class: eoc-practice-test;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.key-equations {
  move-to: eoc-key-equations;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-equations);
  class: eoc-key-equations;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.key-concepts {
  move-to: eoc-key-concepts;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-concepts);
  class: eoc-key-concepts;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.review-exercises {
  move-to: eoc-review-exercises;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-exercises);
  class: eoc-review-exercises;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.try .solution {
  move-to: eob-try;
}
div[data-type='chapter'] section.section-exercises .solution {
  move-to: eob-section-exercises;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
body::after {
  content: pending(eob-try);
  class: eob-try;
  container: div;
  move-to: eob-all;
}
body::after {
  content: pending(eob-section-exercises);
  class: eob-section-exercise;
  container: div;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
