div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  string-set: section-title content();
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: content();
  container: span;
  class: index-term;
  move-to: index-term;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: pending(index-term) pending(link);
  class: index-item;
  move-to: eob-index;
}
body > [data-type="metadata"] {
  node-set: bookMetadata;
}
body div.end-of-chapter [data-type="cnx-archive-uri"],
body div.end-of-book [data-type="cnx-archive-uri"] {
  pass: 2;
  move-to: trash;
}
body::before {
  container: h1;
  content: "Answer Key";
  move-to: answerTitle;
}
body::before {
  container: h1;
  content: "Index";
  move-to: indexTitle;
}
body::after {
  class: eob-index;
  data-type: page;
  content: nodes(bookMetadata) pending(indexTitle) pending(eob-index);
  group-by: span, "span::first-letter";
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
body::after {
  pass: 100;
  content: clear(trash);
}
div[data-type='chapter'] section.conceptual-questions {
  move-to: eoc-conceptual-questions;
}
div[data-type='chapter']::after {
  content: pending(eoc-conceptual-questions);
  class: eoc-conceptual-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.problems-exercises {
  move-to: eoc-problems-exercises;
}
div[data-type='chapter']::after {
  content: pending(eoc-problems-exercises);
  class: eoc-problems-exercises;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.ap-test-prep {
  move-to: eoc-ap-test-prep;
}
div[data-type='chapter']::after {
  content: pending(eoc-ap-test-prep);
  class: eoc-ap-test-prep;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
