div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter'] div[data-type="page"] div[data-type="solution"] {
  move-to: chapterSolutions;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] section.section-summary {
  move-to: section-summary;
}
div[data-type='chapter'] div[data-type="page"]::after {
  class: summary;
  content: nodes(sectionTitle) pending(section-summary);
  move-to: eoc-section-summary;
}
div[data-type='chapter']::after {
  class: eoc-summary;
  content: pending(eoc-section-summary);
  move-to: eoc-all;
}
body::after {
  class: eob-solutions;
  content: pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.further-exploration {
  move-to: eoc-further-exploration;
}
div[data-type='chapter']::after {
  content: pending(eoc-further-exploration);
  class: eoc-further-exploration;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.group-activities {
  move-to: eoc-group-activities;
}
div[data-type='chapter']::after {
  content: pending(eoc-group-activities);
  class: eoc-group-activities;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.review-question {
  move-to: eoc-review-question;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-question);
  class: eoc-review-question;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.thought-questions {
  move-to: eoc-thought-questions;
}
div[data-type='chapter']::after {
  content: pending(eoc-thought-questions);
  class: eoc-thought-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.thought-questions {
  move-to: eoc-thought-questions;
}
div[data-type='chapter']::after {
  content: pending(eoc-thought-questions);
  class: eoc-thought-questionst;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.figuring-for-yourself {
  move-to: eoc-figuring-for-yourself;
}
div[data-type='chapter']::after {
  content: pending(eoc-figuring-for-yourself);
  class: eoc-figuring-for-yourselft;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
