div[data-type='book'] {
  counter-reset: chapter;
}
div[data-type='chapter'] {
  counter-reset: section figure table list;
  counter-increment: chapter;
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] .eoc-exercises {
  counter-reset: exercise;
}
div[data-type='chapter'] div[data-type='exercise'] {
  counter-increment: exercise;
}
div[data-type='chapter'] > div[data-type='document-title'] {
  string-set: chapter-title content();
  content: '';
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter);
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(chapter-title);
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title'] {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter) '.' counter(section);
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] div[data-type="page"] > section {
  counter-increment: subsection;
}
div[data-type='chapter'] .eoc-section-summary > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .eoc-exercises div[data-type='problem']::before {
  content: 'Exercise ' counter(exercise);
}
div[data-type='chapter'] dl.definition {
  copy-to: eoc-key-terms;
}
div[data-type='chapter'] section.section-summary {
  move-to: eoc-section-summary;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter']::after {
  class: eoc-section-summary;
  content: pending(eoc-section-summary);
  container: div;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
}
div[data-type='chapter'] .art-exercise,
div[data-type='chapter'] .multiple-choice,
div[data-type='chapter'] .free-response {
  counter-reset: exercise;
}
div[data-type='chapter'] .art-exercise > section h1.title,
div[data-type='chapter'] .multiple-choice > section h1.title,
div[data-type='chapter'] .free-response > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .art-exercise > section h1.title::span,
div[data-type='chapter'] .multiple-choice > section h1.title::span,
div[data-type='chapter'] .free-response > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xhref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .art-exercise > section h1.title::span,
div[data-type='chapter'] .multiple-choice > section h1.title::span,
div[data-type='chapter'] .free-response > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .art-exercise div[data-type='problem']::before,
div[data-type='chapter'] .multiple-choice div[data-type='problem']::before,
div[data-type='chapter'] .free-response div[data-type='problem']::before {
  content: counter(exercise) '.';
}
div[data-type='chapter'] section.art-exercise {
  move-to: eoc-art-exercise;
}
div[data-type='chapter'] section.multiple-choice {
  move-to: eoc-multiple-choice;
}
div[data-type='chapter'] section.free-response {
  move-to: eoc-free-response;
}
div[data-type='chapter']::after {
  content: pending(eoc-art-exercise);
  class: eoc-art-exercise;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-multiple-choice);
  class: eoc-multiple-choice;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-free-response);
  class: eoc-free-response;
  container: div;
}
