div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter'] div[data-type="page"] div[data-type="solution"] {
  move-to: chapterSolutions;
}
body::after {
  class: eob-solutions;
  content: pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.self-check-questions {
  move-to: eoc-self-check-questions;
}
div[data-type='chapter'] section.review-questions {
  move-to: eoc-review-questions;
}
div[data-type='chapter'] section.critical-thinking {
  move-to: eoc-critical-thinking;
}
div[data-type='chapter'] section.problems {
  move-to: eoc-problems;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-self-check-questions);
  class: eoc-self-check-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-problems);
  class: eoc-problems;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
