div[data-type='book'] {
  counter-reset: chapter;
}
div[data-type='chapter'] {
  counter-reset: section figure table list;
  counter-increment: chapter;
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] .eoc-exercises {
  counter-reset: exercise;
}
div[data-type='chapter'] div[data-type='exercise'] {
  counter-increment: exercise;
}
div[data-type='chapter'] > div[data-type='document-title'] {
  string-set: chapter-title content();
  content: '';
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter);
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(chapter-title);
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title'] {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter) '.' counter(section);
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] div[data-type="page"] > section {
  counter-increment: subsection;
}
div[data-type='chapter'] .eoc-section-summary > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .eoc-exercises div[data-type='problem']::before {
  content: 'Exercise ' counter(exercise);
}
div[data-type='chapter'] dl.definition {
  copy-to: eoc-key-terms;
}
div[data-type='chapter'] section.section-summary {
  move-to: eoc-section-summary;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter']::after {
  class: eoc-section-summary;
  content: pending(eoc-section-summary);
  container: div;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
}
div[data-type='chapter'] .review-questions,
div[data-type='chapter'] .critical-thinking,
div[data-type='chapter'] .references {
  counter-reset: exercise;
}
div[data-type='chapter'] .review-questions > section h1.title,
div[data-type='chapter'] .critical-thinking > section h1.title,
div[data-type='chapter'] .references > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .review-questions > section h1.title::span,
div[data-type='chapter'] .critical-thinking > section h1.title::span,
div[data-type='chapter'] .references > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xhref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .review-questions > section h1.title::span,
div[data-type='chapter'] .critical-thinking > section h1.title::span,
div[data-type='chapter'] .references > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .review-questions div[data-type='problem']::before,
div[data-type='chapter'] .critical-thinking div[data-type='problem']::before,
div[data-type='chapter'] .references div[data-type='problem']::before {
  content: counter(exercise) '.';
}
div[data-type='chapter'] section.review-questions {
  move-to: eoc-review-questions;
}
div[data-type='chapter'] section.critical-thinking {
  move-to: eoc-critical-thinking;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  container: div;
}
