div[data-type="chapter"] {
  counter-reset: section;
  counter-reset: figure;
}
div[data-type="chapter"] > h1[data-type="document-title"] {
  class: "chapter-title";
  container: h1;
  content: pending(chapterLabel) pending(chapterNumber) pending(chapterDivider) content();
}
div[data-type="chapter"] > h1[data-type="document-title"]::before {
  counter-increment: chapter;
  container: span;
  content: counter(chapter);
  move-to: chapterNumber;
}
div[data-type="chapter"] > h1[data-type="document-title"]::before {
  content: "Chapter";
  container: span;
  move-to: chapterLabel;
}
div[data-type="chapter"] > h1[data-type="document-title"]::before {
  content: " | ";
  container: span;
  move-to: chapterDivider;
}
div[data-type="chapter"] div[data-type="page"] > [data-type="document-title"] {
  class: "section-title";
  container: h1;
  content: pending(sectionLabel) " " pending(sectionNumber) " " pending(sectionDivider) content();
}
div[data-type="chapter"] div[data-type="page"] > [data-type="document-title"]::before {
  counter-increment: section;
  container: span;
  content: counter(chapter) "." counter(section);
  move-to: sectionNumber;
}
div[data-type="chapter"] div[data-type="page"] > [data-type="document-title"]::before {
  content: "section";
  container: span;
  move-to: sectionLabel;
}
div[data-type="chapter"] div[data-type="page"] > [data-type="document-title"]::before {
  content: " | ";
  container: span;
  move-to: sectionDivider;
}
div[data-type="chapter"] div[data-type="page"] figure figcaption {
  class: "figure-title";
  container: h1;
  content: pending(figureNumber) content();
}
div[data-type="chapter"] div[data-type="page"] figure figcaption::before {
  counter-increment: figure;
  container: span;
  content: "Fig." counter(chapter) "." counter(figure);
  move-to: figureNumber;
}
div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  string-set: section-title content();
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: content();
  container: span;
  class: glossary-term;
  move-to: gloss-term;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  content: pending(gloss-term) pending(link);
  class: glossary-item;
  move-to: eob-index;
}
div[data-type='chapter'] div[data-type="solution"] {
  move-to: chapterSolutions;
}
div[data-type='chapter'] div[data-type="glossary"] {
  move-to: trash;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::before {
  container: h1;
  class: sectionGlossary;
  content: "Glossary";
  move-to: sectionGlossary;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(sectionGlossary) pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: nodes(bookMetadata) pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
body > [data-type="metadata"] {
  node-set: bookMetadata;
}
body div.end-of-chapter [data-type="cnx-archive-uri"] {
  pass: 2;
  move-to: trash;
}
body::before {
  container: h1;
  content: "Answer Key";
  move-to: answerTitle;
}
body::after {
  class: eob-solutions;
  content: pending(answerTitle) pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::before {
  container: h1;
  content: "Index";
  move-to: indexTitle;
}
body::after {
  class: eob-index;
  content: pending(indexTitle) pending(eob-index);
  group-by: span, "span::first-letter";
  move-to: eob-all;
}
body::after {
  content: nodes(bookMetadata) pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
body::after {
  pass: 2;
  content: clear(trash);
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  node-set: sectionTitle;
}
div[data-type='chapter'] section.section-summary {
  move-to: summary;
}
div[data-type='chapter'] section.section-summary::after {
  class: summary;
  content: nodes(sectionTitle) pending(summary);
  move-to: eoc-summaries;
}
div[data-type='chapter']::before {
  container: h1;
  class: summary-title;
  content: "Section Summary";
  move-to: summaryTitle;
}
div[data-type='chapter']::after {
  class: eoc-summary;
  content: pending(summaryTitle) pending(eoc-summaries);
  move-to: eoc-all;
}
div[data-type='chapter'] section.conceptual-questions {
  move-to: trash;
}
div[data-type='chapter'] section.conceptual-questions .exercise {
  move-to: eoc-conceptual-questions;
}
div[data-type='chapter']::before {
  container: h1;
  class: conceptual-questions-title;
  content: "Conceptual Questions";
  move-to: conceptualTitle;
}
div[data-type='chapter']::after {
  content: pending(conceptualTitle) pending(eoc-conceptual-questions);
  class: eoc-conceptual-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.problems-exercises {
  move-to: trash;
}
div[data-type='chapter'] section.problems-exercises .exercise {
  move-to: eoc-problems-exercises;
}
div[data-type='chapter']::before {
  container: h1;
  class: problems-exercises-title;
  content: "Problems & Exercises";
  move-to: problemsTitle;
}
div[data-type='chapter']::after {
  content: pending(problemsTitle) pending(eoc-problems-exercises);
  class: eoc-problems-exercises;
  container: div;
  move-to: eoc-all;
}
