div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  string-set: section-title content();
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[a-zA-Z]) {
  attr-group-by: first-letter(content());
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[^a-zA-Z]) {
  attr-group-by: "";
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: content();
  attr-group-by: attr(group-by);
  container: span;
  class: glossary-term;
  move-to: index-term;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: pending(index-term) pending(link);
  class: index-item;
  move-to: eob-index;
}
body > [data-type="metadata"] {
  node-set: bookMetadata;
}
body div.end-of-chapter [data-type="cnx-archive-uri"],
body div.end-of-book [data-type="cnx-archive-uri"] {
  pass: 2;
  move-to: trash;
}
body::before {
  container: h1;
  content: "Answer Key";
  move-to: answerTitle;
}
body::before {
  container: h1;
  content: "Index";
  move-to: indexTitle;
}
body::after {
  pass: 2;
  class: "eob index";
  data-type: composite-page;
  content: pending(eob-index);
  group-by: span, "span::attr(group-by)", nocase;
}
body .eob.index > div.group-by:first-of-type > span.group-label {
  pass: 3;
  content: "Symbol";
}
body::after {
  pass: 100;
  content: clear(trash);
}
body > div[data-type="page"],
body > div[data-type="composite-page"] {
  pass: 20;
  string-set: page-id attr(id);
}
body > div[data-type="page"] > div[data-type="metadata"] > h1[data-type='document-title'],
body > div[data-type="composite-page"] > div[data-type="metadata"] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: page-title;
}
body > div[data-type="page"]::after,
body > div[data-type="composite-page"]::after {
  pass: 20;
  content: pending(page-title);
  attr-href: "#" string(page-id);
  container: a;
  move-to: page-link;
}
body > div[data-type="page"]::after,
body > div[data-type="composite-page"]::after {
  pass: 20;
  content: pending(page-link);
  move-to: eob-toc;
  container: li;
}
body > div[data-type='chapter'] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: eoc-toc;
}
body > div[data-type='chapter'] > div[data-type="page"],
body > div[data-type='chapter'] > div[data-type="composite-page"] {
  pass: 20;
  string-set: page-idi attr(id);
}
body > div[data-type='chapter'] > div[data-type="page"] > div[data-type="metadata"] > h1[data-type='document-title'],
body > div[data-type='chapter'] > div[data-type="composite-page"] > div[data-type="metadata"] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: page-title;
}
body > div[data-type='chapter'] > div[data-type="page"] > div[data-type="metadata"]::after,
body > div[data-type='chapter'] > div[data-type="composite-page"] > div[data-type="metadata"]::after {
  pass: 20;
  content: pending(page-title);
  attr-href: "#" string(page-id);
  container: a;
  move-to: page-link;
}
body > div[data-type='chapter'] > div[data-type="page"] > div[data-type="metadata"]::after,
body > div[data-type='chapter'] > div[data-type="composite-page"] > div[data-type="metadata"]::after {
  pass: 20;
  content: pending(page-link);
  move-to: eoc-toc-pages;
  container: li;
}
body > div[data-type='chapter']::after {
  pass: 20;
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc;
}
body > div[data-type='chapter']::after {
  pass: 20;
  content: pending(eoc-toc);
  container: li;
  move-to: eob-toc;
}
body > div[data-type="unit"] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: eou-toc;
}
body > div[data-type="unit"] > div[data-type='chapter'] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: eoc-toc;
}
body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"] > div[data-type="metadata"] > h1[data-type='document-title'],
body > div[data-type="unit"] > div[data-type='chapter'] div[data-type="composite-page"] > div[data-type="metadata"] > h1[data-type='document-title'] {
  pass: 20;
  copy-to: page-title;
}
body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"]::after,
body > div[data-type="unit"] > div[data-type='chapter'] div[data-type="composite-page"]::after {
  pass: 20;
  content: pending(page-title);
  move-to: eoc-toc-pages;
  container: li;
}
body > div[data-type="unit"] > div[data-type='chapter']::after {
  pass: 20;
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc;
}
body > div[data-type="unit"] > div[data-type='chapter']::after {
  pass: 20;
  content: pending(eoc-toc);
  container: li;
  move-to: eou-toc-chapters;
}
body > div[data-type="unit"]::after {
  pass: 20;
  content: pending(eou-toc-chapters);
  container: ol;
  class: unit;
  move-to: eou-toc;
}
body > div[data-type="unit"]::after {
  pass: 20;
  content: pending(eou-toc);
  container: li;
  move-to: eob-toc;
}
nav#toc {
  pass: 30;
  content: '';
}
nav#toc::after {
  pass: 30;
  content: pending(eob-toc);
  container: ol;
}
div[data-type='chapter'] section.review-questions {
  move-to: eoc-review-questions;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.critical-thinking {
  move-to: eoc-critical-thinking;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.personal-application {
  move-to: personal-application;
}
div[data-type='chapter']::after {
  content: pending(eoc-personal-application);
  class: personal-application;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  container: div;
}
