div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter'] div[data-type="page"] div[data-type="solution"] {
  move-to: chapterSolutions;
}
body::after {
  class: eob-solutions;
  content: pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.section-quiz {
  move-to: eoc-section-quiz;
}
div[data-type='chapter']::after {
  content: pending(eoc-section-quiz);
  class: eoc-section-quiz;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.short-answer {
  move-to: eoc-short-answer;
}
div[data-type='chapter']::after {
  content: pending(eoc-short-answer);
  class: eoc-short-answer;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.further-research {
  move-to: further-research;
}
div[data-type='chapter']::after {
  content: pending(eoc-further-research);
  class: further-research;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  container: div;
}
