div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  string-set: section-title content();
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[a-zA-Z]) {
  attr-group-by: first-letter(content());
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[^a-zA-Z]) {
  attr-group-by: "waka!";
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: content();
  attr-group-by: attr(group-by);
  container: span;
  class: glossary-term;
  move-to: index-term;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after {
  pass: 2;
  content: pending(index-term) pending(link);
  class: index-item;
  move-to: eob-index;
}
body > [data-type="metadata"] {
  node-set: bookMetadata;
}
body div.end-of-chapter [data-type="cnx-archive-uri"],
body div.end-of-book [data-type="cnx-archive-uri"] {
  pass: 2;
  move-to: trash;
}
body::before {
  container: h1;
  content: "Answer Key";
  move-to: answerTitle;
}
body::before {
  container: h1;
  content: "Index";
  move-to: indexTitle;
}
body::after {
  pass: 2;
  class: "eob index";
  data-type: composite-page;
  content: pending(eob-index);
  group-by: span, "span::attr(group-by)", nocase;
}
body .eob.index > div.group-by:first-of-type > span.group-label {
  pass: 3;
  content: "Symbol";
}
body::after {
  pass: 100;
  content: clear(trash);
}
div[data-type='chapter'] section.section-quiz {
  move-to: eoc-section-quiz;
}
div[data-type='chapter']::after {
  content: pending(eoc-section-quiz);
  class: eoc-section-quiz;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.short-answer {
  move-to: eoc-short-answer;
}
div[data-type='chapter']::after {
  content: pending(eoc-short-answer);
  class: eoc-short-answer;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.further-research {
  move-to: further-research;
}
div[data-type='chapter']::after {
  content: pending(eoc-further-research);
  class: further-research;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  container: div;
}
