/*Number chapters and static sections*/
/*Number solutions/EOC content*/
/*Assign exercise solutions to migrate to their own container*/
/*Title existing EOC/EOB containers*/
/*Create everything associated with the index*/
/*Create separate section in index for symbols*/
/*Create everything associated with the toc*/
/*Create toc nav*/
/*Add metadata to all locations*/
/*Add title to metatdata sections*/
/**/
body {
  counter-reset: chapter;
}
body div[data-type="chapter"] {
  pass: 20;
  counter-reset: exercises;
}
body div[data-type="chapter"] {
  counter-reset: section;
  counter-reset: example;
  counter-reset: figure;
  counter-reset: table;
  counter-reset: lab;
  counter-increment: chapter;
}
body div[data-type="chapter"]::before {
  container: span;
  content: counter(chapter);
  move-to: chapterNumber;
}
body div[data-type="chapter"]::before {
  content: "Chapter";
  container: span;
  move-to: chapterLabel;
}
body div[data-type="chapter"]::before {
  content: " | ";
  container: span;
  move-to: chapterDivider;
}
body div[data-type="chapter"] > h1[data-type="document-title"] {
  container: h1;
  content: pending(chapterLabel) " " pending(chapterNumber) pending(chapterDivider) content();
}
body div[data-type="chapter"] > div[data-type="page"]:not(:first-of-type)::before {
  counter-increment: section;
  container: span;
  content: counter(chapter) "." counter(section);
  move-to: sectionNumber;
}
body div[data-type="chapter"] > div[data-type="page"]:not(:first-of-type)::before {
  content: "section";
  container: span;
  move-to: sectionLabel;
}
body div[data-type="chapter"] > div[data-type="page"]:not(:first-of-type)::before {
  content: " | ";
  container: span;
  move-to: sectionDivider;
}
body div[data-type="chapter"] > div[data-type="page"] > [data-type="document-title"] {
  data-type: "document-title";
  container: div;
  content: pending(sectionNumber) " " pending(sectionDivider) content();
}
body div[data-type="chapter"] > div[data-type="page"] .example {
  counter-increment: example;
}
body div[data-type="chapter"] > div[data-type="page"] .example::before {
  content: counter(chapter) "." counter(example);
  container: span;
  move-to: exampleNumber;
}
body div[data-type="chapter"] > div[data-type="page"] .example::before {
  class: "example-title";
  container: h1;
  content: "Example " nodes(exampleNumber);
}
body div[data-type="chapter"] > div[data-type="page"] .example [data-type="solution"]::before {
  container: h1;
  data-type: title;
  content: "Solution " nodes(exampleNumber);
}
body div[data-type="chapter"] > div[data-type="page"] .try [data-type="problem"]::before {
  class: "try-number";
  container: h1;
  content: pending(exampleNumber);
}
body div[data-type="chapter"] > div[data-type="page"] .lab {
  counter-increment: lab;
}
body div[data-type="chapter"] > div[data-type="page"] .lab::before {
  content: "Stats Lab";
  class: "stat-lab-title";
  data-type: "title";
}
body div[data-type="chapter"] > div[data-type="page"] .lab > [data-type="title"]::before {
  content: counter(chapter) "." counter(lab);
  container: span;
  class: "lab-number";
  node-set: labNumber;
}
body .eoc [data-type="exercise"] [data-type="problem"] {
  pass: 20;
  counter-increment: exercises;
}
body .eoc [data-type="exercise"] [data-type="problem"]::before {
  pass: 20;
  container: span;
  content: counter(exercises);
  node-set: exerciseNumber;
}
body .eoc [data-type="exercise"] [data-type="solution"]::before {
  pass: 20;
  content: nodes(exerciseNumber);
}
div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"],
div[data-type='chapter'] div[data-type="composite-page"] > div[data-type="document-title"] {
  pass: default, 30;
  string-set: section-title content();
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[a-zA-Z]),
div[data-type='chapter'] div[data-type="composite-page"] span[data-type="term"]:match(^[a-zA-Z]) {
  attr-group-by: first-letter(content());
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]:match(^[^a-zA-Z]),
div[data-type='chapter'] div[data-type="composite-page"] span[data-type="term"]:match(^[^a-zA-Z]) {
  attr-group-by: "";
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after,
div[data-type='chapter'] div[data-type="composite-page"] span[data-type="term"]::after {
  pass: 50;
  content: content();
  attr-group-by: attr(group-by);
  container: span;
  class: glossary-term;
  move-to: index-term;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after,
div[data-type='chapter'] div[data-type="composite-page"] span[data-type="term"]::after {
  pass: 50;
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] div[data-type="page"] span[data-type="term"]::after,
div[data-type='chapter'] div[data-type="composite-page"] span[data-type="term"]::after {
  pass: 50;
  content: pending(index-term) pending(link);
  class: index-item;
  move-to: eob-index;
}
body > [data-type="metadata"] {
  node-set: bookMetadata;
}
body div.eoc [data-type="cnx-archive-uri"],
body div.eob [data-type="cnx-archive-uri"] {
  pass: 77;
  move-to: trash;
}
body::before {
  container: h1;
  content: "Answer Key";
  data-type: document-title;
  move-to: answerTitle;
}
body .eoc.glossary {
  pass: 75;
  content: nodes(bookMetadata) content();
}
body .eoc.glossary [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Glossary";
}
body .eoc.summary {
  pass: 75;
  content: nodes(bookMetadata) content();
}
body .eoc.summary [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Chapter Review";
}
body .eob.index {
  pass: 75;
  content: nodes(bookMetadata) content();
}
body .eob.index [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Index";
}
body .eob.index::before {
  pass: 52;
  container: h1;
  data-type: document-title;
  content: "Index";
}
body::after {
  pass: 50;
  class: "eob index";
  data-type: composite-page;
  content: pending(eob-index);
  group-by: span, "span::attr(group-by)", nocase;
}
body .eob.index > div.group-by:first-of-type > span.group-label {
  pass: 51;
  content: "Symbol";
}
body::after {
  pass: 100;
  content: clear(trash);
}
body > div[data-type="page"],
body > div[data-type="composite-page"] {
  pass: 60;
  string-set: page-id attr(id);
}
body > div[data-type="page"] > [data-type='document-title'],
body > div[data-type="composite-page"] > [data-type='document-title'] {
  string-set: pageTitle content();
  pass: 60;
}
body > div[data-type="page"]::after,
body > div[data-type="composite-page"]::after {
  pass: 60;
  content: string(pageTitle);
  attr-href: "#" string(page-id);
  container: a;
  move-to: page-link;
}
body > div[data-type="page"]::after,
body > div[data-type="composite-page"]::after {
  pass: 60;
  content: pending(page-link);
  move-to: eob-toc;
  container: li;
}
body > div[data-type='chapter'] > h1[data-type='document-title'] {
  string-set: chapterTitle content();
  pass: 60;
}
body > div[data-type='chapter']::after {
  pass: 60;
  content: string(chapterTitle);
  attr-href: "#" string(page-id);
  container: a;
  move-to: eoc-toc;
}
body > div[data-type='chapter'] > div[data-type="page"],
body > div[data-type='chapter'] > div[data-type="composite-page"] {
  pass: 60;
  string-set: page-idi attr(id);
}
body > div[data-type='chapter'] > div[data-type="page"] > [data-type='document-title'],
body > div[data-type='chapter'] > div[data-type="composite-page"] > [data-type='document-title'] {
  pass: 60;
  string-set: PageTitle content();
}
body > div[data-type='chapter'] > div[data-type="page"]::after,
body > div[data-type='chapter'] > div[data-type="composite-page"]::after {
  pass: 60;
  content: string(PageTitle);
  attr-href: "#" string(page-id);
  container: a;
  move-to: page-link;
}
body > div[data-type='chapter'] > div[data-type="page"]::after,
body > div[data-type='chapter'] > div[data-type="composite-page"]::after {
  pass: 60;
  content: pending(page-link);
  move-to: eoc-toc-pages;
  container: li;
}
body > div[data-type='chapter']::after {
  pass: 60;
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc;
}
body > div[data-type='chapter']::after {
  pass: 60;
  content: pending(eoc-toc);
  container: li;
  move-to: eob-toc;
}
body > div[data-type="unit"] > h1[data-type='document-title'] {
  pass: 60;
  copy-to: eou-toc;
}
body > div[data-type="unit"] > div[data-type='chapter'] > h1[data-type='document-title'] {
  container: div;
  data-type: "toc-title";
  pass: 60;
  copy-to: eoc-toc;
}
body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"] > [data-type='document-title'],
body > div[data-type="unit"] > div[data-type='chapter'] div[data-type="composite-page"] > [data-type='document-title'] {
  pass: 60;
  copy-to: page-title;
}
body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"]::after,
body > div[data-type="unit"] > div[data-type='chapter'] div[data-type="composite-page"]::after {
  pass: 60;
  content: pending(page-title);
  move-to: eoc-toc-pages;
  container: li;
}
body > div[data-type="unit"] > div[data-type='chapter']::after {
  pass: 60;
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc;
}
body > div[data-type="unit"] > div[data-type='chapter']::after {
  pass: 60;
  content: pending(eoc-toc);
  container: li;
  move-to: eou-toc-chapters;
}
body > div[data-type="unit"]::after {
  pass: 60;
  content: pending(eou-toc-chapters);
  container: ol;
  class: unit;
  move-to: eou-toc;
}
body > div[data-type="unit"]::after {
  pass: 60;
  content: pending(eou-toc);
  container: li;
  move-to: eob-toc;
}
nav#toc {
  pass: 65;
  content: '';
}
nav#toc::after {
  pass: 65;
  content: pending(eob-toc);
  container: ol;
}
div[data-type='chapter'] div[data-type="glossary"] {
  move-to: trash;
}
div[data-type='chapter'] div[data-type="glossary"] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::before {
  container: h1;
  class: sectionGlossary;
  data-type: document-title;
  content: "Glossary";
  move-to: sectionGlossary;
}
div[data-type='chapter']::after {
  class: "eoc glossary";
  data-type: composite-page;
  content: pending(sectionGlossary) pending(eoc-key-terms);
  sort-by: dl> dt;
}
div[data-type='chapter'] section.summary {
  move-to: summary;
}
div[data-type='chapter'] section.summary > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.summary::after {
  class: summary;
  content: nodes(sectionTitle) pending(summary);
  move-to: eoc-summaries;
}
div[data-type='chapter']::before {
  container: h1;
  class: summary-title;
  data-type: document-title;
  content: "Chapter Review";
  move-to: summaryTitle;
}
div[data-type='chapter']::after {
  class: "eoc summary";
  data-type: composite-page;
  content: pending(summaryTitle) pending(eoc-summaries);
}
div[data-type='chapter'] section.formula-review {
  move-to: eoc-formula-review;
}
div[data-type='chapter'] section.formula-review > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.formula-review::before {
  content: nodes(sectionTitle);
}
div[data-type='chapter']::after {
  content: pending(eoc-formula-review);
  class: "eoc formula-review-container";
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.practice {
  move-to: eoc-practice;
  content: nodes(sectionTitle) content();
}
div[data-type='chapter'] section.practice > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.practice div[data-type="solution"] {
  move-to: eoc-solutions;
  pass: 25;
}
div[data-type='chapter']::after {
  content: pending(eoc-practice);
  class: "eoc practice-container";
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.bring-together-exercises {
  move-to: eoc-bring-together-exercises;
}
div[data-type='chapter'] section.bring-together-exercises > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.bring-together-exercises::before {
  content: nodes(sectionTitle);
}
div[data-type='chapter'] section.bring-together-exercises div[data-type="solution"] {
  move-to: eoc-solutions;
  pass: 25;
}
div[data-type='chapter']::after {
  content: pending(eoc-bring-together-exercises);
  class: "eoc bring-together-exercises-container";
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.free-response {
  move-to: eoc-free-response;
}
div[data-type='chapter'] section.free-response > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.free-response::before {
  content: nodes(sectionTitle);
}
div[data-type='chapter'] section.free-response div[data-type="solution"] {
  move-to: eoc-solutions;
  pass: 25;
}
div[data-type='chapter']::after {
  content: pending(eoc-free-response);
  class: "eoc free-response-container";
  container: div;
  data-type: composite-page;
}
div[data-type='chapter'] .bring-together-homework {
  move-to: eoc-bring-together-homework;
}
div[data-type='chapter'] .bring-together-homework > h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] .bring-together-homework::before {
  content: nodes(sectionTitle);
}
div[data-type='chapter'] .bring-together-homework div[data-type="solution"] {
  move-to: eoc-solutions;
  pass: 25;
}
div[data-type='chapter']::after {
  content: pending(eoc-bring-together-homework);
  class: "eoc bring-together-homework-container";
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] .try div[data-type="solution"] {
  move-to: trash;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter'] section.references h1[data-type="title"] {
  move-to: trash;
}
div[data-type='chapter'] section.references::before {
  content: nodes(sectionTitle);
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: "eoc references-container";
  data-type: composite-page;
  container: div;
}
div[data-type='chapter']::after {
  container: div;
  data-type: composite-page;
  class: "eoc solutions-container";
  content: pending(eoc-solutions);
  pass: 25;
}
div[data-type='chapter'] .eoc.formula-review-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.formula-review-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Formula Review";
}
div[data-type='chapter'] .eoc.formula-review-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Formula Review";
}
div[data-type='chapter'] .eoc.practice-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.practice-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Practice";
}
div[data-type='chapter'] .eoc.practice-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Practice";
}
div[data-type='chapter'] .eoc.free-response-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.free-response-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Homework";
}
div[data-type='chapter'] .eoc.free-response-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Homework";
}
div[data-type='chapter'] .eoc.bring-together-exercises-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.bring-together-exercises-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Bringing It Together: Practice";
}
div[data-type='chapter'] .eoc.bring-together-exercises-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Bringing It Together : Practice";
}
div[data-type='chapter'] .eoc.bring-together-homework-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.bring-together-homework-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Bring Together Homework";
}
div[data-type='chapter'] .eoc.bring-together-homework-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Bring Together Homework";
}
div[data-type='chapter'] .eoc.references-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.references-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "References";
}
div[data-type='chapter'] .eoc.references-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "References";
}
div[data-type='chapter'] .eoc.solutions-container {
  pass: 75;
  content: nodes(bookMetadata) content();
}
div[data-type='chapter'] .eoc.solutions-container [data-type="metadata"] [data-type="document-title"] {
  pass: 76;
  content: "Solutions";
}
div[data-type='chapter'] .eoc.solutions-container::before {
  container: h1;
  pass: 30;
  data-type: document-title;
  content: "Solutions";
}
