div[data-type='book'] {
  counter-reset: chapter;
}
div[data-type='chapter'] {
  counter-reset: section figure table list;
  counter-increment: chapter;
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] .eoc-exercises {
  counter-reset: exercise;
}
div[data-type='chapter'] div[data-type='exercise'] {
  counter-increment: exercise;
}
div[data-type='chapter'] > div[data-type='document-title'] {
  string-set: chapter-title content();
  content: '';
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter);
}
div[data-type='chapter'] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(chapter-title);
}
div[data-type='chapter'] div[data-type="page"] {
  counter-reset: subsection;
  counter-increment: section;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title'] {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: counter(chapter) '.' counter(section);
}
div[data-type='chapter'] div[data-type="page"] > div[data-type='document-title']::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] div[data-type="page"] > section {
  counter-increment: subsection;
}
div[data-type='chapter'] .eoc-section-summary > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .eoc-section-summary > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .eoc-exercises div[data-type='problem']::before {
  content: 'Exercise ' counter(exercise);
}
div[data-type='chapter'] dl.definition {
  copy-to: eoc-key-terms;
}
div[data-type='chapter'] section.section-summary {
  move-to: eoc-section-summary;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-terms);
  container: div;
}
div[data-type='chapter']::after {
  class: eoc-section-summary;
  content: pending(eoc-section-summary);
  container: div;
}
div[data-type='chapter']::after {
  class: eoc-exercises;
  content: pending(eoc-exercises);
  container: div;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
}
div[data-type='chapter'] .formula-review,
div[data-type='chapter'] .practice,
div[data-type='chapter'] .references {
  counter-reset: exercise;
}
div[data-type='chapter'] .formula-review > section h1.title,
div[data-type='chapter'] .practice > section h1.title,
div[data-type='chapter'] .references > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .formula-review > section h1.title::span,
div[data-type='chapter'] .practice > section h1.title::span,
div[data-type='chapter'] .references > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xhref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .formula-review > section h1.title::span,
div[data-type='chapter'] .practice > section h1.title::span,
div[data-type='chapter'] .references > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .formula-review div[data-type='problem']::before,
div[data-type='chapter'] .practice div[data-type='problem']::before,
div[data-type='chapter'] .references div[data-type='problem']::before {
  content: counter(exercise) '.';
}
div[data-type='chapter'] section.formula-review {
  move-to: eoc-formula-review;
}
div[data-type='chapter'] section.practice {
  move-to: eoc-practice;
}
div[data-type='chapter'] section.bring-together-exercises {
  move-to: eoc-bring-together-exercises;
}
div[data-type='chapter'] section.free-response {
  move-to: eoc-free-response;
}
div[data-type='chapter'] section.bring-together-homework {
  move-to: eoc-bring-together-homework;
}
div[data-type='chapter'] section.references {
  move-to: eoc-references;
}
div[data-type='chapter']::after {
  content: pending(eoc-formula-review);
  class: eoc-formula-review;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-practice);
  class: eoc-practice;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-bring-together-exercises);
  class: eoc-bring-together-exercises;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-free-response);
  class: eoc-free-response;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-bring-together-homework);
  class: eoc-bring-together-homework;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  display: block;
}
