div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term'] {
  copy-to: eob-index;
}
div[data-type='chapter'] div[data-type="page"] > div[data-type="document-title"] {
  node-set: sectionTitle;
}
div[data-type='chapter'] div[data-type="page"] section.section-summary {
  move-to: section-summary;
}
div[data-type='chapter'] div[data-type="page"]::after {
  class: summary;
  content: nodes(sectionTitle) pending(section-summary);
  move-to: eoc-section-summary;
}
div[data-type='chapter']::after {
  class: eoc-summary;
  content: pending(eoc-section-summary);
  move-to: eoc-all;
}
body::after {
  class: eob-index;
  content: pending(eob-index);
  container: div;
  sort-by: span;
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
div[data-type='chapter'] section.key-equations {
  move-to: eoc-key-equations;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-equations);
  class: eoc-key-equations;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.key-concepts {
  move-to: eoc-key-concepts;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-concepts);
  class: eoc-key-concepts;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.review-conceptual-questions {
  move-to: eoc-review-conceptual-questionss;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-conceptual-questions);
  class: eoc-review-conceptual-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.review-problems {
  move-to: eoc-review-problems;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-problems);
  class: eoc-eoc-review-problems;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.review-challenge {
  move-to: eoc-review-challenge;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-challenge);
  class: eoc-review-challenge;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
