div[data-type='chapter'] h1[data-type="document-title"] {
  node-set: chapterTitle;
}
div[data-type='chapter'] div[data-type="glossary"] {
  move-to: trash;
}
div[data-type='chapter'] dl.definition {
  move-to: eoc-key-terms;
}
div[data-type='chapter']::after {
  class: solutions;
  content: nodes(chapterTitle) pending(chapterSolutions);
  move-to: eob-solutions;
}
div[data-type='chapter']::before {
  container: h1;
  class: sectionGlossary;
  content: "Glossary";
  move-to: sectionGlossary;
}
div[data-type='chapter']::after {
  class: eoc-glossary;
  content: pending(sectionGlossary) pending(eoc-key-terms);
  sort-by: dt > dl;
  move-to: eoc-all;
}
div[data-type='chapter'] span[data-type='term']::after {
  content: content();
  container: span;
  class: glossary-term;
  move-to: gloss-term;
}
div[data-type='chapter'] span[data-type='term']::after {
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type='chapter'] span[data-type='term']::after {
  content: pending(gloss-term) pending(link);
  class: glossary-item;
  move-to: eob-glossary;
}
div[data-type='chapter'] div[data-type="page"] div[data-type="solution"] {
  move-to: chapterSolutions;
}
body::after {
  class: eob-solutions;
  content: pending(eob-solutions);
  container: div;
  move-to: eob-all;
}
body::after {
  class: eob-waka;
  class: glossary;
  content: pending(eob-glossary);
  group-by: span, "span::first-letter";
  move-to: eob-all;
}
body::after {
  content: pending(eob-all);
  class: end-of-book;
  data-type: composite-page;
  container: div;
}
body::after {
  content: clear(trash);
}
div[data-type='chapter'] section.review-questions {
  move-to: eoc-review-questions;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.critical-thinking {
  move-to: eoc-critical-thinking;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter'] section.suggested-reading {
  move-to: eoc-suggested-reading;
}
div[data-type='chapter']::after {
  content: pending(eoc-suggested-reading);
  class: eoc-suggested-reading;
  container: div;
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  content: pending(eoc-all);
  class: end-of-chapter;
  data-type: composite-page;
  container: div;
}
