@import '../_common-stuff';
$RECIPE_NAME: "ap-history";

$Config_Notes: (
  (className: 'os-teacher', labelText: "Teacher Support"),
);

$Config_SetTableCaption: (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: false);
$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');

$Config_hasStimuli: true;
$Config_stimuliSectionClass: "ap-practice";
$Config_PartType_Exercise: (moveTo: $AREA_NONE, resetAt: $RESET_SECTION);

$Config_ContentStimuliExercise_TitleContent : (os-divider: ". ", os-number: counter(stimuli));

$Config_ContentExercise_TitleContent : (os-divider: ".", os-number: counter(exerciseMaybeInContent));
$Config_ContentExercise_TitleContentAp : (os-divider: ".", os-number: counter(exerciseMaybeInContent));
