/*
Error: Undefined variable: "$Config_TEAspecificLOHeaders".
        on line 3 of rulesets/books/_TEAspecific.scss
        from line 4 of ./rulesets/books/statistics/book.scss

1: @import '../../mixins/_all';
2: @import './_config';
3: @import '../_generator';
4: @import '../_TEAspecific';

Backtrace:
rulesets/books/_TEAspecific.scss:3
./rulesets/books/statistics/book.scss:4
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:299:in `visit_if'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/bin/sass:23:in `load'
/Users/helene/openstax/cte/vendor/gems/ruby/2.3.0/bin/sass:23:in `<top (required)>'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli/exec.rb:74:in `load'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli/exec.rb:74:in `kernel_load'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli/exec.rb:27:in `run'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli.rb:332:in `exec'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/vendor/thor/lib/thor/command.rb:27:in `run'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/vendor/thor/lib/thor/invocation.rb:126:in `invoke_command'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/vendor/thor/lib/thor.rb:359:in `dispatch'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli.rb:20:in `dispatch'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/vendor/thor/lib/thor/base.rb:440:in `start'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/cli.rb:11:in `start'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/exe/bundle:34:in `block in <top (required)>'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/lib/bundler/friendly_errors.rb:100:in `with_friendly_errors'
/Users/helene/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.13.6/exe/bundle:26:in `<top (required)>'
/Users/helene/.rbenv/versions/2.3.1/bin/bundle:23:in `load'
/Users/helene/.rbenv/versions/2.3.1/bin/bundle:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$Config_TEAspecificLOHeaders\".\A         on line 3 of rulesets/books/_TEAspecific.scss\A         from line 4 of ./rulesets/books/statistics/book.scss\A \A 1: @import '../../mixins/_all';\A 2: @import './_config';\A 3: @import '../_generator';\A 4: @import '../_TEAspecific';"; }
