/*
Error: Invalid CSS after "...lsSectionTitle)": expected "{", was ";"
        on line 314 of rulesets/books/_generator.scss
        from line 3 of ./rulesets/books/statistics/book.scss

309: =======
310: :pass(7) {
311:   //@include reference_refChapterNumberStringAs(chapterNumberString);
312: >>>>>>> Restructure EOB answer key mixin, allow notes solutions to collate to answer key, build u-physics answer-key, add better support for CompoundComposite pages
313:   //After: prepIndexTerms, createBookComposites
314:   @include modify_addIndexSymbolGroup("index", $_symbolsSectionTitle);
315:   //After: composite page creation
316:   @include count_countChapters(chapter);
317:   @include count_countAppendices(appendix);
318: 
319:   @if map-get($Config_PartType_Exercise, moveTo) == $AREA_EOC {

Backtrace:
rulesets/books/_generator.scss:314
./rulesets/books/statistics/book.scss:3
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/Thomas/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/Thomas/.rvm/gems/ruby-2.4.0/bin/sass:22:in `load'
/home/Thomas/.rvm/gems/ruby-2.4.0/bin/sass:22:in `<main>'
/home/Thomas/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `eval'
/home/Thomas/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...lsSectionTitle)\": expected \"{\", was \";\"\A         on line 314 of rulesets/books/_generator.scss\A         from line 3 of ./rulesets/books/statistics/book.scss\A \A 309: =======\A 310: :pass(7) {\A 311:   //@include reference_refChapterNumberStringAs(chapterNumberString);\A 312: >>>>>>> Restructure EOB answer key mixin, allow notes solutions to collate to answer key, build u-physics answer-key, add better support for CompoundComposite pages\A 313:   //After: prepIndexTerms, createBookComposites\A 314:   @include modify_addIndexSymbolGroup(\"index\", $_symbolsSectionTitle);\A 315:   //After: composite page creation\A 316:   @include count_countChapters(chapter);\A 317:   @include count_countAppendices(appendix);\A 318: \A 319:   @if map-get($Config_PartType_Exercise, moveTo) == $AREA_EOC {"; }
