@import 'framework/framework';
@import 'design/carnival/design';

@include add_settings((
  Diseases: (
    _selectors: ('[data-type="page"] .diseases'),
    container: (
      border-color: #00819A,
    ),
    title: (
      color: #00819A,
      border-bottom-color: #00819A,
    )
  )
));

@include use('Diseases', 'BoxedNoteTitled');
