@import '../ap-biology/_config';
$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: true;
$Config_hasCompositeAppendixes: false;
$Config_TEAspecificLOHeaders : true;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_hasAbstract: false;

/*
  Learning Objectives

  These are specific to *some* TEA titles but not all. (those with `$Config_TEAspecificLOHeaders: true;`)

  Markup: ./styleguide/page.learning-objectives.xhtml-baked.html

  Style guide: page.learning-objectives
*/
