//create superspace for base note styles and then subspaces for more specific types of notes???

@include create_superspace(
    'note3',
    (
        _components: (
            (
                _name: 'container',
                _subselector: 'div[data-type="note"]',
                _properties: (
                    border-bottom-left-radius: enum('ValueSet:::NULLABLE'),
                    border-bottom-right-radius:
                    enum('ValueSet:::NULLABLE')
                )
            ),
            (
               _name: 'title',
               _subselector: 'div[data-type="note"] > h3[data-type="title"]',
               _properties: (
                    background-color: enum('ValueSet:::NULLABLE'),
                    color: enum('ValueSet:::NOT_NULL'),
                    border-top-left-radius: '5px',
                    border-top-right-radius: '5px'
               )
            )
        )
    )
)


//intro-business notes

//note 1 (exploring business careers)
   //top title colored border 
   //top title
   //subtitle
   //border
   //figure & cap

//note 2 (catching the entrepre spirit, managing change, customer satisfaction and quality, ethics in practice)
   //top title
   //top title background color 
   //subtitle
   //icon 
   //subtitle(2) w/ ordered list
   //note body bkgd color

//note 3 (concept check)
    //top title 
    //top title background color 
    //icon 
    //ordered list

//note 4 
 