@function intro-business-settings() {
  $BOOK_SETTINGS: (
    theme-name:theme1,
    book:intro-business,
    platform: PDF,
  );
  @return $BOOK_SETTINGS;
}

@include settings-merge(get-function("intro-business-settings"));
