@import '../ap-physics/_config';
$RECIPE_NAME: "TEAap-physics";

$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: true;
$Config_TEAspecificLOHeaders : false;
$Config_hasCompositeAppendixes: true;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_startPageWithLO: true;
