@import '../_common-stuff';
$RECIPE_NAME: "accounting";

/*==========================================================
  Accounting CONFIG
==========================================================*/

/*==========================================================
  Notes
==========================================================*/
/*
  Your Turn Note note

  Contains a title "Your Turn" and exercies with solutions.

  Markup: ./styleguide/page.note.your-turn.xhtml-baked.html

  Style guide: page.note.your-turn
*/
/*
  Think It Through note

  Contains a title "Think It Through" and the content of the note.

  Markup: ./styleguide/page.note.think-through.xhtml-baked.html

  Style guide: page.note.think-through
*/
/*
  Concepts In Practice note

  Contains a title "Concepts In Practice" and the content of the note.

  Markup: ./styleguide/page.note.concepts-practice.xhtml-baked.html

  Style guide: page.note.concepts-practice
*/
/*
  Continuing Application note

  Contains a title "Continuing Application" and the content of the note.

  Markup: ./styleguide/page.note.continuing-application.xhtml-baked.html

  Style guide: page.note.continuing-application
*/
/*
  Ethical Considerations note

  Contains a title "Ethical Considerations" and the content of the note.

  Markup: ./styleguide/page.note.ethical-considerations.xhtml-baked.html

  Style guide: page.note.ethical-considerations
*/
/*
  IFRS Connection note

  Contains a title "IFRS Connection" and the content of the note.

  Markup: ./styleguide/page.note.ifrs-connection.xhtml-baked.html

  Style guide: page.note.ifrs-connection
*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/

$Config_Notes: (
(className: 'your-turn',  moveSolutionTo: $AREA_NONE,  labelText: "Your Turn"),
(className: 'think-through',  moveSolutionTo: $AREA_NONE,  labelText: "Think It Through"),
(className: 'concepts-practice',  moveSolutionTo: $AREA_NONE,  labelText: "Concepts In Practice"),
(className: 'continuing-application',  moveSolutionTo: $AREA_NONE,  labelText: "Continuing Application"),
(className: 'ethical-considerations',  moveSolutionTo: $AREA_NONE,  labelText: "Ethical Considerations"),
(className: 'ifrs-connection',  moveSolutionTo: $AREA_NONE,  labelText: "IFRS Connection"),
(className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
);

$Config_UnnumberedElements: (
  (contextSelector: '.your-turn', childSelector: '[data-type="exercise"]'),
);

/*==========================================================
  EOC
==========================================================*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.section-summary.xhtml-baked.html

  Style guide: book.composite.section-summary
*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Multiple Choice

  Should be collated at the end of a chapter.

  Contains a title "Multiple Choice"

  Markup: ./styleguide/book.composite.multiple-choice.xhtml-baked.html

  Style guide: book.composite.multiple-choice
*/
/*
  Questions

  Should be collated at the end of a chapter.

  Contains a title "Questions"

  Markup: ./styleguide/book.composite.questions.xhtml-baked.html

  Style guide: book.composite.questions
*/
/*
  Exercise Set A

  Should be collated at the end of a chapter.

  Contains a title "Exercises Set A"

  Markup: ./styleguide/book.composite.exercise-set-a.xhtml-baked.html

  Style guide: book.composite.exercise-set-a
*/
/*
  Exercise Set B

  Should be collated at the end of a chapter.

  Contains a title "Exercises Set B"

  Markup: ./styleguide/book.composite.exercise-set-b.xhtml-baked.html

  Style guide: book.composite.exercise-set-b
*/
/*
  Problem Set A

  Should be collated at the end of a chapter.

  Contains a title "Problem Set A"

  Markup: ./styleguide/book.composite.problem-set-a.xhtml-baked.html

  Style guide: book.composite.problem-set-a
*/
/*
  Problem Set B

  Should be collated at the end of a chapter.

  Contains a title "Problem Set B"

  Markup: ./styleguide/book.composite.problem-set-b.xhtml-baked.html

  Style guide: book.composite.problem-set-b
*/
/*
  Thought Provokers

  Should be collated at the end of a chapter.

  Contains a title "Thought Provokers"

  Markup: ./styleguide/book.composite.thought-provokers.xhtml-baked.html

  Style guide: book.composite.thought-provokers
*/
$Config_ChapterCompositePages: (
(className: "glossary",                clusterBy: $CLUSTER_NONE,      name: "Key Terms",  specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",),
(className: "section-summary",      clusterBy: $CLUSTER_SECTION,   hasSolutions: false,    name: "Summary"),
(className: "multiple-choice", clusterBy: $CLUSTER_NONE,  name: "Multiple Choice", hasSolutions: true, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,),
(className: "questions", clusterBy: $CLUSTER_NONE,  name: "Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,),
(className: "exercise-set-a", clusterBy: $CLUSTER_NONE,  name: "Exercise Set A", hasSolutions: false, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE, prefixExercise: 'EA'),
(className: "exercise-set-b", clusterBy: $CLUSTER_NONE,  name: "Exercise Set B", hasSolutions: false, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE, prefixExercise: 'EB'),
(className: "problem-set-a", clusterBy: $CLUSTER_NONE,  name: "Problem Set A", hasSolutions: false, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE, prefixExercise: 'PA'),
(className: "problem-set-b", clusterBy: $CLUSTER_NONE,  name: "Problem Set B", hasSolutions: false, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE, prefixExercise: 'PB'),
(className: "thought-provokers", clusterBy: $CLUSTER_NONE,  name: "Thought Provokers", hasSolutions: false, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE, prefixExercise: 'TP'),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries (see pl-u-physics), but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
(className: "end-of-book-solutions",     clusterBy: $CLUSTER_SECTION, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key",),
(className: "index",        clusterBy: $CLUSTER_NONE,    specialPageType: $PAGE_INDEX,     name: "Index"),
);

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
/*==========================================================
  EOB
==========================================================*/

/* Answer Key

*/
//EOC sections in accounting have the corresponding learning objective and section number with each problem
//the csection ounter needs to be reset again for this to work. this was previously a release flag but causes issues in other books and is not needed in other books at this time
$Config_ResetSectionCounterForEOCLO: true;

$Config_TargetLabels : append($Config_TargetLabels,
(selector: 'div[data-type="chapter"] > div[data-type="page"]:not(.introduction)', labelText: "LO " counter(chapter) "." counter(section))
);

// for some reason this needs to be after $Config_BookCompositePages, especially if set to false (must be added here even if it's in the common file)
$Config_hasCompositeChapter: true;

$Config_hasGroupedIntroBody: true;