@import '../_common-stuff';

/*==========================================================
  Accounting CONFIG
==========================================================*/

/*==========================================================
  Notes
==========================================================*/
/*
  Your Turn Note note

  Contains a title "Your Turn" and exercies with solutions.

  Markup: ./styleguide/page.note.your-turn.xhtml-baked.html

  Style guide: page.note.your-turn
*/
/*
  Think It Through note

  Contains a title "Think It Through" and the content of the note.

  Markup: ./styleguide/page.note.think-through.xhtml-baked.html

  Style guide: page.note.think-through
*/
/*
  Concepts In Practice note

  Contains a title "Concepts In Practice" and the content of the note.

  Markup: ./styleguide/page.note.concepts-practice.xhtml-baked.html

  Style guide: page.note.concepts-practice
*/
/*
  Continuing Application note

  Contains a title "Continuing Application" and the content of the note.

  Markup: ./styleguide/page.note.continuing-application.xhtml-baked.html

  Style guide: page.note.continuing-application
*/
/*
  Ethical Considerations note

  Contains a title "Ethical Considerations" and the content of the note.

  Markup: ./styleguide/page.note.ethical-considerations.xhtml-baked.html

  Style guide: page.note.ethical-considerations
*/
/*
  IFRS Connection note

  Contains a title "IFRS Connection" and the content of the note.

  Markup: ./styleguide/page.note.ifrs-connection.xhtml-baked.html

  Style guide: page.note.ifrs-connection
*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/

/*==========================================================
  EOC
==========================================================*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.section-summary.xhtml-baked.html

  Style guide: book.composite.section-summary
*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Multiple Choice

  Should be collated at the end of a chapter.

  Contains a title "Multiple Choice"

  Markup: ./styleguide/book.composite.multiple-choice.xhtml-baked.html

  Style guide: book.composite.multiple-choice
*/
/*
  Questions

  Should be collated at the end of a chapter.

  Contains a title "Questions"

  Markup: ./styleguide/book.composite.questions.xhtml-baked.html

  Style guide: book.composite.questions
*/
/*
  Exercises: Set A

  Should be collated at the end of a chapter.

  Contains a title "Exercises: Set A"

  Markup: ./styleguide/book.composite.exercise-set-a.xhtml-baked.html

  Style guide: book.composite.exercise-set-a
*/
/*
  Exercises Set B

  Should be collated at the end of a chapter.

  Contains a title "Exercises Set B"

  Markup: ./styleguide/book.composite.exercise-set-b.xhtml-baked.html

  Style guide: book.composite.exercise-set-b
*/
/*
  Problem Set A

  Should be collated at the end of a chapter.

  Contains a title "Problem Set A"

  Markup: ./styleguide/book.composite.problem-set-a.xhtml-baked.html

  Style guide: book.composite.problem-set-a
*/
/*
  Problem Set B

  Should be collated at the end of a chapter.

  Contains a title "Problem Set B"

  Markup: ./styleguide/book.composite.problem-set-b.xhtml-baked.html

  Style guide: book.composite.problem-set-b
*/
/*
  Thought Provoker

  Should be collated at the end of a chapter.

  Contains a title "Thought Provoker"

  Markup: ./styleguide/book.composite.thought-provokers.xhtml-baked.html

  Style guide: book.composite.thought-provokers
*/

/*==========================================================
  EOB
==========================================================*/

/* Answer Key

*/
