@import 'styles/designs/carnival/_figureimage-spaces.scss';


@include add_settings((
    CaptionFont:(
        _subselector: " > .os-caption-container > os-caption",
        fontContainer:(
            font-family:(_ref:'typography:::sansFont'), 
            size: not_implemented(1.2rem), 
        )
    )

    FigureNumberFont:(
        _subselector: " > .os-caption-container > os-number ",
        fontContainer:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        )
    )

    FigureTitle:(
        _subselector: " > .os-caption-container > os-title-label",
        fontContainer:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            size: not_implemented(1.2rem),
        )
    )

    PicPadding:(
        _subselector:"> figure",
        piccaptionContainer:(
            padding: not_implemented(1.0rem),
        )
    )
));
