@import './framework/_framework.scss';
@import 'designs/carnival/_figureimage-components.scss';
@import 'designs/carnival/_figureimage-superspace.scss';

$font-caption: IBM Plex Sans, sans-serif; 
$font-figure: Muli, sans-serif;

@include add_settings((
    CaptionFont:(
        _subselector: " > .os-caption-container > os-caption",
        fontContainer:(
            font-family: $font-caption , 
            size: 1.2rem, 
        )
    )

    FigureNumberFont:(
        _subselector: " > .os-caption-container > os-number ",
        fontContainer:(
            font-family: $font-figure,
            font-weight: 800,
            size: 1.2rem,
            color: #C31427,
        )
    )

    FigureTitle:(
        _subselector: " > .os-caption-container > os-title-label",
        fontContainer:(
            font-family: $font-figure,
            font-weight: 800,
            size: 1.2rem,
        )
    )

    PicPadding:(
        _subselector:"> figure",
        piccaptionContainer:(
            padding: 1.0rem,
        )
    )
));
