@import '../_common-stuff';
$RECIPE_NAME: "computer-science";

$Config_PartType_Unit_TitleContent: (os-part-text: "Part ", os-number: counter(unit), os-divider: ' ');

$Config_ChapterCompositePages: (
    (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
    (className: "section-summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
    (className: "review-questions", clusterBy: $CLUSTER_NONE, name: "Review Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "conceptual-questions", clusterBy: $CLUSTER_NONE, name: "Conceptual Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "practice-exercises", clusterBy: $CLUSTER_NONE, name: "Practice Exercises", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "problem-set-a", clusterBy: $CLUSTER_NONE, name: "Problem Set A", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "problem-set-b", clusterBy: $CLUSTER_NONE, name: "Problem Set B", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "thought-provokers", clusterBy: $CLUSTER_NONE, name: "Thought Provokers", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
    (className: "lab-assessments", clusterBy: $CLUSTER_NONE, name: "Labs", hasSolutions: true, moveSolutionsTo: $AREA_NONE, numberAt: $NUMBER_BEFORE_MOVE,),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');

$Config_BookCompositePages: (
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

$Config_Notes: (
    (className: 'think-through',  moveSolutionTo: $AREA_NONE,  labelText: "Think It Through"),
    (className: 'concepts-practice',  moveSolutionTo: $AREA_NONE,  labelText: "Concepts In Practice"),
    (className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
    (className: 'industry-spotlight',  moveSolutionTo: $AREA_NONE,  labelText: "Industry Spotlight"),
    (className: 'global-tech',  moveSolutionTo: $AREA_NONE,  labelText: "Global Issues in Technology"),
    (className: 'tech-everyday',  moveSolutionTo: $AREA_NONE,  labelText: "Technology in Everyday Life"),
);

$Config_UnnumberedElements: (
    (contextSelector: '[data-type="exercise"].your-turn',  childSelector: null),
);

$Config_addSolutionHeader: (
    (selector: '.your-turn', title: 'Solution'),
);

$Config_NoteExerciseTitle: (
    (noteClass: 'your-turn', title: 'Your Turn'),
);

$Config_hasGroupedIntroBody: true;
$Config_hasCompositeChapter: true;

$Config_ResetSectionCounter: true;

$Config_CustomList: (
  (selector: '.learning-objectives ul', name: "abstract", beforeLabel: counter(chapter) "." counter(section) ".", afterLabel: " "),
);