@import '../_common-stuff';
$RECIPE_NAME: "computer-science";

/*==========================================================
  Computer Science CONFIG
==========================================================*/

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');

/*==========================================================
  Notes
==========================================================*/
/*
  Work It Out note

  Contains a title "Work It Out" and the content of the note.

  Markup: ./styleguide/page.note.work-it-out.xhtml-baked.html

  Style guide: page.note.work-it-out
*/
/*
  Are You Ready note

  Contains a title "Are You Ready?" and the content of the note.

  Markup: ./styleguide/page.note.are-you-ready.xhtml-baked.html

  Style guide: page.note.are-you-ready
*/
/*
  What Can You Do note

  Contains a title "What Can You Do?" and the content of the note.

  Markup: ./styleguide/page.note.what-can-do.xhtml-baked.html

  Style guide: page.note.what-can-do
*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
$Config_Notes: (
(className: 'work-it-out',  moveSolutionTo: $AREA_NONE,  labelText: "Work It Out"),
(className: 'are-you-ready',  moveSolutionTo: $AREA_NONE,  labelText: "Are You Ready?"),
(className: 'what-can-do',  moveSolutionTo: $AREA_NONE,  labelText: "What Can You Do?"),
(className: 'entrepreneur-in-action',  moveSolutionTo: $AREA_NONE,  labelText: "Entrepreneur In Action"),
(className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
);


/*==========================================================
  EOC
==========================================================*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Discussion Questions

  Should be collated at the end of a chapter.

  Contains a title "Discussion Questions"

  Markup: ./styleguide/book.composite.discussion-questions.xhtml-baked.html

  Style guide: book.composite.discussion-questions
*/
/*
  Case Questions

  Should be collated at the end of a chapter.

  Contains a title "Case Questions"

  Markup: ./styleguide/book.composite.case-questions.xhtml-baked.html

  Style guide: book.composite.case-questions
*/
/*
  Suggested Resources

  Should be collated at the end of a chapter.

  Contains a title "Suggested Resources"

  Markup: ./styleguide/book.composite.suggested-resources.xhtml-baked.html

  Style guide: book.composite.suggested-resources
*/
/*
  References

  Should be collated at the end of a chapter.

  Contains a title "References"

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/
/*
  Figure Credits

  Should be collated at the end of a chapter.

  Contains a title "Figure Credits"

  Markup: ./styleguide/book.composite.figure-credits.xhtml-baked.html

  Style guide: book.composite.figure-credits
*/

$Config_ChapterCompositePages: (
  (className: "glossary",             clusterBy: $CLUSTER_NONE,   specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",    name: "Key Terms"),
  (className: "section-summary",      clusterBy: $CLUSTER_SECTION,   hasSolutions: false,    name: "Summary"),//currently wrong class in raw, spelled secion-summary. get CM to change
  (className: "key-terms",               clusterBy: $CLUSTER_NONE,      name: "Key Terms"),
  (className: "review-questions", clusterBy: $CLUSTER_NONE,  name: "Review Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,),
  (className: "discussion-questions", clusterBy: $CLUSTER_NONE,  name: "Discussion Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,),
  (className: "case-questions", clusterBy: $CLUSTER_NONE,  name: "Case Questions", hasSolutions: true, moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,),
  (className: "suggested-resources", clusterBy: $CLUSTER_SECTION,  name: "Suggested Resources", hasSolutions: false, moveSolutionsTo: $AREA_NONE, ),
  (className: "references", clusterBy: $CLUSTER_NONE,  name: "Endnotes", hasSolutions: false, moveSolutionsTo: $AREA_NONE, ),
  (className: "figure-credits", clusterBy: $CLUSTER_NONE,  name: "Figure Credits", hasSolutions: false, moveSolutionsTo: $AREA_NONE, ),
);

$Config_PartType_Exercise: (
  moveTo: $AREA_EOC, resetAt:     $RESET_COMPOSITE_PAGE, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent
);

$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);

/*==========================================================
  EOB
==========================================================*/

$Config_BookCompositePages: (
  (className: "index",        clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

// for some reason this needs to be after $Config_BookCompositePages, especially if set to false (must be added here even if it's in the common file)
$Config_hasCompositeChapter: true;
