@import '../_common-stuff';
$RECIPE_NAME: "computer-science";

$Config_Notes: (
(className: 'think-through',  moveSolutionTo: $AREA_NONE,  labelText: "Think It Through"),
(className: 'concepts-practice',  moveSolutionTo: $AREA_NONE,  labelText: "Concepts In Practice"),
(className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
(className: 'industry-spotlight',  moveSolutionTo: $AREA_NONE,  labelText: "Industry Spotlight"),
(className: 'global-tech',  moveSolutionTo: $AREA_NONE,  labelText: "Global Issues in Technology"),
);

$Config_hasGroupedIntroBody: true;