@import '../../mixins/_all';
@import './_config';
@import '../_generator';


//ad hoc TEA specific requirements for the TEG Gateway imports process
:pass(3) {
  .appendix {
    &::inside {
      container: section;
      class: "appendix-container";
    }
  }
}
:pass(4) {
  .appendix {
    .appendix-container {
    > h1[data-type="document-title"] {
      move-to: appendixMainTitle;
      node-set: appendixHeaderNode;
    }
    [data-type="metadata"] {
      move-to: appendixMetadata;
    }
   }
   &:deferred {
    content: pending(appendixMainTitle) pending(appendixMetadata) content();
   }
  }
}

:pass(5) {
  .appendix {
    > h1[data-type="document-title"] {
      node-set: appendixSubTitle;
    }
     .appendix-container {
      content: nodes(appendixSubTitle) content();
    }
  }
}

:pass(6) {
  .os-eob {
    &::inside {
      container: section;
      class: "eob-inner-container";
    }
  }
}

:pass(7) {
  .os-eob {
    .eob-inner-container {
      > h1[data-type="document-title"] {
        move-to: eobMainTitle;
        //node-set: appendixHeaderNode;
     }
      [data-type="metadata"] {
        move-to: eobMetadata;
     }
    }
    &:deferred {
      content: pending(eobMainTitle) pending(eobMetadata) content();
   }
  }
}

:pass(8) {
  .os-eob {
    > h1[data-type="document-title"] {
      node-set: eobSubTitle;
    }
    .eob-inner-container {
      content: nodes(eobSubTitle) content();
    }
  }
}

:pass(9) {
  .eob-inner-container {
    > [data-type="document-title"] {
      container: h2;
    }
  }
}