@import '../_common-stuff';
$RECIPE_NAME: "astronomy";

/*==========================================================
  COMPOUND ASTRONOMY PAGES
==========================================================*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Thought Questions

  Should be collated at the end of a chapter.

  Contains a title "Thought Questions"

  Markup: ./styleguide/book.composite.thought-questions.xhtml-baked.html

  Style guide: book.composite.thought-questions
*/
/*
  Figuring for Yourself

  Should be collated at the end of a chapter.

  Contains a title "Figuring for Yourself"

  Markup: ./styleguide/book.composite.figuring-for-yourself.xhtml-baked.html

  Style guide: book.composite.figuring-for-yourself
*/
$_compoundExercises: (
  (className: "review-questions",      clusterBy: $CLUSTER_NONE, name: "Review Questions"),
  (className: "thought-questions",     clusterBy: $CLUSTER_NONE, name: "Thought Questions"),
  (className: "figuring-for-yourself", clusterBy: $CLUSTER_NONE, name: "Figuring for Yourself"),
);

/*==========================================================
  ASTRONOMY PAGES
==========================================================*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Further Exploration

  Should be collated at the end of a chapter.

  Contains a title "Further Exploration"

  Markup: ./styleguide/book.composite.further-exploration.xhtml-baked.html

  Style guide: book.composite.further-exploration
*/
/*
  Group Activities

  Should be collated at the end of a chapter.

  Contains a title "Group Activities"

  Markup: ./styleguide/book.composite.group-activities.xhtml-baked.html

  Style guide: book.composite.group-activities
*/
/*
  Exercises

  Should be collated at the end of a chapter.

  Contains a title "Exercises"

  Markup: ./styleguide/book.compoundcomposite.exercises.xhtml-baked.html

  Style guide: book.compoundcomposite.exercises
*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "further-exploration", clusterBy: $CLUSTER_NONE, name: "For Further Exploration"),
  (className: "group-activities", clusterBy: $CLUSTER_NONE, name: "Collaborative Group Activities"),
  (className: "exercises", clusterBy: $CLUSTER_NONE, childPages: $_compoundExercises, name: "Exercises"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_BookCompositePages: (
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Astronomy Basics note

  Contains a title "Astronomy Basics" and the content of the note.

  Markup: ./styleguide/page.note.astronomy-basics.xhtml-baked.html

  Style guide: page.note.astronomy-basics
*/
/*
  Making Connections note

  Contains a title "Making Connections" and the content of the note.

  Markup: ./styleguide/page.note.making-connections.xhtml-baked.html

  Style guide: page.note.making-connections
*/
/*
  Seeing for Yourself note

  Contains a title "Seeing for Yourself" and the content of the note.

  Markup: ./styleguide/page.note.seeing-for-yourself.xhtml-baked.html

  Style guide: page.note.seeing-for-yourself
*/
/*
  Voyagers in Astronomy note

  Contains a title "Voyagers in Astronomy" and the content of the note.

  Markup: ./styleguide/page.note.voyagers-in-astronomy.xhtml-baked.html

  Style guide: page.note.voyagers-in-astronomy
*/

$Config_Notes: (
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'astronomy-basics', labelText: "Astronomy Basics"),
  (className: 'making-connections', labelText: "Making Connections"),
  (className: 'seeing-for-yourself', labelText: "Seeing for Yourself"),
  (className: 'voyagers-in-astronomy', labelText: "Voyagers in Astronomy"),
);

/*==========================================================
  ASTRONOMY TITLING CONTENT
==========================================================*/

$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');
$_exampleTitleContent: (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example), os-divider: ' ');
$Config_PartType_Solution: (moveTo: $AREA_NONE);
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_PartType_Example: (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, solutionTitleContent: $_exampleSolutionTitleContent);

/* =========================================================
  OTHER PARTS
==========================================================*/

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_abstractTitle: "Learning Objectives";
$Config_hasCompositeChapter: true;

$ConfighasFirstInlineListElement: false;