@import '../_common-stuff';
$RECIPE_NAME: "astronomy";

/*==========================================================
  COMPOUND ASTRONOMY PAGES
==========================================================*/
$_compoundExercises: (
  (className: "review-questions",      clusterBy: $CLUSTER_NONE, name: "Review Questions"),
  (className: "thought-questions",     clusterBy: $CLUSTER_NONE, name: "Thought Questions"),
  (className: "figuring-for-yourself", clusterBy: $CLUSTER_NONE, name: "Figuring for Yourself"),
);

/*==========================================================
  ASTRONOMY PAGES
==========================================================*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "further-exploration", clusterBy: $CLUSTER_NONE, name: "For Further Exploration"),
  (className: "group-activities", clusterBy: $CLUSTER_NONE, name: "Collaborative Group Activities"),
  (className: "exercise", clusterBy: $CLUSTER_NONE, childPages: $_compoundExercises, name: "Exercises"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_BookCompositePages: (
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/

$Config_Notes: (
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'astronomy-basics', labelText: "Astronomy Basics"),
  (className: 'making-connections', labelText: "Making Connections"),
  (className: 'seeing-for-yourself', labelText: "Seeing for Yourself"),
  (className: 'voyagers-in-astronomy', labelText: "Voyagers in Astronomy"),
);

/*==========================================================
  ASTRONOMY TITLING CONTENT
==========================================================*/

$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');
$_exampleTitleContent: (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example), os-divider: ' ');
$Config_PartType_Solution: (moveTo: $AREA_NONE);
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);

/*==========================================================
  ASTRONOMY CONFIG
==========================================================*/

$Config_PartType_Example: (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, solutionTitleContent: $_exampleSolutionTitleContent);

/* =========================================================
  CAPTION CONFIG
============================================================

  Configure table and Figure captions
  If this method of setting the content of the label explicity becomes a problem,
  try grabbing the numbering information from the element's header
==========================================================*/

/* =========================================================
  TARGET LABELS (optional)
==========================================================*/

/* =========================================================
  OTHER PARTS
==========================================================*/

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_abstractTitle: "Learning Objectives";

/* =========================================================
  Coverage optimizations
============================================================

  These are mostly just for removing unused selectors from the CSS file.
  If you know for sure that the book does not contain any of these then
  set these to be false.
==========================================================*/


/* =========================================================
  Assorted Hacks
============================================================

  These have not been incorporated into the structure of config files yet
  and are listed here so they can be revisited and incorporated properly
  into the structure of the config files later, but so development can continue
==========================================================*/
