/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] {
  > h1[data-type="document-title"] {
    font-size: size-scale(4);
    width: FULL_BLEED_WIDTH();
    height: 4.3in;
    position: absolute;
    top: -1 * PAGE_VERTICAL_MARGIN();
    transform: translateX(-1 * (PAGE_HORIZONTAL_MARGIN() + 0.125in)); // Consider the full bleed width as well as the margin -> 0.25in / 2
    color: color-map(chapter-title);
    white-space: nowrap;
    font-weight: bold;
    font-family: font-map(sans-serif);
    text-transform: capitalize;
    z-index: 1;
    margin: 0 ;
    left: 1.2in;

    .os-text {
      position: absolute;
      bottom: -10px;
      left: 80px;
      width: 60%;
      height: 70px;
      white-space: normal;
    }

    .os-number {
      font-family: font-map(serif);
      top: auto;
      left: 0;
      bottom: 50px;
      background-color: color-map(chapter-number-bg);
      border-radius: 50%;
      min-width: 0;
      min-height: 0;
      width: 45px;
      height: 45px;
      padding-top: 0;
      border: none;
      display: block;
      line-height: 45px;
      color: color-map(chapter-number);
      position: absolute;
      border: 1px solid color-map(chapter-number-border);
      text-align: center;
    }

    &::after {
      content: CONTENT_BLANK();
      display: block;
      width: 170px;
      height: 73px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-1in);
      // background: url("ccap-business/business-books-intro-graphic.svg") 0 0 no-repeat;
      z-index: 3;
    }
  }
}
