/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  // @include x-center-image();
  display: block;
  margin: auto;
  max-width: 6.5in;
}

.os-figure,
.preface .os-figure {
  // @include x-center-image();
  display: block;
  margin: auto;
  max-width: 6.5in;

  width: 100%;
  float: column-top; 
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > figure {
    padding-bottom: size-scale(-4);
  }

  > .os-caption-container {
    font-family: font-map(serif);
    font-size: size-scale(-1);
    caption-side: bottom;

    .os-title-label, .os-number, .os-title {
      // @include caption-number-style(); // content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title);
      color: color-map(caption-number);
      border: none;
      padding-top: size-scale(-6);
      padding-left: 0px;
      padding-bottom: size-scale(-1);
      margin-right: size-scale(-5);
      font-weight: 700;

      display: inline;
    }
    
    .os-title {
      &::before {
        margin-right: size-scale(-3);
      }
    }

    .os-caption {
      // @include caption-style();
      color: color-map(caption);
      text-align: center;
      display: table-caption;
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
  
      display: inline;
    }
  }
}
