/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  @include x-center-image();
  max-width: PAGE_CONTENT_WIDTH();
}

// Figure Structure 1
.os-figure,
.preface .os-figure {
  @include x-center-image();
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > figure {
    max-width: PAGE_CONTENT_WIDTH() - 0.5in;
    margin: auto;
    padding-bottom: size-scale(-4);
  }

  > .os-caption-container {
    padding-left: 0px;
    padding-bottom: size-scale(-1);

    .os-title-label, .os-number, .os-title {
      @include caption-number-style();
    }
    
    .os-number {
      margin-right: size-scale(-4);
    }

    .os-caption {
      @include caption-style();
      margin-left: size-scale(-5);
    }
  }
}

// Figure Structure 2
section > figure {
  @include x-center-image();

  // max-width: PAGE_CONTENT_WIDTH();
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > span[data-type="media"] img {
    max-width: PAGE_CONTENT_WIDTH() - 0.5in;
    padding-bottom: size-scale(-4);
  }
  
  > div[data-type="title"] {
    @include caption-number-style(); 
    padding-top: size-scale(-6);
    padding-left: 0px;
    padding-bottom: size-scale(-1);
    margin-right: size-scale(-5);
    
    &::before {
      margin-right: size-scale(-3);
    }
  }

  figcaption {
    @include caption-style();
  }
}

