/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
<<<<<<< HEAD
  display: block;
  margin: auto;
  max-width: 6in;
  width: 100%;
=======
  @include center-image();
>>>>>>> bb1f3f4... only one figure structure
}

.os-figure,
.preface .os-figure {
  display: block;
  margin: auto;

  width: 100%;
  float: column-top; 
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > figure {
    margin: auto;
    padding-bottom: size-scale(-4);
    img {
      max-width: settings(figure-img-width);
    }
  }

<<<<<<< HEAD
  > .os-caption-container {
    padding-left: 0px;
    padding-bottom: size-scale(-1);

    .os-title-label, .os-number, .os-title {
      @include caption-number-style();
    }
    
    .os-number {
      margin-right: size-scale(-4);
    }

    .os-caption {
      @include caption-style();
      margin-left: size-scale(-5);
    }
  }
}

// Figure Structure 2
section > figure {
  display: block;
  margin: auto;
  max-width: 6.5in;

  width: 100%;
  float: column-top; 
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > span[data-type="media"] img {
    padding-bottom: size-scale(-4);
  }
  
  > div[data-type="title"] {
    @include caption-number-style(); 
    padding-top: size-scale(-6);
    padding-left: 0px;
    padding-bottom: size-scale(-1);
    margin-right: size-scale(-5);
    
    &::before {
      margin-right: size-scale(-3);
    }
  }

  figcaption {
    @include caption-style();
  }
=======
  @include caption(figure);
>>>>>>> bb1f3f4... only one figure structure
}

