@mixin svgIcon($svgClass, $displayBorder: true, $classNumber1:false, $classNumber1Color:false, $classNumber2:false, $classNumber2Color:false) {
  [data-type = "document-title"] > .os-icon > #{$svgClass} {
    position: absolute;
    width: 1em; //wdith and height will be determined by a scaling mixin later
    height: 1em;
    @if $displayBorder == false {
      .os-icon-border {
        display: none;
      }
    }
  .cls-#{$classNumber1} {
    fill: #{$classNumber1Color};
  }
  .cls-#{$classNumber2} {
    fill: #{$classNumber2Color};
  }
  }
}


@include svgIcon(".summary-icon", $displayBorder: true, $classNumber1: "1", $classNumber1Color: color-map(iconBorderColor), $classNumber2: "2", $classNumber2Color: "blue");

@include svgIcon(".key-terms-icon", $displayBorder: true,)


// #24739e
//
// #344456
