@import '../_common-stuff';
$RECIPE_NAME: "american-government";

/*==========================================================
  AMERICAN GOVERNMENT PAGES
==========================================================*/

/*
  Key Terms

  Contains a title "Key Terms".

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Summary

  Contains a title "Summary".

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Review Questions

  Contains a title "Review Questions" and exercises with solutions collated to EOB.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  Contains a title "Critical Thinking Questions" and exercises with solutions collated to EOB.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
/*
  Suggested Reading

  Contains a title "Suggestions for Further Study".

  Markup: ./styleguide/book.composite.suggested-reading.xhtml-baked.html

  Style guide: book.composite.suggested-reading
*/

$Config_ChapterCompositePages: (
  (className: "glossary",          clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary",           clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "review-questions",  clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Review Questions"),
  (className: "critical-thinking", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Critical Thinking Questions"),
  (className: "suggested-reading", clusterBy: $CLUSTER_NONE, name: "Suggestions for Further Study"),
);

/*
  References

  These are citations found throughout the book

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries (see pl-u-physics), but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
  (className: "solutions", clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key"),
  (className: "reference", clusterBy: $CLUSTER_CHAPTER, specialPageType: $PAGE_CITATIONS, name: "References"),
  (className: "index",     clusterBy: $CLUSTER_NONE,    specialPageType: $PAGE_INDEX, name: "Index"),
);

/*==========================================================
  AMERICAN GOVERNMENT CONFIG
==========================================================*/

/*
  Milestone

  Contains a title "Milestone".

  Markup: ./styleguide/page.note.milestone.xhtml-baked.html

  Style guide: page.note.milestone
*/
/*
  Insider Perspective

  Contains a title "Insider Perspective".

  Markup: ./styleguide/page.note.insider-perspective.xhtml-baked.html

  Style guide: page.note.insider-perspective
*/
/*
  Get Connected!

  Contains a title "Get Connected!".

  Markup: ./styleguide/page.note.get-connected.xhtml-baked.html

  Style guide: page.note.get-connected
*/
/*
  Finding a Middle Ground

  Contains a title "Finding a Middle Ground".

  Markup: ./styleguide/page.note.middle-ground.xhtml-baked.html

  Style guide: page.note.middle-ground
*/
/*
  Link to Learning

  Contains a title "Link to Learning".

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, hasSolutions: true, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

$Config_Notes: (
  (className: 'milestone',           labelText: "Milestone"),
  (className: 'insider-perspective', labelText: "Insider Perspective"),
  (className: 'get-connected',       labelText: "Get Connected!"),
  (className: 'middle-ground',       labelText: "Finding a Middle Ground"),
  (className: 'link-to-learning',    labelText: "Link to Learning"),
);

$Config_abstractTitle: "Learning Objectives";
$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_PartType_Table_CaptionContent   : (os-title-label: "Table ", os-number: counter(chapter) "."            counter(table), os-divider: " ");
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_hasCitation: true;

$Config_hasGroupedIntroBody: true;
$Config_hasCompositeChapter: true;
