@import '../biology/_config';
$RECIPE_NAME: "ap-biology";

/*==========================================================
  AP BIOLOGY PAGES
==========================================================*/

/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
/*
  Test Prep for AP Courses

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.ap-test-prep.xhtml-baked.html

  Style guide: book.composite.ap-test-prep
*/
/*
  Science Practice Challenge Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.science-practice.xhtml-baked.html

  Style guide: book.composite.science-practice
*/

$ApBiologyPageKeyTerms        : (className: "glossary",        clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms");
$ApBiologyPageSummary         : (className: "summary",         clusterBy: $CLUSTER_SECTION, name: "Chapter Summary");
$ApBiologyPageReviewQuestions : (className: "review",            clusterBy: $CLUSTER_NONE, name: "Review Questions");
$ApBiologyPageCriticalThinking: (className: "critical-thinking", clusterBy: $CLUSTER_NONE, name: "Critical Thinking Questions");
$ApBiologyPageTestPrep: (className: "ap-test-prep",      clusterBy: $CLUSTER_NONE, name: "Test Prep for AP\00ae\00a0 Courses");
$ApBiologySciencePractice: (className: "science-practice",      clusterBy:$CLUSTER_NONE,  name: "Science Practice Challenge Questions");

$Config_ChapterCompositePages: (
  $ApBiologyPageKeyTerms,
  $ApBiologyPageSummary,
  $ApBiologyPageReviewQuestions,
  $ApBiologyPageCriticalThinking,
  $ApBiologyPageTestPrep,
  $ApBiologySciencePractice
);

$Config_BookCompositePages: (
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);


/*==========================================================
  AP BIOLOGY NOTES
==========================================================*/
/*
  Connection for AP Courses note

  Contains a title "Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.connection-ap-courses.xhtml-baked.html

  Style guide: page.note.connection-ap-courses
*/
/*
  Teacher Support note

  Contains a title "Teacher Support" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.os-teacher.xhtml-baked.html

  Style guide: page.note.os-teacher
*/
/*
  Visual Connection note

  Contains a title "Visual Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.visual-connection.xhtml-baked.html

  Style guide: page.note.visual-connection
*/
/*
  Everyday Connection for AP Courses note

  Contains a title "Everyday Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.ap-everyday.xhtml-baked.html

  Style guide: page.note.ap-everyday
*/
/*
  Science Practice Connection for AP Courses note

  Contains a title "Science Practice Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.ap-science-practices.xhtml-baked.html

  Style guide: page.note.ap-science-practices
*/
/*
  Think About It note

  Contains a title "Think About It"

  Markup: ./styleguide/page.note.ost-sciprac-scithink.xhtml-baked.html

  Style guide: page.note.ost-sciprac-scithink
*/
/*
  Activity note

  Contains a title "Activity"

  Markup: ./styleguide/page.note.ost-sciprac-activity.xhtml-baked.html

  Style guide: page.note.ost-sciprac-activity
*/


$Config_Notes: join($Config_Notes, (
  (className: "ap-connection",        moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Connection for AP\00ae\00a0 Courses"),
  (className: "os-teacher",           moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Teacher Support"),
  (className: "ap-everyday",          moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Everyday Connection for AP\00ae\00a0 Courses"),
  (className: "ap-science-practices", moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Science Practice Connection for AP\00ae\00a0 Courses"),
  (className: "ost-sciprac-activity", moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Activity"),
  (className: "ost-sciprac-scithink", moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Think About It"),
  (className: 'experiment',           moveSolutionTo: $AREA_NONE, replaceHeader: true, labelText: "Scientific Method Connection",  ),
));


// Coverage optimizations
$Config_Coverage_MayHaveSimlinks: false;
$Config_Coverage_MayHaveIframes: false;
$Config_Coverage_MayHaveMissingExercises: true;

$Config_hasCompositeChapter: true;

$Config_ContentExercise_TitleContent : (os-number : counter(chapter) "." counter(exerciseMaybeInContent), os-title-label : "Exercise ");
$Config_ContentExercise_TitleContentAp : (os-number : counter(appendix, upper-alpha ) "." counter(exerciseMaybeInContent), os-title-label : "Exercise ");
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);

$Config_hasAbstract: false;
