/*
  Page

  A Page is usually a section inside a chapter. It contains:

  - `[data-type='metadata']` The attribution information for this Page
  - `h2[data-type='title']` The title of the Page

  Markup: ./book.page.html-cooked.html

  Style guide: book.page
*/

/*
  Page

  Everything in here is specific to a Page in a book.
  A Page is usually a section inside a chapter.

  Style guide: page
*/
[data-type='page'] {

  /*
    Metadata

    This contains attribution information and is sometimes collated to the
    back of the book.

    Markup:
    <div data-type="page">
      <div data-type="metadata">...</div>
    </div>

    Style guide: page.0-metadata
  */
  > [data-type='metadata'] { }
  > h2[data-type='document-title'] { }

  /*
    Processing Instruction

    These are an artifact of the transforms and will disappear in the future

    Markup:
    <div data-type="page">
      <cnx-pi />
    </div>

    Style guide: page.0-processing
  */
  > cnx-pi { display: none; }

}

/*
  Term

  A term which is defined in a glossary

  Markup: ./page.term.html-cooked.html

  Style guide: page.term
*/
[data-type='term'] { font-weight: bold; }


/*
  Note

  A note or "feature". This is usually separated visually from the rest of the
  content in a book with a border and a separate background color.

  Contains an optional title, and optionally an additional class to help style the note

  Markup: ./page.note.html-cooked.html

  Style guide: page.note
*/
[data-type='note'] {

  > [data-type='title'] {}

}

/*
  Figure

  A `<figure>` is wrapped in a `<div data-type='figure'>` which contains:
  - optional `[data-type='title']`
  - `figure` element
    - `[data-type='media']` : a wrapper element which may disappear in the future
      - `img[src][alt]` : The image for the Figure
  - `.caption-container` : contains the figure number and caption (may be renamed to figcaption in the future and moved into figure)
    - `.title-label` : The word `Figure`
    - `.number` : The number of the figure (ie `3.1`)
    - `.caption`
  - `figcaption`

  TODO: Maybe this should use the `<picture>` element instead of the `[data-type='media']` element:
  http://www.html-cooked.html5rocks.com/en/tutorials/responsive/picture-element/

  Markup: ./page.figure.html-cooked.html

  Style guide: page.figure
*/
[data-type='figure'] {
  > figure {
    > [data-type='media'] {
      > img[src] {}
    }
  }
  > .caption-container {}
}


/*
  Paragraph

  A Paragraph of text. Some of the common things it can contain are:

  - `[data-type='term']` : A term that is defined elsewhere (in the glossary)
  - `strong`
  - `em`
  - `[data-type='list']` : an inline list
    - `[data-type='item']` : an item in the list
  - `math` : MathML

  TODO: Move these into a separate "inline" section in the HTML guide

  Markup: ./page.para.html-cooked.html

  Style guide: page.para
*/
p {
  > [data-type='list'] {
    > [data-type='item'] { }
  }
}

/*
  Section

  A (sub)section of content which contains a title.

  Markup: ./page.section.html-cooked.html

  Style guide: page.section
*/
section {
  > [data-type='title'] {}
}


/*
  Example

  An example which is usually styled to not be part of the flow of normal content
  (similar to a Note).

  Markup: ./page.example.html-cooked.html

  Style guide: page.example
*/
[data-type='example'] {}


/*
  Exercise

  An exercise contains a problem, optional title, and optional solution(s).

  Markup: ./page.exercise.html-cooked.html

  Style guide: page.exercise
*/
[data-type='exercise'] {
  > [data-type='problem'] { }
  > [data-type='solution'] { }
}

/*
  Equation

  An equation wraps a MathML formula so it can be referenced by a number.

  Markup: ./page.equation.html-cooked.html

  Style guide: page.equation
*/
[data-type='equation'] {}


/*
  Glossary

  This element occurs as a separate Page at the end of a Chapter or a Book. It is collected from individual glossary elements in each raw Page.

  Markup: ./book.glossary.html-cooked.html

  Style guide: book.glossary
*/
dl[data-type='glossary'] {
  > dt { }
  > dd { }
}


/*
  Table

  Without a title, the `table` element may contain a `caption`, `tbody`, `col`, and other _usual_ elements.

  Markup: ./page.table.html-cooked.html

  Style guide: page.table
*/
> table {
  caption {}
}

/*
  Composite Page

  A Composite Page is one that is automatically generated by moving/copying content from the raw pages.
  Examples include the end-of-chapter exercises, end-of-book solutions, end-of-chapter glossary, index.

  Markup:
  <div data-type="composite-page">
    <h2>Homework Problems</h2>
    <div data-type="exercise">
      <div data-type="problem">What is 2+2?</div>
    </div>
  </div>

  Style guide: book.composite
*/
[data-type='composite-page'] {}


/*
  Chapter

  A Chapter contains a title and multiple Pages, one of which may be a `.introduction` Page.

  Markup: ./book.chapter.html-cooked.html

  Style guide: book.chapter
*/
[data-type='chapter'] {
  > [data-type='page'].introduction {}
}


//x=new Set(Array.prototype.slice.call(document.querySelectorAll('*')).map(function(el) { if (el.getAttribute('data-type')) { return "[data-type='" + el.getAttribute('data-type') + "']"; } else if (el.className) {return el.tagName.toLowerCase() + "." + el.className.split(' ').join('.') } else {return el.tagName.toLowerCase()} }))


// TODO: Add Lists:
