// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it


@include color-scheme-merge( (
  primary:    #24739e,
  secondary:  #344456,
  tertiary:   #d34d32,
  quaternary: #f37541,
  quinary:    #0dc0dc,
));
