$font_fam:(
    _name: "fontContainer",
    _subselector: "",
     _properties:(
         font-family: enum('ValueSet:::NOT_NULL'),
         font-weight: enum('ValueSet:::NULLABLE'),
         color: enum('ValueSet:::NULLABLE'),
         size: enum('ValueSet:::NOT_NULL'),
         )
);

$pic_padding:(
    _name: "piccaptionContainer",
    _subselector: "",
     _properties:(
         padding: 1.0rem,
     )
);



