$eoc_container: (
    _name: 'container', 
    _subselector: 'os-eoc',
    _properties: (

    )
);
$eoc_title: (
    _name: 'title', 
    _subselector: 'h2[data-type="document-title"]'
    _properties: (

    )
);
$eoc_section_title: (
    _name: 'section-title', 
    _subselector: 'h3[data-type="document-title"]'
    _properties: (

    )
);