@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$eoc_container: (
    _name: 'container', 
    _subselector: '.os-eoc',
    _properties: (

    )
);
$eoc_module_title: (
    _name: 'module-title', 
    _subselector: ' h2[data-type="document-title"]',
    _properties: (
        font-family: 'IBM Plex Sans',
        text-transform: 'uppercase',
    )
);
$eoc_section_title: (
    _name: 'section-title', 
    _subselector: ' h3[data-type="document-title"]',
    _properties: (

    )
);

@include create_superspace (
    'eoc', (
        _components: (
            map-merge($eoc_container, (
                _components: (
                    $eoc_module_title,
                )
            ))
        )
    )
);

@include debug_settings();