$intro_container: (
    _name: 'container', 
    _subselector: ' div.introduction', 
    _properties: (
        display: 'flex',
        flex-direction: 'column', 
        page-break-after: 'always',

    )
);

$splash_image: (
    _name: 'splash',
    _subselector: ' .os-figure',
    _properties: (
        margin-bottom: enum('ValueSet:::NULLABLE'),
    )
);

$intro_title: (
    _name: 'title', 
    _subselector: ' h2.document-title',
    _properties: (
        font-size: '12pt',
        text-transform: 'uppercase',
    )
);

$intro_body: (
    _name: 'body', 
    _subselector: ' .testy-out',
    _properties: (
         display: 'flex',
         flex-direction: 'row-reverse',
    )
);

$intro_para: (
    _name: 'para',
    _subselector: ' p',
    _properties: (
        max-width: '6in',
    )
);

$chapter_outline_container: (
    _name: 'outline-container', 
    _subselector: ' div .os-chapter-outline', 
    _properties: (
        background-color: enum('ValueSet:::NOT_NULL'),
        
    )
);
$chapter_outline_title: (
    _name: 'outline-title', 
    _subselector: ' h3.os-title', 
    _properties: (
        
    )
);
$chapter_outline_objective: (
    _name: 'objective', 
    _subselector: ' div.os-chapter-objective', 
    _properties: (
        
    )
);

@include create_superspace (
    'introduction', (
        _components: (
            map-merge($intro_container, (
                _components: (
                    $splash_image,
                    $intro_title,
                    $intro_body,
                    $intro_para,
                    $chapter_outline_container,
                    $chapter_outline_title,
                    $chapter_outline_objective,
                )
            ))
        )
    )
);
