//will RM later, just testing
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@include create_superspace(
    'icon-feature', (
        _components: (
            (
                _name: 'container',
                _subselector: '[data-type="note"]',
                _properties: (
                    text-align: 'left',
                    border-bottom: enum('ValueSet:::NOT_NULL'), 
                    font-family: 'IBM Plex Sans',
                    font-weight: lighter,
                    font-size: '9pt',
                )
            ),
            (
                _name: 'title',
                _subselector: ' .os-title[data-type="title"]', 
                _properties: (
                    text-transform: 'uppercase',
                )
            ),
            (
                _name: 'body',
                _subselector: ' .os-note-body',
                _properties: (
                    padding-bottom: '1.5em'
                )
            )
        )
    )
);

@include create_superspace(
    'boxed-feature', (
        _components: (
            (
                _name: 'container',
                _subselector: '[data-type="note"]',
                _properties: (
                    padding: '1em',
                    border: ('ValueSet:::NOT_NULL'),
                )
            ),
            (
                _name: 'title', 
                _subselector: ' .os-title[data-type="title"]',
                _properties: (
                    text-transform: 'uppercase',
                )
            ), 
            (
                _name: 'subtitle', 
                _subselector: ' .os-subtitle', 
                _properties: (

                )
            ), 
            (
                (
                    _name: 'caption', 
                    _subselector: ' .os-caption-container', 
                    _properties: (
    
                    )
                ),
            )
        )
    )
);

@include debug_settings();