@import '../_common-stuff';

/*==========================================================
  Entrepreneurship CONFIG
==========================================================*/

/*==========================================================
  Notes
==========================================================*/
/*
  Work It Out note

  Contains a title "Work It Out" and the content of the note.

  Markup: ./styleguide/page.note.work-it-out.xhtml-baked.html

  Style guide: page.note.work-it-out
*/
/*
  Are You Ready note

  Contains a title "Are You Ready?" and the content of the note.

  Markup: ./styleguide/page.note.are-you-ready.xhtml-baked.html

  Style guide: page.note.are-you-ready
*/
/*
  What Can You Do note

  Contains a title "What Can You Do?" and the content of the note.

  Markup: ./styleguide/page.note.what-can-do.xhtml-baked.html

  Style guide: page.note.what-can-do
*/
/*
  Entrepreneur In Action note

  Contains a title "Entrepreneur In Action" and the content of the note.

  Markup: ./styleguide/page.note.entrepreneur-in-action.xhtml-baked.html

  Style guide: page.note.entrepreneur-in-action
*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
$Config_Notes: (
(className: 'work-it-out',  moveSolutionTo: $AREA_NONE,  labelText: "Work It Out"),
(className: 'are-you-ready',  moveSolutionTo: $AREA_NONE,  labelText: "Are You Ready?"),
(className: 'what-can-do',  moveSolutionTo: $AREA_NONE,  labelText: "What Can You Do?"),
(className: 'entrepreneur-in-action',  moveSolutionTo: $AREA_NONE,  labelText: "Entrepreneur In Action"),
(className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
);


/*==========================================================
  EOC
==========================================================*/
