
@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .practice-test, .key-equations, .key-concepts, .review-exercises {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.practice-test {
    move-to: eoc-practice-test;
  }
  section.key-equations {
    move-to: eoc-key-equations;
  }
  section.key-concepts {
    move-to: eoc-key-concepts;
  }
  section.review-exercises {
    move-to: eoc-review-exercises;
  }
  section.try .solution {
    move-to: eob-try;
  }
  section.section-exercises .solution {
    move-to: eob-section-exercises;
  }
}

div[data-type='chapter']::div {
  class: eoc-practice-test;
  content: pending(eoc-practice-test);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-key-equations;
  content: pending(eoc-key-equations);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-key-concepts;
  content: pending(eoc-key-concepts);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-review-exercises;
  content: pending(eoc-review-exercises);
  group-by: "div[data-type='page']";
}


//eob
body::div {
  class: eob-try;
  content: pending(eob-try);
  group-by: "div[data-type='page']";
}
body::div {
  class: eob-section-exercise;
  content: pending(eob-section-exercises);
  group-by: "div[data-type='page']";
}
