
@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .key-equations, .exercises, .references {
    .x-numb ();
  }
}


// <cnx-pi data-type="cnx.eoc">class="key-equations" title="Key-Equations"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="exercises" title="Exercises"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

//eoc
div[data-type='chapter'] {
  section.key-equations {
    move-to: eoc-key-equations;
  }
  section.exercises {
    move-to: eoc-exercises;
  }
  section.references {
    move-to: eoc-references;
  }
}


div[data-type='chapter']::div {
  class: eoc-key-equations;
  content: pending(eoc-key-equations);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-exercises;
  content: pending(eoc-exercises);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-references;
  content: pending(eoc-references);
}
