
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="self-check-questions" title="Self-Check Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="critical-thinking" title="Critical Thinking Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems" title="Problems"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .self-check-questions, .review-questions, .critical-thinking, .problems, .references {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.self-check-questions {
    move-to: eoc-self-check-questions;
  }
  section.review-questions {
    move-to: eoc-review-questions;
  }
  section.critical-thinking {
    move-to: eoc-critical-thinking;
  }
  section.problems {
    move-to: eoc-problems;
  }
  section.references {
    move-to: eoc-references;
  }
}

div[data-type='chapter']::after {
  content: pending(eoc-self-check-questions);
  class: eoc-self-check-questions;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-problems);
  class: eoc-problems;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  display: block;
}
