
//
// <cnx-pi data-type="cnx.eoc">class="section-summary" title="Section Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="conceptual-questions" title="Conceptual Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems-exercises" title="Problems &amp; Exercises"</cnx-pi>
// <cnx-pi data-type="chapter-toc">label="Key Concepts"</cnx-pi>

@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .conceptual-questions, .problems-exercises {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.conceptual-questions {
    move-to: eoc-conceptual-questions;
  }
  section.problems-exercises {
    move-to: eoc-problems-exercises;
  }
}

div[data-type='chapter']::div {
  class: eoc-conceptual-questions;
  content: pending(eoc-conceptual-questions);
  group-by: "div[data-type='page']";
}

div[data-type='chapter']::div {
  class: eoc-problems-exercises;
  content: pending(eoc-problems-exercises);
  group-by: "div[data-type='page']";
}
