// Superspace -> Map (
//   _groups(Optional) -> Map ( String -> ValueSet | String ),
//   _components -> List ( ...Component )
//   )
// )

// Component -> Map (
//   _name -> String,
//   _subselector -> String,
//   _properties -> Map ( String -> ValueSet | String ),
//   _components(Optional) -> List ( ...Component )
// )

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Component Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$learning_objective_title: (
  _name: 'title',
  _subselector: '[data-type=\'abstract\']',
  _properties: (
    font-color: enum('ValueSet:::NOT_NULL'),
    italics: enum('ValueSet:::NULLABLE'),
    font-face: (enum('ValueSet:::NULLABLE'), 'IBM Plex Sans Medium')
  )
);
$learning_objective_list: (
  _name: 'list',
  _subselector: ' > ul',
  _properties: (

  )
);
$learning_objective_point: (
  _name: 'list',
  _subselector: ' > ul',
  _properties: (
    font-color: (enum('ValueSet:::NULLABLE'), black)
    font-face:  (enum('ValueSet:::NULLABLE'), 'Muli')
    bullet-color: enum('ValueSet:::NULLABLE')
  )
);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Superspaces ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// type-one, type-two
@include create_superspace('LearningObjectiveTitle', (
  _components: (
    map-merge($learning_objective_title, (
      _components: (
        $learning_objective_list
      )
    ))
  )
));

// type-three, type-four
@include create_superspace('LearningObjectiveList', (
  _components: (
    map-merge($learning_objective_list, (
      _components: (
        $learning_objective_point
      )
    ))
  )
));