


// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it

@function platformPDF-settings() {
  $PDF_SETTINGS: (
    platform: unified,
    scope: "[data-type='chapter']",
  );
  @return $PDF_SETTINGS;
}

@include settings-merge(get-function("platformPDF-settings"));
