@import '../_common-stuff';

/*==========================================================
  BUSINESS ETHICS CONFIG
==========================================================*/

/*==========================================================
  Notes
==========================================================*/
/*
/*
  Link to Learning note

  Contains a title "Link to Learning", a subtitle, and the note body.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Cases from the Real World note

  Contains a title "Cases from the Real World", a subtitle, and the note body.

  Markup: ./styleguide/page.note.real-world.xhtml-baked.html

  Style guide: page.note.real-world
*/
/*
  What Would You Do note

  Contains a title "What Would You Do", a subtitle, and the note body.

  Markup: ./styleguide/page.note.what-would.xhtml-baked.html

  Style guide: page.note.what-would
*/
/*
  Ethics Across Time and Cultures note

  Contains a title "Ethics Across Time and Cultures", a subtitle, and the note body.

  Markup: ./styleguide/page.note.ethics-across.xhtml-baked.html

  Style guide: page.note.ethics-across
*/

$Config_Notes: (
    (className: 'link-to-learning',  moveSolutionTo: $AREA_NONE,  labelText: "Link Learning"),
    (className: 'real-world',  moveSolutionTo: $AREA_NONE,  labelText: "Cases from the Real World"),
    (className: 'what-would',  moveSolutionTo: $AREA_NONE,  labelText: "What Would You Do?"),
    (className: 'ethics-across',  moveSolutionTo: $AREA_NONE,  labelText: "Ethics Across Time and Cultures"),
);

/*==========================================================
  EOC
==========================================================*/
/*
  Summary page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.section-summary.xhtml-baked.html

  Style guide: book.composite.section-summary
*/
/*
  Key Terms page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Assessment Questions page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.assessment-questions.xhtml-baked.html

  Style guide: book.composite.assessment-questions
*/
/*
  Endnotes page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/
/*
  Figure Credits page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.figure-credits.xhtml-baked.html

  Style guide: book.composite.figure-credits
*/
/*
  Case Study page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.case-study.xhtml-baked.html

  Style guide: book.composite.case-study
*/
$Config_ChapterCompositePages: (
  (className: "section-summary",         clusterBy: $CLUSTER_NONE,                      name: "Summary"),

(className: "key-terms",             clusterBy: $CLUSTER_NONE,   specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",    name: "Key Terms"),

  (className: "assessment-questions",    clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Assessment Questions"),

  (className: "references",              clusterBy: $CLUSTER_NONE,                      name: "End Notes"),

  (className: "case-study",              clusterBy: $CLUSTER_NONE,                      name: "Case Study"),
);
