.\=(@counters) {
  counter-reset: @counters;
}
.\+(@counters) {
  counter-increment: @counters;
}
div[data-type='book']{
  .\=(chapter);
}
div[data-type='chapter'] {
  .\=(section figure table list);
  .\+(chapter);

  dl.definition {
    copy-to: eoc-key-terms;
  }
  section.section-summary {
    move-to: eoc-section-summary;
  }
  section.conceptual-questions {
    move-to: eoc-conceptual-questions;
  }
  section.problems-exercises {
    move-to: eoc-exercises;
  }

  // <div data-type="document-title">Stuff</div>
  // becomes
  // <div data-type="document-title"><span class="titling">1</span><span class="titling">Stuff</span></div>
  > div[data-type='document-title'] {
    string-set: chapter-title content();
    content: '';

    &::span {
      class: 'titling';
      content: counter(chapter);
    }
    &::span {
      class: 'titling';
      content: string(chapter-title);
    }
  }

  div[data-type="page"] {
    .\=(subsection);
    .\+(section);

    > div[data-type='document-title'] {
      string-set: section-title content();
      content: '';

      &::span {
        class: 'titling';
        content: counter(chapter) '.' counter(section);
      }
      &::span {
        class: 'titling';
        content: string(section-title);
      }
    }
    > section {
        .\+(subsection);
    }
  }

  .eoc-section-summary > section h1.title {
    string-set: section-title content();
    content: '';

    &::span {
      class: 'titling';
      // This implies that group-by stores a "xref" attribute
      // with a cross reference, eg #id-5352435.
      // These are an INTERNAL cross reference, they are not baked in
      // to the cooked document as attributes.
      content: target-counter(attr(xref), chapter) '.' target-counter(attr(xref), section);
    }
    &::span {
      class: 'titling';
      content: string(section-title);
    }
  }
  .eoc-conceptual-questions, .eoc-exercises {
    .\=(exercise);

    > section h1.title {
      string-set: section-title content();
      content: '';

      &::span {
        class: 'titling';
        content: target-counter(attr(xhref), chapter) '.' target-counter(attr(xref), section);
      }
      &::span {
        class: 'titling';
        content: string(section-title);
      }
    }

    div[data-type='exercise'] {
      .\+(exercise);
    }
    div[data-type='problem'] {
      &::before {
        content: counter(exercise) '.';
        // If you needed to, you could also do this with
        // the internal cross references and target-counter
        // instead of "recounting" them here. Sometimes it's
        // basic and this "easy" way is fine, sometimes it isn't...
      }
    }
  }

  .eoc-exercises div[data-type='problem']::before {
    content: 'Exercise ' counter(exercise);
  }
}

span[data-type='term'] {
  copy-to: eob-index;
}

// Containers
div[data-type='chapter']::div {
  class: eoc-key-terms;
  content: pending(eoc-key-terms);
  sort-by: alphabetic;
}
div[data-type='chapter']::div {
  class: eoc-section-summary;
  content: pending(eoc-section-summary);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-conceptual-questions;
  content: pending(eoc-conceptual-questions);
  group-by: "div[data-type='page']";
}
div[data-type='chapter']::div {
  class: eoc-exercises;
  content: pending(eoc-exercises);
}
body::div {
  class: eob-index;
  content: pending(eob-index);
  group-by: first-letter;
  sort-by: alphabetic;
}
