body div[data-type=chapter] section[data-element-type='problems-exercises'] {
  move-to: probs-123;
}
body div[data-type=chapter] section[data-element-type='problems-exercises'] div[data-type='exercise'] div[data-type='solution'] {
  move-to: sol-234;
}
body div[data-type=chapter] div[data-type='definition'] {
  copy-to: defs-345;
}
body div[data-type=chapter]::div {
  class: eoc-exercises;
  content: pending(probs-123);
}
body::div {
  class: eob-solutions;
  content: pending(sol-234);
  group-by: 'div[data-type=chapter]';
}
body::div {
  class: eob-glossary;
  content: pending(defs-345);
  sort-by: '.Term';
}
