// ==========================================================
//  IMPORTS AREA
// ==========================================================
// Pull in elements that are common for all books, like the link target labels.
// It is commented here to make sure all the vars used in recipe-generation are documented in this file
// @import '../_common-stuff';

// ==========================================================
//  TITLING CONTENT
// ==========================================================
//
// These describe the labels for things like "Figure 4.3" or "Appendix B".
// They are local vars that are used below.
// NOTE: The order of each value matters; it is the order in which these
// elements will occur in the generated text.
$_exerciseTitleContent       : (os-divider: ".", os-number: counter(exercise));
$_exampleTitleContent        : (os-title-label: "Example ", os-number: counter(chapter) "." counter(example));
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example));
$_tryTitleContent            : (os-title-label: "Try It ", os-number: counter(chapter) "." counter(example)); // try it notes are numbered based on the example preceeding them
$_equationNumber             : (os-title-label: "Eqn", os-number: counter(equation));

// The following are defined in _common-stuff.scss because they do not change
// but are here for completeness.
// TODO: Maybe they should be moved to $Config_PartType_* for consistency instead of being separate vars
$Config_PartType_Chapter_TitleContent   : (os-number: counter(chapter), os-divider: ' ');
$Config_PartType_Appendix_TitleContent  : (os-title-label: "Appendix ", os-number: counter(appendix, upper-alpha), os-divider: ' ');
$Config_PartType_Section_TitleContent   : (os-number: counter(chapter) "." counter(section), os-divider: ' ');
$Config_PartType_Table_CaptionContent   : (os-title-label: "Table ", os-number: counter(chapter) "." counter(table));
$Config_PartType_Table_CaptionContentAp : (os-title-label: "Table ", os-number: counter(appendix, upper-alpha) "." counter(table));
$Config_PartType_Figure_CaptionContent  : (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure));
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Figure ", os-number: counter(appendix, upper-alpha) "." counter(figure));


// ==========================================================
//  COMPOUND COLLATION PAGES
// ==========================================================
//
// These are end-of-chapter/book pages that are autogenerated that have additional
//   nesting.
// For example, a "Test Prep" page may contain 3 items whose fields are
//   defined in the "Collation Pages" area above in this file.
//
// Each entry has the following fields:
// - className: the class name (and bucket) of the page
// - name: The title of the new page (maybe rename?)
// - childPages: a list of "COLLATION PAGES" entries
//
// Also, a set of styleguide comments occur above for each composite page.
// Having it here makes it easy to remember to update the documentation and
// by having it above the `$Config_ChapterCompositePages` helps make this area
// more readable (since it sort of looks like a table).
$_compoundTestPrep: (
  (className: "multiple-choice",   clusterBy: $CLUSTER_SECTION, name: "Multiple Choice"),
  (className: "short-answer",      clusterBy: $CLUSTER_SECTION, name: "Short Answer"),
  (className: "extended-response", clusterBy: $CLUSTER_SECTION, name: "Extended Response"),
);
// See below for where this variable is used


// ==========================================================
//  COLLATION PAGES
// ==========================================================

/*
  Practice Problems

  This is an example styleguide snippet.

  Markup: ./styleguide/book.composite.practice.html-baked.html

  Style guide: book.composite.practice
*/
$Config_ChapterCompositePages: (
  (className: "glossary",        specialPageType: $PAGE_GLOSSARY, sortBy: "dl > dt",   name: "Key Terms"),
  (className: "summary",         clusterBy: $CLUSTER_SECTION,                               name: "Chapter Review"),
  (className: "formula-review",  clusterBy: $CLUSTER_SECTION,                               name: "Formula Review"),
  (className: "practice",        clusterBy: $CLUSTER_SECTION, hasSolutions: true,           name: "Practice"),
  (className: "bring-together-exercises",                hasSolutions: true,           name: "Bringing It Together: Exercises"),
  (className: "free-response",   clusterBy: $CLUSTER_SECTION, hasSolutions: true,           name: "Homework"),
  (className: "bring-together-homework",                 hasSolutions: true,           name: "Bringing It Together: Homework"),
  (className: "references",      clusterBy: $CLUSTER_SECTION,                               name: "References"),
  (className: "solutions",       compoundComposite: true, moveSolutionsTo: $AREA_EOC,  name: "Solutions"),

  // These are compoundComposite pages
  (className: "test-prep", childPages: $_compoundTestPrep, name: "Test Prep" ),
);

$Config_BookCompositePages: (
  (className: "index",           specialPageType: $PAGE_INDEX,                              name: "Index"),
);


// ==========================================================
//  CAPTION CONFIG
// ==========================================================

// Configure table and Figure captions
// If this method of setting the content of the label explicity becomes a problem,
// try grabbing the numbering information from the element's header

$Config_SetTableCaption : (captionType: $CAPTION_TABLE,  defaultContainer: caption,    hasCaption: false, hasTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true,  hasTitle: false);


// ==========================================================
//  TARGET LABELS (optional)
// ==========================================================

$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',               labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: '[data-type="chapter"] .example',               labelText: "Example "  counter(chapter) "." counter(example)),
  (selector: '[data-type="chapter"] :not(table) > table',    labelText: "Table "    counter(chapter) "." counter(table)),
  (selector: '[data-type="chapter"] :not(figure) > figure',  labelText: "Figure "   counter(chapter) "." counter(figure)),
  (selector: '[data-type="appendix"] :not(table) > table',   labelText: "Table " counter(appendix, upper-alpha) "." counter(table)),
  (selector: '[data-type="appendix"] :not(figure) > figure', labelText: "Figure " counter(appendix, upper-alpha) "." counter(figure)),
);

// This is what you would most likely write if you need to add a custom link
// TODO: Make this something like [data-type="note"] { content: target-string(attr(href), title)}
$Config_TargetLabels: append( $Config_TargetLabels,
  (selector: '[data-type="note"].try', labelText: "Try It")
);


// ==========================================================
//  CUSTOM NOTES
// ==========================================================

$Config_Notes: (
  (className: 'try',        moveSolutionTo: $AREA_TRASH, counterName: "Try", titleContent: $_tryTitleContent),
  (className: 'calculator', moveSolutionTo: $AREA_NONE,  labelText: "Using the TI-83, 83+, 84, 84+ Calculator"),
);

$Config_UnnumberedExercises: (
  (contextSelector: '.try',                   childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="example"]',  childSelector: '[data-type="exercise"]'),
);


// ==========================================================
//  OTHER PARTS
// ==========================================================

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Equation: (moveTo: $AREA_NONE, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_NONE, titleContent: $_equationNumber, excludeNumberingInClassName: 'section-summary');
$Config_PartType_Solution: (moveTo: $AREA_TRASH_HALF, );


// ==========================================================
//  Coverage optimizations
// ==========================================================
//
// These are mostly just for removing unused selectors from the CSS file.
// If you know for sure that the book does not contain any of these then
//   set these to be false.
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;


// ==========================================================
//  Assorted Hacks
// ==========================================================
//
// These have not been incorporated into the structure of config files yet
// and are listed here so they can be revisited and incorporated properly
// into the structure of the config files later, but so development can continue
$Config_HACK_modifyAnyContainerTitleSelector: false;
