$boxed_note_container: (
  _name: 'container',
  _subselector: '[data-type="note"]',
  _properties: (
    border-color: enum('ValueSet:::NOT_NULL'),
    border-style: solid,
    border-width: 0.2rem,
    padding: 1em
  )
);

$boxed_note_title: (
  _name: 'title',
  _subselector: ' > .os-title',
  _properties: (
    font-family: 'Muli',
    font-weight: bold,
    font-size: 1.44em,
    text-transform: uppercase,
    color: enum('ValueSet:::NOT_NULL'),
    border-bottom-style: dotted,
    border-bottom-color: enum('ValueSet:::NOT_NULL')
  )
);

@include create_superspace('BoxedNoteTitled', (
  _components: (
    map-merge($boxed_note_container, (
      _components: (
        $boxed_note_title
      )
    ))
  )
));
