@charset "UTF-8";
/*
  Book Page

  A Page is usually a section inside a chapter. It contains:

  - `[data-type='metadata']` The attribution information for this Page
  - `[data-type='document-title']` The title of the Page

  Markup: ./book.page.xhtml-baked.html

  Style guide: book.1-page
*/
/*
  Page Elements

  Everything in here is specific to a Page in a book.
  A Page is usually a section inside a chapter.

  Style guide: page
*/
/*
  Metadata

  This contains attribution information and is sometimes collated to the back of the book.

  Markup:
  <div data-type="page">
    <div data-type="metadata">...</div>
  </div>

  Style guide: page.0-metadata
*/
/*
  Processing Instruction

  These are an artifact of the transforms and will disappear in the future

  Markup:
  <div data-type="page">
    <cnx-pi />
  </div>

  Style guide: page.0-processing
*/
/*
  Term

  A term which is used to make the Book Index. Terms used in a Glossary are defined in the Glossary, not here.

  Markup: ./page.term.xhtml-baked.html

  Style guide: page.term
*/
/*
  Note

  A note or "feature". This is usually separated visually from the rest of the
  content in a book with a border and a separate background color.

  Contains an optional title, and optionally an additional class to help style the note

  Markup: ./page.note.xhtml-baked.html

  Style guide: page.note
*/
/*
  Figure

  A `<figure>` is wrapped in a `<div data-type='figure'>` which contains:
  - optional `[data-type='title']`
  - `figure` element
    - `[data-type='media']` : a wrapper element which may disappear in the future
      - `img[src][alt]` : The image for the Figure

  TODO: Maybe this should use the `<picture>` element instead of the `[data-type='media']` element:
  http://html5rocks.com/en/tutorials/responsive/picture-element/

  # TODO

  - Decide on what the baked markup for a figure with a title and caption should look like.
    - Proposals have mentioned using `<figcaption>` most of the time.
    - Maybe what is in the Raw HTML is _good enough_?

  Markup: ./page.figure.xhtml-baked.html

  Style guide: page.figure
*/
/*
  Paragraph

  A Paragraph of text. Some of the common things it can contain are:

  - `[data-type='term']` : A term that is defined elsewhere (in the glossary)
  - `strong`
  - `em`
  - `[data-type='list']` : an inline list
    - `[data-type='item']` : an item in the list
  - `math` : MathML

  TODO: Move these into a separate "inline" section in the HTML guide

  Markup: ./page.para.xhtml-baked.html

  Style guide: page.para
*/
/*
  Section

  A (sub)section of content which contains a title.

  Markup: ./page.section.xhtml-baked.html

  Style guide: page.section
*/
/*
  Example

  An example which is usually styled to not be part of the flow of normal content
  (similar to a Note).

  Markup: ./page.example.xhtml-baked.html

  Style guide: page.example
*/
/*
  Exercise

  An exercise contains a problem, optional title, and optional solution(s).

  Exercises are usually numbered and contain a link to the solution if it exists.
  Typically, an exercise is collated at the end of chapter.

  Solutions are collated (at the end of section, end of chapter or end of book), they are numbered (the number is the same as the exercise they are associated to) and link back to their exercise.

  Markup: ./page.exercise.xhtml-baked.html

  Style guide: page.exercise
*/
/*
  Equation

  An equation wraps a MathML formula and is usually numbered.

  Markup: ./page.equation.xhtml-baked.html

  Style guide: page.equation
*/
/*
  Glossary

  This element is often referred to as Key Terms in the textbook.
  It is collated as a separate Page at the end of a Chapter or a Book.
  Also, it is collected from individual glossary elements in each raw Page.

  Markup: ./book.glossary.xhtml-baked.html

  Style guide: book.glossary
*/
/*
  Book Index

  The book Index contains terms and links to their occurences in the book.

  Markup: ./book.index.xhtml-baked.html

  Style guide: book.index
*/
/*
  Table

  The `table` element may contain a `caption`, `tbody`, `col`, and other _usual_ elements.

  If the table contains a title, there is an additional element inside `<caption>`

  # TODO

  - Decide on what the baked markup for a table with a title and caption should look like.
    - Proposals have mentioned wrapping the `<table>` element with a `.os-table-container` element.
    - Maybe what is in the Raw HTML is _good enough_?

  Markup: ./page.table.xhtml-baked.html

  Style guide: page.table
*/
/*
  Composite Page

  These are end-of-book or end-of-chapter Pages.

  A Composite Page is one that is automatically generated by moving/copying content from the raw pages.
  Examples include the end-of-chapter exercises, end-of-book solutions, end-of-chapter glossary, index.

  They:

  - must use data-type="composite-page".
  - must have a unique identifier (class) for styling purposes.
  - usually contain content separated by section(pages) or by chapter.
  - now appear in the TOC (currently not the case in the PDF).
  - aren't numbered in the content and in the TOC (the chapters and sections are)
  - follow the same rules as a regular data-type="page" (header hierarchy, metadata, etc.)

  Style guide: book.2-composite
*/
/*
  Book Preface

  A Preface is a Page at the beginning of a book that is not inside a Chapter. It contains:

  - `.preface` A class to identify it as a Preface
  - `[data-type='metadata']` The attribution information for this Page
  - `[data-type='document-title']` The title of the Page

  Markup: ./book.preface.xhtml-baked.html

  Style guide: book.1-preface
*/
/*
  Chapter

  A Chapter contains a title and multiple Pages, one of which may be a `.introduction` Page.

  The introduction page typically contains a splash image, a chapter outline and an introductory paragraph.

  Markup: ./book.chapter.xhtml-baked.html

  Style guide: book.0-chapter
*/
/*
  Unit

  A Unit contains a title and multiple Chapters.

  It does not currently contain an "Introduction" Page.

  Markup: ./book.unit.xhtml-baked.html

  Style guide: book.0-unit
*/
/*
  Unnumbered Content

  Content that has been marked with the class `.unnumbered` by the content team.

  Currently, the recipe supports only tables and figures but
  this may apply to a note, a table, an equation, a figure.

  Markup: ./page.unnumbered.xhtml-baked.html

  Style guide: page.unnumbered

*/
/*
  Lists

  Lists can contain a label or title and can be block content or inline.

  Markup: ./page.list.xhtml-baked.html

  Style guide: page.list

*/
/*
  Iframe

  An iframe can show an embedded simulation or video. Some formats cannot or would
  rather not show the iframe and present a link instead.

  So we wrap the element inside a `[data-type="alternatives"]` element and add
  enough classes to be able to select which alternative to show and which to hide.

  Markup: ./page.iframe.xhtml-baked.html

  Style guide: page.iframe
*/
/*
  Links

  Links to simulations should open in a new tab (ie `<a target="_blank">`)

  Markup: ./page.link.xhtml-baked.html

  Style guide: page.link

*/
/*==========================================================
  ECONOMICS PAGES
==========================================================*/
/*
  Key Concepts and Summary

  These should be collated at the end of a chapter and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.2-composite.summary
*/
/*
  Self-Check Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  **Notes:** Even without the styling you can see a few problems with the recipe code:
  1. the recipes use the class attribute when they should use the `data-type`
  1. the solution is being duplicated
  1. the solution is inside the link text that points back to the problem
  1. new id's are generated rather than using the existing id attributes for the problem and solution

  Markup: ./styleguide/book.composite.self-check-questions.xhtml-baked.html

  Style guide: book.2-composite.self-check-questions
*/
/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.2-composite.review-questions
*/
/*
  Critical Thinking Questions

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.2-composite.critical-thinking
*/
/*
  Problems

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.problems.xhtml-baked.html

  Style guide: book.2-composite.problems
*/
/*
  Test Prep For AP® Courses

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.test-prep.xhtml-baked.html

  Style guide: book.2-composite.test-prep
*/
/*
  References
  These should be collated at the end of a chapter

  and separated by which section they came from.

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.2-composite.references
*/
/*==========================================================
  ECONOMICS TITLING CONTENT
==========================================================*/
/*==========================================================
  ECONOMICS CONFIG
==========================================================*/
/*
  Link It Up note

  Contains a title "Link It Up"

  Markup: ./styleguide/page.note.linkup.xhtml-baked.html

  Style guide: page.note.linkup
*/
/*
  Bring It Home note

  Contains a title "Bring It Home" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.bringhome.xhtml-baked.html

  Style guide: page.note.bringhome
*/
/*
  Clear It Up note

  Contains a title "Clear It Up" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.clearup.xhtml-baked.html

  Style guide: page.note.clearup
*/
/*
  Work It Out note

  Contains a title "Work It Out" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.workout.xhtml-baked.html

  Style guide: page.note.workout
*/
@namespace xhtml "http://www.w3.org/1999/xhtml";
:pass(0) [data-type='list']:not([data-list-type]),
:pass(0) [data-type='list'][data-list-type='bulleted'],
:pass(0) [data-type='list'][data-list-type='enumerated'] {
  sort-by: 'invalid-namespace-just-to-throw-an-error|element-HACK'; }

:pass(0) [data-type='list'][data-list-type='labeled-item']:not([data-item-sep]) > span[data-type="item"]:not(:last-child)::after,
:pass(0) [data-type='list'][data-list-type='bulleted']:not([data-item-sep]) > span[data-type="item"]:not(:last-child)::after {
  container: span;
  attr-class: "-os-inline-list-separator";
  content: "; "; }

:pass(0) [data-type='list'][data-list-type='labeled-item'][data-item-sep],
:pass(0) [data-type='list'][data-list-type='bulleted'][data-item-sep] {
  string-set: listItemSep attr(data-item-sep); }
  :pass(0) [data-type='list'][data-list-type='labeled-item'][data-item-sep] > [data-type="item"]:not(:last-child)::after,
  :pass(0) [data-type='list'][data-list-type='bulleted'][data-item-sep] > [data-type="item"]:not(:last-child)::after {
    container: span;
    attr-class: "-os-inline-list-separator";
    content: string(listItemSep); }

:pass(0) div.preface > [data-type="document-title"] {
  tag-name-set: h1; }

:pass(0) :not([data-type="metadata"]) > [data-type="document-title"]::inside {
  tag-name-set: span;
  class-add: "os-text"; }

:pass(0) a.os-interactive-link {
  attrs-add: "target" "_blank"; }

:pass(0) [data-type="exercise"][data-label]:not([data-label=""])::outside {
  attrs-add: "data-type" "exercise-container";
  tag-name-set: div; }
  :pass(0) [data-type="exercise"][data-label]:not([data-label=""])::outside::before {
    tag-name-set: div;
    class-add: "os-label";
    content: attr(data-label); }

:pass(0) ol[data-label]:not([data-label=""])::outside,
:pass(0) ul[data-label]:not([data-label=""])::outside {
  attrs-add: "data-type" "list-container";
  tag-name-set: div; }
  :pass(0) ol[data-label]:not([data-label=""])::outside::before,
  :pass(0) ul[data-label]:not([data-label=""])::outside::before {
    tag-name-set: div;
    class-add: "os-label";
    content: attr(data-label); }

:pass(0) :not([data-type="alternatives"]) > iframe {
  class-add: "os-is-iframe"; }
  :pass(0) :not([data-type="alternatives"]) > iframe::outside {
    tag-name-set: div;
    attrs-add: "data-type" "alternatives";
    class-add: "os-has-iframe os-has-link"; }
    :pass(0) :not([data-type="alternatives"]) > iframe::outside::before {
      tag-name-set: a;
      class-add: "os-is-link";
      attrs-add: "target" "_window", "href" attr(src);
      content: "Click to view content"; }

:pass(0) cnx-pi {
  x-display: none; }

:pass(0) :not([data-type="example"]) > [data-type="exercise"]:has([data-type="solution"]) {
  class-add: "os-hasSolution"; }

:pass(0) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"]:not([class])::inside {
  class-add: "os-note-body"; }

:pass(0) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"]:not([class]) > div[data-type="title"] {
  tag-name-set: span;
  class-add: "os-title-label";
  attrs-add: "data-type" ""; }

:pass(0) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"]:not([class])::before {
  tag-name-set: h3;
  class-add: "os-title";
  attrs-add: "data-type" "title";
  content: move-here('> div[data-type="title"]'); }

:pass(0) [data-type="note"] [data-type="note"]:not([class])::inside {
  class-add: "os-note-body"; }

:pass(0) [data-type="note"] [data-type="note"]:not([class]) > div[data-type="title"] {
  tag-name-set: span;
  class-add: "os-title-label";
  attrs-add: "data-type" ""; }

:pass(0) [data-type="note"] [data-type="note"]:not([class])::before {
  tag-name-set: h4;
  class-add: "os-title";
  attrs-add: "data-type" "title";
  content: move-here('> div[data-type="title"]'); }

:pass(0) [data-type="metadata"] > [data-type="description"] {
  x-display: none; }

:pass(0) [data-type="exercise"]:has(div.missing-exercise) {
  class-add: "missing-exercise"; }

:pass(0) ol[data-number-style="lower-alpha"] {
  attrs-add: "type" "a"; }

:pass(1) [data-type="exercise"].missing-exercise {
  x-display: none; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].linkup > div[data-type="title"] {
  tag-name-set: h4;
  class-add: "os-subtitle"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].linkup > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].linkup::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].linkup::before {
  tag-name-set: h3;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].linkup::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Link It Up"; }

:pass(1) [data-type="note"] [data-type="note"].linkup > div[data-type="title"] {
  tag-name-set: h5;
  class-add: "os-subtitle"; }
  :pass(1) [data-type="note"] [data-type="note"].linkup > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) [data-type="note"] [data-type="note"].linkup::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) [data-type="note"] [data-type="note"].linkup::before {
  tag-name-set: h4;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) [data-type="note"] [data-type="note"].linkup::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Link It Up"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].bringhome > div[data-type="title"] {
  tag-name-set: h4;
  class-add: "os-subtitle"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].bringhome > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].bringhome::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].bringhome::before {
  tag-name-set: h3;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].bringhome::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Bring It Home"; }

:pass(1) [data-type="note"] [data-type="note"].bringhome > div[data-type="title"] {
  tag-name-set: h5;
  class-add: "os-subtitle"; }
  :pass(1) [data-type="note"] [data-type="note"].bringhome > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) [data-type="note"] [data-type="note"].bringhome::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) [data-type="note"] [data-type="note"].bringhome::before {
  tag-name-set: h4;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) [data-type="note"] [data-type="note"].bringhome::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Bring It Home"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].clearup > div[data-type="title"] {
  tag-name-set: h4;
  class-add: "os-subtitle"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].clearup > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].clearup::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].clearup::before {
  tag-name-set: h3;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].clearup::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Clear It Up"; }

:pass(1) [data-type="note"] [data-type="note"].clearup > div[data-type="title"] {
  tag-name-set: h5;
  class-add: "os-subtitle"; }
  :pass(1) [data-type="note"] [data-type="note"].clearup > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) [data-type="note"] [data-type="note"].clearup::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) [data-type="note"] [data-type="note"].clearup::before {
  tag-name-set: h4;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) [data-type="note"] [data-type="note"].clearup::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Clear It Up"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].workout > div[data-type="title"] {
  tag-name-set: h4;
  class-add: "os-subtitle"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].workout > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].workout::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].workout::before {
  tag-name-set: h3;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) :not([data-type="note"]) > :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"].workout::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Work It Out"; }

:pass(1) [data-type="note"] [data-type="note"].workout > div[data-type="title"] {
  tag-name-set: h5;
  class-add: "os-subtitle"; }
  :pass(1) [data-type="note"] [data-type="note"].workout > div[data-type="title"]::inside {
    tag-name-set: span;
    class-add: "os-subtitle-label"; }

:pass(1) [data-type="note"] [data-type="note"].workout::inside {
  tag-name-set: "div";
  class-add: "os-note-body"; }

:pass(1) [data-type="note"] [data-type="note"].workout::before {
  tag-name-set: h4;
  class-add: "os-title";
  attrs-add: "data-type" "title"; }
  :pass(1) [data-type="note"] [data-type="note"].workout::before::before {
    tag-name-set: span;
    class-add: "os-title-label";
    content: "Work It Out"; }

:pass(2) div[data-type="chapter"] > [data-type="document-title"] {
  tag-name-set: "h1"; }
  :pass(2) div[data-type="chapter"] > [data-type="document-title"]::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: ancestor-context("body", count-of-type('[data-type="chapter"]')); }
  :pass(2) div[data-type="chapter"] > [data-type="document-title"]::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }
  :pass(2) div[data-type="chapter"] > [data-type="document-title"]::inside {
    tag-name-set: "span";
    class-add: "os-text"; }

:pass(2) div.appendix > [data-type="document-title"] {
  tag-name-set: "h1"; }
  :pass(2) div.appendix > [data-type="document-title"]::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: number-to-letter(ancestor-context("body", count-of-type('[data-type="page"].appendix, [data-type="chapter"].appendix')), upper-latin); }
  :pass(2) div.appendix > [data-type="document-title"]::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " | "; }

:pass(2) div[data-type="chapter"] > div[data-type="page"]:not(.introduction) > [data-type="document-title"] {
  tag-name-set: "h2"; }
  :pass(2) div[data-type="chapter"] > div[data-type="page"]:not(.introduction) > [data-type="document-title"]::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: ancestor-context("body", count-of-type('[data-type="chapter"]')) "." ancestor-context('[data-type="chapter"]', count-of-type('[data-type="page"]:not(.introduction)')); }
  :pass(2) div[data-type="chapter"] > div[data-type="page"]:not(.introduction) > [data-type="document-title"]::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }

:pass(2) div[data-type="chapter"] > div[data-type="page"].introduction > [data-type="document-title"] {
  tag-name-set: "h2"; }

:pass(2) li[data-type="footnote-ref"] > a[data-type="footnote-ref-link"] {
  content: ancestor-context('[data-type="chapter"], .appendix', count-of-type('[data-type="footnote-ref"]')); }

:pass(2) sup[data-type="footnote-number"] > a[data-type="footnote-link"] {
  content: ancestor-context('[data-type="chapter"], .appendix', count-of-type('[data-type="footnote-number"]')); }

:pass(2) li > a[data-type="footnote-ref"] {
  content: ancestor-context('[data-type="chapter"], .appendix', count-of-type('[data-type="footnote-ref"]')); }

:pass(2) a[data-type="footnote-number"] > sup {
  content: ancestor-context('[data-type="chapter"], .appendix', count-of-type('[data-type="footnote-number"]')); }

:pass(2) div[data-type="page"],
:pass(2) div[data-type="composite-page"] {
  string-set: pageID attr(id); }

:pass(2) div[data-type="page"] span[data-type="term"] {
  attrs-add: "id" "auto_" ancestor-context('[data-type="page"]', attr(id)) "_term" ancestor-context('[data-type="page"]', count-of-type('[data-type="term"]')); }
  :pass(2) div[data-type="page"] span[data-type="term"]:match("^[a-zA-Z]") {
    attr-group-by: first-letter(content()); }
  :pass(2) div[data-type="page"] span[data-type="term"]:match("^[^a-zA-Z]") {
    attr-group-by: " Symbols"; }

:pass(2) div[data-type="page"] > [data-type="document-title"],
:pass(2) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }

:pass(2) div[data-type="chapter"] div[data-type="glossary"] {
  /* Discard this Page-specific glossary because it is collated later and the title is added when this is collated */
  x-display: none; }

:pass(2) div[data-type="chapter"] div[data-type="glossary"] dl > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(1) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-glossary-container";
  attrs-add: "data-type" "composite-page", "uuid-key" "<glossary>";
  content: move-here('div[data-type="glossary"] dl');
  x-log: "TODO: implement sort-by somehow. xhtml|dl > xhtml|dt"; }

:pass(2) div[data-type="chapter"] section.summary {
  /* TODO: Is this used? because it looks like there is a typo here. `sectionHeaderNode` is not defined */
  x-log: "Should be unused";
  content: nodes(sectionHeaderNode) content(); }
  :pass(2) div[data-type="chapter"] section.summary > [data-type="title"] {
    /* Discard this Page-specific title because a chapter title is added when collated */
    x-display: none; }

:pass(2) div[data-type="chapter"]::after(2) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-summary-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".summary";
  content: move-here("section.summary"); }

:pass(2) div[data-type="chapter"] section.self-check-questions > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(3) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-self-check-questions-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".self-check-questions";
  content: move-here("section.self-check-questions"); }

:pass(2) div[data-type="chapter"] section.review-questions > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(4) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-review-questions-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".review-questions";
  content: move-here("section.review-questions"); }

:pass(2) div[data-type="chapter"] section.critical-thinking > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(5) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-critical-thinking-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".critical-thinking";
  content: move-here("section.critical-thinking"); }

:pass(2) div[data-type="chapter"] section.problems > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(6) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-problems-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".problems";
  content: move-here("section.problems"); }

:pass(2) div[data-type="chapter"] section.ap-test-prep > [data-type="title"] {
  /* Discard this Page-specific title because a chapter title is added when collated */
  x-display: none; }

:pass(2) div[data-type="chapter"]::after(7) {
  tag-name-set: "div";
  class-add: "os-eoc", "os-ap-test-prep-container";
  attrs-add: "data-type" "composite-page", "uuid-key" ".ap-test-prep";
  content: move-here("section.ap-test-prep"); }

:pass(4) div[data-type="page"] > [data-type="document-title"],
:pass(4) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }

:pass(4) div[data-type="page"] > [data-type="document-title"],
:pass(4) div[data-type="composite-page"] > [data-type="document-title"] {
  string-set: sectionHeaderString content(); }

:pass(4) [data-type="chapter"] section.references {
  move-to: references-GETCHAPTER; }
  :pass(4) [data-type="chapter"] section.references > h3[data-type="title"] {
    move-to: trash; }

:pass(4) [data-type="chapter"] > [data-type="document-title"] .os-text {
  node-set: chapterTitle; }

:pass(4) [data-type="chapter"] > [data-type="document-title"]::after {
  container: h3;
  data-type: document-title;
  content: nodes(chapterTitle);
  move-to: chapterTitleHeaderText; }

:pass(4) [data-type="chapter"]::after {
  class: "os-chapter-area";
  content: pending(chapterTitleHeaderText) pending(references-GETCHAPTER);
  move-to: references-TOCOMPOSITE; }

:pass(4) div[data-type="page"] span[data-type="term"]::after, :pass(4) div[data-type="composite-page"] span[data-type="term"]::after {
  content: content();
  attr-group-by: attr(group-by);
  container: span;
  class: "os-term";
  move-to: index-term; }

:pass(4) div[data-type="page"] span[data-type="term"]::after, :pass(4) div[data-type="composite-page"] span[data-type="term"]::after {
  content: string(sectionHeaderString);
  container: span;
  class: "os-term-section";
  move-to: index-section; }

:pass(4) div[data-type="page"] span[data-type="term"]::after, :pass(4) div[data-type="composite-page"] span[data-type="term"]::after {
  container: a;
  content: pending(index-section);
  attr-href: "#" attr(id);
  class: "os-term-section-link";
  move-to: index-section-link; }

:pass(4) div[data-type="page"] span[data-type="term"]::after, :pass(4) div[data-type="composite-page"] span[data-type="term"]::after {
  container: span;
  content: ', ';
  class: "os-index-link-separator";
  move-to: index-section-link; }

:pass(4) div[data-type="page"] span[data-type="term"]::after, :pass(4) div[data-type="composite-page"] span[data-type="term"]::after {
  content: pending(index-term) pending(index-section-link);
  class: os-index-item;
  move-to: index-TOCOMPOSITE; }

:pass(4) .os-eoc [data-type="exercise"] [data-type="problem"]::before(501) {
  tag-name-set: "span";
  class-add: os-divider;
  content: "."; }

:pass(4) .os-eoc [data-type="exercise"] [data-type="problem"]::before(500) {
  tag-name-set: "span";
  class-add: os-number;
  content: counter(exercise); }

:pass(4) .os-eoc [data-type="exercise"] [data-type="solution"]::before(501) {
  tag-name-set: "span";
  class-add: os-divider;
  content: "."; }

:pass(4) .os-eoc [data-type="exercise"] [data-type="solution"]::before(500) {
  tag-name-set: "span";
  class-add: os-number;
  content: counter(exercise); }

:pass(5) [data-type="exercise"].os-hasSolution {
  string-set: exerciseId attr(id); }
  :pass(5) [data-type="exercise"].os-hasSolution [data-type="problem"] .os-number {
    container: a;
    attr-href: "#" string(exerciseId) "-solution"; }
  :pass(5) [data-type="exercise"].os-hasSolution [data-type="solution"] {
    attr-id: string(exerciseId) "-solution"; }
    :pass(5) [data-type="exercise"].os-hasSolution [data-type="solution"] .os-number {
      container: a;
      attr-href: "#" string(exerciseId); }

:pass(6) div[data-type="page"] > [data-type="document-title"],
:pass(6) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }

:pass(6) [data-type="chapter"] .os-eoc.os-self-check-questions-container [data-type="solution"] {
  move-to: solutions-GETCHAPTER; }

:pass(6) [data-type="chapter"] .os-eoc.os-problems-container [data-type="solution"] {
  move-to: solutions-GETCHAPTER; }

:pass(6) [data-type="chapter"] .os-eoc.os-ap-test-prep-container [data-type="solution"] {
  move-to: solutions-GETCHAPTER; }

:pass(6) [data-type="chapter"] > h1[data-type="document-title"] .os-number {
  string-set: ChapNum content(); }

:pass(6) [data-type="chapter"]::after {
  container: h2;
  class: "os-title";
  content: "Chapter " string(ChapNum);
  move-to: chaptTitleEOB; }

:pass(6) [data-type="chapter"]::after {
  class: os-chapter-area;
  content: pending(chaptTitleEOB) pending(note-solutions-GETCHAPTER) pending(solutions-GETCHAPTER);
  move-to: solutions-TOCOMPOSITE; }

:pass(6) body::after {
  container: div;
  content: pending(solutions-TOCOMPOSITE);
  class: "os-eob os-solutions-container";
  data-type: "composite-page";
  data-uuid-key: ".solutions";
  /* TODO: Is this the correct key? We'll be stuck with it because it is used for generating the collated page uuid's */ }

:pass(6) body::after {
  container: div;
  content: pending(solutions-TOCOMPOSITE);
  class: "os-eob os-solutions-container";
  data-type: "composite-page";
  data-uuid-key: ".solutions"; }

:pass(6) body::after {
  container: div;
  content: pending(references-TOCOMPOSITE);
  class: "os-eob os-references-container";
  data-type: "composite-page";
  data-uuid-key: ".references"; }

:pass(6) body::after {
  container: div;
  content: pending(index-TOCOMPOSITE);
  class: "os-eob os-index-container";
  data-type: "composite-page";
  data-uuid-key: "<index>";
  group-by: span, "span::attr(group-by)", nocase; }

:pass(7) .os-index-container > div.group-by:first-of-type > span.group-label:match("^[ ](Symbols|SYMBOLS)") {
  content: "Symbols"; }

:pass(7) .os-eoc [data-type="exercise"] {
  string-set: target-label "Exercise " ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(exercise); }

:pass(7) div[data-type="chapter"] [data-type="example"] {
  string-set: target-label "Example " ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(example); }

:pass(7) div[data-type="chapter"] [data-type="equation"]:not(.unnumbered) {
  string-set: target-label "Equation " ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(equation); }

:pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) {
  string-set: target-label "Table " ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(table); }

:pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) {
  string-set: target-label "Figure " ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(figure); }

:pass(7) .appendix :not(table) > table:not(.unnumbered) {
  string-set: target-label "Table " counter(appendix, upper-alpha) counter(table); }

:pass(7) .appendix :not(figure) > figure:not(.unnumbered) {
  string-set: target-label "Figure " counter(appendix, upper-alpha) counter(figure); }

:pass(7) .appendix > table:not(.unnumbered) {
  string-set: target-label "Table " counter(appendix, upper-alpha) counter(table); }

:pass(7) .appendix > figure:not(.unnumbered) {
  string-set: target-label "Figure " counter(appendix, upper-alpha) counter(figure); }

:pass(7) a.autogenerated-content {
  content: target-string(attr(href), target-label); }

:pass(7) body > [data-type="metadata"] {
  node-set: bookMetadata; }

:pass(7) [data-type="composite-page"] {
  content: nodes(bookMetadata) content(); }

:pass(7) [data-type="composite-page"].os-eoc.os-glossary-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Key Terms"; }

:pass(7) [data-type="composite-page"].os-eoc.os-glossary-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-summary-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Key Concepts and Summary"; }

:pass(7) [data-type="composite-page"].os-eoc.os-summary-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-self-check-questions-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Self-Check Questions"; }

:pass(7) [data-type="composite-page"].os-eoc.os-self-check-questions-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-review-questions-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Review Questions"; }

:pass(7) [data-type="composite-page"].os-eoc.os-review-questions-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-critical-thinking-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Critical Thinking Questions"; }

:pass(7) [data-type="composite-page"].os-eoc.os-critical-thinking-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-problems-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Problems"; }

:pass(7) [data-type="composite-page"].os-eoc.os-problems-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eoc.os-ap-test-prep-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Test Prep For AP® Courses"; }

:pass(7) [data-type="composite-page"].os-eoc.os-ap-test-prep-container::outside {
  tag-name-set: h2;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eob.os-solutions-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Answer Key"; }

:pass(7) [data-type="composite-page"].os-eob.os-solutions-container::outside {
  tag-name-set: h1;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eob.os-references-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "References"; }

:pass(7) [data-type="composite-page"].os-eob.os-references-container::outside {
  tag-name-set: h1;
  attrs-add: "data-type" "document-title"; }

:pass(7) [data-type="composite-page"].os-eob.os-index-container::before(500) {
  tag-name-set: "span";
  class-add: os-text;
  content: "Index"; }

:pass(7) [data-type="composite-page"].os-eob.os-index-container::outside {
  tag-name-set: h1;
  attrs-add: "data-type" "document-title"; }

:pass(7) div[data-type='chapter'] > h1[data-type='document-title'] {
  counter-increment: chapTitleNum;
  attr-id: "chapTitle" counter(chapTitleNum); }

:pass(7) [data-type="chapter"] [data-type="page"] [data-type="exercise"]:not(.unnumbered) [data-type="problem"]::before(501) {
  tag-name-set: "span";
  class-add: os-number;
  content: counter(exerciseMaybeInContent); }

:pass(7) [data-type="chapter"] [data-type="page"] [data-type="exercise"]:not(.unnumbered) [data-type="problem"]::before(500) {
  tag-name-set: "span";
  class-add: os-title-label;
  content: "Exercise "; }

:pass(7) .appendix [data-type="exercise"]:not(.unnumbered) [data-type="problem"]::before(501) {
  tag-name-set: "span";
  class-add: os-number;
  content: counter(exerciseMaybeInContent); }

:pass(7) .appendix [data-type="exercise"]:not(.unnumbered) [data-type="problem"]::before(500) {
  tag-name-set: "span";
  class-add: os-title-label;
  content: "Exercise "; }

:pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption {
  tag-name-set: "span";
  class-add: "os-caption"; }

:pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption [data-type="title"] {
  tag-name-set: "span";
  class-add: "os-title"; }

:pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside {
  tag-name-set: "div";
  class-add: "os-caption-container"; }
  :pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside::before(502) {
    tag-name-set: "span";
    class-add: os-title-label;
    content: "Table "; }
  :pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: ancestor-context("body", count-of-type('[data-type="chapter"]')) "." counter(table); }
  :pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }
  :pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside::before(2) {
    tag-name-set: "span";
    class-add: 'os-divider';
    content: ' ';
    move-to: bCaptionDivider; }
  :pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered) caption::outside::before(1) {
    content: parent-context(move-here('caption [data-type="title"]')); }

:pass(7) [data-type="chapter"] :not(table) > table:not(.unnumbered)::outside {
  tag-name-set: "div";
  class-add: os-table; }

:pass(7) [data-type="chapter"] > table.unnumbered caption {
  x-display: none; }

:pass(7) .appendix :not(table) > table:not(.unnumbered) caption,
:pass(7) .appendix > table:not(.unnumbered) caption {
  tag-name-set: "span";
  class-add: "os-caption"; }

:pass(7) .appendix :not(table) > table:not(.unnumbered) caption [data-type="title"],
:pass(7) .appendix > table:not(.unnumbered) caption [data-type="title"] {
  tag-name-set: "span";
  class-add: "os-title"; }

:pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside,
:pass(7) .appendix > table:not(.unnumbered) caption::outside {
  tag-name-set: "div";
  class-add: "os-caption-container"; }
  :pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside::before(502),
  :pass(7) .appendix > table:not(.unnumbered) caption::outside::before(502) {
    tag-name-set: "span";
    class-add: os-title-label;
    content: "Table "; }
  :pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside::before(501),
  :pass(7) .appendix > table:not(.unnumbered) caption::outside::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: counter(appendix, upper-alpha) counter(table); }
  :pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside::before(500),
  :pass(7) .appendix > table:not(.unnumbered) caption::outside::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }
  :pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside::before(2),
  :pass(7) .appendix > table:not(.unnumbered) caption::outside::before(2) {
    tag-name-set: "span";
    class-add: 'os-divider';
    content: ' ';
    move-to: bCaptionDivider; }
  :pass(7) .appendix :not(table) > table:not(.unnumbered) caption::outside::before(1),
  :pass(7) .appendix > table:not(.unnumbered) caption::outside::before(1) {
    content: parent-context(move-here('caption [data-type="title"]')); }

:pass(7) .appendix :not(table) > table:not(.unnumbered)::outside,
:pass(7) .appendix > table:not(.unnumbered)::outside {
  tag-name-set: "div";
  class-add: os-table; }

:pass(7) .appendix > table.unnumbered caption {
  x-display: none; }

:pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption {
  tag-name-set: "span";
  class-add: "os-caption"; }

:pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) [data-type="title"] {
  tag-name-set: "span";
  class-add: "os-title"; }

:pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside {
  tag-name-set: "div";
  class-add: "os-caption-container"; }
  :pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside::before(502) {
    tag-name-set: "span";
    class-add: os-title-label;
    content: "Figure "; }
  :pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: ancestor-context("body", count-of-type('[data-type="chapter"]')) "." ancestor-context('[data-type="chapter"]', count-of-type("figure:not(.splash)")); }
  :pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }
  :pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside::before(2) {
    tag-name-set: "span";
    class-add: 'os-divider';
    content: ' ';
    move-to: bCaptionDivider; }
  :pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered) figcaption::outside::before(1) {
    content: parent-context(move-here('[data-type="title"]')); }

:pass(7) [data-type="chapter"] :not(figure) > figure:not(.unnumbered)::outside {
  tag-name-set: "div";
  class-add: os-figure; }

:pass(7) [data-type="chapter"] > figure.unnumbered figcaption {
  x-display: none; }

:pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption,
:pass(7) .appendix > figure:not(.unnumbered) figcaption {
  tag-name-set: "span";
  class-add: "os-caption"; }

:pass(7) .appendix :not(figure) > figure:not(.unnumbered) [data-type="title"],
:pass(7) .appendix > figure:not(.unnumbered) [data-type="title"] {
  tag-name-set: "span";
  class-add: "os-title"; }

:pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside,
:pass(7) .appendix > figure:not(.unnumbered) figcaption::outside {
  tag-name-set: "div";
  class-add: "os-caption-container"; }
  :pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside::before(502),
  :pass(7) .appendix > figure:not(.unnumbered) figcaption::outside::before(502) {
    tag-name-set: "span";
    class-add: os-title-label;
    content: "Figure "; }
  :pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside::before(501),
  :pass(7) .appendix > figure:not(.unnumbered) figcaption::outside::before(501) {
    tag-name-set: "span";
    class-add: os-number;
    content: number-to-letter(ancestor-context("body", count-of-type('[data-type="page"].appendix, [data-type="chapter"].appendix')), upper-latin) ancestor-context('[data-type="page"].appendix, [data-type="chapter"].appendix', count-of-type("figure:not(.splash)")); }
  :pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside::before(500),
  :pass(7) .appendix > figure:not(.unnumbered) figcaption::outside::before(500) {
    tag-name-set: "span";
    class-add: os-divider;
    content: " "; }
  :pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside::before(2),
  :pass(7) .appendix > figure:not(.unnumbered) figcaption::outside::before(2) {
    tag-name-set: "span";
    class-add: 'os-divider';
    content: ' ';
    move-to: bCaptionDivider; }
  :pass(7) .appendix :not(figure) > figure:not(.unnumbered) figcaption::outside::before(1),
  :pass(7) .appendix > figure:not(.unnumbered) figcaption::outside::before(1) {
    content: parent-context(move-here('[data-type="title"]')); }

:pass(7) .appendix :not(figure) > figure:not(.unnumbered)::outside,
:pass(7) .appendix > figure:not(.unnumbered)::outside {
  tag-name-set: "div";
  class-add: os-figure; }

:pass(7) .appendix > figure.unnumbered figcaption {
  x-display: none; }

:pass(7) [data-type="chapter"] [data-type="page"] :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"] > .os-title,
:pass(7) [data-type="chapter"] [data-type="page"] [data-type="example"] > .os-title,
:pass(7) [data-type="chapter"] [data-type="page"] [data-type="exercise"] > .os-title {
  tag-name-set: h3; }

:pass(7) [data-type="chapter"] [data-type="page"] :not([data-type="note"]) > :not([data-type="note"]) > [data-type="note"] [data-type="solution"] .solution-title,
:pass(7) [data-type="chapter"] [data-type="page"] [data-type="example"] [data-type="solution"] .solution-title,
:pass(7) [data-type="chapter"] [data-type="page"] [data-type="exercise"] [data-type="solution"] .solution-title {
  tag-name-set: h4; }

:pass(7) [data-type="composite-page"].os-eoc > section > [data-type="document-title"] {
  tag-name-set: h3; }

:pass(7) [data-type="composite-page"].os-eoc > div > div > div > section > [data-type="document-title"] {
  tag-name-set: h4; }

:pass(7) [data-type="composite-page"].os-eob > .os-chapter-area > [data-type="document-title"] {
  tag-name-set: h2; }

:pass(7) [data-type="composite-page"].os-eob > .os-chapter-area > section > [data-type="document-title"] {
  tag-name-set: h3; }

:pass(7) .appendix > section [data-type="title"], :pass(7) .appendix > section [data-type="document-title"] {
  tag-name-set: h2; }

:pass(7) .appendix > section > section [data-type="title"], :pass(7) .appendix > section > section [data-type="document-title"] {
  tag-name-set: h3; }

:pass(8) .os-index-link-separator:last-child {
  x-display: none; }

:pass(8) [data-type="composite-page"] > [data-type="document-title"] {
  string-set: doc-title-TOMETADATA content(); }

:pass(8) [data-type="composite-page"] > [data-type="metadata"] > [data-type="document-title"] {
  content: string(doc-title-TOMETADATA); }

:pass(9) div.os-eoc [data-type="cnx-archive-uri"],
:pass(9) div.os-eob [data-type="cnx-archive-uri"] {
  x-display: none; }

:pass(9) body > div[data-type="page"],
:pass(9) body > div[data-type="composite-page"] {
  string-set: page-id attr(id); }
  :pass(9) body > div[data-type="page"] > [data-type='document-title'],
  :pass(9) body > div[data-type="composite-page"] > [data-type='document-title'] {
    node-set: pageTitle; }
  :pass(9) body > div[data-type="page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'],
  :pass(9) body > div[data-type="composite-page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
    string-set: page-shortid attr(data-value); }
  :pass(9) body > div[data-type="page"]::after,
  :pass(9) body > div[data-type="composite-page"]::after {
    content: nodes(pageTitle);
    attr-href: "#" string(page-id);
    container: a;
    move-to: page-link; }
  :pass(9) body > div[data-type="page"]::after,
  :pass(9) body > div[data-type="composite-page"]::after {
    content: pending(page-link);
    move-to: eob-toc;
    attr-cnx-archive-uri: attr(id);
    attr-cnx-archive-shortid: string(page-shortid);
    container: li; }

:pass(9) body > div[data-type="chapter"] > [data-type='document-title'] {
  node-set: chapterTitle;
  string-set: chapTitle-id attr(id); }

:pass(9) body > div[data-type="chapter"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
  string-set: chap-shortid attr(data-value); }

:pass(9) body > div[data-type="chapter"]::after {
  content: nodes(chapterTitle);
  attr-href: "#" string(chapTitle-id);
  container: a;
  move-to: eoc-toc; }

:pass(9) body > div[data-type="chapter"] > div[data-type="page"],
:pass(9) body > div[data-type="chapter"] > div[data-type="composite-page"] {
  string-set: page-id-chap attr(id); }
  :pass(9) body > div[data-type="chapter"] > div[data-type="page"] > [data-type='document-title'],
  :pass(9) body > div[data-type="chapter"] > div[data-type="composite-page"] > [data-type='document-title'] {
    node-set: PageTitle; }
  :pass(9) body > div[data-type="chapter"] > div[data-type="page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'],
  :pass(9) body > div[data-type="chapter"] > div[data-type="composite-page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
    string-set: page-shortid attr(data-value); }
  :pass(9) body > div[data-type="chapter"] > div[data-type="page"]::after,
  :pass(9) body > div[data-type="chapter"] > div[data-type="composite-page"]::after {
    content: nodes(PageTitle);
    attr-href: "#" string(page-id-chap);
    container: a;
    move-to: page-link; }
  :pass(9) body > div[data-type="chapter"] > div[data-type="page"]::after,
  :pass(9) body > div[data-type="chapter"] > div[data-type="composite-page"]::after {
    content: pending(page-link);
    move-to: eoc-toc-pages;
    attr-cnx-archive-uri: attr(id);
    attr-cnx-archive-shortid: string(page-shortid);
    container: li; }

:pass(9) body > div[data-type="chapter"]::after {
  content: pending(eoc-toc-pages);
  container: ol;
  class: os-chapter;
  move-to: eoc-toc; }

:pass(9) body > div[data-type="chapter"]::after {
  content: pending(eoc-toc);
  attr-cnx-archive-uri: attr(id);
  attr-cnx-archive-shortid: string(chap-shortid);
  container: li;
  move-to: eob-toc; }

:pass(9) body > div[data-type="unit"] > [data-type='document-title'] {
  node-set: unitTitle;
  string-set: uTitle-id attr(id); }

:pass(9) body > div[data-type="unit"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
  string-set: unit-shortid attr(data-value); }

:pass(9) body > div[data-type="unit"]::after {
  content: nodes(unitTitle);
  attr-href: "#" string(uTitle-id);
  container: a;
  move-to: eou-toc; }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > [data-type='document-title'] {
  node-set: chapterTitle;
  string-set: chapTitle-id attr(id); }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
  string-set: chap-shortid attr(data-value); }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"]::after {
  content: nodes(chapterTitle);
  attr-href: "#" string(chapTitle-id);
  container: a;
  move-to: eoc-toc; }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="page"],
:pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="composite-page"] {
  string-set: page-id-chap attr(id); }
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="page"] > [data-type='document-title'],
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="composite-page"] > [data-type='document-title'] {
    node-set: PageTitle; }
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'],
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="composite-page"] > [data-type='metadata']
> [data-type='cnx-archive-shortid'] {
    string-set: page-shortid attr(data-value); }
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="page"]::after,
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="composite-page"]::after {
    content: nodes(PageTitle);
    attr-href: "#" string(page-id-chap);
    container: a;
    move-to: page-link; }
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="page"]::after,
  :pass(9) body > div[data-type="unit"] > div[data-type="chapter"] > div[data-type="composite-page"]::after {
    content: pending(page-link);
    move-to: eoc-toc-pages;
    attr-cnx-archive-uri: attr(id);
    attr-cnx-archive-shortid: string(page-shortid);
    container: li; }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"]::after {
  content: pending(eoc-toc-pages);
  container: ol;
  class: os-chapter;
  move-to: eoc-toc; }

:pass(9) body > div[data-type="unit"] > div[data-type="chapter"]::after {
  content: pending(eoc-toc);
  attr-cnx-archive-uri: attr(id);
  attr-cnx-archive-shortid: string(chap-shortid);
  container: li;
  move-to: eou-toc-chapters; }

:pass(9) body > div[data-type="unit"]::after {
  content: pending(eou-toc-chapters);
  container: ol;
  class: os-unit;
  move-to: eou-toc; }

:pass(9) body > div[data-type="unit"]::after {
  content: pending(eou-toc);
  attr-cnx-archive-uri: attr(id);
  attr-cnx-archive-shortid: string(unit-shortid);
  container: li;
  move-to: eob-toc; }

:pass(10) nav#toc {
  content: ''; }
  :pass(10) nav#toc::after {
    content: pending(eob-toc);
    container: ol; }

:pass(11) nav#toc li > a > h1 > span,
:pass(11) nav#toc li > a > h2 > span,
:pass(11) nav#toc li > a > div > span {
  move-to: title-spans; }

:pass(11) nav#toc li > a:deferred {
  content: pending(title-spans); }

:pass(100) body:deferred::after {
  content: clear(trash); }

/*# sourceMappingURL=economics.css.map */