$AnswerKey__Container: empty_wrapper(Container, '');

$AnswerKey__Solution__Area: (
  _name: "SolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

//This is a hack for coreq styles to meet the deadline
//We need to investigate why this try it container only exists in the coreq recipe and update the styles 
$AnswerKey__Solution__Area--TryIt: (
  _name: "SolutionAreaTryIt",
  _subselector: " > .os-try-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

$AnswerKey__CompositePage: (
  _name: "CompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
