@import '../_common-stuff';
$RECIPE_NAME: "principles-management";

/*==========================================================
  Principles of Management EOC
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Unordered list w/ key term and definition

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Chapter Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary of Learning Outcomes"

  Markup: ./styleguide/book.composite.summ-learning-outcomes.xhtml-baked.html

  Style guide: book.composite.summ-learning-outcomes
*/
/*
  Chapter Review page

  These should be collated at the end of a chapter.

  Contains a title "Chapter Review"

  Markup: ./styleguide/book.composite.review.xhtml-baked.html

  Style guide: book.composite.review
*/
/*
  Managerial Decisions: Exercises page

  These should be collated at the end of a chapter.

  Contains a title "Managerial Decisions: Exercises"

  Markup: ./styleguide/book.composite.MSAExercises.xhtml-baked.html

  Style guide: book.composite.MSAExercises
*/
/*
  Management Decisions: Exercises page

  These should be collated at the end of a chapter.

  Contains a title "Managerial Decision Exercises"

  Markup: ./styleguide/book.composite.MDExercises.xhtml-baked.html

  Style guide: book.composite.MDExercises
*/
/*
  Critical Thinking Case page

  These should be collated at the end of a chapter.

  Contains a title "Critical Thinking Case"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/

$Config_ChapterCompositePages: (
  (className: "glossary",             clusterBy: $CLUSTER_NONE,     specialPageType: $PAGE_GLOSSARY,    name: "Key Terms"),
  (className: "section-summary",      clusterBy: $CLUSTER_SECTION,  name: "Summary of Learning Outcomes"),
  (className: "chapter-review",       clusterBy: $CLUSTER_NONE,     hasSolutions: true,     moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,   name: "Chapter Review Questions"),
  (className: "manage-skills",        clusterBy: $CLUSTER_NONE,     hasSolutions: true,     moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,   name: "Management Skills Application Exercises"),
  (className: "manage-exercises",     clusterBy: $CLUSTER_NONE,     hasSolutions: true,     moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,   name: "Managerial Decision Exercises"),
  (className: "critical-thinking",    clusterBy: $CLUSTER_NONE,     hasSolutions: true,     moveSolutionsTo: $AREA_NONE,   numberAt: $NUMBER_BEFORE_MOVE,   name: "Critical Thinking Case"),
);


/*==========================================================
  Principles of Management Notes
==========================================================*/

/*
  Learning Outcomes

  This is a Note that appears in the Introduction page of every chapter.

  Contains a title "Learning Outcomes"

  Markup: ./styleguide/page.note.learning-outcomes.xhtml-baked.html

  Style guide: page.note.learning-outcomes
*/
/*
  Exploring Business Careers

  This is a note that appears in the Introduction page of every chapter.

  Contains a title "Exploring Business Careers"

  Markup: ./styleguide/page.note.exploring-careers.xhtml-baked.html

  Style guide: page.note.exploring-careers
*/
/*
  Link to Learning note

  Contains a title "Link to Learning"

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Catching The Entrepreneurial Spirit

  Contains a title "Catching the Entrepreneurial Spirit"

  Markup: ./styleguide/page.note.catching-spirit.xhtml-baked.html

  Style guide: page.note.catching-spirit
*/
/*
  Ethics in Practice

  Contains a title "Ethics in Practice"

  Markup: ./styleguide/page.note.ethics-in-practice.xhtml-baked.html

  Style guide: page.note.ethics-in-practice
*/
/*
  Expanding Around the Globe

  Contiains a title "Expanding Around the Globe"

  Markup: ./styleguide/page.note.expanding-globe.xhtml-baked.html

  Style guide: page.note.expanding-globe

*/
/*
  Customer Satisfaction

  Contains a title "Customer Satisfaction and Quality"

  Markup: ./styleguide/page.note.customer-satisfaction.xhtml-baked.html

  Style guide: page.note.customer-satisfaction
*/
/*
  Managing Change

  Contains a title "Managing Change"

  Markup: ./styleguide/page.note.managing-change.xhtml-baked.html

  Style guide: page.note.managing-change
*/
/*
  Managerial Leadership

  Contains a title "Managerial Leardership"

  Markup: ./styleguide/page.note.managerial-leadership.xhtml-baked.html

  Style guide: page.note.managerial-leadership
*/
/*
  Sustainability and Responsible Management

  Contains a title "Sustainability and Responsible Management"

  Markup: ./styleguide/page.note.sustainability-responsible.xhtml-baked.html

  Style guide: page.note.sustainability-responsible
*/
/*
  Concept Check

  Contains a title "Concept Check"

  Markup: ./styleguide/page.note.concept-check.xhtml-baked.html

  Style guide: page.note.concept-check
*/
$Config_Notes: (
  (className: 'learning-outcomes',            moveSolutionTo: $AREA_NONE,   labelText: "Learning Outcomes",   replaceHeader: true),
  (className: 'exploring-manager-careers',   moveSolutionTo: $AREA_NONE,   labelText: "Exploring Managerial Careers"),
  (className: 'link-to-learning',             moveSolutionTo: $AREA_NONE,   labelText: "Link to Learning"),
  (className: 'catching-spirit',              moveSolutionTo: $AREA_NONE,   labelText: "Catching the Entrepreneurial Spirit"),
  (className: 'ethics-in-practice',           moveSolutionTo: $AREA_NONE,   labelText: "Ethics in Practice"),
  (className: 'expanding-around-globe',       moveSolutionTo: $AREA_NONE,   labelText: "Expanding Around the Globe"),
  (className: 'customer-satisfaction',        moveSolutionTo: $AREA_NONE,   labelText: "Customer Satisfaction and Quality"),
  (className: 'managing-change',              moveSolutionTo: $AREA_NONE,   labelText: "Managing Change"),
  (className: 'managerial-leadership',        moveSolutionTo: $AREA_NONE,   labelText: "Managerial Leadership"),
  (className: 'sustainability-responsible',   moveSolutionTo: $AREA_NONE,   labelText: "Sustainability and Responsible Management"),
  (className: 'concept-check',                moveSolutionTo: $AREA_NONE,   labelText: "Concept Check"),
);


/*==========================================================
  Principles of Management EOB
==========================================================*/
$Config_BookCompositePages: (
  (className: "reference",    clusterBy: $CLUSTER_CHAPTER,    specialPageType: $PAGE_CITATIONS,   name: "References"),
  (className: "index",        clusterBy: $CLUSTER_NONE,       specialPageType: $PAGE_INDEX,       name: "Index"),
);


/*==========================================================
  Principles of Management TITLING CONTENT
==========================================================*/
$_exampleTitleContent        : (os-title-label: "Example ",   os-number: counter(chapter) "." counter(example),           os-divider: " ");
$_exampleTitleContentAP      : (os-title-label: "Example ",   os-number: counter(appendix, upper-alpha) counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ",  os-number: counter(chapter) "." counter(example),           os-divider: " ");


/*==========================================================
  Principles of Management CONFIG
==========================================================*/

$Config_PartType_Figure_CaptionContent  : (os-title-label: "Exhibit ", os-number: counter(chapter) "." counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Exhibit ", os-number: counter(appendix, upper-alpha) counter(figure), os-divider: " ");



$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',                                  labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: 'div[data-type="chapter"] [data-type="example"]',                  labelText: "Example " counter(chapter) "." counter(example)),
  (selector: 'div[data-type="chapter"] [data-type="equation"]:not(.unnumbered)',labelText: "Equation " counter(chapter) "." counter(equation)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered)',      labelText: "Table " counter(chapter) "." counter(table)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered)',    labelText: "Exhibit " counter(chapter) "." counter(figure)),
  (selector: '.appendix :not(table) > table:not(.unnumbered)',                  labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix :not(figure) > figure:not(.unnumbered)',                labelText: "Exhibit " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.appendix > table:not(.unnumbered)',                              labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix > figure:not(.unnumbered)',                             labelText: "Exhibit " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.preface :not(table) > table:not(.unnumbered)',                   labelText: "Table " counter(table)),
  (selector: '.preface :not(figure) > figure:not(.unnumbered)',                 labelText: "Exhibit " counter(figure))
);

$Config_PartType_Example:  (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, apTitleContent: $_exampleTitleContentAP, solutionTitleContent: $_exampleSolutionTitleContent);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);


/*
  Citations

  These are citations found throughout the book

  Markup: ./styleguide/book.references.xhtml-baked.html

  Style guide: book.references
*/
$Config_hasCitation: true;
$Config_hasGroupedIntroBody: true;