@import '../physics/_config';

// This is slightly different than physics so it is redefined here.
$_equationTitleContent: ( divider: " ", number: counter(chapter) "." counter(equation) ); // TODO: Make this the same as ap-physics

// Override the title from physics
$PhysicsPageSummary: ( name: "Section Summary", source: "section-summary", sectionSeparated: true );

// Add in the solutions
$PhysicsPageConceptualQuestions: map-merge($PhysicsPageConceptualQuestions, (hasSolutions: true));
$PhysicsPageProblems:            map-merge($PhysicsPageProblems,            (hasSolutions: true));


/*
  Test Prep for AP® Courses
  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.ap-test-prep.xhtml-baked.xhtml

  Style guide: book.composite.ap-test-prep
*/
$Config_ChapterCompositePages: (
  $PhysicsPageKeyTerms,
  $PhysicsPageSummary,
  $PhysicsPageConceptualQuestions,
  $PhysicsPageProblems,
  (source: "ap-test-prep", sectionSeparated: true, hasSolutions: true, name: "Test Prep for AP® Courses"),
);
$Config_BookCompositePages: (
  (source: "solutions",  chapterSeparated: true, compoundComposite: true, moveSolutionsTo: $AREA_EOB, name: "Answer Key"),
  $PhysicsPageIndex,
);




$Config_Notes: ();

$Config_UnnumberedExercises: (
  (contextSelector: '[data-type="example"]', childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="exercise"][data-element-type="check-understanding"]',  childSelector: null),
);


$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Equation: (moveTo: $AREA_NONE, numberAt: $NUMBER_AFTER_MOVE, titleContent: $_equationTitleContent, excludeNumberingInClassName: "section-summary");
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent,
                                          solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_NONE);

$Config_HACK_modifyAnyContainerTitleSelector: '[data-element-type="check-understanding"]';


// Coverage optimizations
$Config_Cover_MayHaveSimlinks: false;
$Config_Cover_MayHaveIframes: false;
$Config_Cover_MayHaveMissingExercises: false;
