@import '../physics/_config';

// Add in the solutions
$PageConceptualQuestions: map-merge($PageConceptualQuestions, (hasSolutions: true));
$PageProblems:            map-merge($PageProblems,            (hasSolutions: true));


$Config_ChapterCompositePages: (
  $PageKeyTerms,
  $PageSummary,
  $PageConceptualQuestions,
  $PageProblems,
  /*
    Test Prep for AP® Courses
    These should be collated at the end of a chapter.

    Markup: ./styleguide/book.composite.ap-test-prep.html-baked.html

    Style guide: book.composite.ap-test-prep
  */
  (
    source: "ap-test-prep",
    sectionSeparated: true,
    hasSolutions: true,
    name: "Test Prep for AP® Courses",
  ),
);
$Config_BookCompositePages: (
  (
    source: "solutions",
    chapterSeparated: true,
    compoundComposite: true,
    isAnswerKey: true,
    moveSolutionsTo: $AREA_EOB,
    name: "Answer Key",
  ),
  $PageIndex,
);




$Config_Notes: ();

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Equation: (moveTo: $AREA_NONE, numberAt: $NUMBER_AFTER_MOVE, titleContent: $_equationNumber, excludeNumberingInClassName: "section-summary");
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent,
                                          solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_NONE);
