// replace any modifications made to the default color-map found in ./framework/mixins/_color-map.scss
// Note: this merges the new value in, it doesn't override it


$color-map: (
  featureTitle1_colorMap: color-scheme(secondary),
  featureTitle2_colorMap: color-scheme(primary),
  featureTitle3_colorMap: color-scheme(tertiary),

  featureBody1_colorMap: #F2F2F2,
  featureBody2_colorMap: #D6D9DD,
  featureBody3_colorMap: #D3E3EB,
);
