// replace any modifications made to the default color-map found in ./framework/mixins/_color-map.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-color-map() {
  $THEME_COLOR_MAP: (
  featureTitle1: color-scheme(primary),
  featureTitle2: color-scheme(secondary),
  featureTitle3: color-scheme(quinary),

  featureTitleBG1: color-scheme(secondary),
  featureTitleBG2: color-scheme(standard-white),
  featureTitleBG3: color-scheme(standard-white),

  featureTopBorderBar: color-scheme(tertiary),
  featureBorderColor: color-scheme(accent-tertiary),

  featureBG1: #F2F2F2,
  featureBG2: #D6D9DD,
  featureBG3: #D3E3EB,
  );
  @return $THEME_COLOR_MAP;
}

@include color-map-merge(get-function("theme3-color-map"));
