//***
//*** These can be set at the book level (Accounting with no rounded corners when all other books in theme have rounded corners for example);
//***

@function notes-settings() {
  $NOTES_SETTINGS: (
    //simpleNote settings
    note-title-weight: normal,
    note-title-font: font-map(serif),
    note-title-padding: 0,
    note-title-letter-spacing: 4px,
    note-border: solid 1px,
    note-title-case: uppercase,
    note-body-padding: 0 size-scale(1) size-scale(1),
    note-top-border-radius: 5px,
    note-link: color-map(noteLink),

    //TopBar note settings
    note-TopBar-border-radius: 3px, //this is also the value for thickness of the top bar
  );
  @return $NOTES_SETTINGS;
}

@include settings-merge(get-function("notes-settings"));

$simpleNoteScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG1),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG1),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG2),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG2),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG3),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG3),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);

$noteTopBarScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteTitleColor: color-map(featureBodyText),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteTopBorderColor: color-map(featureTopBorderBar),
  noteBorderColor: color-map(featureBorderColor),
);
