$simpleNoteConfig:(
  fontType: font-map(serif),
);

$simpleNoteScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBG1),
  noteTitleColor: color-map(featureTitle1),
  noteTitleBGcolor: color-map(featureTitleBG1),
  noteSubtitleColor: color-map(featureTitle1),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBG2),
  noteTitleColor: color-map(featureTitle2),
  noteTitleBGcolor: color-map(featureTitleBG2),
  noteSubtitleColor: color-map(featureTitle2),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBG3),
  noteTitleColor: color-map(featureTitle3),
  noteTitleBGcolor: color-map(featureTitleBG3),
  noteSubtitleColor: color-map(featureTitle3),
  noteBorderColor: color-map(featureBorderColor),
);
$noteTopBar1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteTitleColor: color-map(featureTitle3),
  noteSubtitleColor: color-map(featureTitle3),
  noteTopBorderColor: color-map(featureTopBorderBar),
  noteBorderColor: color-map(featureBorderColor),
);
