$simpleNoteScheme1:(
  noteBodyFontColor: color-map(featureBodyText), //#000000
  noteBGColor: color-map(featureBodyBG2), //#F2F2F2
  noteTitleColor: color-map(featureTitleColor), //#FFFFFF
  noteTitleBGcolor: color-map(featureTitleBG1), //#077384
  noteSubtitleColor: color-map(featureSubtitleColor), //#077384
  noteBorderColor: color-map(featureBorderColor), //#eaeaea
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG1), //#D6D9DD
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG4), //#054C58
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG3), //#D3E3EB
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG3), //#24739e
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);

$noteTopBorderScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteTitleColor: color-map(featureBodyText),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteTopBorderColor: color-map(featureTopBorderBar),
  noteBorderColor: color-map(featureBorderColor),
);
