// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-settings() {
  $THEME_SETTINGS: (
    splash-page-depth: 4.3in,
    splash-title-bar-height: 70px,
    full-bleed-splash: true,
    enforce-splash-height: false,
    title-border-size: 1px,
    h1-number-border-color: color-map(h1-number-border),
    h2-number-border-color: color-map(h2-number-border),
    h3-number-border-color: color-map(h3-number-border),
    h4-number-border-color: color-map(h4-number-border),
    h5-number-border-color: color-map(h5-number-border),
  );
  @return $THEME_SETTINGS;
}

@include settings-merge(get-function("theme3-settings"));
