


// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-settings() {
  $THEME_SETTINGS: (
    toc-number-box-size: 20px,
    splash-page-depth: 4.3in,
    splash-title-bar-height: 70px,
    full-bleed-splash: true,
    enforce-splash-height: false,
    title-border-size: 1px,
    h1-number-border-color: color-map(h1-number-border),
    h2-number-border-color: color-map(h2-number-border),
    h3-number-border-color: color-map(h3-number-border),
    h4-number-border-color: color-map(h4-number-border),
    h5-number-border-color: color-map(h5-number-border),
  );
  @return $THEME_SETTINGS;
}

@include settings-merge(get-function("theme3-settings"));



//***
//*** These can be set at the book level (Accounting with no rounded corners when all other books in theme have rounded corners for example);
//***

@function notes-settings() {
  $NOTES_SETTINGS: (
    //simpleNote settings
    note-title-weight: normal,
    note-title-font: font-map(serif),
    note-title-padding: 0,
    note-title-letter-spacing: 4px,
    note-border: solid 1px,
    note-title-case: uppercase,
    note-body-padding: 0 size-scale(1) size-scale(1),
    note-top-border-radius: 5px,
    note-link: color-map(noteLink),

    //TopBar note settings
    note-TopBar-border-radius: 3px, //this is also the value for thickness of the top bar
  );
  @return $NOTES_SETTINGS;
}

@include settings-merge(get-function("notes-settings"));
