$simpleNoteScheme:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG2),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG1),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor2),
);
