@import '../_common-stuff';

/*==========================================================
  Intro to Business CONFIG
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-learning.snippet.xhtml-baked.html

  Style guide: page.note.link-learning
*/

$Config_PartType_Solution: ();
$Config_Notes: ();
$Config_PartType_Example: ();
$Config_PartType_Equation: ();
$Config_ChapterCompositePages: ();
$Config_UnnumberedExercises: ();
$Config_PartType_Chapter:  ();
$Config_BookCompositePages: ();
$Config_PartType_Exercise: ();
