@import '../_common-stuff';

/*==========================================================
  Intro to Business CONFIG
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-learning.snippet.xhtml-baked.html

  Style guide: page.note.link-learning
*/
/*==========================================================
  EOC
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Unordered list w/ key term and definition

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Summary of Learning Outcomes

  Should be collated at the end of a chapter.

  Contains a title "Learning Outcomes"

  Markup: ./styleguide/book.composite.learning-outcomes.xhtml-baked.html

  Style guide: book.composite.learning-outcomes
*/
/*
  Preparing for Tomorrow's Workplace

  Should be collated at the end of a chapter.

  Contains a title "Preparing for Tomorrow's Workplace"

  Markup: ./styleguide/book.composite.prep-tomorrow.xhtml-baked.html

  Style guide: book.composite.prep-tomorrow
*/
/*
  Ethics Activity

  Should be collated at the end of a chapter.

  Contains a title "Ethics Activity"

  Markup: ./styleguide/book.composite.ethics-activity.xhtml-baked.html

  Style guide: book.composite.ethics-activity
*/
/*
  Working the Net

  Should be collated at the end of a chapter.

  Contains a title "Working the Net"

  Markup: ./styleguide/book.composite.working-net.xhtml-baked.html

  Style guide: book.composite.working-net
*/
/*
  Critical Thinking Case

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking Case"

  Markup: ./styleguide/book.composite.crit-think.xhtml-baked.html

  Style guide: book.composite.crit-think
*/
/*
  Hot Links Address Book

  Should be collated at the end of a chapter.

  Contains a title "Hot Links Address Book"

  Markup: ./styleguide/book.composite.hot-links.xhtml-baked.html

  Style guide: book.composite.hot-links
*/

$Config_ChapterCompositePages: (
  (className: "key-concepts",       clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",    name: "Key Terms"),
  (className: "learning-outcomes",  clusterBy: $CLUSTER_NONE,   hasSolutions: false,   name: "Summary of Learning Outcomes"),
  (className: "prep-tomorrow",      clusterBy: $CLUSTER_NONE,   hasSolutions: false,   name: "Preparing for Tomorrow's Workplace"),
  (className: "ethics-activity",    clusterBy: $CLUSTER_NONE,   hasSolutions: false,   name: "Ethics Activity"),
  (className: "working-net",        clusterBy: $CLUSTER_NONE,   hasSolutions: false,   name: "Working the Net"),
  (className: "crit-think",         clusterBy: $CLUSTER_NONE,   hasSolutions: false,  name: "Critical Thinking Case"),
  (className: "hot-links",          clusterBy: $CLUSTER_NONE,  hasSolutions: false,   name: "Hot Links Address Book"),
);

$Config_Notes: (
  (className: 'link-to-learning', moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
);
