@import '../_common-stuff';
$RECIPE_NAME: "intro-business";

/*==========================================================
  Intro to Business CONFIG
==========================================================*/



/*==========================================================
  Notes
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Concept Check note

  Contains a title "Concept Check" and the content of the note.

  Markup: ./styleguide/page.note.concept-check.xhtml-baked.html

  Style guide: page.note.concept-check
*/
/*
  Managing Change note

  Contains a title "Managing Change", a subtitle, and the content of the note.

  Markup: ./styleguide/page.note.managing-change.xhtml-baked.html

  Style guide: page.note.managing-change
*/
/*
  Expanding Around the Globe note

  Contains a title "Expanding Around the Globe" , a subtitle, and the content of the note.

  Markup: ./styleguide/page.note.expanding-globe.xhtml-baked.html

  Style guide: page.note.expanding-globe
*/
/*
  Customer Satisfaction and Quality note

  Contains a title "Customer Satisfaction and Quality" , a subtitle, and the content of the note.

  Markup: ./styleguide/page.note.customer-satisfac.xhtml-baked.html

  Style guide: page.note.customer-satisfac
*/
/*
  Catching the Entrepreneurial Spirit note

  Contains a title "Catching the Entrepreneurial Spirit" , a subtitle, and the content of the note.

  Markup: ./styleguide/page.note.catching-spirit.xhtml-baked.html

  Style guide: page.note.catching-spirit
*/
/*
  Exploring Business Careers note

  Contains a title "Exploring Business Careers" and the content of the note.

  Markup: ./styleguide/page.note.exploring-careers.xhtml-baked.html

  Style guide: page.note.exploring-careers
*/
/*
  Ethics in Practice note

  Contains a title "Ethics in Practice" and the content of the note.

  Markup: ./styleguide/page.note.ethics-practice.xhtml-baked.html

  Style guide: page.note.ethics-practice
*/
/*
  Learning Outcomes

  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.learning-outcomes.xhtml-baked.html

  Style guide: page.note.learning-outcomes
*/
$Config_Notes: (

  (className: 'exploring-business-careers',  moveSolutionTo: $AREA_NONE,  labelText: "Exploring Business Careers"),
  (className: 'link-to-learning',            moveSolutionTo: $AREA_NONE,  labelText: "Link to Learning"),
  (className: 'concept-check',               moveSolutionTo: $AREA_NONE,  labelText: "Concept Check"),
  (className: 'managing-change',             moveSolutionTo: $AREA_NONE,  labelText: "Managing Change"),
  (className: 'expanding-around-globe',      moveSolutionTo: $AREA_NONE,  labelText: "Expanding Around the Globe"),
  (className: 'customer-satisfaction',       moveSolutionTo: $AREA_NONE,  labelText: "Customer Satisfaction and Quality"),
  (className: 'catching-spirit',             moveSolutionTo: $AREA_NONE,  labelText: "Catching the Entrepreneurial Spirit"),
  (className: 'exploring-careers',           moveSolutionTo: $AREA_NONE,  labelText: "Exploring Business Careers"),
  (className: 'ethics-in-practice',          moveSolutionTo: $AREA_NONE,  labelText: "Ethics in Practice"),
  (className: 'learning-outcomes',           moveSolutionTo: $AREA_NONE,  labelText: "Learning Outcomes", replaceHeader: true),
);

/*
  Example

  Contains a title "Example". Titles are numbered. Exercises inside aren't numbered.

  Markup: ./styleguide/page.example.xhtml-baked.html

  Style guide: page.example
*/
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleTitleContent: (        os-title-label: "Example ",  os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleTitleContentAP      : (os-title-label: "Example ",   os-number: counter(appendix, upper-alpha) counter(example), os-divider: " ");

$Config_PartType_Example:  (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, apTitleContent: $_exampleTitleContentAP, solutionTitleContent: $_exampleSolutionTitleContent);

/*==========================================================
  EOC
==========================================================*/
/*
  Summary of Learning Outcomes

  Should be collated at the end of a chapter.

  Contains a title "Learning Outcomes"

  Markup: ./styleguide/book.composite.summ-learning-outcomes.xhtml-baked.html

  Style guide: book.composite.summ-learning-outcomes
*/
/*
  Preparing for Tomorrow's Workplace

  Should be collated at the end of a chapter.

  Contains a title "Preparing for Tomorrow's Workplace"

  Markup: ./styleguide/book.composite.prep-tomorrow.xhtml-baked.html

  Style guide: book.composite.prep-tomorrow
*/
/*
  Ethics Activity

  Should be collated at the end of a chapter.

  Contains a title "Ethics Activity"

  Markup: ./styleguide/book.composite.ethics-activity.xhtml-baked.html

  Style guide: book.composite.ethics-activity
*/
/*
  Working the Net

  Should be collated at the end of a chapter.

  Contains a title "Working the Net"

  Markup: ./styleguide/book.composite.working-net.xhtml-baked.html

  Style guide: book.composite.working-net
*/
/*
  Critical Thinking Case

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking Case"

  Markup: ./styleguide/book.composite.crit-think.xhtml-baked.html

  Style guide: book.composite.crit-think
*/
/*
  Hot Links Address Book

  Should be collated at the end of a chapter.

  Contains a title "Hot Links Address Book"

  Markup: ./styleguide/book.composite.hot-links.xhtml-baked.html

  Style guide: book.composite.hot-links
*/

$Config_ChapterCompositePages: (
  (className: "glossary",             clusterBy: $CLUSTER_NONE,   specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt",    name: "Key Terms"),
  (className: "section-summary",      clusterBy: $CLUSTER_SECTION,   hasSolutions: false,    name: "Summary of Learning Outcomes"),
  (className: "prep-workplace",       clusterBy: $CLUSTER_NONE,   hasSolutions: false,    name: "Preparing for Tomorrow's Workplace Skills"),
  (className: "ethics-activity",      clusterBy: $CLUSTER_NONE,   hasSolutions: false,    name: "Ethics Activity"),
  (className: "working-net",          clusterBy: $CLUSTER_NONE,   hasSolutions: false,    name: "Working the Net"),
  (className: "critical-thinking",    clusterBy: $CLUSTER_NONE,   hasSolutions: false,    name: "Critical Thinking Case"),
  (className: "hot-links",            clusterBy: $CLUSTER_NONE,   hasSolutions: false,    name: "Hot Links Address Book"),
);


$Config_BookCompositePages: (
  (className: "index",        clusterBy: $CLUSTER_NONE,    specialPageType: $PAGE_INDEX,     name: "Index"),
  (className: "reference",    clusterBy: $CLUSTER_CHAPTER, specialPageType: $PAGE_CITATIONS, name: "References"),
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
);


$Config_PartType_Figure_CaptionContent  : (os-title-label: "Exhibit ", os-number: counter(chapter) "." counter(figure),           os-divider: " ");
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Exhibit ", os-number: counter(appendix, upper-alpha) counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentPr: (os-title-label: "Exhibit ", os-number: counter(figure),                                os-divider: " ");

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);

$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',                                  labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: 'div[data-type="chapter"] [data-type="example"]',                  labelText: "Example " counter(chapter) "." counter(example)),
  (selector: 'div[data-type="chapter"] [data-type="equation"]:not(.unnumbered)',labelText: "Equation " counter(chapter) "." counter(equation)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered)',      labelText: "Table " counter(chapter) "." counter(table)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered)',    labelText: "Exhibit " counter(chapter) "." counter(figure)),
  (selector: '.appendix :not(table) > table:not(.unnumbered)',                  labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix :not(figure) > figure:not(.unnumbered)',                labelText: "Exhibit " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.appendix > table:not(.unnumbered)',                              labelText: "Table " counter(appendix, upper-alpha) counter(table)),
  (selector: '.appendix > figure:not(.unnumbered)',                             labelText: "Exhibit " counter(appendix, upper-alpha) counter(figure)),
  (selector: '.preface :not(table) > table:not(.unnumbered)',                   labelText: "Table " counter(table)),
  (selector: '.preface :not(figure) > figure:not(.unnumbered)',                 labelText: "Exhibit " counter(figure))
);
/*
  References

  These are citations found throughout the book

  Markup: ./styleguide/book.references.xhtml-baked.html

  Style guide: book.References
*/
$Config_hasCitation: true;

$ConfighasFirstInlineListElement: false;
