@import '../_common-stuff';

/*==========================================================
  BIOLOGY PAGES
==========================================================*/

// TODO: "Key Terms" documentation seems to be missing
/*
  Chapter Summary

  These should be collated at the end of a chapter and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.xhtml

  Style guide: book.2-composite.summary
*/
/*
  Art Connection Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.art-connection-questions.xhtml-baked.xhtml

  Style guide: book.2-composite.art-connection-questions
*/
/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.xhtml

  Style guide: book.2-composite.review-questions
*/
/*
  Critical Thinking Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.xhtml

  Style guide: book.2-composite.critical-thinking
*/

// These are defined as variables because they are used in ap-biology
$BiologyPageKeyTerms        : (source: "glossary", isGlossary: true, sortBy: "dl > dt", name: "Key Terms");
$BiologyPageSummary         : (source: "summary",         sectionSeparated: true, name: "Chapter Summary");
$BiologyPageArtConnection   : (source: "art-exercise",    hasSolutions: true,     name: "Art Connection Questions");
$BiologyPageReviewQuestions : (source: "multiple-choice", hasSolutions: true,     name: "Review Questions");
$BiologyPageCriticalThinking: (source: "free-response",   hasSolutions: true,     name: "Critical Thinking Questions");

$Config_ChapterCompositePages: (
  $BiologyPageKeyTerms,
  $BiologyPageSummary,
  $BiologyPageArtConnection,
  $BiologyPageReviewQuestions,
  $BiologyPageCriticalThinking
);

$Config_BookCompositePages: (
  (source: "solutions", isAnswerKey: true, chapterSeparated: true, compoundComposite: true, moveSolutionsTo: $AREA_EOB, name: "Answer Key"),
  (source: "index",     isIndex: true, name: "Index"),
);
/*==========================================================
  BIOLOGY TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span

/*
  Art Connection note

  Contains a title "Art Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.art-connection.xhtml-baked.xhtml

  Style guide: page.note.art-connection
*/
/*
  Career Connection note

  Contains a title "Career Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.career-connection.xhtml-baked.xhtml

  Style guide: page.note.career-connection
*/
/*
  Everyday Connection note

  Contains a title "Everyday Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.everyday-connection.xhtml-baked.xhtml

  Style guide: page.note.everyday-connection
*/
/*
  Evolution Connection note

  Contains a title "Evolution Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.evolution-connection.xhtml-baked.xhtml

  Style guide: page.note.evolution-connection
*/
/*
  Scientific Method Connection note

  Contains a title "Scientific Method Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.scientific-method-connection.xhtml-baked.xhtml

  Style guide: page.note.scientific-method-connection
*/
/*
  Link to Learning note

  Contains a title "Link to Learning"

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.xhtml

  Style guide: page.note.link-to-learning
*/
$Config_Notes: (
  (className: 'art-connection', moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Art Connection",        ),
  (className: 'career',         moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Career Connection Note",),
  (className: 'everyday',       moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Everyday Connection",   ),
  (className: 'evolution',      moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Evolution Connection",  ),
  (className: 'experiment',     moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Scientific Method Connection",  ),
  (className: 'interactive',    moveSolutionTo: $AREA_NONE, isBodyWrapped: false, label: "Link to Learning",  ),
);

$Config_UnnumberedExercises: (); // There are no unnumbered exercises

$Config_CaptionTableNumber         : ( title-label: "Table ", number: counter(chapter) "."            counter(table) );
$Config_CaptionTableNumberAp       : ( title-label: "Table ", number: counter(appendix, upper-alpha)  counter(table) );
$Config_CaptionFigNumber           : ( title-label: "Figure ", number: counter(chapter) "."           counter(figure) );
$Config_CaptionFigNumberAp         : ( title-label: "Figure ", number: counter(appendix, upper-alpha) counter(figure) );
$Config_SetTableCaption            : ( type: table, defaultContainer: caption, hasCaption: true, hasTitle: true );
$Config_SetFigureCaption           : ( type: figure, defaultContainer: figcaption, hasCaption: true, hasTitle: true );
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: (divider: ".", number: counter(exercise), ));
$Config_PartType_Example:  (moveTo: $AREA_TRASH, ); // Oddly, this does not trash the examples... But maybe it shoudl be something other than NONE?
$Config_PartType_Chapter:  (outlineTitle: null, );
$Config_PartType_Equation: (titleContent: null, );
$Config_PartType_Solution: (moveTo: $AREA_NONE, );
