@import '../_common-stuff';

/*==========================================================
  BIOLOGY PAGES
==========================================================*/

//Make pages
$pageKeyTerms               : ( name: "Key Terms", source: "glossary", isGlossary: true, sortBy: "dl > dt" );

/*
  Chapter Summary

  These should be collated at the end of a chapter and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.xhtml

  Style guide: book.2-composite.summary
*/
$pageSummary                : ( name: "Chapter Summary", source: "summary", sectionSeparated: true );

/*
  Art Connection Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.art-connection-questions.xhtml-baked.xhtml

  Style guide: book.2-composite.art-connection-questions
*/
$pageArtConnection             : ( name: "Art Connection Questions", source: "art-exercise", hasSolutions: true );

/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.xhtml

  Style guide: book.2-composite.review-questions
*/
$pageReviewQuestions        : ( name: "Review Questions", source: "multiple-choice", hasSolutions: true );

/*
  Critical Thinking Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.xhtml

  Style guide: book.2-composite.critical-thinking
*/
$pageCriticalThinking       : ( name: "Critical Thinking Questions", source: "free-response", hasSolutions: true );

$pageIndex                  : ( name: "Index", source: "index", isIndex: true );

$pageSolutions              : ( name: "Answer Key", source: "solutions", chapterSeparated: true, compoundComposite: true, isAnswerKey: true, moveSolutionsTo: $AREA_EOB);

$Config_ChapterCompositePages: (
  $pageKeyTerms, $pageSummary, $pageArtConnection, $pageReviewQuestions, $pageCriticalThinking
);

$Config_BookCompositePages: (
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
  $pageSolutions, $pageIndex
);
/*==========================================================
  BIOLOGY TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
$chapterTitleContent        : ( number: counter(chapter), divider: ' ' );
$appendixTitleContent       : ( title-label         :"Appendix ", number: counter(appendix, upper-alpha), divider: ' ' );
$sectionTitleContent        : ( number: counter(chapter) "." counter(section), divider: ' ' );
$_exerciseTitleContent      : ( divider: ".", number: counter(exercise), );
/*
  Art Connection note

  Contains a title "Art Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.art-connection.xhtml-baked.xhtml

  Style guide: page.note.art-connection
*/
/*
  Career Connection note

  Contains a title "Career Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.career-connection.xhtml-baked.xhtml

  Style guide: page.note.career-connection
*/
/*
  Everyday Connection note

  Contains a title "Everyday Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.everyday-connection.xhtml-baked.xhtml

  Style guide: page.note.everyday-connection
*/
/*
  Evolution Connection note

  Contains a title "Evolution Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.evolution-connection.xhtml-baked.xhtml

  Style guide: page.note.evolution-connection
*/
/*
  Scientific Method Connection note

  Contains a title "Scientific Method Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.scientific-method-connection.xhtml-baked.xhtml

  Style guide: page.note.scientific-method-connection
*/
/*
  Link to Learning note

  Contains a title "Link to Learning"

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.xhtml

  Style guide: page.note.link-to-learning
*/
$Config_Notes: (
  (className: 'art-connection', moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Art Connection",        ),
  (className: 'career',         moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Career Connection Note",),
  (className: 'everyday',       moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Everyday Connection",   ),
  (className: 'evolution',      moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Evolution Connection",  ),
  (className: 'experiment',     moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Scientific Method Connection",  ),
  (className: 'interactive',    moveSolutionTo: $AREA_NONE, isBodyWrapped: false, label: "Link to Learning",  ),
);

$Config_UnnumberedExercises: (); // There are no unnumbered exercises

$Config_CaptionTableNumber         : ( title-label: "Table ", number: counter(chapter) "."            counter(table) );
$Config_CaptionTableNumberAp       : ( title-label: "Table ", number: counter(appendix, upper-alpha)  counter(table) );
$Config_CaptionFigNumber           : ( title-label: "Figure ", number: counter(chapter) "."           counter(figure) );
$Config_CaptionFigNumberAp         : ( title-label: "Figure ", number: counter(appendix, upper-alpha) counter(figure) );
$Config_SetTableCaption            : ( type: table, defaultContainer: caption, hasCaption: true, hasTitle: true );
$Config_SetFigureCaption           : ( type: figure, defaultContainer: figcaption, hasCaption: true, hasTitle: true );
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_TRASH, ); // Oddly, this does not trash the examples... But maybe it shoudl be something other than NONE?
$Config_PartType_Chapter:  (outlineTitle: null, );
$Config_PartType_Equation: (titleContent: null, );
$Config_PartType_Solution: (moveTo: $AREA_NONE, );
