@function openstax-color-scheme() {
    $OPENSTAX_COLOR_SCHEME: (
        Y1:    #ECCF48,
        Y2:    #F3BE57, 
        O1:    #E27C4E, 
        R1:    #B32B2F,
        B1:    #57BCD8, 
        G3:    #84AE52,
        G5:    #479177,
    ); 
    @return $OPENSTAX_COLOR_SCHEME;
}

$color-scheme: openstax-color-scheme() !default;

@mixin update-color-scheme-config() {
  $color-scheme: openstax-color-scheme() !global;
  @each $scheme-get-function in $color-scheme-manifest {
    $color-scheme: map-merge($color-scheme, call($scheme-get-function)) !global;
  }
}

// Retrieves color value from color-scheme
@function color-scheme($name) {
  @if map-has-key($color-scheme, $name) {
    @return map-get($color-scheme, $name);
  }
  @error "Unknown color scheme designation: #{$name}";
}

$color-scheme-manifest: (); //initalize map

@mixin color-scheme-merge($function) {
  $color-scheme-manifest: append($color-scheme-manifest, $function) !global;
  @include update-color-scheme-config();
}