@import '../physics/_config';

// This is slightly different than physics so it is redefined here.
$_equationTitleContent: (os-divider: " ", os-number: counter(chapter) "." counter(equation)); // TODO: Make this the same as ap-physics

// Add in the solutions
$PhysicsPageConceptualQuestions: map-merge($PhysicsPageConceptualQuestions, (hasSolutions: true));
$PhysicsPageProblems:            map-merge($PhysicsPageProblems,            (hasSolutions: true));


/*
  Test Prep for AP® Courses
  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.ap-test-prep.xhtml-baked.html

  Style guide: book.composite.ap-test-prep
*/
$Config_ChapterCompositePages: (
  $PhysicsPageKeyTerms,
  $PhysicsPageSummary,
  $PhysicsPageConceptualQuestions,
  $PhysicsPageProblems,
  (className: "ap-test-prep", clusterBy: $CLUSTER_SECTION, hasSolutions: true, name: "Test Prep for AP® Courses"),
);
$Config_BookCompositePages: (
  (className: "solutions",  clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, name: "Answer Key"),
  $PhysicsPageIndex,
);




$Config_Notes: ();

/*
  Check Your Understanding Exercise

  These should be unnumbered.

  Markup: ./styleguide/page.exercise.understanding.xhtml-baked.html

  Style guide: page.exercise.understanding
 */
$Config_UnnumberedExercises: (
  (contextSelector: '[data-type="example"]', childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="exercise"][data-element-type="check-understanding"]',  childSelector: null),
);

$Config_UnnumberedEquations: (
  (contextSelector: 'section.section-summary', childSelector: '[data-type="equation"]'),
);

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Equation: (moveTo: $AREA_NONE, numberAt: $NUMBER_AFTER_MOVE, titleContent: $_equationTitleContent);
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent,
                                          solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_NONE);

$Config_HACK_modifyAnyContainerTitleSelector: '[data-element-type="check-understanding"]';
$Config_addSolutionHeader: ((selector: '[data-element-type="check-understanding"]', title: 'Solution'),);


// Coverage optimizations
$Config_Coverage_MayHaveSimlinks: false;
$Config_Coverage_MayHaveIframes: false;
$Config_Coverage_MayHaveMissingExercises: false;

$Config_hasCompositeChapter: false;
