@import '../_common-stuff';
$RECIPE_NAME: "english-composition";

$Config_Custom_Section: (
  (className: 'narrative-trailblazer', text: "Literacy Narrative Trailblazer", inject: 'title'),
  (className: 'living-words', text: "Living by Their Own Words", inject: 'subtitle'),
  (className: 'quick-launch', text: "Quick Launch: ", inject: 'title_prefix'),
  (className: 'drafting', text: "Drafting: ", inject: 'title_prefix'),
  (className: 'peer-review', text: "Peer Review: ", inject: 'title_prefix'),
  (className: 'revising', text: "Revising: ", inject: 'title_prefix'),
);

$Config_Annotation_Classes: (
  'linguistic-icon',
  'culture-icon',
  'dreaming-icon',
  'visual-icon',
  'speech-icon',
  'auditory-icon',
  'kinesthetic-icon'
);

$Config_ChapterCompositePages: (
  (className: "further-reading", clusterBy: $CLUSTER_NONE, name: "Further Reading"),
  (className: "works-cited", clusterBy: $CLUSTER_NONE, name: "Works Cited"),
  (className: "works-consulted", clusterBy: $CLUSTER_NONE, name: "Works Consulted"),
);

$Config_BookCompositePages: (
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');


$Config_ContentExercise_TitleContent : (os-divider: ".", os-number : counter(exerciseMaybeInContent));
$Config_hasGroupedIntroBody: true;