@import '../_common-stuff';

/*==========================================================
  Principles of Management PAGES
==========================================================*/

/*
  References page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/
$Config_Notes: (
  (className: 'calculator', moveSolutionTo: $AREA_NONE,  labelText: "Using the TI-83, 83+, 84, 84+ Calculator"),
  (className: 'collab',     moveSolutionTo: $AREA_NONE,  labelText: "Collaborative Exercise", replaceHeader: true),
  (className: 'chapter-objectives', moveSolutionTo: $AREA_NONE,  labelText: "Chapter Objectives", replaceHeader: true),
);

$Config_PartType_Solution: ();
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
