@import '../economics/_config';

$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: true;
$Config_TEAspecificLOHeaders : true;
$Config_hasCompositeAppendixes: true;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Objectives');
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_convertEOBCompositePageToChapter: ("references",);
$Config_ContentExercise_TitleContentAp : (os-number: counter(appendix, upper-alpha) counter(exerciseMaybeInContent), os-title-label: "Exercise ");

/*
  Learning Objectives

  These are specific to *some* TEA titles but not all. (those with `$Config_TEAspecificLOHeaders: true;`)

  Markup: ./styleguide/page.learning-objectives.xhtml-baked.html

  Style guide: page.learning-objectives
*/
