@import '../_common-stuff';
$RECIPE_NAME: "sociology";

/*==========================================================
  SOCIOLOGY PAGES
==========================================================*/

/*
  Key Terms

  Contains a title "Key Terms".

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Section Summary

  Contains a title "Section Summary".

  Markup: ./styleguide/book.composite.section-summary.xhtml-baked.html

  Style guide: book.composite.section-summary
*/
/*
  Section Quiz

  Contains a title "Section Quiz", and exercises with solutions collated to EOC.

  Markup: ./styleguide/book.composite.section-quiz.xhtml-baked.html

  Style guide: book.composite.section-quiz
*/
/*
  Short Answer

  Contains a title "Short Answer", and exercises with solutions collated to EOC.

  Markup: ./styleguide/book.composite.short-answer.xhtml-baked.html

  Style guide: book.composite.short-answer
*/
/*
  Further Research

  Contains a title "Further Research".

  Markup: ./styleguide/book.composite.further-research.xhtml-baked.html

  Style guide: book.composite.further-research
*/
/*
  References

  Contains a title "References".

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/
/*
  Solutions page

  Contains a title "Solutions".

  Markup: ./styleguide/book.composite.solutions.xhtml-baked.html

  Style guide: book.composite.solutions
*/

$Config_ChapterCompositePages: (
  (className: "glossary",         clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "section-summary",  clusterBy: $CLUSTER_SECTION, name: "Section Summary"),
  (className: "section-quiz",     clusterBy: $CLUSTER_SECTION, hasSolutions: true, name: "Section Quiz"),
  (className: "short-answer",     clusterBy: $CLUSTER_SECTION, hasSolutions: true, name: "Short Answer"),
  (className: "further-research", clusterBy: $CLUSTER_SECTION, name: "Further Research"),
  (className: "references",       clusterBy: $CLUSTER_SECTION, name: "References"),
);

$Config_BookCompositePages: (
  (className: "solution", clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key"),
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/*==========================================================
  SOCIOLOGY CONFIG
==========================================================*/

/*
  Sociological Research

  Contains a title "Sociological Research".

  Markup: ./styleguide/page.note.sociological-research.xhtml-baked.html

  Style guide: page.note.sociological-research
*/
/*
  Sociology in the Real World

  Contains a title "Sociology in the Real World".

  Markup: ./styleguide/page.note.sociology-real-world.xhtml-baked.html

  Style guide: page.note.sociology-real-world
*/
/*
  Big Picture

  Contains a title "Big Picture".

  Markup: ./styleguide/page.note.sociology-big-picture.xhtml-baked.html

  Style guide: page.note.sociology-big-picture
*/
/*
  Social Policy and Debate

  Contains a title "Social Policy and Debate".

  Markup: ./styleguide/page.note.sociology-policy-debate.xhtml-baked.html

  Style guide: page.note.sociology-policy-debate
*/

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE, hasSolutions: true, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);

$Config_Notes: (
  (className: 'sociological-research',   labelText: "Sociological Research"),
  (className: 'sociology-real-world',    labelText: "Sociology in the Real World"),
  (className: 'sociology-big-picture',   labelText: "Big Picture"),
  (className: 'sociology-policy-debate', labelText: "Social Policy and Debate"),
);

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');

$Config_abstractTitle: "Learning Objectives";

$Config_PartType_Solution: (moveTo: $AREA_TRASH_HALF);

$Config_hasCompositeChapter: true;

$Config_hasGroupedIntroBody: true;
