@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .practice-test, .key-equations, .key-concepts, .review-exercises {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.practice-test {
    move-to: eoc-practice-test;
  }
  section.key-equations {
    move-to: eoc-key-equations;
  }
  section.key-concepts {
    move-to: eoc-key-concepts;
  }
  section.review-exercises {
    move-to: eoc-review-exercises;
  }
  section.try .solution {
    move-to: eob-try;
  }
  section.section-exercises .solution {
    move-to: eob-section-exercises;
  }
}


//containers
div[data-type='chapter']::after {
  content: pending(eoc-practice-test);
  class: eoc-practice-test;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-equations);
  class: eoc-key-equations;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-key-concepts);
  class: eoc-key-concepts;
  container: div;
}
div[data-type='chapter']::after {
  content: pending(eoc-review-exercises);
  class: eoc-review-exercises;
  container: div;
}


//eob
body::after {
  content: pending(eob-try);
  class: eob-try;
  container: div;
}
body::after {
  content: pending(eob-section-exercises);
  class: eob-section-exercise;
  container: div;
}
