
@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .interactive-exercise, .multiple-choice, .free-response, .references {
    .x-numb ();
  }
}
//<cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
//<cnx-pi data-type="cnx.eoc">class="interactive-exercise" title="Interactive Link Questions"</cnx-pi>
//<cnx-pi data-type="cnx.eoc">class="multiple-choice" title="Review Questions"</cnx-pi>
//<cnx-pi data-type="cnx.eoc">class="free-response" title="Critical Thinking Questions"</cnx-pi>
//<cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

//eoc
div[data-type='chapter'] {
  section.interactive-exercise {
    move-to: eoc-interactive-exercise;
  }
  section.multiple-choice {
    move-to: eoc-multiple-choice;
  }
  section.free-response {
    move-to: eoc-free-response;
  }
  section.references {
    move-to: eoc-references;
  }
}

div[data-type='chapter']::after {
  content: pending(eoc-interactive-exercise);
  class: eoc-interactive-exercise;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-multiple-choice);
  class: eoc-multiple-choice;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-free-response);
  class: eoc-free-response;
 display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
 display: block;
}
