
<<<<<<< HEAD
//@import url("common/numbering.less");
@import url("common/collations.less");
@import url("common/toc.less");


@import url("physics.less");

=======
@import url("physics.less");
>>>>>>> 79e9bd4a4b6b1a867a85abae31f1c23004765f1a
//numbering
div[data-type='chapter'] {
  .conceptual-questions, .problems-exercises, .ap-test-prep {
    //.x-numb ();
  }
}
// <cnx-pi data-type="cnx.eoc">class="section-summary" title="Section Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="conceptual-questions" title="Conceptual Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems-exercises" title="Problems &amp; Exercises"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="ap-test-prep" title="Test Prep for AP Courses"</cnx-pi>
//eoc

div[data-type='chapter'] {
  section.ap-test-prep {
    move-to: eoc-ap-test-prep;
    > [data-type="title"] {
        move-to: trash;
    }
    &::before {
      content: nodes(sectionTitle);
    }
  }
  &::after {
    content: pending(eoc-ap-test-prep);
    class: "eoc ap-test-prep-container";
    container: div;
    data-type: page;
    //move-to: eoc-all;
  }
}

.eoc {
  &.ap-test-prep-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "Test Prep for AP Course";
  }
}

