   // <?cnx.eoc class="summary" title="Summary"?>
   // <?cnx.eoc class="further-exploration" title="For Further Exploration"?>
   // <?cnx.eoc class="group-activities" title="Collaborative Group Activities"?>
   // <?cnx.eoc class="review-questions" title="Review Questions"?>
   // <?cnx.eoc class="thought-questions" title="Thought Questions"?>
   // <?cnx.eoc class="figuring-for-yourself" title="Figuring for Yourself"?>

@import url("common/numbering.less");
@import url("common/collations.less");
//numbering
div[data-type='chapter'] {
  .further-exploration, .group-activities, .review-questions, .thought-questions,  .figuring-for-yourself {
    .x-numb ();
  }
}

div[data-type='chapter'] {
  section.further-exploration {
    move-to: eoc-further-exploration;
  }
  &::after {
    content: pending(eoc-further-exploration);
    class: eoc-further-exploration;
    container: div;
    move-to: eoc-all;
  }

  section.group-activities {
    move-to: eoc-group-activities;
  }
  &::after {
    content: pending(eoc-group-activities);
    class: eoc-group-activities;
    container: div;
    move-to: eoc-all;
  }

  section.review-question {
    move-to: eoc-review-question;
  }
  &::after {
  content: pending(eoc-review-question);
  class: eoc-review-question;
  container: div;
  move-to: eoc-all;
  }

  section.thought-questions{
  move-to: eoc-thought-questions;
    }
  &::after {
    content: pending(eoc-thought-questions);
    class: eoc-thought-questions;
    container: div;
    move-to: eoc-all;
  }

  section.thought-questions {
    move-to: eoc-thought-questions;
  }
  &::after {
    content: pending(eoc-thought-questions);
    class: eoc-thought-questionst;
    container: div;
    move-to: eoc-all;
  }

  section.figuring-for-yourself {
    move-to: eoc-figuring-for-yourself;
  }
  &::after {
    content: pending(eoc-figuring-for-yourself);
    class: eoc-figuring-for-yourselft;
    container: div;
    move-to: eoc-all;
  }

  &::after {
    content: pending(eoc-all);
    class: end-of-chapter;
    data-type: composite-page;
    container: div;
  }
}