
@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .art-exercise, .multiple-choice, .free-response {
    .x-numb ();
  }
}
// <cnx-pi data-type="cnx.eoc">class="summary" title="Sections Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="art-exercise" title="Art Connections"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="multiple-choice" title="Multiple Choice"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="free-response" title="Free Response"</cnx-pi>

//eoc
div[data-type='chapter'] {
  section.art-exercise {
    move-to: eoc-art-exercise;
  }
  section.multiple-choice {
    move-to: eoc-multiple-choice;
  }
  section.free-response {
    move-to: eoc-free-response;
  }
}

div[data-type='chapter']::after {
  content: pending(eoc-art-exercise);
  class: eoc-art-exercise;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-multiple-choice);
  class: eoc-multiple-choice;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-free-response);
  class: eoc-free-response;
  display: block;
}
