@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .art-exercise, .multiple-choice, .free-response {
    //.x-numb ();
  }
}
// <cnx-pi data-type="cnx.eoc">class="summary" title="Sections Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="art-exercise" title="Art Connections"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="multiple-choice" title="Multiple Choice"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="free-response" title="Free Response"</cnx-pi>

//eoc
div[data-type='chapter'] {
  div[data-type="page"] {
    > div[data-type="document-title"] {
      node-set: sectionTitle;
    }
  }

  .summary(summary, ~'.', h1, "Sections Summary");

  section.art-exercise {
   move-to: trash;
  .exercise {
    move-to: eoc-art-exercise;
    }
  }
  &::before {
    container: h1;
    class: art-exercise-title;
    content: "Art Connections";
    move-to: artTitle;
  }
  &::after {
    content: pending(artTitle) pending(eoc-art-exercise);
    class: eoc-art-exercise;
    container: div;
    move-to: eoc-all;
  }
  section.multiple-choice {
    move-to: trash;
    .exercise {
      move-to: eoc-multiple-choice;
    }
  }
  &::before {
    container: h1;
    class: multiple-choice-title;
    content: "Mulitple Choice";
    move-to: multipleChoiceTitle;
  }
  &::after {
    content: pending(multipleChoiceTitle) pending(eoc-multiple-choice);
    class: eoc-multiple-choice;
    container: div;
    move-to: eoc-all;
  }
  section.free-response {
    move-to: trash;
    .exercise {
      move-to: eoc-free-response;
    }
  }
  &::before {
    container: h1;
    class: free-response-title;
    content: "Free Response";
    move-to: freeResponseTitle;
  }
  &::after {
    content: pending(freeResponseTitle) pending(eoc-free-response);
    class: eoc-free-response;
    container: div;
    move-to: eoc-all;
  }
}
