@import url("common/numbering.less");


//numbering
div[data-type='chapter'] {
  .key-equations, .exercises, .references {
    //.x-numb ();
  }
}

// <cnx-pi data-type="cnx.eoc">class="key-equations" title="Key-Equations"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="exercises" title="Exercises"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

//eoc
div[data-type='chapter'] {
  div[data-type="page"] {
    > div[data-type="document-title"] {
      node-set: sectionTitle;
    }
  }
  .link-to-learning {
    &::before {
      container: h1;
      content: "Link to Learning" ;
      move-to: linkToLearningTitle;
    }
    content: pending(linkToLearningTitle) content();
  }
  section.key-equations {
    pass: 2;
    move-to: trash;
    >  ul {
    move-to: eoc-key-equations;
    }
  }

 .summary(summary, ~'.', h1, "Section Summary");

  section.exercises {
    pass: 2;
    move-to: trash;
    .exercise {
      move-to: exercises;
    }
    &::after {
    content: nodes(sectionTitle) pending(exercises);
    move-to: eoc-exercises;
    }
  }
  section.references {
    move-to: eoc-references;
  }
  [data-type="example"] {
    &::before {
      container: h1;
      content: "Example" ;
      move-to: exampleTitle;
    }
    content: pending(exampleTitle) content();
  }

  &::before {
    container: h1;
    class: key-equations-title;
    content: "Key Equations";
    move-to: keyEquationsTitle;
  }

  &::before {
    container: h1;
    class: exercises-title;
    content: "Exercises";
    move-to: exercisesTitle;
  }
  &::before {
    container: h1;
    class: references-title;
    content: "References";
    move-to: referencesTitle;
  }
  &::after {
    content: pending(keyEquationsTitle) pending(eoc-key-equations);
    class: eoc-key-equations;
    container: div;
    move-to: eoc-all;
  }

  &::after {
    content: pending(exercisesTitle)pending(eoc-exercises);
    class: eoc-exercises;
    container: div;
    move-to: eoc-all;
  }
  &::after {
    content: pending(referencesTitle) pending(eoc-references);
    class: eoc-references;
    container: div;
    move-to: eoc-all;
  }
}

@import url("common/collations.less");

