
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="self-check-questions" title="Self-Check Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="critical-thinking" title="Critical Thinking Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems" title="Problems"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>
//glossary

@import 'common/var-mixins';
@import 'common/numbering';
@import 'common/single-serving';
@import 'common/toc';

//numbering
// div[data-type='chapter'] {
//   .self-check-questions, .review-questions, .critical-thinking, .problems, .references {
//     //.x-numb ();
//   }
// }


//eoc
div[data-type='chapter'] {

  .glossary('Key Terms');
  .summary(summary, ~'.', h1, "Key Concepts and Summary");

  section.self-check-questions {
    .composite-origin (self-check-questions);
    div[data-type="solution"] {
      .solutions-origin (self-check-solutions);
    }
  }
  &::after {
    .composite-destination(self-check-questions);
  }

  section.review-questions {
    .composite-origin (review-questions);
    div[data-type="solution"] {
      .solutions-origin (review-questions-solutions);
    }
  }
  &::after {
    .composite-destination(review-questions);
  }

  section.critical-thinking {
    .composite-origin (critical-thinking);
    div[data-type="solution"] {
      .solutions-origin (critical-thinking-solutions);
    }
  }
  &::after {
    .composite-destination(critical-thinking);
  }

  section.problems {
    .composite-origin (problems);
    div[data-type="solution"] {
      .solutions-origin (problems-solutions);
    }
  }
  &::after {
    .composite-destination(problems);
  }

  section.references {
    .composite-origin (references);
  }
  &::after {
    .composite-destination(references);
  }

 // chapters
 // &::after {
 //  content: "Chapter";
 //  move-to: chapterAreaTitle;
 //  pass: @pass-25-solutions;
 // }
  &::after {
    .solutions-destination (self-check-solutions; self-check-solutions);
    move-to: chapterArea;
  }
  &::after {
    .solutions-destination (review-questions-solutions; review-questions-solutions);
    move-to: chapterArea;
  }
  &::after {
    class: "chapter-area";
    content:   pending(chapterArea);
    move-to: eob-all;
    pass: @pass-25-solutions;
  }
}
body {
  &::after {
    class: "eob answer-key";
    content: pending(eob-all);
    pass: 35;
  }
}

