
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="self-check-questions" title="Self-Check Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="critical-thinking" title="Critical Thinking Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems" title="Problems"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>
//glossary

@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .self-check-questions, .review-questions, .critical-thinking, .problems, .references {
    //.x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  .summary(summary, ~'.', h1, "Key Concepts and Summary");

   section.self-check-questions {
    move-to: self-check;
    > [data-type="title"] {
      move-to: trash;
    }
   }
   &::before {
    container: h1;
    data-type: title;
    content: "Self Check Questions";
    move-to: selfTitle;
   }
   &::after {
    container: div;
    class: "eoc self-check-questions";
    data-type: page;
    content: pending(selfTitle) pending(self-check);
   }

   section.review-questions {
    move-to: review-questions;
    > [data-type="title"] {
      move-to: trash;
    }
   }
   &::before {
    container: h1;
    data-type: title;
    content: "Review Questions";
    move-to: reviewTitle;
   }
   &::after {
    container: div;
    class: "eoc review-questions";
    data-type: page;
    content: pending(reviewTitle) pending(review-questions);
   }

   section.critical-thinking {
    move-to: critical-thinking;
    > [data-type="title"] {
      move-to: trash;
    }
   }
   &::before {
    container: h1;
    data-type: title;
    content: "Critical Thinking";
    move-to: criticalTitle;
   }
   &::after {
    container: div;
    class: "eoc critical-thinking";
    data-type: page;
    content: pending(criticalTitle) pending(critical-thinking);
   }

   section.problems {
    move-to: problems;
    > [data-type="title"] {
      move-to: trash;
    }
   }
   &::before {
    container: h1;
    data-type: title;
    content: "Problems";
    move-to: problemsTitle;
   }
   &::after {
    container: div;
    class: "eoc problems";
    data-type: page;
    content: pending(problemsTitle) pending(problems);
  }

  section.references {
    move-to: references;
    > [data-type="title"] {
      move-to: trash;
    }
   }
   &::before {
    container: h1;
    data-type: title;
    content: "references";
    move-to: referencesTitle;
   }
  .glossary();
    // &::after {
  //   content: pending(eoc-all);
  //   class: end-of-chapter;
  //   data-type: composite-page;
  //   container: div;
 // }
  div[data-type="solution"] {
    move-to: chapterSolutions;
  }
  &::after {
    class: solutions;
    content: nodes(chapterTitle) pending(chapterSolutions);
    move-to: eob-solutions;
   }
}
body {
    &::after {
    class: "eob solutions";
    data-type: page;
    container: div;
    content: pending(answerTitle) pending(eob-solutions);
  }
  &::after {
    container: div;
    class: "eob references";
    data-type: page;
    content: pending(referencesTitle) pending(references);
  }
}

