
// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="self-check-questions" title="Self-Check Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="critical-thinking" title="Critical Thinking Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems" title="Problems"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>
//glossary

@import 'common/var-mixins';
@import 'common/numbering';
@import 'common/single-serving';
@import 'common/toc';

//numbering
// div[data-type='chapter'] {
//   .self-check-questions, .review-questions, .critical-thinking, .problems, .references {
//     //.x-numb ();
//   }
// }


//eoc
div[data-type='chapter'] {

  .glossary('Key Terms');
  .summary(summary, ~'.', h1, "Key Concepts and Summary");

  section.self-check-questions {
    .composite-origin (self-check-questions);
    div[data-type="solution"] {
      .solutions-origin (self-check-solutions);
    }
  }
  &::after {
    .composite-destination(self-check-questions);
  }

  section.review-questions {
    .composite-origin (review-questions);
  }
  &::after {
    .composite-destination(review-questions);
  }

  section.critical-thinking {
    .composite-origin (critical-thinking);
    div[data-type="solution"] {
      .solutions-origin (critical-thinking-solutions);
    }
  }
  &::after {
    .composite-destination(critical-thinking);
  }

  section.problems {
    .composite-origin (problems);
    div[data-type="solution"] {
      .solutions-origin (problems-solutions);
    }
  }
  &::after {
    .composite-destination(problems);
  }

  section.references {
    .composite-origin (references);
  }


 // chapters
 &::after {
  container: h1;
  class: "chapter-area-title";
  content: "Chapter" nodes(nodeChapterNumber);
  move-to: chapterAreaTitle;
  pass: @pass-25-solutions;
 }
  &::after {
    container: div;
    class: "self-check-solutions";
    content: pending(chapterAreaTitle) pending(self-check-solutions);
    pass: @pass-25-solutions;
    move-to: chapterArea;
  }
  &::after {
    class: "chapter-area";
    content: pending(chapterArea);
    move-to: eob-all;
    pass: @pass-25-solutions;
  }
  &::after {
    container: div;
    class: "references";
    content: pending(references);
    pass: 35;
    move-to: refArea;
  }
  &::after {
    class: "chapter-area";
    content: pending(refArea);
    move-to: eob-references;
    pass:35;
  }
  .eoc {
    &.self-check-questions-container {
      .metadata("Self Check Questions");
      .doc-title("Self Check Questions");
    }
    &.review-questions-container {
      .metadata("Review Qestions");
      .doc-title("Review Qestions");
    }
    &.critical-thinking-container {
      .metadata("Critical Thinking");
      .doc-title("Critical Thinking");
    }
    &.problems-container {
      .metadata("Problems");
      .doc-title("Problems");
    }
  }
}
body {
  &::after {
    class: "eob answer-key";
    content: pending(eob-all);
    pass: 35;
  }
  &::after {
    class: "eob references";
    content: pending(eob-references);
    pass: 35;
  }
  .eob {
    &.references {
      &::before {
        container: span;
        class: "text";
        pass: 50;
        content: "References";
        move-to: titleSpan;
      }
      &::before {
        pass: 50;
        container: div;
        data-type: document-title;
        content: pending(titleSpan);
      }
    }
  }
}

