
//
// <cnx-pi data-type="cnx.eoc">class="section-summary" title="Section Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="conceptual-questions" title="Conceptual Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="problems-exercises" title="Problems &amp; Exercises"</cnx-pi>
// <cnx-pi data-type="chapter-toc">label="Key Concepts"</cnx-pi>

@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .conceptual-questions, .problems-exercises {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.problems-exercises {
     move-to: eoc-exercises;
   }
  section.conceptual-questions {
    move-to: eoc-conceptual-questions;
  }
  section.problems-exercises {
    move-to: eoc-problems-exercises;
  }

  &::after {
    content: pending(eoc-eoc-exercises);
    class: eoc-ceoc-exercises;
    container: div;
  }
  &::after {
    content: pending(eoc-conceptual-questions);
    class: eoc-conceptual-questions;
    container: div;
  }
  &::after {
    content: pending(eoc-problems-exercises);
    class: eoc-problems-exercises;
    container: div;
  }
}


