// <cnx-pi data-type="cnx.eoc">class="summary" title="Summary"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="critical-thinking" title="Critical Thinking Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="personal-application" title="Personal Application Questions"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

@import url("common/numbering.less");
@import url("common/collations.less");

//numbering
div[data-type='chapter'] {
  .review-questions, .critical-thinking, .personal-application, .references {
    .x-numb ();
  }
}


//eoc
div[data-type='chapter'] {
  section.review-questions {
    move-to: eoc-review-questions;
  }
  section.critical-thinking {
    move-to: eoc-critical-thinking;
  }
  section.personal-application {
    move-to: personal-application;
  }
  section.references {
    move-to: eoc-references;
  }
}


div[data-type='chapter']::after {
  content: pending(eoc-review-questions);
  class: eoc-review-questions;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-critical-thinking);
  class: eoc-critical-thinking;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-personal-application);
  class: personal-application;
  display: block;
}
div[data-type='chapter']::after {
  content: pending(eoc-references);
  class: eoc-references;
  display: block;
}
