// <cnx-pi data-type="cnx.eoc">class="summary" title="Chapter Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="formula-review" title="Formula Review"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="practice" title="Practice"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="bring-together-exercises" title="Bringing It Together : Practice"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="free-response" title="Homework"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="bring-together-homework" title="Bringing It Together : Homework"</cnx-pi>
// <cnx-pi data-type="cnx.eoc">class="references" title="References"</cnx-pi>

@import url("common/numbering.less");
@import url("common/collations.less");
//numbering
div[data-type='chapter'] {
  .formula-review, .practice, .references {
    //.x-numb ();
  }
}

div[data-type='chapter'] {
  .glossary();

  .summary(summary, ~'.', h1, "Chapter Review");

  section.practice {
    move-to: eoc-practice;
    content: nodes(sectionTitle) content();
     > h1[data-type="title"] {
      move-to: trash;
    }
    div[data-type="solution"]  {
      move-to: eoc-solutions;
    }
  }
  &::after {
    content: pending(eoc-practice);
    class: "eoc practice-container";
    data-type: composite-page;
    container: div;
    //move-to: eoc-all;
  }

  section.free-response {
    move-to: eoc-free-response;
    > h1[data-type="title"] {
      move-to: trash;
    }
    &::before {
      content: nodes(sectionTitle);
    }
    div[data-type="solution"]  {
      move-to: eoc-solutions;
    }
  }
  &::after {
    content: pending(eoc-free-response);
    class: "eoc free-response-container";
    container: div;
   data-type: composite-page;
   // move-to: eoc-all;
  }

  section.bring-together-exercises {
    move-to: eoc-bring-together-exercises;
     > h1[data-type="title"] {
      move-to: trash;
    }
    &::before {
      content: nodes(sectionTitle);
    }
    div[data-type="solution"]  {
      move-to: eoc-solutions;
    }
  }
  &::after {
    content: pending(eoc-bring-together-exercises);
    class: "eoc bring-together-exercises-container";
    data-type: composite-page;
    container: div;
    //move-to: eoc-all;
  }

  div.try div[data-type="solution"] {
    move-to: trySolution;
    > h1[data-type="title"] {
      move-to: trash;
    }
    &::before {
      content: nodes(sectionTitle);
    }
     &::after {
      class: solutions;
      content: pending(trySolution);
      move-to: trySolutions;
     }
  }
  &::after {
    class: "eoc try-solutions-container";
    data-type: composite-page;
    content: pending(trySolutions);
    //move-to: eoc-all;
  }

  section.references {
    move-to: eoc-references;
    &::before {
    content: nodes(sectionTitle);
    }
  }

  &::after {
    content: pending(eoc-references);
    class: "eoc references-container";
    data-type: composite-page;
    container: div;
   // move-to: eoc-all;
  }

  &::after {
    container: div;
    data-type: composite-page;
    class: "eoc solutions-container";
    content: pending(eoc-solutions)
  }
.eoc {
  &.practice-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "Practice";
  }
  &.free-response-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "Homework";
  }
  &.bring-together-exercises-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "Bring Together Exercises";
  }
  &.references-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "References";
  }
  &.solutions-container::before {
    container: h1;
    pass: 2;
    data-type: title;
    content: "Solutions";
  }
}
  // &::after {
  //   content: pending(eoc-all);
  //   class: end-of-chapter;
  //   data-type: composite-page;
  //   container: div;
  // }
}



