//All mixins in one partial for now
@import "common-refactor/stuff";


//Different language mock-up
$lang: "en";
$chapter_en: "Chapter";
$appendix_en: "Appendix";
$chapter_de: "Kapitel";
$appendix_de: "Anhang";

//each item: (name, source, trashed-section, section-separated)?
//grab solutions on different pass?
//NOTE: Currently, this method doesn't work for glossary, but does for all other composite pages!
//Usage: ("[source section]", [?section-separated])
$chapterCompositePages: (
  ("glossary", false),
  ("summary", true),
  ("formula-review", true),
  ("practice", true),
  ("bring-together-exercises", false),
  ("free-response", true),
  ("bring-together-homework", false),
  ("references", true)
);

$chapterTitleContent: (
  ("Chapter", "label"),
  (counter(chapter), "number"),
  ("|", "divider")
);

$appendixTitleContent: (
  ("Appendix", "label"),
  (counter(appendix, upper-alpha), "number"),
  (":", "divider")
);

$sectionTitleContent: (
  (counter(chapter)"."counter(section), "number"),
  ("|", "divider")
);

$exerciseTitleContent: (
  (counter(exercise), "number")
);

//New pass system
// :pass(1) {
  @include titlePreface();
  //Come up with mixins for common numbering schemes as per Phil's suggestion
  @include countChapters(chapter);
  @include numberChapters($chapterTitleContent);
  @include countAppendices(appendix);
  @include numberAppendices($appendixTitleContent);
  @include countSections(section);
  @include numberSections($sectionTitleContent);
  @include sendSectionTitleNodeAs(sectionTitleNode);
  //NOTE: Currently, this method doesn't work for glossary, but does for all other composite pages!
  @include createChapterComposites($chapterCompositePages, sectionTitleNode);
  @include countExercises(exercise);
  @include numberExercises($exerciseTitleContent);
  @include linkSolutionsToProblems();

  @include clearTrash();
// }