@function default-icon-map() {
  $DEFAULT_ICON_MAP: (
    blank: "",
    eoc-default-icon: resource(theme, assessments, svg),
    eoc-key-terms-icon: resource(theme, key-terms, svg),
    eoc-summary-icon: resource(theme, summary, svg),
    note-default-icon: resource(theme, link-to-learning, svg),
  );
  @return $DEFAULT_ICON_MAP;
}

@function icon_map($name) {
  @if map-has-key($icon_map, $name) {
    @return map-get($icon_map, $name);
  }
  @error "Unknown icon designation: #{$name}";
}

// Merge map into icon map, but don't allow deletion of default keys
@mixin icon-map-merge($map) {
  $icon-map: map-merge(default-icon-map(), map-merge($icon-map, $map)) !global;
}

$icon-map: default-icon-map() !default;
$icon-map: map-merge(default-icon-map(), $icon-map);
