@import '../biology/_config';

/*==========================================================
  AP BIOLOGY PAGES
==========================================================*/

/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.xhtml

  Style guide: book.composite.review-questions
*/
$APpageReviewQuestions        : ( name: "Review Questions", source: "review", hasSolutions: true );

/*
  Critical Thinking Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.xhtml

  Style guide: book.composite.critical-thinking
*/
$APpageCriticalThinking       : ( name: "Critical Thinking Questions", source: "critical-thinking", hasSolutions: true );

/*
  Test Prep for AP Courses

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.ap-test-prep.xhtml-baked.xhtml

  Style guide: book.composite.ap-test-prep
*/
$pageApTestPrep       : ( name: "Test Prep for AP\00ae\00a0 Courses", source: "ap-test-prep" );

$pageIndex                  : ( name: "Index", source: "index", isIndex: true );

$pageSolutions              : ( name: "Answer Key", source: "solutions", chapterSeparated: true, compoundComposite: true, isAnswerKey: true, );


$Config_ChapterCompositePages: (
  $pageKeyTerms, $pageSummary, $pageArtConnection, $pageReviewQuestions, $pageCriticalThinking, $APpageReviewQuestions, $APpageCriticalThinking, $pageApTestPrep
);

$Config_BookCompositePages: (
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
  $pageSolutions, $pageIndex,
);

/*==========================================================
  BIOLOGY TITLING CONTENT
==========================================================*/

//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span

$_exerciseTitleContent      : ( divider: ".", number: counter(exercise) );


/*==========================================================
  AP BIOLOGY NOTES
==========================================================*/
/*
  Connection for AP Courses note

  Contains a title "Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.connection-ap-courses.xhtml-baked.xhtml

  Style guide: page.note.connection-ap-courses
*/
/*
  Teacher Support note

  Contains a title "Teacher Support" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.os-teacher.xhtml-baked.xhtml

  Style guide: page.note.os-teacher
*/
/*
  Visual Connection note

  Contains a title "Visual Connection" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.visual-connection.xhtml-baked.xhtml

  Style guide: page.note.visual-connection
*/
/*
  Everyday Connection for AP Courses note

  Contains a title "Everyday Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.ap-everyday.xhtml-baked.xhtml

  Style guide: page.note.ap-everyday
*/
/*
  Science Practice Connection for AP Courses note

  Contains a title "Science Practice Connection for AP Courses" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.ap-science-practices.xhtml-baked.xhtml

  Style guide: page.note.ap-science-practices
*/
/*
  Think About It note

  Contains a title "Think About It"

  Markup: ./styleguide/page.note.ost-sciprac-scithink.xhtml-baked.xhtml

  Style guide: page.note.ost-sciprac-scithink
*/
/*
  Activity note

  Contains a title "Activity"

  Markup: ./styleguide/page.note.ost-sciprac-activity.xhtml-baked.xhtml

  Style guide: page.note.ost-sciprac-activity
*/


$Config_Notes: join($Config_Notes, (
  (className: "ap-connection",        moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Connection for AP\00ae\00a0 Courses"),
  (className: "os-teacher",           moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Teacher Support"),
  (className: "visual-connection",    moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Visual Connection"),
  (className: "ap-everyday",          moveSolutionTo: $AREA_NONE, isBodyWrapped: true,  label: "Everyday Connection for AP\00ae\00a0 Courses"),
  (className: "ap-science-practices", moveSolutionTo: $AREA_NONE, isBodyWrapped: false, label: "Science Practice Connection for AP\00ae\00a0 Courses"),
  (className: "ost-sciprac-activity", moveSolutionTo: $AREA_NONE, isBodyWrapped: false, label: "Activity"),
  (className: "ost-sciprac-scithink", moveSolutionTo: $AREA_NONE, isBodyWrapped: false, label: "Think About It"),
));


// Coverage optimizations
$Config_Cover_MayHaveSimlinks: false;
$Config_Cover_MayHaveIframes: false;
$Config_Cover_MayHaveMissingExercises: true;
