@import '../_common-stuff';
$RECIPE_NAME: "college-sucess";

$Config_Notes: (
    (className: 'what-students-say', labelText: 'What Students Say' ),
    (className: 'activity', labelText: 'Activity' ),
    (className: 'get-connected', labelText: 'Get Connected' ),
    (className: 'analysis-question', labelText: 'Analysis Question' ),
    (className: 'application', labelText: 'Application' ),
    (className: 'student-profile', labelText: 'Student Profile' ),
);

$Config_ChapterCompositePages: (
    (className: "summary", clusterBy: $CLUSTER_NONE ,name: "Summary"),
    (className: "career-connection", clusterBy: $CLUSTER_NONE ,name: "Career Connection"),
    (className: "rethinking", clusterBy: $CLUSTER_NONE ,name: "Rethinking"),
    (className: "where-go", clusterBy: $CLUSTER_NONE ,name: "Where do you go from here?"),
);

$Config_BookCompositePages: (
    (className: "index",        clusterBy: $CLUSTER_NONE,    specialPageType: $PAGE_INDEX,     name: "Index"),
);

$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTopTitle: true);
