@import '../_common-stuff';
$RECIPE_NAME: "college-sucess";

$Config_Notes: (
    (className: 'what-students-say', labelText: 'What Students Say' ),
    (className: 'activity', labelText: 'Activity' ),
    (className: 'get-connected', labelText: 'Get Connected' ),
    (className: 'analysis-question', labelText: 'Analysis Question' ),
    (className: 'application', labelText: 'Application' ),
);

$Config_ChapterCompositePages: (
    (className: "section-summary", clusterBy: $CLUSTER_SECTION ,name: "Section Summary"),
    (className: "career-connection", clusterBy: $CLUSTER_NONE ,name: "Career Connection"),
    (className: "rethinking", clusterBy: $CLUSTER_NONE ,name: "Rethinking"),
    (className: "where-go", clusterBy: $CLUSTER_NONE ,name: "Where do you go from here?"),
);