@import '../../../designs/utils/_vertical-rhythm';

@include add_settings((
    splashImage: (
        _selectors: ("[data-type='chapter']"),
	splashImageParent: (
	),
	introPositioning: (
	    padding: v-rhythm(1),
	),
	hideIntroTitleForSplash:(

	)
    ),
));
