@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
    CompositePageLists: (
        _selectors: ('.eoc[data-type="composite-page"]'),
    ),
));

@include add_settings((
    SectionExercisesCircledLists: (
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
    AnswerKeyCircledLists: (
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container > [data-type="composite-page"].os-eob.os-solutions-container'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
    EocExercisesCircledLists: (
        _selectors: ('.os-eoc[data-type="composite-page"] > section > section', '.os-eoc[data-type="composite-page"] > section'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
    ExamplesCircledLists: (
        _selectors: ('[data-type="page"] > section > [data-type="example"] > .body', '[data-type="page"] > section > section > [data-type="example"] > .body'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
    PageCircledLists: (
        _selectors: ('[data-type="page"]'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
    NoteCircledLists: (
        _selectors: ('[data-type="note"] > .os-note-body'),
        CircledToken: (
            font-family: (_ref: 'typography:::mathFont'),
            color: (_ref: 'colorMap:::circleTokenColor'), 
        ),
    ),
));
