@import '../_common-stuff';
$RECIPE_NAME: "economics";

/*==========================================================
  ECONOMICS PAGES
==========================================================*/

/*
  Key Concepts and Summary

  These should be collated at the end of a chapter and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.2-composite.summary
*/
/*
  Self-Check Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  **Notes:** Even without the styling you can see a few problems with the recipe code:
  1. the recipes use the class attribute when they should use the `data-type`
  1. the solution is being duplicated
  1. the solution is inside the link text that points back to the problem
  1. new id's are generated rather than using the existing id attributes for the problem and solution

  Markup: ./styleguide/book.composite.self-check-questions.xhtml-baked.html

  Style guide: book.2-composite.self-check-questions
*/
/*
  Review Questions

  These should be collated at the end of a chapter and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.2-composite.review-questions
*/
/*
  Critical Thinking Questions

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.2-composite.critical-thinking
*/
/*
  Problems

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.problems.xhtml-baked.html

  Style guide: book.2-composite.problems
*/
/*
  Test Prep For AP® Courses

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  Markup: ./styleguide/book.composite.test-prep.xhtml-baked.html

  Style guide: book.2-composite.test-prep
*/

/*
  References
  These should be collated at the end of a chapter

  and separated by which section they came from.

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.2-composite.references
*/
$Config_ChapterCompositePages: (
  (className: "glossary",             clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary",              clusterBy: $CLUSTER_SECTION, hasSolutions: false,  name: "Key Concepts and Summary"),
  (className: "self-check-questions", clusterBy: $CLUSTER_NONE,    hasSolutions: true,   name: "Self-Check Questions"),
  (className: "review-questions",     clusterBy: $CLUSTER_NONE,    hasSolutions: false,  name: "Review Questions"),
  (className: "critical-thinking",    clusterBy: $CLUSTER_NONE,    hasSolutions: false,  name: "Critical Thinking Questions"),
  (className: "problems",             clusterBy: $CLUSTER_NONE,    hasSolutions: true,   name: "Problems"),
  (className: "ap-test-prep",         clusterBy: $CLUSTER_NONE,    hasSolutions: true,   name: "Test Prep For AP® Courses"),
);

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries (see pl-u-physics), but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
  (className: "solutions",    clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key"),
  (className: "references",   clusterBy: $CLUSTER_CHAPTER, name: "References"),
  (className: "index",        clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);
/*==========================================================
  ECONOMICS TITLING CONTENT
==========================================================*/
/*==========================================================
  ECONOMICS CONFIG
==========================================================*/
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);
/*
  Link It Up note

  Contains a title "Link It Up"

  Markup: ./styleguide/page.note.linkup.xhtml-baked.html

  Style guide: page.note.linkup
*/
/*
  Bring It Home note

  Contains a title "Bring It Home" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.bringhome.xhtml-baked.html

  Style guide: page.note.bringhome
*/
/*
  Clear It Up note

  Contains a title "Clear It Up" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.clearup.xhtml-baked.html

  Style guide: page.note.clearup
*/
/*
  Work It Out note

  Contains a title "Work It Out" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.workout.xhtml-baked.html

  Style guide: page.note.workout
*/
$Config_Notes: (
  (className: 'linkup',     moveSolutionTo: $AREA_NONE,  labelText: "Link It Up"),
  (className: 'bringhome',  moveSolutionTo: $AREA_NONE,  labelText: "Bring It Home"),
  (className: 'clearup',    moveSolutionTo: $AREA_NONE,  labelText: "Clear It Up"),
  (className: 'workout',    moveSolutionTo: $AREA_NONE,  labelText: "Work It Out"),
);

$Config_UnnumberedElements: (); // There are no unnumbered elements

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);
$Config_PartType_Example:  ();
$Config_PartType_Chapter:  ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();
$Config_ContentExercise_TitleContent : (os-number : counter(appendix, upper-alpha) counter(exerciseMaybeInContent), os-title-label : "Exercise ");
$Config_ContentExercise_TitleContentAp : (os-number : counter(appendix, upper-alpha ) counter(exerciseMaybeInContent), os-title-label : "Exercise ");

$Config_hasCompositeChapter: true;

$Config_abstractTitle: "Learning Objectives";

