@import '../_common-stuff';
$RECIPE_NAME: "chemistry";

/*==========================================================
  CHEMISTRY PAGES
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Key Equations

  Should be collated at the end of a chapter.

  Contains a title "Key Equations"

  Markup: ./styleguide/book.composite.key-equations.xhtml-baked.html

  Style guide: book.composite.key-equations
*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Exercises

  Should be collated at the end of a chapter.

  Contains a title "Exercises"

  Markup: ./styleguide/book.composite.exercises.xhtml-baked.html

  Style guide: book.composite.exercises
*/
$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "key-equations", clusterBy: $CLUSTER_NONE, name: "Key Equations"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "exercises", clusterBy: $CLUSTER_SECTION, hasSolutions: true, name: "Exercises"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries, but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
  (className: "solution",    clusterBy: $CLUSTER_CHAPTER, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key"),
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Sciences Interconnect note

  Contains a title "How Sciences Interconnect" and the content of the note.

  Markup: ./styleguide/page.note.sciences-interconnect.xhtml-baked.html

  Style guide: page.note.sciences-interconnect
*/
/*
  Chemist Portrait note

  Contains a title "Portrait of a Chemist" and the content of the note.

  Markup: ./styleguide/page.note.chemist-portrait.xhtml-baked.html

  Style guide: page.note.chemist-portrait
*/
/*
  Everyday Life note

  Contains a title "Chemistry in Everyday Life" and the content of the note.

  Markup: ./styleguide/page.note.everyday-life.xhtml-baked.html

  Style guide: page.note.everyday-life
*/
$Config_Notes: (
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'sciences-interconnect', labelText: "How Sciences Interconnect"),
  (className: 'chemist-portrait', labelText: "Portrait of a Chemist"),
  (className: 'everyday-life', labelText: "Chemistry in Everyday Life"),
);

/*==========================================================
  CHEMISTRY TITLING CONTENT
==========================================================*/

$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');
$_exampleTitleContent: (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleTitleContentAP: (os-title-label: "Example ", os-number: counter(appendix, upper-alpha) counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example), os-divider: ' ');


/*==========================================================
  CHEMISTRY CONFIG
==========================================================*/

$Config_PartType_Example: (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, apTitleContent: $_exampleTitleContentAP, solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_CustomList: (
  (selector: '.stepwise', name: "stepwise", beforeLabel: "Step ", afterLabel: ". "),
);
$Config_hasCompositeChapter: true;

$Config_FirstElements: (
  (selector: ' > .os-figure:first-child'),
);
