@mixin chapterIntro_SplashFirstChild() {
    //by default the .os-chapter-outline is the first child of .introduction
    //moves splash image so that it is the first child of .introduction
    //intro body text and .os-chapter-outline in one div
    .splash {
      move-to: Splash;
    }
    .introduction {
      &:deferred::before {
        content: pending(Splash);
      }
      > p {
        container: div;
        class: "intro-body-text";
        move-to: intro-text;
        content: content();
      }
      > .os-chapter-outline {
        move-to: chap-outline;
      }
      &::after {
        content: pending(intro-text) pending(chap-outline);
        class: "intro-body";
      }
    }
  }