// Enum
$AREA__PREFIX__: 'AREA_';
$AREA_NONE: 'AREA_NONE';
$AREA_TRASH: 'AREA_TRASH';
$AREA_TRASH_HALF: 'AREA_TRASH_HALF';
$AREA_EOC: 'AREA_EOC';
$AREA_EOB: 'AREA_EOB';

// Enum
$NONE: 'NONE_USED_FOR_VALIDATION';

$RESET__PREFIX__: 'RESET_AT_';
$RESET_CHAPTER: 'RESET_AT_CHAPTER';
$RESET_COMPOSITE_PAGE: 'RESET_AT_COMPOSITE_PAGE';


$NUMBER__PREFIX__: 'NUMBER_';
$NUMBER_NONE: 'NUMBER_NONE';
$NUMBER_BEFORE_MOVE: 'NUMBER_BEFORE_MOVE';
$NUMBER_AFTER_MOVE: 'NUMBER_AFTER_MOVE';

$PAGE__PREFIX__: 'PAGE_';
$PAGE_INDEX: 'PAGE_PREFIX';
$PAGE_GLOSSARY: 'PAGE_GLOSSARY';

$CAPTION__PREFIX__: 'CAPTION_';
$CAPTION_TABLE: 'CAPTION_TABLE';
$CAPTION_FIGURE: 'CAPTION_FIGURE';

$CLUSTER__PREFIX__: 'CLUSTER_';
$CLUSTER_NONE: 'CLUSTER_NONE';
$CLUSTER_CHAPTER: 'CLUSTER_CHAPTER';
$CLUSTER_SECTION: 'CLUSTER_SECTION';


$GRAMMATICAL_CASES: (nominative, genitive, dative, accusative, instrumental, locative, vocative);
