@function order_titleCaption($titleCaptionConfig, $element, $type) {
    $contentValue: null;

    @each $part in map-keys($titleCaptionConfig) {
        $partValue: map-get($titleCaptionConfig, $part);
        $createdValue: null;
        $existingValue: null;
        $value: null;

        
        @if $type == '#{$element}Captions' {
            $createdValue: pending(bCaption);
            $existingValue: pending(bCaption#{$part});
        } @else if $type == '#{$element}DocumentTitles' {
            $createdValue: pending(b#{$element}Label);
            $existingValue: content();
        } @else {
            @error "There is no support for changing order for this type.";
        }

        @if $partValue == 'partType#{$element}Config' {
            $value: $createdValue;
        } @else if $partValue == 'existing#{$part}' {
            $value: $existingValue;
        } @else {
            @error "Name of the value is incorrect";
        }

        $contentValue: $contentValue $value;
    }

    @return $contentValue;
}
