@function contentOrder($orderConfig, $bucketsNumber) {
    $value: null;

    @for $i from 1 to $bucketsNumber +1 {
        $bucket: nth($orderConfig, $i);
        $value: $value pending($bucket);
    }

    @return $value;
}