/// Simply base mixin to reference a string
/// @arg {Text} $name - The unquoted name of the string that will be referenced
/// @arg {String} $string - The referenced string. Often, this will be to an element's content() or an attr()
/// @group reference
@mixin _refStringAs($name, $string) {
  string-set: $name $string;
}

/// Simply base mixin to reference a node
/// @arg {Text} $name - The unquoted name of the node that will be referenced
/// @group reference
@mixin _refNodeAs($name) {
  node-set: $name;
}


@mixin reference_refSectionHeaderNodeAs($name) {
  div[data-type="page"],
  div[data-type="composite-page"] {
    > [data-type="document-title"] {
      @include _refNodeAs($name);
    }
  }
}
@mixin reference_refSectionHeaderStringAs($name) {
  div[data-type="page"],
  div[data-type="composite-page"] {
    > [data-type="document-title"] {
      @include _refStringAs($name, content());
    }
  }
}

@mixin reference_refChapterHeaderNodeAs($name) {
  div[data-type="chapter"] > [data-type="document-title"] {
    @include _refNodeAs($name);
  }
}

@mixin reference_refChapterHeaderStringAs($name) {
  div[data-type="chapter"] > [data-type="document-title"] {
    @include _refStringAs($name, content());
  }
}
@mixin reference_refChapterNumberStringAs($name) {
  div[data-type="chapter"] > [data-type="document-title"] .os-number {
      @include _refStringAs($name, content());
   }
}
@mixin reference_refPageIDStringAs($name) {
  div[data-type="page"],
  div[data-type="composite-page"] {
    @include _refStringAs($name, attr(id))
  }
}

@mixin reference_refBookMetadataNodeAs($name) {
  body > [data-type="metadata"] {
    @include _refNodeAs($name);
  }
}

@mixin reference_refNoteSubtitleStringAs($name, $className) {
  [data-type="note"].#{$className} [data-type="title"] {
    @include _refStringAs($name, content());
  }
}
