@import '../ap-biology/_config';

$Config_TEAspecificLOHeaders : true;
$Config_TEAspecificAppendicesHeaders: false;
$Config_TEAspecificEOBHeaders: true;

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
