@import '../ap-biology/_config';

$Config_TEAspecificLOHeaders : true;
$Config_hasCompositeAppendixes: false;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_hasAbstract: false;
