@import '../../mixins/_all';
@import './_config';
@import '../_generator';


:pass(0) {
  .learning-objectives {
    &::before {
      container: h3;
      class: "title";
      content: "Learning Objectives";
    }
  }
}


:pass(6) {
  .os-eob {
    &::inside {
      container: section;
      class: "eob-inner-container";
    }
  }
}