@import '../../mixins/_all';
@import './_config';
@import '../_generator';


:pass(0) {
  .learning-objectives {
    &::before {
      container: h3;
      class: "title";
      content: "Learning Objectives";
    }
  }
}


:pass(6) {
  .os-eob {
    &::inside {
      container: section;
      class: "eob-inner-container";
    }
  }
}

:pass(7) {
  .os-eob {
    .eob-inner-container {
      > h1[data-type="document-title"] {
        move-to: eobMainTitle;
        //node-set: appendixHeaderNode;
     }
      [data-type="metadata"] {
        move-to: eobMetadata;
     }
    }
    &:deferred {
      content: pending(eobMainTitle) pending(eobMetadata) content();
   }
  }
}

:pass(8) {
  .os-eob {
    > h1[data-type="document-title"] {
      node-set: eobSubTitle;
    }
    .eob-inner-container {
      content: nodes(eobSubTitle) content();
    }
  }
}

:pass(9) {
  .eob-inner-container {
    > [data-type="document-title"] {
      container: h2;
    }
  }
}