@import '../_common-stuff';
$RECIPE_NAME: "hs-physics";

/*==========================================================
  HIGH SCHOOL PHYSICS PAGES
==========================================================*/

/*
  Section Summary

  These should be collated at the end of a chapter
  and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.2-composite.summary
*/
/*
  Key Equations

  These should be collated at the end of a chapter

  **Notes:** Even without the styling you can see a few problems with the recipe code:
  1. the recipes use the class attribute when they should use the `data-type`
  1. the solution is being duplicated
  1. the solution is inside the link text that points back to the problem
  1. new id's are generated rather than using the existing id attributes for the problem and solution

  Markup: ./styleguide/book.composite.key-equations.xhtml-baked.html

  Style guide: book.2-composite.key-equations
*/


/*
  Chapter Review

  These should be collated at the end of a chapter.

  Compound Composite that contains: contains Concept Items, Critical Thinking, Performance Task

  Markup: ./styleguide/book.compoundcomposite.chapterreview.xhtml-baked.html

  Style guide: book.compoundcomposite.chapterreview
*/
/*
  Concept Items

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.concept.xhtml-baked.html

  Style guide: book.2-composite.concept
*/
/*
  Critical Thinking Items

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.2-composite.critical-thinking
*/
/*
  Problems

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.problems.xhtml-baked.html

  Style guide: book.2-composite.problems
*/
/*
  Performance Task

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.performance.xhtml-baked.html

  Style guide: book.2-composite.performance
*/
$_chapterReviewChildPages: (
  (className: "concept",                     clusterBy: $CLUSTER_SECTION, name: "Concept Items"),
  (className: "critical-thinking",           clusterBy: $CLUSTER_SECTION, name: "Critical Thinking Items"),
  (className: "problems",                    clusterBy: $CLUSTER_SECTION, name: "Problems"),
  (className: "performance",                 clusterBy: $CLUSTER_SECTION, name: "Performance Task"),
);



/*
  Test Prep

  These should be collated at the end of a chapter.

  Compound Composite that contains: Test Prep Multiple Choice, Test Prep Short Answer, Test Prep Extended Response

  Markup: ./styleguide/book.compoundcomposite.testprep.xhtml-baked.html

  Style guide: book.compoundcomposite.testprep
*/
/*
  Multiple Choice

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.multiplechoice.xhtml-baked.html

  Style guide: book.2-composite.multiplechoice
*/
/*
  Short Answer

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.shortanswer.xhtml-baked.html

  Style guide: book.2-composite.shortanswer
*/
/*
  Extended Response

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.extendedresponse.xhtml-baked.html

  Style guide: book.2-composite.extendedresponse
*/
$_testPrepChildPages: (
  (className: "multiple-choice",   clusterBy: $CLUSTER_SECTION, name: "Multiple Choice"),
  (className: "short-answer",      clusterBy: $CLUSTER_SECTION, name: "Short Answer"),
  (className: "extended-response", clusterBy: $CLUSTER_SECTION, name: "Extended Response"),
);


$Config_ChapterCompositePages: (
  (className: "glossary",       clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary",        clusterBy: $CLUSTER_SECTION, name: "Section Summary"),
  (className: "key-equations",  clusterBy: $CLUSTER_SECTION, name: "Key Equations"),

  // compoundComposite pages:
  (className: "chapter-review", clusterBy: $CLUSTER_NONE, childPages: $_chapterReviewChildPages,  name: "Chapter Review"), // TODO rename contains to childComposites or something easy to search for
  (className: "test-prep",      clusterBy: $CLUSTER_NONE, childPages: $_testPrepChildPages,       name: "Test Prep"),
);

$Config_BookCompositePages: (
  (className: "index",          clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/*==========================================================
  HIGH SCHOOL PHYSICS TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span

$_equationTitleContent      : (os-number: counter(chapter) "." counter(equation));
/*==========================================================
  HIGH SCHOOL PHYSICS CONFIG
==========================================================*/
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);


/*
  Teacher Support  note

  Contains a title "Teacher Support"

  Markup: ./styleguide/page.note.teacher.xhtml-baked.html

  Style guide: page.note.teacher
*/
/*
  Section Learning Objectives note

  Contains a title "Section Learning Objectives"

  Markup: ./styleguide/page.note.learningobjectives.xhtml-baked.html

  Style guide: page.note.learningobjectives
*/
/*
  Boundless Physics note

  Contains a title "Boundless Physics" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.boundlessphysics.xhtml-baked.html

  Style guide: page.note.boundlessphysics
*/
/*
  Misconception Alert note

  Contains a title "Misconception Alert".

  Markup: ./styleguide/page.note.misconception.xhtml-baked.html

  Style guide: page.note.misconception
*/
/*
  Teacher Demonstration note

  Contains a title "Teacher Demonstration".

  Markup: ./styleguide/page.note.workout.xhtml-baked.html

  Style guide: page.note.workout
*/
/*
  Grasp Check note

  Contains a title "Grasp Check".

  Markup: ./styleguide/page.note.grasp-check.xhtml-baked.html

  Style guide: page.note.grasp-check
*/
/*
  Snap Lab note

  Contains a title "Snap Lab" and wrap the body.

  Markup: ./styleguide/page.note.snap-lab.xhtml-baked.html

  Style guide: page.note.snap-lab
*/
/*
  Worked Example note

  Contains a title "Worked Example" and wraps the body.

  Markup: ./styleguide/page.note.worked-example.xhtml-baked.html

  Style guide: page.note.worked-example
*/
/*
  Tips For Success note

  Contains a title "Tips For Success".

  Markup: ./styleguide/page.note.tips-for-success.xhtml-baked.html

  Style guide: page.note.tips-for-success
*/
/*
  Work In Physics note

  Contains a title "Work In Physics" and wraps body.

  Markup: ./styleguide/page.note.work-in-physics.xhtml-baked.html

  Style guide: page.note.work-in-physics
*/
/*
  Fun In Physics note

  Contains a title "Fun In Physics".

  Markup: ./styleguide/page.note.fun-in-physics.xhtml-baked.html

  Style guide: page.note.fun-in-physics
*/
/*
  Links to Physics note

  Contains a title "Links to Physics" and wraps body.

  Markup: ./styleguide/page.note.links-to-physics.xhtml-baked.html

  Style guide: page.note.links-to-physics
*/
/*
  Watch Physics note

  Contains a title "Watch Physics" and wraps body.

  Markup: ./styleguide/page.note.watch-physics.xhtml-baked.html

  Style guide: page.note.watch-physics
*/
/*
  Virtual Physics note

  Contains a title "Virtual Physics" and wraps the body.

  Markup: ./styleguide/page.note.virtual-physics.xhtml-baked.html

  Style guide: page.note.virtual-physics
*/
$Config_Notes: (
  (className: 'os-teacher',                labelText: "Teacher Support"),
  (className: 'boundless-physics',         labelText: "Boundless Physics"),
  (className: 'learning-objectives',       labelText: "Section Learning Objectives", replaceHeader: true),
  (className: 'teacher-demonstration', labelText: "Teacher Demonstration"), // nested in Teacher Support note
  (className: 'misconception',         labelText: "Misconception Alert"), // nested in Teacher Support note
  (className: 'snap-lab',                  labelText: "Snap Lab"),
  (className: 'worked-example',            labelText: "Worked Example"),
  (className: 'tips-for-success',          labelText: "Tips For Success"),
  (className: 'work-in-physics',           labelText: "Work In Physics"),
  (className: 'fun-in-physics',            labelText: "Fun In Physics"),
  (className: 'links-to-physics',          labelText: "Links To Physics"),
  (className: 'watch-physics',             labelText: "Watch Physics"),
  (className: 'virtual-physics',           labelText: "Virtual Physics"),
);

/*
  Grasp Check

  This is an exercise that is fetched from exercises.openstax.org.
  It should be rendered with the label "Grasp Check" (from the data-label attribute).

  Markup: ./styleguide/page.exercise.grasp-check.xhtml-baked.html

  Style guide: page.exercise.grasp-check
*/
$Config_ExerciseNoteTitle: (
  (className: 'grasp-check', labelText: "Grasp Check"),
);

$Config_UnnumberedElements: (
  (contextSelector: '.key-equations',                     childSelector: 'table'),
  (contextSelector: '.worked-example',                    childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="exercise"].grasp-check', childSelector: null),
);

$Config_PartType_Chapter:  (outlineTitle: 'Chapter Outline');
$Config_PartType_Equation: (moveTo: $AREA_NONE, titleContent: $_equationTitleContent, numberAt: $NUMBER_AFTER_MOVE, numberAfterEq: true);
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent);
$Config_PartType_Example:  ();
$Config_PartType_Solution: (moveTo: $AREA_TRASH); // FIXME: change this to $AREA_NONE once cnx-easybake is fixed or the order of operations is fixed
$Config_ContentExercise_TitleContent : (os-divider: ".", os-number: counter(exerciseMaybeInContent));
$Config_ContentExercise_TitleContentAp : (os-divider: ".", os-number: counter(exerciseMaybeInContent));

$Config_addSolutionHeader: (
  (selector: '.practice-problems', title: 'Solution'),
  (selector: '.check-understanding', title: 'Solution'),
);

// Coverage optimizations
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;

$Config_hasCompositeChapter: true;
