@include add_settings((
    numbered_figureStyles:(
        _selectors: "[data-type='chapter'] >  .os-title-label",
        numberedFigure:(
            display: block,
            margin-left: auto,
            margin-right: auto,
        )
    )

    leftalignStyle:(
        _selectors: '[data-type='chapter'] > [data-alt = ""] > img',
        leftalgin:(
            float: left,
        )
    )



));
