@import '../_common-stuff';

/*==========================================================
  STATISTICS PAGES
==========================================================*/

/*
  Practice Problems
  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.practice.html-baked.html

  Style guide: book.composite.practice
*/
$Config_ChapterCompositePages: (
  (source: "glossary",        isGlossary: true, sortBy: "dl > dt",                  name: "Key Terms"),
  (source: "summary",         sectionSeparated: true,                               name: "Chapter Review"),
  (source: "formula-review",  sectionSeparated: true,                               name: "Formula Review"),
  (source: "practice",        sectionSeparated: true, hasSolutions: true,           name: "Practice"),
  (source: "bring-together-exercises",                hasSolutions: true,           name: "Bringing It Together: Exercises"),
  (source: "free-response",   sectionSeparated: true, hasSolutions: true,           name: "Homework"),
  (source: "bring-together-homework",                 hasSolutions: true,           name: "Bringing It Together: Homework"),
  (source: "references",      sectionSeparated: true,                               name: "References"),
  (source: "solutions",       compoundComposite: true, moveSolutionsTo: $AREA_EOC,  name: "Solutions"),
);

$Config_BookCompositePages: (
  (source: "index",           isIndex: true,                              name: "Index"),
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
);

/*==========================================================
  STATISTICS TITLING CONTENT
==========================================================*/

//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
// Drat, the order of title-label, number, divider matters ;(
$_exerciseTitleContent      : ( divider: ".", number: counter(exercise) );

$_exampleTitleContent        : ( title-label: "Example ", number: counter(chapter) "." counter(example) );

$_exampleSolutionTitleContent: ( title-label: "Solution ", number: counter(chapter) "." counter(example) );

$_tryTitleContent            : ( title-label: "Try It ", number: counter(chapter) "." counter(example) );

$_calcTitleContent           : ( title-label: "Using the TI-83, 83+, 84, 84+ Calculator" );


/*==========================================================
  STATISTICS CONFIG
==========================================================*/

$Config_SetTableCaption            : ( type: table, defaultContainer: caption, hasCaption: false, hasTitle: true );

$Config_SetFigureCaption           : ( type: figure, defaultContainer: figcaption, hasCaption: true, hasTitle: false );

//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: append( $Config_TargetLabels,
  ( selector: 'div[data-type="chapter"] .try', label: "Try It" )
);

/*
  Chapter Objectives
  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.chapter-objectives.html-baked.html

  Style guide: page.note.chapter-objectives
*/

/*
  Try It Feature

  This is a note that is numbered based on the example before it

  Style guide: page.note.try
*/

$Config_Notes: (
  (className: 'try',        moveSolutionTo: $AREA_TRASH, titleContent: $_tryTitleContent), // try it notes are numbered based on the example preceeding them
  (className: 'calculator', moveSolutionTo: $AREA_NONE,  titleContent: $_calcTitleContent),
);


$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Chapter:  ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();
