@import '../_common-stuff';

/*==========================================================
  STATISTICS PAGES
==========================================================*/

/*
  Chapter Review page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.review.xhtml-baked.xhtml

  Style guide: book.composite.review
*/
/*
Formula Review page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.formulareview.xhtml-baked.xhtml

  Style guide: book.composite.formulareview
*/
/*
  Practice Problems page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.practice.xhtml-baked.xhtml

  Style guide: book.2-composite.practice
*/
/*
  Bringing It Together: Exercises page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.BITExercises.xhtml-baked.xhtml

  Style guide: book.composite.BITExercises
*/
/*
  Homework page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.homework.xhtml-baked.xhtml

  Style guide: book.composite.homework
*/
/*
  Bringing It Together: Homework page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.BITHomework.xhtml-baked.xhtml

  Style guide: book.composite.BITHomework
*/
/*
  References page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.references.xhtml-baked.xhtml

  Style guide: book.composite.references
*/
/*
  Solutions page

  These should be collated at the end of a chapter.

  Markup: ./styleguide/book.composite.solutions.xhtml-baked.xhtml

  Style guide: book.composite.solutions
*/
$Config_ChapterCompositePages: (
  (className: "glossary",        specialPageType: $PAGE_GLOSSARY, sortBy: "dl > dt",                  name: "Key Terms"),
  (className: "summary",         sectionSeparated: true,                               name: "Chapter Review"),
  (className: "formula-review",  sectionSeparated: true,                               name: "Formula Review"),
  (className: "practice",        sectionSeparated: true, hasSolutions: true,           name: "Practice"),
  (className: "bring-together-exercises",                hasSolutions: true,           name: "Bringing It Together: Exercises"),
  (className: "free-response",   sectionSeparated: true, hasSolutions: true,           name: "Homework"),
  (className: "bring-together-homework",                 hasSolutions: true,           name: "Bringing It Together: Homework"),
  (className: "references",      sectionSeparated: true,                               name: "References"),
  (className: "solutions",       compoundComposite: true, moveSolutionsTo: $AREA_EOC,  name: "Solutions"),
);

$Config_BookCompositePages: (
  (className: "index",           specialPageType: $PAGE_INDEX,                              name: "Index"),
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
);
/*==========================================================
  STATISTICS TITLING CONTENT
==========================================================*/
//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
// Drat, the order of title-label, number, divider matters ;(
$_exerciseTitleContent       : (divider: ".", number: counter(exercise) );
$_exampleTitleContent        : (title-label: "Example ", number: counter(chapter) "." counter(example), divider: " ");
$_exampleSolutionTitleContent: (title-label: "Solution ", number: counter(chapter) "." counter(example), divider: " ");
$_tryTitleContent            : (title-label: "Try It ", number: counter(chapter) "." counter(example)); // Try it notes are numbered based on the example preceeding them


/*==========================================================
  STATISTICS CONFIG
==========================================================*/
$Config_SetTableCaption            : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: false, hasTitle: true);
$Config_SetFigureCaption           : (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: false);
//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: append($Config_TargetLabels,
  (selector: 'div[data-type="chapter"] .try', labelText: "Try It")
);

/*
  Example

  Contains a title "Example". Titles are numbered. Exercises inside aren't numbered.

  Markup: ./styleguide/page.example.xhtml-baked.xhtml

  Style guide: page.example
*/
/*
  Try It note

  Contains a title "Try It" and the content of the note. Titles are numbered. Exercises inside aren't numbered.

  Markup: ./styleguide/page.note.try.xhtml-baked.xhtml

  Style guide: page.note.try
*/
/*
  Using the TI-83, 83+, 84, 84+ Calculator note

  Contains a title "Using the TI-83, 83+, 84, 84+ Calculator" and the content of the note.

  Markup: ./styleguide/page.note.calculator.xhtml-baked.xhtml

  Style guide: page.note.calculator
*/
/*
  Note

  Contains a title "Note" and the content of the note. This note can be distinguished visually via css

  Markup: ./styleguide/page.note.finger.xhtml-baked.xhtml

  Style guide: page.note.finger
*/
/*
  Stats Lab note

  Contains a title "Stats Lab" and the content of the note.

  Markup: ./styleguide/page.note.lab.xhtml-baked.xhtml

  Style guide: page.note.lab
*/
/*
  Collaborative Excerise note

  Contains a title "Collaborative Excerise" and the content of the note.

  Markup: ./styleguide/page.note.collab.xhtml-baked.xhtml

  Style guide: page.note.collab
*/
$Config_Notes: (
  (className: 'calculator', moveSolutionTo: $AREA_NONE,  labelText: "Using the TI-83, 83+, 84, 84+ Calculator"),
  (className: 'finger',     moveSolutionTo: $AREA_NONE,  labelText: "Note"),
  (className: 'lab',        moveSolutionTo: $AREA_NONE,  labelText: "Stats Lab"),
  (className: 'collab',     moveSolutionTo: $AREA_NONE,  labelText: "Collaborative Excerise"),
  (className: 'chapter-objectives', moveSolutionTo: $AREA_NONE,  labelText: "Chapter Objectives"),
  (className: 'try',        moveSolutionTo: $AREA_TRASH, counterName: Try, titleContent: $_tryTitleContent), // try it notes are numbered based on the example preceeding them
);

$Config_UnnumberedExercises: (
  (contextSelector: '.try',                   childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="example"]',  childSelector: '[data-type="exercise"]'),
);

/*
  Chapter Objectives

  This is a Note that appears in the Introduction page of every chapter.

  Markup: ./styleguide/page.note.chapter-objectives.xhtml-baked.xhtml

  Style guide: page.note.chapter-objectives
*/
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER,  numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  (moveTo: $AREA_NONE,                          titleContent: $_exampleTitleContent,
                                                                  solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Chapter:  ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();

// Coverage optimizations
$Config_Cover_MayHaveSimlinks: false;
$Config_Cover_MayHaveIframes: false;
$Config_Cover_MayHaveMissingExercises: false;
