@import '../_common-stuff';
$RECIPE_NAME: "psychology";

/*==========================================================
  PSYCHOLOGY PAGES
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Summary

  Should be collated at the end of a chapter.

  Contains a title "Summary"

  Markup: ./styleguide/book.composite.summary.xhtml-baked.html

  Style guide: book.composite.summary
*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking Questions"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/
/*
  Personal Application Questions

  Should be collated at the end of a chapter.

  Contains a title "Personal Application Questions"

  Markup: ./styleguide/book.composite.personal-application.xhtml-baked.html

  Style guide: book.composite.personal-application
*/
/*
  References

  Should be collated at the end of a chapter.

  Contains a title "References"

  Markup: ./styleguide/book.composite.references.xhtml-baked.html

  Style guide: book.composite.references
*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Summary"),
  (className: "review-questions", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Review Questions"),
  (className: "critical-thinking", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Critical Thinking Questions"),
  (className: "personal-application", clusterBy: $CLUSTER_NONE, name: "Personal Application Questions"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_BookCompositePages: (
  (className: "references", clusterBy: $CLUSTER_CHAPTER, name: "References"),
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Link to Learning note

  Contains a title "Link to Learning" and the content of the note.

  Markup: ./styleguide/page.note.link-to-learning.xhtml-baked.html

  Style guide: page.note.link-to-learning
*/
/*
  Dig Deeper

  Contains a title "Dig Deeper" and the content of the note.

  Markup: ./styleguide/page.note.dig-deeper.xhtml-baked.html

  Style guide: page.note.dig-deeper
*/
/*
  Everyday Connection

  Contains a title "Everyday Connection" and the content of the note.

  Markup: ./styleguide/page.note.everyday-connection.xhtml-baked.html

  Style guide: page.note.everyday-connection
*/
/*
  What Do You Think?

  Contains a title "What Do You Think?" and the content of the note.

  Markup: ./styleguide/page.note.what-do-you-think.xhtml-baked.html

  Style guide: page.note.what-do-you-think
*/
/*
  Connect the Concepts

  Contains a title "Connect the Concepts" and the content of the note.

  Markup: ./styleguide/page.note.connect-the-concepts.xhtml-baked.html

  Style guide: page.note.connect-the-concepts
*/

$Config_Notes: (
  (className: 'link-to-learning', labelText: "Link to Learning"),
  (className: 'dig-deeper', labelText: "Dig Deeper"),
  (className: 'everyday-connection', labelText: "Everyday Connection"),
  (className: 'what-do-you-think', labelText: "What Do You Think?"),
  (className: 'connect-the-concepts', labelText: "Connect the Concepts"),

);

/*==========================================================
  PSYCHOLOGY TITLING CONTENT
==========================================================*/

$Config_SetTableCaption: (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: false, hasTopTitle: false);


/*==========================================================
  PSYCHOLOGY CONFIG
==========================================================*/

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_abstractTitle: "Learning Objectives";

$ConfighasFirstInlineListElement: false;