$Config_HACK_modifyAnyContainerTitleSelector: false; // used by ap-physics

// The following are flags to improve code coverage.
// Leaving them as true does not hurt the baking process.
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;

$Config_hasCompositeAppendixes: false;

$Config_hasAbstract: true;

$Config_PartType_Chapter_TitleContent   : (os-number: counter(chapter), os-divider: ' ' );
$Config_PartType_Appendix_TitleContent  : (os-title-label: "Appendix ", os-number: counter(appendix, upper-alpha), os-divider: ' ');
$Config_PartType_Section_TitleContent   : (os-number: counter(chapter) "." counter(section), os-divider: ' ' );

$Config_PartType_Table_CaptionContent   : (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: " "); //TODO: Make a counter for both chapter and appendix, and automate the switch between standard and upper alpha counting?
$Config_PartType_Table_CaptionContentAp : (os-title-label: "Table ", os-number: counter(appendix, upper-alpha) "." counter(table), os-divider: " ");
$Config_PartType_Figure_CaptionContent  : (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Figure ", os-number: counter(appendix, upper-alpha) "." counter(figure), os-divider: " "); //TODO: Make a counter for both chapter and appendix, and automate the switch between standard and upper alpha counting?




//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',               labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: 'div[data-type="chapter"] .example',            labelText: "Example " counter(chapter) "." counter(example)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered)',    labelText: "Table " counter(chapter) "." counter(table)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered)',  labelText: "Figure " counter(chapter) "." counter(figure)),
  (selector: '[data-type="appendix"] :not(table) > table:not(.unnumbered)',   labelText: "Table " counter(appendix, upper-alpha) "." counter(table)),
  (selector: '[data-type="appendix"] :not(figure) > figure:not(.unnumbered)', labelText: "Figure " counter(appendix, upper-alpha) "." counter(figure)),
  // BUG up here too
);
