// This is the ROOT of the output CSS file that is generated.

$_symbolsSectionTitle: "Symbols";

//Currently, none of the books have composite chapters
//TODO: add a switch when our books have composite chapters, define logic/behavior for that switch. This simply could be in the _config files for all books or set based on the presence of at least one type of composite chapter (appendix, multiple page answer key etc.).



:pass(0) {
  //Some modifications to be done to the book before any collation
  @include modify_titlePreface();
  @include modify_spanWrapTitles();
  @if $Config_Coverage_MayHaveSimlinks == true {
    @include modify_simLinkTarget();
  }
  @include modify_wrapExercises(); // no dependencies
  @include modify_wrapLists(); // no dependencies
  @if $Config_Coverage_MayHaveIframes == true {
    @include modify_wrapIframesWithAlternatives(); // no dependencies
  }

  @include modify_trash("cnx-pi");

  // Only mark up solutions if they will not be discarded (optimization)
  @if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH {
  } @else if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH_HALF {
    @include utils_hasSolution($trashHalf: true);
  } @else {
    @include utils_hasSolution($trashHalf: false);
  }

  @if $Config_HACK_modifyAnyContainerTitleSelector {
    @include modify_anyContainerTitle($Config_HACK_modifyAnyContainerTitleSelector, null);
  }
  @include modify_GenericNote();

  //the metadata has been moved to the content, remove it from the metadata
  @include modify_trash('[data-type="metadata"] > [data-type="description"]');
  @if $Config_Coverage_MayHaveMissingExercises == true {
    @include modify_trash('div.missing-exercise');
  }
  @if $Config_hasAbstract == false {
    @include modify_trash('[data-type="abstract"]');
  }
  @if $Config_abstractTitle {
    @include modify_addAbstractTitle($Config_abstractTitle);
  }
}
:pass(1) {

  // Any notes that need to trash the solution
  @each $note in $Config_Notes {
    $className: map-get($note, className);
    $moveSolutionTo: map-get($note, moveSolutionTo);
    @include validate_type($className, string);
    @include validate_enumOptional($moveSolutionTo, $AREA__PREFIX__);

    @if $moveSolutionTo == $AREA_TRASH {
      @include modify_trash('.#{$className} [data-type="solution"]');
      @include utils_clearTrash();
    } @else {
      // TODO Skip reconstructing a new object for modify_note
      $labelText: map-get($note, labelText);
      $titleContent: map-get($note, titleContent);
      $replaceHeader: map-get($note, replaceHeader);
      $useHeader: map-get($note, useHeader);
      @include validate_typeOptional($labelText, string);
      @include validate_typeOptional($titleContent, map);

      // Check that there is not both a label AND a titleContent
      @if $labelText and $titleContent {
        @error "BUG: Specified both a label and a titleContent";
      } @else {
        // Phil does not know how to do `@else @if { ... }`
        @if $useHeader {
            @include modify_note((selector: $className, useHeader: $useHeader));
        }
        @else if $labelText {
          @include modify_note((selector: $className, labelText: $labelText, replaceHeader: $replaceHeader));
        } @else {
          @if $titleContent {
            @include modify_note((className: $className, titleContent: $titleContent, replaceHeader: $replaceHeader));
          }
        }
      }
    }
  }
}
:pass(2) {

  //Come up with mixins for common numbering schemes as per Phil's suggestion
  @include count_countChapters(chapter);
  @include number_numberChapters($Config_PartType_Chapter_TitleContent);
  @include count_countAppendices(appendix);
  @include number_numberAppendices($Config_PartType_Appendix_TitleContent);
  @include count_countSections(section);
  @include number_numberSections($Config_PartType_Section_TitleContent);
  @include count_footnotes(footnotes);
  @include count_footnoteLinks(footnoteLinks);
  @include number_footnotes(footnotes, footnoteLinks);

  // Count examples when moveTo: $AREA_NONE (no moving)
  @include validate_enumOptional(map-get($Config_PartType_Example, moveTo), $AREA__PREFIX__);
  @if map-get($Config_PartType_Example, moveTo) == $AREA_NONE {
    $titleContent:  map-get($Config_PartType_Example, titleContent);
    $solutionTitleContent:  map-get($Config_PartType_Example, solutionTitleContent);

    @include count_countExamples(example);
    @include number_numberExamples($titleContent, $solutionTitleContent);
  }

  // Number equations if they have a titleContent
  // @include validate_enum(map-get($Config_PartType_Equation, moveTo), $AREA__PREFIX__);
  $titleContent               : map-get($Config_PartType_Equation, titleContent);
  $excludeNumberingInClassName: map-get($Config_PartType_Equation, excludeNumberingInClassName);
  $numberAt                   : map-get($Config_PartType_Equation, numberAt);
  @if $titleContent {
    @include validate_type($excludeNumberingInClassName, string);
    @include validate_enum($numberAt, $NUMBER__PREFIX__);
    @include count_countEquations(equation);
    @if $numberAt == $NUMBER_BEFORE_MOVE {
      @include number_equations($titleContent, $excludeNumberingInClassName);
    }
  }

  // @include count_countExamples(example);
  // @include number_numberExamples($exampleTitleContent, $exampleSolutionTitleContent);

  // Count and number any Notes that need it
  @each $note in $Config_Notes {
    $className: map-get($note, className);
    $titleContent: map-get($note, titleContent);
    $counterName: map-get($note, counterName);
    @include validate_type($className, string);
    @include validate_typeOptional($titleContent, map);
    @include validate_typeOptional($counterName, string);

    @if $titleContent {
      @if $counterName {
        @include count_countNote($counterName, $className);
      }
      @include number_numberNote($className, $titleContent);
    }
  }

  @include count_countTerms(term);
  @include reference_refPageIDStringAs(pageID);
  @include modify_prepIndexTerms(term, pageID);

  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include compose_createChapterComposites($Config_ChapterCompositePages, sectionHeaderNode);

  @each $unnumberedExercise in $Config_UnnumberedExercises {
    $contextSelector: map-get($unnumberedExercise, contextSelector);
    $childSelector: map-get($unnumberedExercise, childSelector);
    @include validate_type($contextSelector, string);
    @include validate_typeOptional($childSelector, string);
    @include modify_addUnnumbered($contextSelector, $childSelector);
  }
    //create a chapter outline
  $outlineTitle: map-get($Config_PartType_Chapter, outlineTitle);
  @include validate_typeOptional($outlineTitle, string);
  @if $outlineTitle {
    @include compose_chapterOutline($outlineTitle);
  }



}
:pass(3) {

  //After: ???
  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include reference_refSectionHeaderStringAs(sectionHeaderString);
  @include compose_prepBookComposites($Config_BookCompositePages, sectionHeaderNode, sectionHeaderString);

  //move the chapter outline to the introduction module
  @if map-get($Config_PartType_Chapter, outlineTitle) {
    @include compose_moveChapterOutline();
  }

  //After: createChapterComposites

  // Count exercises that were marked as moveTo: $AREA_EOC
  @include validate_enum(map-get($Config_PartType_Exercise, moveTo), $AREA__PREFIX__);
  @if map-get($Config_PartType_Exercise, moveTo) == $AREA_EOC {
    $resetAt:       map-get($Config_PartType_Exercise, resetAt);
    $numberAt:      map-get($Config_PartType_Exercise, numberAt);
    $titleContent:  map-get($Config_PartType_Exercise, titleContent);
    @include validate_enum($resetAt, $RESET__PREFIX__);
    @include validate_enum($numberAt, $NUMBER__PREFIX__);
    @include validate_exists($titleContent);

    $resetSel: null;
    @if       $resetAt == $RESET_CHAPTER        { $resetSel: '[data-type="chapter"]'; }
    @else if  $resetAt == $RESET_COMPOSITE_PAGE { $resetSel: '[data-type="composite-page"]'; }
    @else { @error 'BUG: Invalid enum'; }

    @if $numberAt == $NUMBER_BEFORE_MOVE {
      @include count_countEOCExercises(exercise, $resetSel);
      @include number_numberEOCExercises($titleContent, $titleContent);
      @if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH_HALF {
        @include modify_tagRemovedSolutions();
      }
    } @else if $numberAt == $NUMBER_AFTER_MOVE {
    } @else { @error 'BUG: Invalid enum'; }
  }
}
:pass(4) {
  //After: createChapterComposites, numberEOCExercises
  @include count_countExercises(exerciseAll);
  // Only link up problems and solutions if they will not be discarded (optimization)
  @if map-get($Config_PartType_Exercise, numberAt) == $NUMBER_BEFORE_MOVE {
    @if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH_HALF {
      @include modify_trashTaggedSolutions();
    }
  }
  @if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH {
  } @else if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH_HALF {
    @include link_linkToProblemsFromSolutionsEOC($trashHalf: true)
  } @else {
    @include link_linkToProblemsFromSolutionsEOC($trashHalf: false);
  }
  //After: prepBookComposites
  @include reference_refChapterHeaderNodeAs(chapterHeaderNode);
  @include compose_prepChapterAreas($Config_BookCompositePages, chapterHeaderNode);
}
:pass(5) {
  //Only move solutions after exercises/solutions are numbered
  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @each $page in $Config_ChapterCompositePages {
    $name: map-get($page, name);
    $moveSolutionsTo: map-get($page, moveSolutionsTo);
    //@include validate_type($name, string);
    @include validate_enumOptional($moveSolutionsTo, $AREA__PREFIX__);
    @if $moveSolutionsTo == $AREA_EOC {
      @include compose_createEOCSolutions($Config_ChapterCompositePages, $page, sectionHeaderNode);
    } @else if $moveSolutionsTo == $AREA_EOB {
      @include compose_createEOBSolutions($Config_ChapterCompositePages, $page, sectionHeaderNode);
    }
  }
  // Copy/pasta from above
  // TODO: Combine bookCompositePages and chapterCompositePages in the config and then split them out in this file
  @each $page in $Config_BookCompositePages {
    $moveSolutionsTo: map-get($page, moveSolutionsTo);
    @include validate_enumOptional($moveSolutionsTo, $AREA__PREFIX__);
    @if $moveSolutionsTo == $AREA_EOB {
      @include compose_createEOBSolutions($Config_ChapterCompositePages, $page, sectionHeaderNode);
    } @else if $moveSolutionsTo == $AREA_EOC {
      @error "BUG: For now this item should have been in chapterCompositePages but it was in bookCompositePages";
    }
  }
  //After: prepBookComposites, prepChapterAreas
  @include compose_createBookComposites($Config_BookCompositePages);

  // Construct the set of CompoundComposite pages by looping through the Config_ChapterCompositePages
  // and finding all that have a `childPages:` field
  $_chapterCompoundCompositePages: ();
  @each $page in $Config_ChapterCompositePages {
    @if map-get($page, childPages) != null {
      $_chapterCompoundCompositePages: append($_chapterCompoundCompositePages, $page);
    }
  }
  @include compose_EOCcompoundCompositesPages($_chapterCompoundCompositePages);
}
:pass(6) {
  //@include reference_refChapterNumberStringAs(chapterNumberString);
  //After: prepIndexTerms, createBookComposites
  @include modify_addIndexSymbolGroup("index", $_symbolsSectionTitle);
  //After: composite page creation
  @include count_countChapters(chapter);
  @include count_countAppendices(appendix);
  // @include count_countEOCExercises(exercise, '[data-type="chapter"]');
  // TODO: Find out why this recounting is necessary; it seems to be for the targetLabels
  // This is mostly copy/pasta from above
  @if map-get($Config_PartType_Exercise, moveTo) == $AREA_EOC {
    $resetAt:       map-get($Config_PartType_Exercise, resetAt);
    $numberAt:      map-get($Config_PartType_Exercise, numberAt);
    $titleContent:  map-get($Config_PartType_Exercise, titleContent);

    @include validate_enum($resetAt, $RESET__PREFIX__);
    @include validate_enum($numberAt, $NUMBER__PREFIX__);
    @include validate_type($titleContent, map);

    $resetSel: null;
    @if       $resetAt == $RESET_CHAPTER        { $resetSel: '[data-type="chapter"]'; }
    @else if  $resetAt == $RESET_COMPOSITE_PAGE { $resetSel: '[data-type="composite-page"]'; }
    @else { @error 'BUG: Invalid enum'; }
    @include count_countEOCExercises(exercise, $resetSel);

    @if $numberAt == $NUMBER_AFTER_MOVE {
      @include number_numberEOCExercises($titleContent, $titleContent);
    } @else if $numberAt == $NUMBER_BEFORE_MOVE {
    } @else { @error 'BUG: Invalid enum'; }
  }
  @include count_countExamples(example);
  @include link_setTargetLabels($Config_TargetLabels);
  @include link_setLinkLabels();
  // Number equations if they have a titleContent
  // @include validate_enum(map-get($Config_PartType_Equation, moveTo), $AREA__PREFIX__);
  $titleContent               : map-get($Config_PartType_Equation, titleContent);
  $excludeNumberingInClassName: map-get($Config_PartType_Equation, excludeNumberingInClassName);
  $numberAt                   : map-get($Config_PartType_Equation, numberAt);
  @if $titleContent {
    @include validate_type($excludeNumberingInClassName, string);
    @include validate_enum($numberAt, $NUMBER__PREFIX__);
    @if $numberAt == $NUMBER_AFTER_MOVE {
      @include count_countEquations(equation);
      @include number_equations($titleContent, $excludeNumberingInClassName);
    }
  }
  @include reference_refBookMetadataNodeAs(bookMetadata);
  @include modify_compositeMetadata(bookMetadata, $Config_hasCompositeChapter);
  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include compose_titleEOCComposites($Config_ChapterCompositePages);
  @include compose_titleEOBComposites($Config_BookCompositePages);
  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include modify_chapterAutoID();
  @include count_countExercisesInContentButNotInExample(exerciseMaybeInContent);
  // This has to run before number_numberEOCExercises because its selector is more general than the EOC selector
  @include number_numberContentExercises((os-number : counter(exerciseMaybeInContent), os-title-label : "Exercise "), null); // It seems that this is null for all books

  @include count_countTables(table);
  @include count_countFigures(figure);
  @include number_setCaptions($Config_SetTableCaption, $Config_PartType_Table_CaptionContent, $Config_PartType_Table_CaptionContentAp);
  @include number_setCaptions($Config_SetFigureCaption, $Config_PartType_Figure_CaptionContent, $Config_PartType_Figure_CaptionContentAp);
  @include modify_retitleHeaders($Config_hasCompositeChapter); // Update the h2 h3 ... levels to make sense
}
:pass(7) {
  //No Answer Key, make sure that solutions that are still present in the content are discarded
  @if map-get($Config_PartType_Solution, moveTo) == $AREA_TRASH {
    @if map-get($Config_PartType_Solution, HACKRemoveAllSolutionsNotJustEoC) == true {
      @include modify_trash('[data-type="solution"]');
    } @else {
      @include modify_trash('.os-eoc [data-type="solution"]');
    }
  }
  @include modify_trash('.os-index-link-separator:last-child');
  @include modify_retitleCompositeMetadata($Config_hasCompositeChapter);
}
:pass(8) {
  //After: All metadata tasks are completed
  @include modify_suppressURI($Config_hasCompositeChapter);
  @include toc_prepTOCElements($Config_hasCompositeChapter);
}
:pass(9) {
  @include toc_putTOCElements();
}
:pass(10) {
  @include toc_navTOCUnwrap();
}
:pass(100) {
  @include utils_clearTrash();
}
