
//ad hoc TEAspecific specific requirements for the TEG Gateway imports process

@if $Config_TEAspecificLOHeaders {
  :pass(0) {
    .learning-objectives {
      &::before {
        container: h3;
        data-type: "title";
        content: "Learning Objectives";
      }
    }
  }
}

@if $Config_hasCompositeAppendixes {
  :pass(1) {
    body {
      .appendix {
        move-to: chapterAppendices;
      }
      &::after {
        container: span;
        class: "os-text";
        content: "Appendices";
        move-to: AppendixTitleSpans;
      }
      &::after {
        container: h1;
        data-type: "document-title";
        content: pending(AppendixTitleSpans);
        move-to: appendicesTitle;
      }
      &::after {
        data-type: composite-chapter;
        data-uuid-key: appendicesChapter;
        content: pending(appendicesTitle) pending(chapterAppendices);
      }
    }
  }
  :pass(3) {
    .appendix {
      &::inside {
        container: section;
        class: "appendix-container";
      }
    }
  }
  :pass(4) {
    .appendix {
      .appendix-container {
      > h1[data-type="document-title"] {
        copy-to: appendixTitle;
       }
       [data-type="metadata"] {
        move-to: metadata;
       }
     }
     &:deferred {
      content:  pending(metadata) pending(appendixTitle)  content();
     }
    }
  }
}

@if $Config_TEAspecificHasCompositePreface {
  :pass(1) {
    body {
      .preface {
        move-to: prefaceContent;
      }
      &::after {
        container: span;
        class: "os-text";
        content: "Preface";
        move-to: prefaceTitleSpans;
      }

      &::after {
        container: h1;
        data-type: "document-title";
        content: pending(prefaceTitleSpans);
        move-to: prefaceTitle;
       }
       &::before {
         data-type: composite-chapter;
         data-uuid-key: prefaceChapter;
         content: pending(prefaceTitle) pending(prefaceContent);
      }
    }
  }
  :pass(3) {
    .preface {
      &::inside {
        container: section;
        class: "preface-container";
      }
    }
  }
  :pass(4) {
    .preface {
      .preface-container {
      > h1[data-type="document-title"] {
        copy-to: prefaceTitle;
       }
       [data-type="metadata"] {
        move-to: metadata;
       }
     }
     &:deferred {
      content:  pending(metadata) pending(prefaceTitle)  content();
     }
    }
  }
  :pass(5) {
    .preface-container {
      > h1[data-type="document-title"] {
        container: h2;
      }
    }
  }
}


//remove the index
:pass(6) {
    @include modify_trash(".os-index-container");
    @include modify_trash(".os-solutions-container");
    @include utils_clearTrash();
}
:pass(7) {
  @include modify_retitleHeaders($Config_hasCompositeChapter);
}
