// replace any modifications made to the default color-map found in ./framework/mixins/_color-map.scss
// Note: this merges the new value in, it doesn't override it

@function lisa-color-map() {
  $THEME_COLOR_MAP: (
  LISAfeatureBodyText: color-scheme(standard-black),

  LISAfeatureTitleColor: color-scheme(standard-white),
  LISAfeatureSubtitleColor: color-scheme(secondary),

  LISAfeatureTitleBG1: color-scheme(secondary),
  LISAfeatureTitleBG2: color-scheme(tertiary),
  LISAfeatureTitleBG3: color-scheme(primary),
  LISAfeatureTitleBG4: color-scheme(quinary),

  LISAfeatureBodyBG1: color-scheme(featureBG1),
  LISAfeatureBodyBG2: color-scheme(featureBG2),
  LISAfeatureBodyBG3: color-scheme(featureBG3),

  LISAfeatureTopBorderBar: color-scheme(tertiary),
  LISAfeatureBorderColor1: color-scheme(featureBG1),
  LISAfeatureBorderColor2: color-scheme(featureBG2),
  LISAfeatureBorderColor3: color-scheme(featureBG3),

  LISAfeatureBorderColor: color-scheme(pale-grey),
  h1-title: color-scheme(primary),

  );
  @return $THEME_COLOR_MAP;
}

@include color-map-merge(get-function("lisa-color-map"));
