// Enum
$AREA__PREFIX__: 'area-';
$AREA_NONE: 'area-none';
$AREA_TRASH: 'area-trash';
$AREA_EOC: 'area-eoc';
$AREA_EOB: 'area-eob';

// Enum
$NONE: 'none-used-for-validation';

$RESET__PREFIX__: 'reset-at-';
$RESET_CHAPTER: 'reset-at-chapter';
$RESET_COMPOSITE_PAGE: 'reset-at-composite-page';


$NUMBER__PREFIX__: 'number-';
$NUMBER_NONE: 'number-none';
$NUMBER_BEFORE_MOVE: 'number-before-move';
$NUMBER_AFTER_MOVE: 'number-after-move';

$PAGE__PREFIX__: 'page-';
$PAGE_INDEX: 'page-prefix';
$PAGE_GLOSSARY: 'page-glossary';

$CAPTION__PREFIX__: 'caption-';
$CAPTION_TABLE: 'caption-table';
$CAPTION_FIGURE: 'caption-figure';
