@mixin toc_navTOCUnwrap() {
  nav#toc {
    li {
      > a {
        > h1 > span,
        > h2 > span,
        > div > span {
          move-to: title-spans;
        }
        &:deferred {
          content: pending(title-spans);
        }
      }
    }
  }
}

@mixin toc_putTOCElements() {
  nav#toc {
    content: '';
    &::after {
      content: pending(eob-toc);
      container: ol;
    }
  }
}

@mixin toc_prepTOCElements($hasCompositeChapter) {
  $chapterAndCompositeChapterSel: ('> div[data-type="chapter"]');
  @if $hasCompositeChapter {
    $chapterAndCompositeChapterSel: append($chapterAndCompositeChapterSel, '> div[data-type="composite-chapter"]', comma);
  }

  body {
    > div[data-type="page"],
    > div[data-type="composite-page"] {
      string-set: page-id attr(id);
      > [data-type='document-title'] {
        node-set: pageTitle;
      }

      > [data-type='metadata']
      > [data-type='cnx-archive-shortid'] {
        string-set: page-shortid attr(data-value);
      }
      &::after {
        content: nodes(pageTitle);
        attr-href: "#" string(page-id);
        container: a;
        move-to: page-link;
      }
      &::after {
        content: pending(page-link);
        move-to: eob-toc;
        attr-cnx-archive-uri: attr(id);
        attr-cnx-archive-shortid: string(page-shortid);
        container: li;
      }
    }
    #{$chapterAndCompositeChapterSel} {
      > [data-type='document-title'] {
        node-set: chapterTitle;
        string-set: chapTitle-id attr(id);
      }
      > [data-type='metadata']
      > [data-type='cnx-archive-shortid'] {
        string-set: chap-shortid attr(data-value);
      }
      &::after {
        content: nodes(chapterTitle);
        attr-href: "#" string(chapTitle-id);
        container: a;
        move-to: eoc-toc;
      }
      > div[data-type="page"],
      > div[data-type="composite-page"] {
        string-set: page-id-chap attr(id);
        > [data-type='document-title'] {
          node-set: PageTitle;
        }
        > [data-type='metadata']
        > [data-type='cnx-archive-shortid'] {
          string-set: page-shortid attr(data-value);
        }
        &::after {
          content: nodes(PageTitle);
          attr-href: "#" string(page-id-chap);
          container: a;
          move-to: page-link;
        }
        &::after {
          content: pending(page-link);
          move-to: eoc-toc-pages;
          attr-cnx-archive-uri: attr(id);
          attr-cnx-archive-shortid: string(page-shortid);
          container: li;
        }
      }
      &::after {
        content: pending(eoc-toc-pages);
        container: ol;
        class: os-chapter;
        move-to: eoc-toc;
      }
      &::after {
        content: pending(eoc-toc);
        attr-cnx-archive-uri: attr(id);
        attr-cnx-archive-shortid: string(chap-shortid);
        container: li;
        move-to: eob-toc;
      }
    }
    > div[data-type="unit"] {
      > [data-type='document-title'] {
        node-set: unitTitle;
        string-set: uTitle-id attr(id);
      }

      > [data-type='metadata']
      > [data-type='cnx-archive-shortid'] {
        string-set: unit-shortid attr(data-value);
      }
      &::after {
        content: nodes(unitTitle);
        attr-href: "#" string(uTitle-id);
        container: a;
        move-to: eou-toc;
      }

      #{$chapterAndCompositeChapterSel} {
        > [data-type='document-title'] {
          node-set: chapterTitle;
          string-set: chapTitle-id attr(id);
          //copy-to: eoc-toc;
        }
        > [data-type='metadata']
        > [data-type='cnx-archive-shortid'] {
          string-set: chap-shortid attr(data-value);
        }
        &::after {
          content: nodes(chapterTitle);
          attr-href: "#" string(chapTitle-id);
          container: a;
          move-to: eoc-toc;
        }
        > div[data-type="page"],
        > div[data-type="composite-page"] {
          string-set: page-id-chap attr(id);
          > [data-type='document-title'] {
            node-set: PageTitle;
          }
          > [data-type='metadata']
          > [data-type='cnx-archive-shortid'] {
            string-set: page-shortid attr(data-value);
          }
          &::after {
            content: nodes(PageTitle);
            attr-href: "#" string(page-id-chap);
            container: a;
            move-to: page-link;
          }
          &::after {
            content: pending(page-link);
            move-to: eoc-toc-pages;
            attr-cnx-archive-uri: attr(id);
            attr-cnx-archive-shortid: string(page-shortid);
            container: li;
          }
        }
        &::after {
          content: pending(eoc-toc-pages);
          container: ol;
          class: os-chapter;
          move-to: eoc-toc;
        }
        &::after {
          content: pending(eoc-toc);
          attr-cnx-archive-uri: attr(id);
          attr-cnx-archive-shortid: string(chap-shortid);
          container: li;
          move-to: eou-toc-chapters;
        }
      }
      &::after {
        content: pending(eou-toc-chapters);
        container: ol;
        class: os-unit;
        move-to: eou-toc;
      }
      &::after {
        content: pending(eou-toc);
        attr-cnx-archive-uri: attr(id);
        attr-cnx-archive-shortid: string(unit-shortid);
        container: li;
        move-to: eob-toc;
      }
    }
  }
}
