@import './styles/framework/_framework';


@include add_settings((
    listNotes: (
        _selectors: ('.concept-check'),
        'container': (
            border-bottom-left-radius: '5px',
            border-bottom-right-radius: '5px',
        ),
        'title': (
            color: pink,
        )
    )
));


$IS_TEST: true !global;
@import './styles/templates/template1/template1';
@include debug_settings();