@import '../../framework/import-var';
@import '../../themes/theme3/import-var';
@import './import-var';

@import '../../framework/import-mixins';

@import '../../framework/import-style';
@import '../../themes/theme3/import-style';
@import './import-style';

/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */

//TODO: figure out a way to loop through note kinds and validate them


$notes:(
  (
    noteType: simpleNote,
    name: link-to-learning,
    config: $simpleNoteConfig,
    color-scheme: $simpleNoteScheme1,
  ),
  (
    noteType: simpleNote,
    name: catching-spirit,
    config: $simpleNoteConfig,
    color-scheme: $simpleNoteScheme2,
  ),
  (
    noteType: simpleNote,
    name: concept-check,
    config: $simpleNoteConfig,
    color-scheme: $simpleNoteScheme3,
   ),
);


@include note($notes);


// [data-type="note"] {
//   &.catching-spirit {
//
//   }
//   &.managing-change {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), managing-change);
//   }
// }

//   &.expanding-around-globe {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), expanding-around-globe);
//   }
//   &.customer-satisfaction {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), customer-satisfaction);
//   }
//   &.ethics-in-practice {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), ethics-in-practice);
//   }
//   &.concept-check {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody2_colorMap), exercises);
//   }
//   &.exploring-business-careers {
//     @include note-border-top(color-map(featureBorder_colorMap));
//   }
// }
