@import '../hs-physics/_config';

$Config_hasCompositeChapter: true;
$Config_TEAspecificHasCompositePreface: true;
$Config_TEAspecificLOHeaders : true;
//$Config_TEAspecificLOContainer: false;
$Config_hasCompositeAppendixes: true;
$Config_TEAspecificEOBHeaders: true;
$Config_PartType_Solution: (moveTo: $AREA_TRASH);
$Config_startPageWithLO: true;

/*
  Learning Objectives

  These are specific to *some* TEA titles but not all. (those with `$Config_TEAspecificLOHeaders: true;`)

  Markup: ./styleguide/page.learning-objectives.xhtml-baked.html

  Style guide: page.learning-objectives
*/
