@import '../_common-stuff';

/*==========================================================
  HIGH SCHOOL PHYSICS PAGES
==========================================================*/

//Make pages
$PageKeyTerms               : ( name: "Glossary", source: "glossary", isGlossary: true, sortBy: "dl > dt" );

/*
  Section Summary
  These should be collated at the end of a chapter
  and separated by which section they came from.

  Markup: ./styleguide/book.composite.summary.html-baked.html

  Style guide: book.composite.summary
*/
$pageSummary                : ( name: "Section Summary", source: "summary", sectionSeparated: true );

/*
  Key Equations
  These should be collated at the end of a chapter
  **Notes:** Even without the styling you can see a few problems with the ruleset code:
  1. the rulesets use the class attribute when they should use the `data-type`
  1. the solution is being duplicated
  1. the solution is inside the link text that points back to the problem
  1. new id's are generated rather than using the existing id attributes for the problem and solution

  Markup: ./styleguide/book.composite.key-equations.html-baked.html

  Style guide: book.composite.key-equations
*/
$pageKeyEquations           : ( name: "Key Equations", source: "key-equations", sectionSeparated: true );

/*
  Concept Items
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.concept.html-baked.html

  Style guide: book.composite.concept
*/

$pageConceptItems           : ( name: "Concept Items", source: "concept", sectionSeparated: true );

/*
  Critical Thinking Items
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.critical-thinking.html-baked.html

  Style guide: book.composite.critical-thinking
*/
$pageCriticalThinking       : ( name: "Critical Thinking Items", source: "critical-thinking", sectionSeparated: true );

/*
  Problems

  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.problems.html-baked.html

  Style guide: book.composite.problems
*/
$pageProblems               : ( name: "Problems", source: "problem", sectionSeparated: true );

/*
  Performance Task
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.performance.html-baked.html

  Style guide: book.composite.performance
*/
$pagePerformance            : ( name: "Performance Task", source: "performance", sectionSeparated: true );

/*
  Multiple Choice
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.multiplechoice.html-baked.html

  Style guide: book.composite.multiplechoice
*/
$pageMultipleChoice         : ( name: "Multiple Choice", source: "multiple-choice", sectionSeparated: true );

/*
  Short Answer
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.shortanswer.html-baked.html

  Style guide: book.composite.shortanswer
*/
$pageShortAnswer            : ( name: "Short Answer", source: "short-answer", sectionSeparated: true );

/*
  Extended Response
  These should be collated at the end of a chapter

  Markup: ./styleguide/book.composite.extendedresponse.html-baked.html

  Style guide: book.composite.extendedresponse
*/
$pageExtendedResponse       : ( name: "Extended Response", source: "extended-response", sectionSeparated: true );

$PageIndex                  : ( name: "Index", source: "index", isIndex: true );

$Config_ChapterCompositePages: (
  $PageKeyTerms, $pageSummary, $pageKeyEquations, $pageConceptItems, $pageCriticalThinking, $pageProblems, $pagePerformance, $pageMultipleChoice, $pageShortAnswer, $pageExtendedResponse,
);

$Config_BookCompositePages: (
  //This doesn't get parsed as a list without a comma at the end
  //the composite builder should account for this rather than using hacky syntax
  $PageIndex,
);

/*==========================================================
  HIGH SCHOOL PHYSICS TITLING CONTENT
==========================================================*/

//unfortunately a base obj cannot be created for all Content because it would make the order of the keys static
//when they need to be able to be in any order because of possible changes in titling order between books
//Usage Note: key: class of the containing span, value: text that will go inside span
$Config_ChapterTitleContent        : ( number : counter(chapter), );

$Config_AppendixTitleContent       : ( title-label : "Appendix ", number : counter(appendix, upper-alpha), );

$Config_SectionTitleContent        : ( number : counter(chapter) "." counter(section), );

$_exerciseTitleContent       : ( divider : ".", number : counter(chapter) "." counter(exercise) );
$_equationNumber             : ( number : counter(chapter) "." counter(equation) );


/*==========================================================
  HIGH SCHOOL PHYSICS CONFIG
==========================================================*/

$Config_SetTableCaption            : ( type: table, defaultContainer: caption, hasCaption: true, hasTitle: true );

$Config_SetFigureCaption           : ( type: figure, defaultContainer: figcaption, hasCaption: true, hasTitle: true );



/*
  Teacher Support  note
  Contains a title "Teacher Support"

  Markup: ./styleguide/page.note.teacher.html-baked.html

  Style guide: page.note.teacher
*/
/*
  Section Learning Objectives note
  Contains a title "Section Learning Objectives"

  Markup: ./styleguide/page.note.learningobjectives.html-baked.html

  Style guide: page.note.learningobjectives
*/
/*
  Boundless Physics note
  Contains a title "Boundless Physics" and a body containing a title and the contents of the note.

  Markup: ./styleguide/page.note.boundlessphysics.html-baked.html

  Style guide: page.note.boundlessphysics
*/
/*
  Misconception Alert note
  Contains a title "Misconception Alert".

  Markup: ./styleguide/page.note.misconception.html-baked.html

  Style guide: page.note.misconception
*/
/*
  Teacher Demonstration note
  Contains a title "Teacher Demonstration".

  Markup: ./styleguide/page.note.workout.html-baked.html

  Style guide: page.note.workout
*/
/*
  Grasp Check note
  Contains a title "Grasp Check".

  Markup: ./styleguide/page.note.grasp-check.html-baked.html

  Style guide: page.note.grasp-check
*/
/*
  Snap Lab note
  Contains a title "Snap Lab" and wrap the body.

  Markup: ./styleguide/page.note.snap-lab.html-baked.html

  Style guide: page.note.snap-lab
*/
/*
  Worked Example note
  Contains a title "Worked Example" and wraps the body.

  Markup: ./styleguide/page.note.worked-example.html-baked.html

  Style guide: page.note.worked-example
*/
/*
  Tips For Success note
  Contains a title "Tips For Success".

  Markup: ./styleguide/page.note.tips-for-success.html-baked.html

  Style guide: page.note.tips-for-success
*/
/*
  Work In Physics note
  Contains a title "Work In Physics" and wraps body.

  Markup: ./styleguide/page.note.work-in-physics.html-baked.html

  Style guide: page.note.work-in-physics
*/
/*
  Fun In Physics note
  Contains a title "Fun In Physics".

  Markup: ./styleguide/page.note.fun-in-physics.html-baked.html

  Style guide: page.note.fun-in-physics
*/
/*
  Links to Physics note
  Contains a title "Links to Physics" and wraps body.

  Markup: ./styleguide/page.note.links-to-physics.html-baked.html

  Style guide: page.note.links-to-physics
*/
/*
  Watch Physics note
  Contains a title "Watch Physics" and wraps body.

  Markup: ./styleguide/page.note.watch-physics.html-baked.html

  Style guide: page.note.watch-physics
*/
/*
  Virtual Physics note
  Contains a title "Virtual Physics" and wraps the body.

  Markup: ./styleguide/page.note.virtual-physics.html-baked.html

  Style guide: page.note.virtual-physics
*/
$Config_Notes: (
  ( className: 'os-teacher',           label: "Teacher Support" ),
  ( className: 'boundless-physics',    label: "Boundless Physics", isBodyWrapped: true ),
  ( className: 'learning-objectives',  label: "Section Learning Objectives" ),
  ( className: 'ost-teacher-demonstration', label: "Teacher Demonstration" ),
  ( className: 'ost-misconception',    label: "Misconception Alert" ),
  ( className: 'grasp-check',          label: "Grasp Check" ),
  ( className: 'snap-lab',             label: "Snap Lab",          isBodyWrapped: true ),
  ( className: 'worked-example',       label: "Worked Example",    isBodyWrapped: true ),
  ( className: 'tips-for-success',     label: "Tips For Success" ),
  ( className: 'work-in-physics',      label: "Work In Physics",   isBodyWrapped: true ),
  ( className: 'fun-in-physics',       label: "Fun In Physics" ),
  ( className: 'links-to-physics',     label: "Links To Physics",  isBodyWrapped: true ),
  ( className: 'watch-physics',        label: "Watch Physics",     isBodyWrapped: true ),
  ( className: 'virtual-physics',      label: "Virtual Physics",   isBodyWrapped: true ),
);

$Config_PartType_Chapter:  (outlineTitle: null);
$Config_PartType_Equation: (moveTo: $AREA_NONE, titleContent: $_equationNumber, numberAt: $NUMBER_BEFORE_MOVE, excludeNumberingInClassName: "summary");
$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_COMPOSITE_PAGE,  titleContent: $_exerciseTitleContent);
$Config_PartType_Example:  ();
$Config_PartType_Solution: (moveTo: $AREA_TRASH); // FIXME: change this to $AREA_NONE once cnx-easybake is fixed or the order of operations is fixed
