// TODO: Add mixin for creating a title around the "key-terms" table
@import '../../common/_all';

//Import book config file
@import './config';

:pass(0) {
  @include modify_exerciseMakeLabelVisible(); // no dependencies
  @include modify_listMakeLabelVisible(); // no dependencies

  //Some modifications to be done to the book before any collation
  @include modify_titlePreface();
  @include modify_spanWrapTitles();
  @include modify_simLinkTarget();
  //@include utils_hasSolution();

  @include modify_note($teacherSupportNote);
  @include modify_note($boundlessPhysicsNote);
  @include modify_note($learningObjectivesNote);
  @include modify_note($teacherDemonstrationNote);
  @include modify_note($misconceptionNote);
  @include modify_note($graspCheckNote);
  @include modify_note($snapLabNote);
  @include modify_note($workedExampleNote);
  @include modify_note($tipsSuccessNote);
  @include modify_note($workedPhysicsNote);
  @include modify_note($funPhysicsNote);
  @include modify_note($linksPhysicsNote);
  @include modify_note($watchPhysicsNote);
  @include modify_note($virtualPhysicsNote);
  //the metadata has been moved to the content, remove it from the metadata
  @include modify_trash('[data-type="metadata"] > [data-type="description"]');
}
:pass(1) {
  //Come up with mixins for common numbering schemes as per Phil's suggestion
  @include count_countChapters(chapter);
  @include number_numberChapters($chapterTitleContent);
  @include count_countAppendices(appendix);
  @include number_numberAppendices($appendixTitleContent);
  @include count_countSections(section);
  @include number_numberSections($sectionTitleContent);
  @include count_countTerms(term);
  @include reference_refPageIDStringAs(pageID);
  @include modify_prepIndexTerms(term, pageID);

  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include compose_createChapterComposites($chapterCompositePages, sectionHeaderNode);
}
:pass(2) {
  //After: ???
  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  @include reference_refSectionHeaderStringAs(sectionHeaderString);
  @include compose_prepBookComposites($bookCompositePages, sectionHeaderNode, sectionHeaderString);

  //After: createChapterComposites
  @include count_countEOCExercises(exercise, '[data-type="composite-page"]');
  @include number_numberEOCExercises($exerciseTitleContent, $exerciseTitleContent);
}
:pass(3) {
  //After: createChapterComposites, numberEOCExercises
  @include count_countExercises(exerciseAll);
  @include link_linkToProblemsFromSolutionsEOC();

  //After: prepBookComposites
  @include reference_refChapterHeaderNodeAs(chapterHeaderNode);
  @include compose_prepChapterAreas($bookCompositePages, chapterHeaderNode);

}
:pass(4) {
  //Only move solutions after exercises/solutions are numbered
  @include reference_refSectionHeaderNodeAs(sectionHeaderNode);
  //@include compose_createEOBSolutions($chapterCompositePages, $pageSolutions, sectionHeaderNode);

  //After: prepBookComposites, prepChapterAreas
  @include compose_createBookComposites($bookCompositePages);
}
:pass(5) {
  //After: prepIndexTerms, createBookComposites
  @include modify_addIndexSymbolGroup("index", $symbolsSectionTitle);

  //After: composite page creation
  @include count_countChapters(chapter);
  @include count_countAppendices(appendix);
  @include count_countEOCExercises(exercise, '[data-type="composite-page"]');
  @include link_setTargetLabels($targetLabels);
  @include link_setLinkLabels();

  // Number the equations _AFTER_ they have been moved
  @include count_countEquations(equation);
  @include number_equations ($equationNumber, $sectionSummaryClass);

  @include reference_refBookMetadataNodeAs(bookMetadata);
  @include modify_compositeMetadata(bookMetadata);

  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include compose_titleEOCComposites($chapterCompositePages);
  @include compose_titleEOBComposites($bookCompositePages);
  @include EOCcompoundCompositesPages ($EOCcompoundComposites);
  //After: createChapterComposites, createEOCSolutions, createBookComposites
  @include modify_compositeAutoID();
  @include modify_chapterAutoID();

  @include count_countTables(table);
  @include count_countFigures(figure);
  @include number_setCaptions($setTableCaption, $captionTableNumber, $captionTableNumberAp);
  @include number_setCaptions($setFigureCaption, $captionFigNumber, $captionFigNumberAp);
  @include modify_retitleHeaders();
}
:pass(6) {
  @include modify_trash('.os-index-link-separator:last-child');
  @include modify_retitleCompositeMetadata();
}
:pass(7) {
  //After: All metadata tasks are completed
  @include modify_suppressURI();

  @include toc_prepTOCElements();
}
:pass(8) {
  @include toc_putTOCElements();
}
:pass(9) {
  @include toc_navTOCUnwrap();
}
:pass(100) {
  @include utils_clearTrash();
}
