$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: side;

@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));



@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'H2Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'H5Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::sansFont'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::sansFont'),
    'H3LinkTitle:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'SolutionTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'SolutionTitle:::font-family': (_ref: 'typography:::sansFont'),
  ),
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::biologyHeaderColor")
  ),
));

@include add_settings((
  LearningObjectiveAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'AbstractTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  EvolutionNote:(
    _selectors: (".evolution"),
    group-border-color: (_ref: 'colorMap:::evolutionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::evolutionColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-evolution.svg")) no-repeat top left,
  ),
  ScientificMethodNote:(
    _selectors: (".scientific"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
  VisualConnectionNote:(
    _selectors: (".visual-connection"),
    group-border-color: (_ref: 'colorMap:::visualColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::visualColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".interactive:not(.non-majors)"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ConceptsInActionNote:(
    _selectors: (".interactive.non-majors"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

//EOC, define colors and column layout for all eoc sections here.This should be treated exactly like notes, where we use generic components and book specfic setting for each one of them. There is quite a bit of repetion but this keeps everything cleanly in here and follows the same principles as the notes. 

//Can we convert those into group settings? A mixin? Something to DRY it.
@include add_settings((
  GenericEOC:(
    _selectors: (".os-eoc"),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::serifFont'),
    'H2Title:::column-span': all,
    'H2Title:::text-transform': uppercase,
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::serifFont'),
    'H3Title:::column-span': all,
    'H3LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H3ListTitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'H3ListTitle:::font-family': (_ref: "typography:::baseFont"),
    'H4Title:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H4LinkTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  VisualExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-visual-exercise-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemContainerSpecific:::vertical-align': bottom,
    'ProblemContainerSpecific:::padding-top': half-v-grid(1),
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemContainerSpecific:::vertical-align': bottom,
    'ProblemContainerSpecific:::padding-top': half-v-grid(1),
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  CriticalThinking: (
    _selectors: ("[data-type = 'chapter'] > .os-critical-thinking-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemContainerSpecific:::vertical-align': bottom,
    'ProblemContainerSpecific:::padding-top': half-v-grid(1),
    'Section--MarginBottom:::margin-bottom': 0,
  ),
));


@include add_settings((
  Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'H2Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));



//@use
@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface');
@include use('ContentExercises','carnival:::ExerciseShape');
//EOC
@include use('GenericEOC','carnival:::GenericEOCShape');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocSummary','carnival:::EocSummary');
@include use('VisualExercise', 'carnival:::EOCAssesmentsShape');
@include use('MultipleChoice', 'carnival:::EOCAssesmentsShape');
@include use('CriticalThinking', 'carnival:::EOCAssesmentsShape');

@include use('LearningObjectiveAbstract', 'carnival:::LearningObjectiveAbstractShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Link', 'carnival:::Link');
@include use('Chapter', 'carnival:::Chapter');
@include use('ChapterIntro', 'carnival:::MarginChapterIntroShape');
@include use('UnitTitle', 'common:::Hidden');
@include use('Module', 'carnival:::ModuleShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('FigureContainer','carnival:::Figure');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Term', 'carnival:::Term');
@include use('Equation', 'carnival:::EquationShape');
@include use('IFrame', 'common:::Hidden');

//notes
@include use('EverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('CareerNote','carnival:::IconNoteShape');
@include use('EvolutionNote','carnival:::IconNoteShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('VisualConnectionNote','carnival:::IconNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape'); //?
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ConceptsInActionNote', 'carnival:::IconCondensedShape');


//problem:
//1.If a paragraph in a note contains a footnote call and that pararaph breaks across pages 
  //the footnote will appear on the page where the paragraph finishes
//2.If a paragraph contains a footnote call and that call is the last element at the end of the page, the footnote will appear on the following page

//options: 
//1. if the last paragraph in a note contains a footenote call don't allow it to break 
  //con - this may lead to awkard white space 
  //con - have to make recipe change to tag last paragraphs that have footnotes 
//2. 

//Things I've tried: 
// 1. applying prince-footnote policy to all paragraphs and then to paragraphs in notes. Tried with both values 'keeps with line, and keep with block'. Did not work 
// 2. edited raw markup, removed the 2 divs surrounded the note. Then re-applied footnote policy property. Did not work
//3. applying prince footnote polocy keep with line to p, p's in note bodies, and the call itself. did not work
//4. applied footnote policy to data type note and .os-note-body. did not work
//5. applied footnote policy to all parent elements of paragraph ex: section, page, chapter, etc. did not work
//6. applying !important to the step above. did not work
//7. genertaing a PDF with the styles above on prince v13.5. did not work
//8. used autogenerated id thats on para with styles and prince version above. did not work

p,
div.os-note-body > p,
a[role="doc-noteref"],
div[data-type="note"],
.os-note-body,
section,
div[data-type="page"]
div[data-type="chapter"],
div[data-type="unit"],
body,
#auto_m66705_fs-idp126368896 {
  prince-footnote-policy: keep-with-line !important;
}