@import '../common-stuff';
$RECIPE_NAME: "precalculus-coreq";

/*==========================================================
  PRECALCULUS COREQ PAGES
==========================================================*/
/*
  Key Terms

  Should be collated at the end of a chapter.

  Contains a title "Key Terms"

  Markup: ./styleguide/book.composite.key-terms.xhtml-baked.html

  Style guide: book.composite.key-terms
*/
/*
  Key Equations

  Should be collated at the end of a chapter.

  Contains a title "Key Equations"

  Markup: ./styleguide/book.composite.key-equations.xhtml-baked.html

  Style guide: book.composite.key-equations
*/
/*
  Key Concepts

  Should be collated at the end of a chapter.

  Contains a title "Key Concepts"

  Markup: ./styleguide/book.composite.key-concepts.xhtml-baked.html

  Style guide: book.composite.key-concepts
*/
/*
  Review Exercises

  Should be collated at the end of a chapter.

  Contains a title "Review Exercises"

  Markup: ./styleguide/book.composite.review-exercises.xhtml-baked.html

  Style guide: book.composite.review-exercises
*/
/*
  Practice Test

  Should be collated at the end of a chapter.

  Contains a title "Practice Test"

  Markup: ./styleguide/book.composite.practice-test.xhtml-baked.html

  Style guide: book.composite.practice.test
*/

$_eosTitle: (os-number: counter(chapter) "." counter(section) " ", os-afterLabel: "Section Exercises");

$Config_SectionCompositePages: (
  (className: "section-exercises", clusterBy: $CLUSTER_NONE, hasSolutions: true, titleContent: $_eosTitle),
);

$_chapterReviewChildPages: (
  (className: "glossary",     clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "key-equations", clusterBy: $CLUSTER_NONE, name: "Key Equations"),
  (className: "key-concepts", clusterBy: $CLUSTER_SECTION, name: "Key Concepts"),
);

$_exercisesChildPages: (
  (className: "review-exercises", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Review Exercises"),
  (className: "practice-test",    clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Practice Test"),
);

$Config_ChapterCompositePages: (
  (className: "chapter-review",    clusterBy: $CLUSTER_NONE, childPages: $_chapterReviewChildPages, hasSolutions: false, name: "Chapter Review"),
  (className: "exercises",    clusterBy: $CLUSTER_NONE, childPages: $_exercisesChildPages, hasSolutions: true, name: "Exercises"),
);

$_tryItTitleContent: (os-title-label: "Try It ", os-number:"#" counter(try));
$_tryItSolutionTitleContent: (os-divider: ". ", os-number: counter(try));

// very improtant to keep this config file empty
$Config_ContentExercise_TitleContent: ();
$_eosExerciseTitleContent: (os-divider: ". ", os-number: counter(exerciseMaybeInContent));

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_SECTION, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $_eosExerciseTitleContent);

//Key "type" has the same value as "name", but it's needed because of internationalization.
// "name" has different value in books from other countries (see pl-u-physics), but we need value common for all books (see mixin "modify_addFirstElementClas")
$Config_BookCompositePages: (
  (className: "solution", clusterBy: $CLUSTER_SECTION, compoundComposite: true, moveSolutionsTo: $AREA_EOB, type: "Answer Key", name: "Answer Key"),
  (className: "index", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  How To

  Contains a title "How To" and the content of the note.

  Markup: ./styleguide/page.note.how-to.xhtml-baked.html

  Style guide: page.note.how-to
*/
/*
  QA

  Contains a title "QA" and the content of the note.

  Markup: ./styleguide/page.note.qa.xhtml-baked.html

  Style guide: page.note.qa
*/
/*
  Try

  Contains a title "Try" and the content of the note.

  Markup: ./styleguide/page.note.try.xhtml-baked.html

  Style guide: page.note.try
*/
/*
  Media

  Contains a title "Media" and the content of the note.

  Markup: ./styleguide/page.note.media.xhtml-baked.html

  Style guide: page.note.media
*/

$Config_Notes: (
  (className: 'how-to-notitle', labelText: "How To"),
  (className: 'qa', labelText: "Q&A"),
  (className: 'try', moveSolutionTo: $AREA_EOB, counterName: try, resetAt: moduleReset, titleContent: $_tryItTitleContent, hasSolutions: true, solutionTitleContent: $_tryItSolutionTitleContent),
  (className: 'media-notitle', labelText: "Media"),
);

/*==========================================================
  PRECALCULUS COREQ CONFIG
==========================================================*/

$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(tableNotCoreq), os-divider: ' ');
$Config_PartType_Table_CustomCaptionContent: (os-title-label: "Table ", os-number: counter(tableCoreq), os-divider: ' ');
$Config_PartType_Table_CaptionContentAp: (os-title-label: "Table ", os-number: counter(appendix, upper-alpha) counter(tableNotCoreq), os-divider: " ");
$Config_PartType_Table_CaptionContentPr: (os-title-label: "Table ", os-number: counter(tableNotCoreq), os-divider: " ");
$Config_CustomTableCaption: (
  captionType: $CAPTION_TABLE,  
  defaultContainer: caption, 
  hasCaption: true, 
  hasTitle: false, 
  hasTopTitle: false,
  firstCounterName: tableNotCoreq,
  secondCounterName: tableCoreq,
  customClass: 'os-coreq-element',
  customResetSelector: 'coreq-skills',
);

$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(figureNotCoreq), os-divider: ' ');
$Config_PartType_Figure_CustomCaptionContent: (os-title-label: "Figure ", os-number: counter(figureCoreq), os-divider: ' ');
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Figure ", os-number: counter(appendix, upper-alpha) counter(figureNotCoreq), os-divider: " ");
$Config_PartType_Figure_CaptionContentPr: (os-title-label: "Figure ", os-number: counter(figureNotCoreq), os-divider: " ");
$Config_CustomFigureCaption: (
  captionType: $CAPTION_FIGURE,  
  defaultContainer: figcaption, 
  hasCaption: true, 
  hasTitle: true,
  firstCounterName: figureNotCoreq,
  secondCounterName: figureCoreq,
  customClass: 'os-coreq-element',
  customResetSelector: 'coreq-skills',
);

$_exampleTitleContent: (os-title-label: "Example ", os-number: counter(exampleNotCoreq));
$_exampleCustomTitleContent: (os-title-label: "Example ", os-number: counter(exampleCoreq));
$_exampleSolutionTitleContent: (os-title-label: "Solution");
$_exampleCommentaryTitleContent: (os-title-label: "Analysis");
$Config_CustomExample: (
  firstCounterName: exampleNotCoreq,
  secondCounterName: exampleCoreq,
  customClass: 'os-coreq-element',
  customResetSelector: 'coreq-skills',
  titleContent: $_exampleTitleContent,
  customTitleContent: $_exampleCustomTitleContent,
  solutionTitleContent: $_exampleSolutionTitleContent,
  commentaryTitleContent: $_exampleCommentaryTitleContent,
);

$_coreqSkillsTitleContent: (os-title-label: "Corequisite Skills");
$_coreqExerciseTitleContent: (os-divider: ". ", os-number: counter(coreq));
$Config_PartType_CoreqSkills: (sectionClassName: "coreq-skills", titleContent: $_coreqSkillsTitleContent, counterName: coreq, exerciseTitleContent: $_coreqExerciseTitleContent);

$Config_UnnumberedElements: (
  (contextSelector: '.try', childSelector: '[data-type="exercise"]'),
  (contextSelector: '[data-type="example"]', childSelector: '[data-type="exercise"]'),
);

$Config_FirstElements: (
  (selector: ' > [data-type="media"]:first-child'),
  (selector: ' > .os-table:first-child'),
);

$Config_TargetLabels: (
  (selector: '[data-type="page"] :not([data-type="example"]) > [data-type="exercise"]:not(.unnumbered):not(.os-coreq-exercises)', labelText: "Exercise " counter(chapter) "." counter(exerciseMaybeInContent)),
  (selector: '[data-type="page"] :not([data-type="example"]) > [data-type="exercise"].os-coreq-exercises', labelText: "Exercise " counter(chapter) "." counter(coreq)),
  (selector: '.os-eoc [data-type="exercise"]',                                  labelText: "Exercise " counter(chapter) "." counter(exercise)),
  (selector: 'div[data-type="chapter"] [data-type="example"]:not(.os-coreq-element)', labelText: "Example " counter(exampleNotCoreq)),
  (selector: 'div[data-type="chapter"] [data-type="example"].os-coreq-element', labelText: "Example " counter(exampleCoreq)),
  (selector: 'div[data-type="chapter"] [data-type="equation"]:not(.unnumbered)',labelText: "Equation " counter(chapter) "." counter(equation)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered):not(.os-coreq-element)', labelText: "Table " counter(tableNotCoreq)),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered).os-coreq-element', labelText: "Table " counter(tableCoreq)),
  (selector: '.appendix :not(table) > table:not(.unnumbered)',                  labelText: "Table " counter(appendix, upper-alpha) counter(tableNotCoreq)),
  (selector: '.appendix > table:not(.unnumbered)',                              labelText: "Table " counter(appendix, upper-alpha) counter(tableNotCoreq)),
  (selector: '.preface :not(table) > table:not(.unnumbered)',                   labelText: "Table " counter(tableNotCoreq)),
  (selector: '.preface :not(figure) > figure:not(.unnumbered)',                 labelText: "Figure " counter(figureNotCoreq)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered):not(.os-coreq-element)', labelText: "Figure " counter(figureNotCoreq)),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered).os-coreq-element', labelText: "Figure " counter(figureCoreq)),
  (selector: '.appendix :not(figure) > figure:not(.unnumbered)',                labelText: "Figure " counter(figureNotCoreq)),
  (selector: '.appendix > figure:not(.unnumbered)',                             labelText: "Figure " counter(figureNotCoreq))
);

$Config_PartType_Chapter: (outlineTitle: 'Chapter Outline');
$Config_abstractTitle: "Learning Objectives";
$Config_hasCompositeChapter: true;

$Config_CustomList: (
  (selector: '.stepwise', name: "stepwise", beforeLabel: "Step ", afterLabel: ". "),
);

$Config_CustomFootnotes: (
  (incrementParentSelector: '[data-type="page"]:not(.preface)', resetSelector: 'body', counterName: notPrefaceFootnote, counterType: decimal),
  (incrementParentSelector: '.preface', resetSelector: 'body', counterName: prefaceFootnote, counterType: lower-roman),
);

$Config_TrashSelectedElements: ('[data-type="example"] [data-type="commentary"] > [data-type="title"]');
