@include add_settings((
    CommonFigureStuff:(
        _selectors: ("[data-type='chapter'] > [data-type='page'] figure"),
        UnnumberedFigure:(
            display: block,
            margin-left: auto,
            margin-right: auto,
        )
    ),

    ImageLeftAlign:(
        _selectors: ("[data-type='chapter']"),
        LeftalignImage:(
            float: left,
        )  
    ),
));
