@include add_settings((
    CommonFigureStuff:(
        _selectors: ("[data-type='chapter'] > [data-type='page'] figure"),
        unnumberedFigure:(
            display: block,
            margin-left: auto,
            margin-right: auto,
        )
    ),

    ImageLeftAlign:(
        _selectors:"",
        leftalignImage:(
            float: left,
        )
    ),
));
