
@include add_settings((
    CaptionFont:(
        _selectors: ("[data-type='chapter'] > [data-type='page'] .os-figure"),
        Caption:(
            font-family:(_ref:'typography:::sansFont'), 
            font-size: not_implemented(1.2rem), 
        )
    ),

    FigureNumberFont:(
        _selectors: ("[data-type = 'chapter'] > [data-type='page'] .os-figure"),
        FigureNum:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            font-size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        )
    ),

    FigureTitle:(
        _selectors: ("[data-type = 'chapter'] > [data-type='page'] .os-figure"),
        FigureTitle:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            font-size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        )
    ),

    PicCaption:(
        _selectors:("[data-type = 'chapter'] > [data-type='page'] .os-figure > figure"),
        PicCaption:(
            padding-bottom: not_implemented(1.0rem),
        )
    ),
));
