
@include add_settings((
    CaptionFont:(
        _selectors: ("[data-type='chapter'] > [data-type='page'] .os-figure > .os-caption-container > .os-caption"),
        fontContainer:(
            font-family:(_ref:'typography:::sansFont'), 
            font-size: not_implemented(1.2rem), 
        )
    ),

    FigureNumberFont:(
        _selectors: ("[data-type = 'chapter'] > [data-type='page'] .os-figure> .os-caption-container > .os-number"),
        fontContainer:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            font-size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        )
    ),

    FigureTitle:(
        _selectors: ("[data-type = 'chapter'] > [data-type='page'] .os-figure > .os-caption-container > .os-title-label"),
        fontContainer:(
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            font-size: not_implemented(1.2rem),
        )
    ),

    PicPadding:(
        _selectors:("[data-type = 'chapter'] > [data-type='page'] .os-figure > figure"),
        piccaptionContainer:(
            padding-bottom: not_implemented(1.0rem),
        )
    ),
));


