@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings ((
    Footnotes: (
        _selectors: ('aside[role="doc-footnote"]'),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            line-height: line-height(0),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
        FootnoteNumber: (
            text-decoration: none,
            color: inherit,
        ),
        FootnoteMarker: (
            content: none,
        ),
    ),
));

@include add_settings ((
    FootnoteCall: (
        _selectors: (''),
        CallLink: (
            text-decoration: none,
            color: inherit,
        ),
    ),
));
