@include ('../common/numbering.less');
div[data-type='chapter'] section.conceptual-questions {
  move-to: eoc-conceptual-questions;
}
div[data-type='chapter'] .eoc-conceptual-questions > section h1.title {
  string-set: section-title content();
  content: '';
}
div[data-type='chapter'] .eoc-conceptual-questions > section h1.title::span {
  class: 'titling';
  content: target-counter(attr(xhref), chapter) '.' target-counter(attr(xref), section);
}
div[data-type='chapter'] .eoc-conceptual-questions > section h1.title::span {
  class: 'titling';
  content: string(section-title);
}
div[data-type='chapter'] .eoc-conceptual-questions div[data-type='problem']::before {
  content: counter(exercise) '.';
}
div[data-type='chapter']::div {
  class: eoc-conceptual-questions;
  content: pending(eoc-conceptual-questions);
  group-by: "div[data-type='page']";
}
