//these can be set at the book level (accounting with no rounded corners for example)
$simpleNoteConfig:(
  fontType: font-map(serif),
  topBorderRadius: 5px,
);

$topBarNoteConfig:(
  fontType: font-map(serif),
  topBorderRadius: 3px,
);

$simpleNoteScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG1),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG1),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG2),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG2),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG3),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG3),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor),
);

$noteTopBarScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteTitleColor: color-map(featureBodyText),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteTopBorderColor: color-map(featureTopBorderBar),
  noteBorderColor: color-map(featureBorderColor),
);
