// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-settings() { 
  $THEME_SETTINGS: (
    splash-page-depth: 4.3in,
    splash-title-bar-height: 70px,
    full-bleed-splash: true,
    enforce-splash-height: false,
  );
  @return $THEME_SETTINGS;
}

@include settings-merge(get-function("theme3-settings"));
