/*
The goal of this tutorial is to add a class-less div to the end of every note repeating the title of the note.
No new functions are needed for this. string-set and content are the only attributes needed.
*/
:pass(1) {
    body {
        & > .note {
            & > .title {
                string-set: my-string content();
            }
            &::after {
                content: string(my-string);
                container: div;
            }
            & > .note {
                .title {
                    string-set: my-string2 content();
                }
                &::after {
                    content: string(my-string2);
                    container: div;
                }
            }
        }
    }
}

