$simpleNoteScheme1:(
  noteBodyFontColor: color-map(LISAfeatureBodyText),
  noteBGColor: color-map(LISAfeatureBodyBG2),
  noteTitleColor: color-map(LISAfeatureTitleColor),
  noteTitleBGcolor: color-map(LISAfeatureTitleBG1),
  noteSubtitleColor: color-map(LISAfeatureSubtitleColor),
  noteBorderColor: color-map(LISAfeatureBorderColor2),
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(LISAfeatureBodyText),
  noteBGColor: color-map(LISAfeatureBodyBG1),
  noteTitleColor: color-map(LISAfeatureTitleColor),
  noteTitleBGcolor: color-map(LISAfeatureTitleBG4),
  noteSubtitleColor: color-map(LISAfeatureSubtitleColor),
  noteBorderColor: color-map(LISAfeatureBorderColor1),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(LISAfeatureBodyText),
  noteBGColor: color-map(LISAfeatureBodyBG3),
  noteTitleColor: color-map(LISAfeatureTitleColor),
  noteTitleBGcolor: color-map(LISAfeatureTitleBG3),
  noteSubtitleColor: color-map(LISAfeatureSubtitleColor),
  noteBorderColor: color-map(LISAfeatureBorderColor3),
);

$noteTopBorderScheme1:(
  noteBodyFontColor: color-map(LISAfeatureBodyText),
  noteTitleColor: color-map(LISAfeatureBodyText),
  noteSubtitleColor: color-map(LISAfeatureSubtitleColor),
  noteTopBorderColor: color-map(LISAfeatureTopBorderBar),
  noteBorderColor: color-map(LISAfeatureBorderColor1),
);
