@import '../pl/_cases';

$Config_HACK_modifyAnyContainerTitleSelector: false;

$Config_hasCompositeAppendixes: false;

$Config_hasAbstract: true;
$Config_abstractTitle: null;

$Config_TocTitleWord: "Spis treści";
$Config_PartType_Chapter_TitleContent   : (os-part-text: "Rozdział ", os-number: counter(chapter), os-divider: ' ' );
$Config_PartType_Unit_TitleContent      : (os-part-text: "Część ", os-number: counter(unit), os-divider: ' ' );
$Config_PartType_Appendix_TitleContent  : (os-part-text: "Dodatek ", os-number:counter(appendix, upper-alpha), os-divider: ' ');

$Config_PartType_Section_TitleContent   : (os-number: counter(chapter) "." counter(section), os-divider: ' ' );

$Config_PartType_Table_CaptionContent   : (os-title-label: "Tabela ", os-number: counter(chapter) "." counter(table), os-divider: " ");
$Config_PartType_Table_CaptionContentAp : (os-title-label: "Tabela ", os-number: counter(appendix, upper-alpha)  counter(table), os-divider: " ");
$Config_PartType_Table_CaptionContentPr : (os-title-label: "Tabela ", os-number: counter(table), os-divider: " ");
$Config_PartType_Table_CustomCaptionContent: ();
$Config_PartType_Figure_CaptionContent  : (os-title-label: "Rysunek ", os-number: counter(chapter) "." counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentAp: (os-title-label: "Rysunek ", os-number: counter(appendix, upper-alpha) counter(figure), os-divider: " ");
$Config_PartType_Figure_CaptionContentPr: (os-title-label: "Rysunek ", os-number: counter(figure), os-divider: " ");
$Config_PartType_Figure_CustomCaptionContent: ();

$Config_ContentExercise_TitleContent : (os-number : counter(exerciseMaybeInContent), os-title-label : "Ćwiczenie ");
$Config_ContentSolution_TitleContent : null; // It seems that this is null for all books
$Config_ContentExercise_TitleContentAp : (os-number : counter(exerciseMaybeInContent), os-title-label : "Ćwiczenie ");
$Config_ContentSolution_TitleContentAp : null; // It seems that this is null for all books


//global exercises numbering. There is a whitespace in the divider
$Config_exerciseTitleContent: (os-divider: ". ", os-number: counter(exercise));

$Config_addSolutionHeader: ();

$Config_SubtitleLabels: ();

//If this method of setting the content of the label explicity becomes a problem,
//try grabbing the numbering information from the element's header

//NOTE: These selectors MUST match the counting selectors or be more specific
//otherwise, the increment and the counter() call may fire in the wrong order
//This may be fixed in a later version of easybake
$Config_TargetLabels: (
  (selector: '.os-eoc [data-type="exercise"]',                                  labelText: case_prefixed($PL_EXERCISE,  counter(chapter) "." counter(exercise), " ")),
  (selector: 'div[data-type="chapter"] [data-type="example"]',                  labelText: case_prefixed($PL_EXAMPLE,   counter(chapter) "." counter(example), " ")),
  (selector: 'div[data-type="chapter"] [data-type="equation"]:not(.unnumbered)',labelText: case_prefixed($PL_EQUATION,  counter(chapter) "." counter(equation), " ")),
  (selector: '[data-type="chapter"] :not(table) > table:not(.unnumbered)',      labelText: case_prefixed($PL_TABLE,     counter(chapter) "." counter(table), " ")),
  (selector: '[data-type="chapter"] :not(figure) > figure:not(.unnumbered)',    labelText: case_prefixed($PL_FIGURE,    counter(chapter) "." counter(figure), " ")),
  (selector: '.appendix :not(table) > table:not(.unnumbered)',                  labelText: case_prefixed($PL_TABLE,     counter(appendix, upper-alpha) counter(table), " ")),
  (selector: '.appendix :not(figure) > figure:not(.unnumbered)',                labelText: case_prefixed($PL_FIGURE,    counter(appendix, upper-alpha) counter(figure), " ")),
  (selector: '.appendix > table:not(.unnumbered)',                              labelText: case_prefixed($PL_TABLE,     counter(appendix, upper-alpha) counter(table), " ")),
  (selector: '.appendix > figure:not(.unnumbered)',                             labelText: case_prefixed($PL_FIGURE,    counter(appendix, upper-alpha) counter(figure), " ")),
  (selector: '.preface :not(table) > table:not(.unnumbered)',                   labelText: case_prefixed($PL_TABLE,     counter(table), " ")),
  (selector: '.preface :not(figure) > figure:not(.unnumbered)',                 labelText: case_prefixed($PL_FIGURE,    counter(figure), " "))
);

@if release-flag-enabled(appendix-has-numbered-examples) {
  $Config_TargetLabels: append( $Config_TargetLabels,
    (selector: '.appendix [data-type="example"]', labelText: case_prefixed($PL_EXAMPLE, counter(appendix, upper-alpha) counter(example), " "))
  );
}

// All of these should be allowed to be empty.
$Config_Notes: ();
$Config_UnnumberedElements: ();
$Config_FirstElements: (
  (selector: ' > .os-figure:first-child'),
  (selector: ' > div:first-child > p:first-child img:first-child'),
  (selector: ' > [data-type="media"]:first-child'),
);
$Config_hasFirstInlineListElement: false;
$Config_Table_Classes: (
  (className: 'top-titled'),
  (className: 'unstyled'),
  (className: 'column-header'),
);
$Config_BookCompositePages: ();
$Config_ChapterCompositePages: ();
$Config_SectionCompositePages: ();
$Config_PartType_Chapter: ();
$Config_PartType_Equation: ();
$Config_PartType_Solution: ();
$Config_PartType_Exercise: (moveTo: $AREA_NONE);
$Config_PartType_Example: ();
$Config_PartType_CoreqSkills: ();
$Config_SetTableCaption: ();
$Config_SetFigureCaption: ();
$Config_CustomList: ();
$Config_TrashSelectedElements: ();
$Config_CustomFootnotes: ();
$Config_CustomExample: ();
$Config_CustomFigureCaption: ();
$Config_CustomTableCaption: ();

$Config_FootnoteTitle: "Przypisy dolne";
$Config_ExerciseNoteTitle: ();

// By default, books will not be assumed to have a composite chapter. Composite chapters include EOC composite chapters or composite chapters answer key, you must enable this for either to work.
$Config_hasCompositeChapter: false;

// Coverage optimizations
// Default to true, so that incorrect use of default options will show up on coverage tests
$Config_Coverage_MayHaveSimlinks: true;
$Config_Coverage_MayHaveIframes: true;
$Config_Coverage_MayHaveMissingExercises: true;

// Everything enabled on captions by default. Better to have too much than nothing at all.
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: false);
$Config_SetFigureCaption: (captionType: $CAPTION_FIGURE, defaultContainer: figcaption, hasCaption: true, hasTitle: true);

//if the book has citations (references)
$Config_hasCitation: false;
$Config_hasEndNotes: false;
$Config_IFrameActivationLink: "Kliknij, aby zobaczyć treść";

$Config_EOBSolutionsChapterSectionTitle: string(ChapText) string(ChapNum);
$Config_Index_SymbolsSectionTitle: "Symbole";
$Config_Index_SymbolRegexp: \^\[\^a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ\];
$Config_Index_NotSymbolRegexp: \^\[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ\];

$Config_Order_DocumentTitle: ();
$Config_Order_ChapterObjective: ();
$Config_Order_CompositePages: ();
$Config_Order_FigTableCaption: ();
$Config_hasStimuli: false;

//currently only used in accounting
$Config_ResetSectionCounterForEOCLO: false;

$Config_hasReferenceInTerm: true;
