@import '../_common-stuff';
$RECIPE_NAME: "anatomy";

/*==========================================================
  ANATOMY AND PHYSIOLOGY PAGES
==========================================================*/
/*
  Chapter Review

  Should be collated at the end of a chapter.

  Contains a title "Chapter Review"

  Markup: ./styleguide/book.composite.chapter-review.xhtml-baked.html

  Style guide: book.composite.chapter-review
*/
/*
  Interactive Link Questions

  Should be collated at the end of a chapter.

  Contains a title "Interactive Link Questions"

  Markup: ./styleguide/book.composite.interactive-link-questions.xhtml-baked.html

  Style guide: book.composite.interactive-link-questions
*/
/*
  Review Questions

  Should be collated at the end of a chapter.

  Contains a title "Review Questions"

  Markup: ./styleguide/book.composite.review-questions.xhtml-baked.html

  Style guide: book.composite.review-questions
*/
/*
  Critical Thinking Questions

  Should be collated at the end of a chapter.

  Contains a title "Critical Thinking Questions"

  Markup: ./styleguide/book.composite.critical-thinking.xhtml-baked.html

  Style guide: book.composite.critical-thinking
*/

$Config_ChapterCompositePages: (
  (className: "glossary", clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_GLOSSARY, sortBy: "xhtml|dl > xhtml|dt", name: "Key Terms"),
  (className: "summary", clusterBy: $CLUSTER_SECTION, name: "Chapter Review"),
  (className: "interactive-exercise", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Interactive Link Questions"),
  (className: "multiple-choice", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Review Questions"),
  (className: "free-response", clusterBy: $CLUSTER_NONE, hasSolutions: true, name: "Critical Thinking Questions"),
);

$Config_PartType_Exercise: (moveTo: $AREA_EOC, resetAt: $RESET_CHAPTER, numberAt: $NUMBER_BEFORE_MOVE, titleContent: $Config_exerciseTitleContent, );

$Config_BookCompositePages: (
  (className: "references",   clusterBy: $CLUSTER_SECTION, name: "References"),
  (className: "index",      clusterBy: $CLUSTER_NONE, specialPageType: $PAGE_INDEX, name: "Index"),
);

/* =========================================================
  CUSTOM NOTES
==========================================================*/
/*
  Homeostatic Imbalances note

  Contains a title "Homeostatic Imbalances" and the content of the note.

  Markup: ./styleguide/page.note.homeostatic-imbalance.xhtml-baked.html

  Style guide: page.note.homeostatic-imbalance
/*
  Disorders note

  Contains a title "Disorders" and the content of the note.

  Markup: ./styleguide/page.note.disorders.xhtml-baked.html

  Style guide: page.note.disorders
*/
/*
  Diseases note

  Contains a title "Diseases" and the content of the note.

  Markup: ./styleguide/page.note.diseases.xhtml-baked.html

  Style guide: page.note.diseases
*/
/*
  Aging note

  Contains a title "Aging" and the content of the note.

  Markup: ./styleguide/page.note.aging.xhtml-baked.html

  Style guide: page.note.aging
*/
/*
  Career Connection note

  Contains a title "Coreer Connection" and the content of the note.

  Markup: ./styleguide/page.note.career-connection.xhtml-baked.html

  Style guide: page.note.career-connection
*/
/*
  Everyday Connection note

  Contains a title "Everyday Connection" and the content of the note.

  Markup: ./styleguide/page.note.everyday-connection.xhtml-baked.html

  Style guide: page.note.everyday-connection
*/
/*
  Interactive Link note

  Contains a title "Interactive Link" and the content of the note.

  Markup: ./styleguide/page.note.interactive-link.xhtml-baked.html

  Style guide: page.note.interactive-link
*/

$Config_Notes: (
  (className: 'homeostatic', labelText: "Homeostatic Imbalances", replaceHeader: true),
  (className: 'disorders', labelText: "Disorders of the...", replaceHeader: true),
  (className: 'diseases', labelText: "Diseases of the...", replaceHeader: true),
  (className: 'aging', labelText: "Aging and the...", replaceHeader: true),
  (className: 'career', labelText: "Career Connection", replaceHeader: true),
  (className: 'everyday', labelText: "Everyday Connection", replaceHeader: true),
  (className: 'interactive', labelText: "Interactive Link", replaceHeader: true),
);

/*==========================================================
  ANATOMY AND PHYSIOLOGY TITLING CONTENT
==========================================================*/

$Config_PartType_Table_CaptionContent: (os-title-label: "Table ", os-number: counter(chapter) "." counter(table), os-divider: ' ');
$Config_PartType_Figure_CaptionContent: (os-title-label: "Figure ", os-number: counter(chapter) "." counter(figure), os-divider: ' ');
$_exampleTitleContent: (os-title-label: "Example ", os-number: counter(chapter) "." counter(example), os-divider: " ");
$_exampleSolutionTitleContent: (os-title-label: "Solution ", os-number: counter(chapter) "." counter(example), os-divider: ' ');
$Config_SetTableCaption : (captionType: $CAPTION_TABLE, defaultContainer: caption, hasCaption: true, hasTitle: true, hasTopTitle: true);
$Config_PartType_Example: (moveTo: $AREA_NONE, titleContent: $_exampleTitleContent, solutionTitleContent: $_exampleSolutionTitleContent);
$Config_PartType_Solution: (moveTo: $AREA_TRASH);

$Config_TrashSelectedElements: ('.preface [data-type="abstract"]');

/* =========================================================
  OTHER PARTS
==========================================================*/

$Config_FirstElements: (
  (selector: ' > .os-figure:first-child'),
  (selector: ' > div:first-child > p:first-child img:first-child'),
);

$ConfighasFirstInlineListElement: false;

$Config_abstractTitle: "Learning Objectives";
